[2015-10-26 22:52] artpol84 opened #2 "OMPI direct modex"
@rhc54
Hi, Ralph.
I've just submitted the PR #1 that fixes one of the dmdx problems. After that fix one-node configuration works fine for me (ring_c.c test from OMPI examples).

However when I've got to the two-node, one ppn configuration I'm seeing failures at MPI_Init.
While tracking it down I faced the behavior that may be incorrect. Here is the GDB snippet:

[code]

So the data is returned by

[2015-10-26 23:14] rhc54 commented on #2
I'm working on this now, cleaning up some of the code and tracking some of this down. I've already fixed the store_local operation on my branch. I'll look at your PR and incorporate that change into my branch.

thx!

[2015-10-27 09:23] jladd-mlnx commented on #2
@artpol84 Well done!

[2015-10-28 03:00] rhc54 commented on #2
Fixed in #3

[2015-10-28 03:00] #2 closed

[2015-11-23 22:42] PHHargrove opened #11 "Missing prototype for pmix_value_load()"
This report is against pmix-1.1.1 from the tarball posted on the Open MPI site.

The macro PMIX_INFO_LOAD() in pmix_common.h expands to calls to pmix_value_load(), for which there is no prototype.  This results in compiler warning about the implicit declaration.

[2015-11-24 01:27] PHHargrove opened #12 "PMIx_Init(NULL) supported?"
The man page for pmix_init.3 is clear that a `NULL` argument is legal:
[code]

However, PMIx_Init() in src/client/pmix_client.c has the following lines as its first executable statements:
[code]

A simple test with the pmix-1.1.1 tarball confirms a return of -19 for `PMIx_Init(NULL)`

[2015-11-24 01:37] PHHargrove opened #13 "fi_{rma,atomic} in pmix_constants.7"
The current man page for pmix_constants.7 contains descriptions of two OFI constants. :wink:

[2015-11-24 02:30] rhc54 commented on #13
(laugh) oops. I'll take a gander - thanks!

[2015-11-24 02:31] rhc54 commented on #12
Hmmm....obviously, something got out-of-phase. Thx!

[2015-11-24 13:13] #11 closed

[2015-11-24 13:13] #12 closed

[2015-11-24 13:13] #13 closed

[2015-11-25 13:03] artpol84 opened #17 "ORTE integration hang"
@rhc54
Hello,
When running ring_c at 128 nodes 28 ppn I sometimes see that mpirun launch hangs if I use **tcp** BTL. I never saw this with **openib** so far. SLURM **PMIx/PMI2** launches are this error free as well.
I haven't looked into all processes but all inspected ones was sitting in the Fence:
**rank = 0**
[code]
**rank = 27**
[code]
I haven't had a time to investigate that more deeply yet.

[2015-12-08 16:48] rhc54 opened #20 "PMIx hwloc support - ensure RM compatibility"
If the RM has hwloc support and provides us with the topology for the job info, then we need to check to see if PMIx itself was built with hwloc support. If not, then the library won't know how to pack/unpack the topology object and will generate errors.

So in the register_nspace function, we need to watch for the PMIX_TOPO key - if we see it and we are not configured --with-hwloc, then we will d

[2015-12-12 03:18] #20 closed

[2016-01-21 13:35] igor-ivanov opened #26 "Export only API symbols"
I would like to suggest controlling the exported symbols of pmix shared library.
* It prevents abuse of undocumented APIs of your library. Symbols that are not exported from the library cannot be used.
* It reduces the risk of symbol collision between your library and other libraries.
* It reduces the startup time of programs linked to the library.

Possible ways:
* using -fvisibility=hidden and “

[2016-01-21 15:34] rhc54 commented on #26
@igor-ivanov Please see if you can do so - would resolve a few problems and I do agree with the reasons.

[2016-01-21 17:24] igor-ivanov commented on #26
@rhc54 I will do

[2016-01-21 17:49] igor-ivanov opened #27 "PMIx_Get() behaivour"
I would like to share my observation related PMIx_Get() logic.
@rhc54 let think if it is an issue or not.

How to reproduce in pseudo code:
PMIx_Init()
rank=0 /* it should not be WILDCARD !!!*/
key="not exist value"
info=pmix.timeout
PMIx_Get()

Observation:
hang place https://github.com/pmix/master/blob/master/src/client/pmix_client_get.c#L101-L103

Logic:
* PMIx_Get()
* PMIx_Get_nb()
* _getnbfn(

[2016-01-22 18:43] igor-ivanov opened #29 "PMI2/PMI tests failed on slurm/pmix"
We need to modify pmi2 and pmi clients to use PMIx_Get_nb or PMIx_Get(PMIX_TIMEOUT)

[2016-01-29 14:39] igor-ivanov opened #34 "pmi2_client test:10 report failure under slurm/pmix"
It seems that slurm/pmix report timeout error during the test. Setting SLURM_PMIX_TIMEOUT=3000 does not help. Additional investigation is needed.

Observation:
[code]

How to launch:
[code]

[2016-01-29 14:55] igor-ivanov opened #35 "Add shared memory datastore capability"

[2016-02-01 22:40] rhc54 opened #36 "PMIx needs to be given connection info for all procs in namespace at startup"
For instant on, we need to obtain the connection info for all procs in the namespace prior to their being started. This is the responsibility of the resource manager, but we need to define the key-value structure for passing it to us so the applications (and/or the MPI libraries underneath them) know how to retrieve it.

[2016-02-02 12:04] #29 closed

[2016-02-02 14:52] igor-ivanov opened #38 "Failures on test suite"
I am observing set of failures on our test suit.
Brief investigation shows following:

d3b1a11 Get the examples to run under mpirun from OpenMPI. Only exception is the dmodex example, although direct m
$./pmix_test -n 4 --ns-dist 3:1 --fence "[b | 0:]"
pmix_test.c:main: Test finished OK!

58de093 Add support for multiple calls to PMIx_Commit by simply concatenating all committed data. Any modifica

[2016-02-02 16:01] igor-ivanov commented on #38
@rhc54 do you have any idea?

[2016-02-02 16:19] rhc54 commented on #38
@igor-ivanov Let me take a look later tonight - I'm sure it is something I did wrong, but I don't offhand know where it lies. My apologies for the error and the delay.

[2016-02-02 16:50] igor-ivanov commented on #38
I have looked a bit but could not found out a root of issue. status says that key can not be found. May be data is corrupted during store step.

[2016-02-02 17:04] igor-ivanov commented on #38
@rhc54 it is strange but jenkins running manually does not report issue for this test. I guess that may be difference in libevent linkage. Will look tomorrow.

[2016-02-03 09:57] igor-ivanov commented on #38
@rhc54 observed issue really exists. jenkins`s behaivour can be explained by a bug in script that is fixed in https://github.com/pmix/master/pull/39

[2016-02-03 11:36] igor-ivanov opened #40 "Opacity in PMIX_RANK_UNDEF processing"
What scope of data we should return during get request by PMIX_RANK_UNDEF?
- both PMIX_LOCAL and PMIX_REMOTE
- PMIX_LOCAL
- PMIX_REMOTE

Current code returns PMIX_REMOTE scope. In other words get operation returns data stored during put with PMIX_REMOTE or PMIX_GLOBAL scopes.

[2016-02-03 15:06] rhc54 commented on #40
This is for the legacy APIs? If so, I would return both scopes as the legacy code doesn't support data locality.

[2016-02-03 16:43] igor-ivanov commented on #40
We can control internal implementation of PMI/PMI2 API and always use PMIX_GLOBAL for example. It is not big issue.
We have potential issue in case PMIX_RANK_UNDEF is public. Sharing PMIX_RANK_UNDEF with users we must have predictable behaivour (at least common understanding and agreement).

[2016-02-03 16:48] rhc54 commented on #40
True. The common "native" usage is to retrieve data that is rank-independent - i.e., job-level data. This data isn't published by the ranks, but effectively has "global" scope since every proc is given an identical copy of it. So perhaps we just state that "undef" has "global" scope by default?

[2016-02-03 16:57] igor-ivanov commented on #40
I think the same intuitively. Do you see any ways when a user can  get a key from unsuitable scope (saved as PMIX_LOCAL for example) using PMIX_RANK_UNDEF?

[2016-02-03 17:01] rhc54 commented on #40
Not really - I think we should be good. As you say, we don't do dmodex in this case, and so there shouldn't be any issue.

[2016-02-04 14:41] #38 closed

[2016-02-08 14:37] igor-ivanov commented on #34
This test is named as 10 in PR https://github.com/pmix/master/pull/43

[2016-02-08 17:38] rhc54 opened #44 "Warnings in tests"
pmi_client.c: In function ‘test_item5’:
pmi_client.c:308:104: warning: ISO C99 requires rest arguments to be used [enabled by default]
         log_error("PMIx and SLURM/PMI1 do not set 'PMI_process_mapping' (Do not mark test as failed)\n");
                                                                                                        ^
pmi2_client.c: In function ‘test_item3’:
pmi2_client

[2016-02-09 07:54] igor-ivanov commented on #44
There is a fix for this in https://github.com/pmix/master/pull/43

[2016-02-09 08:27] igor-ivanov opened #45 "Test suite reports failure on spawn test"
./pmix_test -n 2 --test-spawn

[code]

[2016-02-09 11:02] rhc54 commented on #44
Thanks!

[2016-02-10 10:11] igor-ivanov opened #46 "Provide single way for getting temporary folder"
pmix_tmp_directory() should return identical way for server and client taking into account PMIX_SERVER_TMPDIR.

For RM's we also provide the convenient way to cleanup everything that was created by the PMIx libraries by keeping all libpmix files in the directory that is determined by RM. In this case all RM needs to do - is to remove this dir. To acheive that we pass the evn PMIX_SERVER_TMPDIR to

[2016-02-10 10:18] igor-ivanov opened #47 "PMIx_server_init() does not have information about jobid"
Current version of the library does not require passing jobid to PMIx_server_init().
Is there easy way to get one inside PMIx_server_init? Should we require passing jobid to PMIx_server_init?

[2016-02-10 11:53] artpol84 commented on #46
@igor-ivanov
This is not what I meant when we discussed this.
`pmix_tmp_directory()` is targeted for the end-user application and it works properly now.
However the client-side library should have a way to get the directory that was passed to the server side from RM through PMIX_SERVER_TMPDIR. We want to use it for the `dstore`

[2016-02-10 11:54] artpol84 commented on #47
@igor-ivanov
We can use namespace here. It supposed to be unique among jobs running on the cluster and usually constructed using jobid.

[2016-02-10 11:56] artpol84 commented on #46
@igor-ivanov
This statement:
`pmix_tmp_directory() should return identical way for server and client taking into account PMIX_SERVER_TMPDIR.`
is somewhat confusing. `pmix_tmp_directory()` has nothing to do with `PMIX_SERVER_TMPDIR`.

[2016-02-11 08:57] artpol84 commented on #47
Here are my thoughts on this.
* We initialize dstore in `PMIx_server_init()`:
https://github.com/igor-ivanov/master/blob/pr/add-dstore/src/server/pmix_server.c#L312
at this point we have no knowledge about namespace(s) that will be hosted (we can use this info to create unique file names).
* The opportunity to use **this** server namespace (we can pass one through the `info` argument as we do with

[2016-02-12 14:05] rhc54 commented on #47
PMIX_SERVER_RANK is certainly unique not only on the node, but across the entire allocation (and quite possibly the cluster, depending on how the RM implements the server). Because of shared file systems, the PID isn't a safe choice by itself. In OMPI, we protect the PID-based name of the server's connection socket by creating it underneath a session directory that is based on node name and server

[2016-02-15 13:40] igor-ivanov commented on #46
@rhc54 could you think and share your opinion about.
Let me provide more details about initial point (may be this topic partially was discussed at https://github.com/pmix/master/issues/47).
We have two places when temp folder can be requested and used.
- end user can request to set or get current temporary folder using PMIX_TMPDIR key-info target. Probably pmix_tmp_directory() function was impleme

[2016-02-15 16:33] rhc54 commented on #46
I don't believe we actually let the user _set_ the temporary directory as I'm not sure how that would work. The PMIX_TMPDIR value was provided so the client could discover the result of the cascade of options we check in pmix_tmp_directory.

If you look at the client init code, you'll see that the server passes a URI to the client via the PMIX_SERVER_URI envar. We then parse the value to extract t

[2016-02-20 12:46] #35 closed

[2016-02-20 12:48] igor-ivanov commented on #44
Fixed in https://github.com/pmix/master/pull/43

[2016-02-20 12:48] #44 closed

[2016-02-20 13:39] #40 closed

[2016-02-20 13:40] #47 closed

[2016-02-20 13:41] igor-ivanov commented on #47
move discussion to https://github.com/pmix/master/issues/46

[2016-02-20 16:02] igor-ivanov opened #53 "Installed header files"
PMIx installs header files that are not needed for end user.
Do we need to limit installed files with following set:
/include/pmix.h
/include/pmix_server.h
/include/pmi.h
/include/pmi2.h
/pmix/pmix_common.h

I think that files as
/include/private/align.h
/include/private/hash_string.h
/include/private/pmix_socket_errno.h
/include/private/pmix_stdint.h
/include/private/prefetch.h
/include/private/t

[2016-02-22 17:32] rhc54 opened #54 "Server library leaks memory and file descriptors"
Seeing some significant memory leaks from malloc in register_client

[2016-03-01 15:56] igor-ivanov opened #56 "Query API"
There is a request to provide special API for fetting system related information.
query API - supported keys, node status, network status (how this differs from PMIx_Get?)

[2016-03-01 15:57] igor-ivanov opened #57 "pmi/pmi2 backward compatibility support"
Check status on MVAPICH/MPICH

[2016-03-02 07:56] igor-ivanov commented on #36
@rhc54 could you provide an example basing on your knowledge.

Just as an example. Is it something what is needed
[code]

[2016-03-02 08:25] rhc54 commented on #36
@igor-ivanov Something like that, yes. I believe there are two requirements here:

- the RM needs some way of getting connection info from the relevant fabric manager. In other words, given a process placement map of what proc is going on which node, the RM needs to get back the connection info for each process.
- the RM can then include the returned info in the register_nspace command so it can b

[2016-03-02 08:31] igor-ivanov commented on #36
@rhc54 thank you. So this format should be flexible to be easy extended

[2016-03-02 08:36] rhc54 commented on #36
@igor-ivanov yes - I honestly don't know what might be required in the future, and it will be very fabric dependent. So we have to devise some method for "tagging" the data to ensure each fabric can "get" their portion of the data - especially since there could be multiple sources that need to pass info (e.g., TCP and Infiniband).

[2016-03-02 10:48] #26 closed

[2016-03-02 15:19] igor-ivanov commented on #34
Checked 4a08830 Merge pull request #52 from igor-ivanov/pr/issue-26

The issue exists

[2016-03-04 00:44] #27 closed

[2016-03-04 04:47] rhc54 commented on #34
FWIW: the current head of the pmix master repo works with mpirun, so this appears to be something related to the slurm plugin:

[code]

[2016-03-04 08:05] igor-ivanov commented on #34
yes, I believe that slurm/pmix plugin stuff

[2016-03-04 15:44] igor-ivanov commented on #36
@rhc54 My personal vision:
We do not know accurately how widely it will be used. Any flexible structure has a chance to be modified to meet new requirement (so there is a risk to get abi issue). So I would like to propose using raw buffer approach. Data should be put in well documented format. Getting new type we just define it`s layout and seeting a parser for it. In case someone sends new type o

[2016-03-04 15:58] rhc54 commented on #36
@igor-ivanov I think perhaps I haven't communicated clearly. The issue here isn't how the data should be sent down to the client. The question is: how does the PMIx server get it? Once we have the data, we can just include it as a "blob" in the nspace buffer we send down to each proc. But we need some mechanism for getting it.

As I said above, one way is for everyone to just compute endpoints fro

[2016-03-04 16:19] igor-ivanov commented on #36
@rhc54 got it. Thanks.

[2016-03-14 22:19] garlick opened #60 "hints for implementing PMIx in Flux resource manager"
I'm tentatively interested in implementing PMIx in the [Flux](http://flux-framework.github.io) resource manager (still in early development).

Should I treat this repo as a reference implementation and try to build a new implementation of PMIx from scratch using the public headers, or treat libpmix as an external dependency and implement the RM end of things with help from this implementation, as

[2016-03-14 22:41] rhc54 commented on #60
Hi Jim

I would recommend treating PMIx as an external dependency. I think you'll find that the server convenience library makes integration really easy and fast. Basically, all you have to do is:

1. call "server_init" to startup the convenience library, providing a struct of callback functions we use when the client requests support from Flux

2. call "register_nspace" for each job prior to laun

[2016-03-14 23:16] garlick commented on #60
Thank Ralph, will do, and thanks!

[2016-03-22 00:56] rhc54 commented on #17
@artpol84 I'm pretty sure this isn't true any more - can you confirm and close?

[2016-03-24 08:48] #53 closed

[2016-03-24 10:40] igor-ivanov commented on #34
I am sharing my investigation result:

pmix/master@44a9990 PASS
pmix/master@ad45529 FAIL

Following code in pmix_hash_store() change test behaivoyr from FAIL to PASS
See: https://github.com/pmix/master/blob/e8ab8403b71ed4c7069e6fdeb874a080ac6d7353/src/util/hash.c#L87-L94

This change was introduced as part of following commit:
https://github.com/pmix/master/commit/44a9990719b7f0a85a5945d4d20072250

[2016-03-24 10:46] artpol84 commented on #34
@igor-ivanov  What exactly is failing in test10?
My understanding was that test itself was detecting the problem and error-exiting.

[2016-03-24 11:26] igor-ivanov commented on #34
@artpol84 you have right understanding. Timeout issue reported by slurm is a result and not a root.
I can not understand difference in ompi/pmix and slurm/pmix test results. @rhc54 did not see issue with ompi/pmix.

[2016-03-29 09:31] artpol84 commented on #17
@rhc54 Since the cluster I was working on has changed I was unable to reproduce exactly the same environment. But in new environment 96 procs 28 ppn was running fine.

[2016-03-29 09:31] #17 closed

[2016-03-29 09:52] artpol84 commented on #34
The changes that @igor-ivanov has identified to be important matters because in the `pmix_server_commit()` implementation we rely on this functionality:
https://github.com/pmix/master/blob/master/src/server/pmix_server_ops.c#L172:L186

Without it old data will remain in the hashtable regardless to the used RM. I'll try OMPI now.

[2016-03-29 11:00] artpol84 commented on #34
@rhc54 I can reproduce the problem with OMPI as well. I took the latest ompi master and compiled it against external pmix/master@ad45529.
Conclusion: **This was a bug in PMIx. It was affecting all RM implementations. The problem is fixed in the latest PMIx master.**

[2016-03-29 12:39] igor-ivanov commented on #34
thank you @artpol84 one more unclear issue has been resolved.
Probably it is a time to close the issue.

[2016-03-29 12:39] #34 closed

[2016-04-13 04:19] lilbedwin opened #74 "how could pmix work together with openmpi"
I have install pmix-1.1.1 and compliled openmpi-1.8.5 with the following step:
1, ./configure --prefix=/usr/local/openmpi  --with-pmi=/usr/local/pmix --with-pmi-libdir=/usr/local/pmix/lib --with-slurm=no
2, make && make install

here is my questions:
Q1: Can I start a stand alone pmix server as the tracker of the openmpi workers, and make openmpi workers run correctly, I mean, they may use pmi_kvs

[2016-04-13 18:55] rhc54 commented on #74
I don't honestly see a way for this to work. The ORTE code in 1.8.5 has no idea how to setup the PMIx server and provide the required info for the application processes. I suppose you could try creating a standalone PMIx server as you describe, and then finding some way to pass the usock connection to the processes - but the server will reject the connection from those processes because it wasn't

[2016-04-15 03:30] lilbedwin commented on #74
Actually, I do not care about the opmi version.
What I really need is creating a standalone pmi server to track the openmpi workers and help them to init the topology. But sadly, pmix seems not to work because of the usock limit, which makes it unable to schedule the workers and the tracker to different hosts.
I hope pmix can support this feature in the future release.

[2016-04-15 04:33] rhc54 commented on #74
You can certainly create a standalone server - we just don't provide it. The server convenience library we provide is only intended to give you the local support, and you'd have to add the cross-node communications. Without a resource manager behind it, you won't get the performance benefits such as "instant on", but it would still provide wireup support.

FWIW: we are working in a separate projec

[2016-04-15 11:14] artpol84 opened #76 "Error handler memory corruption"
@rhc54 @annu13
Hi, I'm facing a memory corruption when stress testing PMIx through PMI2 interface (pmix plugin).
The test can be downloaded here:
https://bugs.schedmd.com/attachment.cgi?id=1470

Here is the backtrace:

[code]

If I'm commenting out the following code all works fine:
https://github.com/pmix/master/blob/master/src/server/pmix_server.c#L1241:L1253

[2016-04-15 11:14] artpol84 commented on #76
This is for master

[2016-04-15 16:39] annu13 commented on #76
I suspected this could be because of a leak, due to not deregistering the err handlers. I could't find anything obvious so far. I will investigate further.

[2016-04-15 16:47] rhc54 commented on #76
Given that we are reworking all that code anyway, perhaps it would be best to just turn it "off" for now? We don't actually support it anyway.

[2016-05-03 21:41] garlick opened #81 "build fails if configured --with-pmix-symbol-prefix or --enable-embedded-mod"
pmix-1.1.4rc2 doesn't seem to work with these configure options.  This is on an Ubuntu 16.04 LTS system but I don't think that matters.

(Not a big deal for me but wanted to report since I stumbled over them)

Build fails when configured with `--enable-embedded-mode`

[code]

Build fails when configured `--with-pmix-symbol-prefix=FOO_`

[code]

[2016-05-05 03:58] rhc54 commented on #81
@garlick Indeed - thanks for the report. Some first thoughts:

* --enable-embedded-mode will only work when PMIx is embedded in some other code base that is providing its own libevent. In other words, OMPI - or something like it

* --with-pmix-symbol-prefix will work just fine. However, the tests will not build unless you add --disable-visibility to the configure line, and I'd have to see how they

[2016-05-05 16:41] garlick commented on #81
I've moved to treating `libpmix.so` as an external dependency for Flux as you originally suggested and I think that's appropriate at least for early development.  Embedding PMIx in an RM seems like it might be a useful option to have down the road though.

[2016-05-05 22:07] garlick commented on #60
API question:
[code]
is there some way for me to retrieve `server_object` from server callbacks other than `connected()`, `finalized()`, and `abort()`?  For example, how can I get this from `fencenb()`?

The API seems to be encouraging me to define RM/program state globally but maybe I've missed the secret handshake for passing state through.

[2016-05-05 22:49] rhc54 commented on #60
The only reason we explicitly pass/return a ```server_object``` in those specific APIs is that they refer to a single process, and so the object can relate to something associated with that proc. In all cases, you can pass in a void*, and it will be returned to you in the callback function.

We just extended the single-proc APIs so you could get back both the proc object _and_ a broader RM state o

[2016-05-05 22:54] garlick commented on #60
Sorry, I mean in this callback (as one example):
[code]
how can I retrieve something I passed in to avoid having to define it globally?  Not necessarily `server_object`.

[2016-05-05 23:07] rhc54 commented on #60
I think there may be some general confusion here as there is nothing the host RM can "pass in" to a fence operation. When a client calls "fence_nb", a message is sent to the local PMIx server indicating that this client called "fence_nb". The local PMIx server looks at the procs that are going to participate in this collective (as given by the client), and sets up a tracker to count contributions

[2016-05-05 23:23] garlick commented on #60
Right it's the tracker state that I've got no way to store between calls without some global state to refer to.  I was hoping I could say "here's some flux state" at some point, and then in callbacks, get it passed back to me much as the PMIx server thread is getting its own state back in cbdata above.

[2016-05-05 23:32] rhc54 commented on #60
But there is no interaction between the host RM and the local PMIx server during the course of the collective. The local PMIx server only up-calls the host RM once, when it has collected all the calls from the local participants. Then there is no further interaction until the host RM calls down to tell us that the collective is complete.

So there is no way you could pass us the tracker - you don'

[2016-05-05 23:54] garlick commented on #60
Sorry, I'm really not getting my point across.  My RM code has no global state.   From within the RM fence_nb callback, I can't store info in a tracker because I have no way to make RM calls or update state from that function without a pointer to my RM context.

This is what I mean by the PMIx API seems to require me to define my own state globally.  This seems to be what all the examples/tests in

[2016-05-06 02:03] rhc54 commented on #60
I think I'm beginning to grok - apologize for the density of the old brain. So let me ask you this: how do you perform the collective across the nodes that have participants in the fence? When you receive a message, how do you know which fence it belongs to?

You could use the "put" and "get" routines to store/fetch your object, marking the data as "local" and defining an appropriate key for it. F

[2016-05-06 02:04] rhc54 commented on #60
Note that the "tracker" object has to be wrapped inside of a pmix_value_t, but that's no problem - the value_t has a pointer object field for just this purpose.

[2016-05-06 02:13] garlick commented on #60
That might be the ticket - thanks!  Sorry if I wasn't being very clear.

I didn't mean Flux _has_ no global state, just that its state is not accessible via global pointers.   We have a distributed KVS with a collective fence operation that we'll use initially for this.  So it's a relatively minor point I'm asking about - how to get hold of my own context again from a PMIx callback.

I'm assuming

[2016-05-06 02:52] rhc54 commented on #60
Ah, okay - thanks for clarifying!

[2016-05-06 18:21] garlick opened #83 "pmi_client (PMIv1) test fails and is getting incorrect size from PMI_Get_size()"
On current master e6747971774dad02f99de99e2783abd7ca8ba65e the PMI1 test appears to be failing.  Note the incorrect size=12 on the INFO line below.

[code]

The PMI2 test, by contrast, runs OK:
[code]

[2016-05-06 18:35] garlick commented on #60
Another question:  does `fencenb()` get called once per rank or once per set of ranks on the local node?

What's it mean in `fencenb()` when procs[0].rank == 2147483646 (INT32_MAX - 1)

[2016-05-06 18:43] rhc54 commented on #60
On the client side, every rank calls it. The host RM, however, only gets called once when all the local clients have called.

The value you showed is ```PMIX_RANK_WILDCARD```, which indicates that all procs in that nspace will be participating.

[2016-05-06 18:49] garlick commented on #60
Got it - thanks!

[2016-05-06 23:17] garlick opened #85 "pmi_client (v1) test fails at larger scales"
The `pmi_client` test, when run at sizes greater than about 10 fails consistently for me:
[code]

Here's a run with some debug
[code]

[2016-05-10 20:01] jjhursey opened #87 "Building C++ programs fails due to stdint.h"
A little C/C++ program:
[code]

Compiles fine with `gcc`, but fails with `g++`
[code]

It looks like there is code to handle this in:
 * [include/pmix/autogen/pmix_config_bottom.h](https://github.com/pmix/master/blob/master/include/pmix/autogen/pmix_config_bottom.h)

But it is not included in `config.h.in`. Doing so results in more compilation problems.

I'll keep investigating.

[2016-05-11 21:45] #83 closed

[2016-05-11 22:19] rhc54 commented on #85
Took me awhile to track this down, but it was indeed a bug in the test and not the code base itself.

Thanks for point it out. Fixed in pmix/master@bde4da1545072c943cc9be71fc14a10609deef4a

[2016-05-11 22:19] #85 closed

[2016-05-12 04:04] garlick commented on #85
Thanks for tracking this one down!

[2016-05-12 16:48] garlick commented on #60
@rhc54 - Darn I was hoping that the fix to #85 was going to be something that explained why my prototype pmix server hangs when I scale up to about size=16, especially since my "client" is using the PMI-1 interfaces in `libpmix.so`.  It works fine at smaller sizes.

I'm getting the `connected()` callback in my server from the right number of clients, and they all are blocked in a call to `PMI_Barr

[2016-05-12 16:57] rhc54 commented on #60
Have you tried setting the PMIX_DEBUG envar to get debug output? It will tell you what is happening on both client and server sides. The verbosity level if set by the value of the envar - if you get up to 20, you're going to get barraged by all the data packing/unpacking calls, so you might want to stay under 10.

It sounds like something may be getting lost in a thread-shift - I'm not sure that t

[2016-05-12 18:04] garlick commented on #60
Good suggestion.  Well, in a hanging 16 rank test at PMIX_DEBUG=2, it seems `pmix_server_fence()` gets called 16 times ("recvd fence with 1 procs") but the fence never completes (there is no "fence complete").  So that narrows it down I guess.

[2016-05-12 18:11] rhc54 commented on #60
FWIW: once the PMIx server has recvd all the local client inputs, it will call-up to your server. I suspect your server isn't realizing that it needs to thread-shift to its own thread, and callback down with the "fence globally complete" response into the PMIx server. If you don't thread-shift, then you'll block.

[2016-05-12 18:34] garlick commented on #60
Well, I'm not thread shifting, but only because all clients are connected to one server, so any call to `fencenb()` is already complete.  I call the `cbfunc()` directly from within the `fencenb()` RM callback to signal completion, which I assume is correct since that's what the tests do?
[code]
I don't get that debug message either, incidentally...

[2016-05-12 20:25] garlick commented on #60
Ah!  Calling _all_ the `PMIx_server_register_client()` calls before launching _any_ processes seems to have made the problem go away.

I noticed that in a successful run, tracing showed all the registrations completed before connection, and in a hanging run, connections came in early.

[2016-05-12 20:48] garlick commented on #60
It seems `pmix_test` registers processes as it launches them also.  When I "fixed" it, I was able to scale much higher e.g.
[code]
upwards of that, it looks like I run out of file descriptors.

Not sure if this is the correct way to do things, or if this exposes a race in the PMIx server code.

[2016-05-12 21:22] garlick commented on #60
Looking a bit closer at the failing logs, it seems the clients have not completed registration before the first client enters the fence:
[code]

[2016-05-12 21:34] garlick opened #89 "possible PMIx server race: PMIx_server_register_client vs fence"
As noted in #60, if a client enters a fence before all the clients on the same node have been registered with `PMIx_server_register_client()`, the fence will not complete.  This log snippet demonstrates the problem in a 16-node test.  Note rank 12 registers after one of the ranks calls fence.  This is because process launching and registration are done in parallel in the test server:
[code]

This

[2016-05-12 22:38] annu13 commented on #89
@garlick The PMIx server is setup to handle this race condition, but I guess there is a minor bug in that code. Could you try this and see - set trk->def_complete = true in pmix_server.c at line 773 after the check.
 PMIX_LIST_FOREACH(trk, &pmix_server_globals.collectives, pmix_server_trkr_t) {
            /* if this tracker is already complete, then we
             * don't need to update it */

[2016-05-12 22:55] garlick commented on #89
LIke this?  Doesn't seem to help...

[code]

[2016-05-12 23:15] rhc54 commented on #89
I'll poke at this later - the nspace must of course be registered first, but you should be able to register_client on the fly.

[2016-05-12 23:17] annu13 commented on #89
hmmm...looks like there are more bugs in that code, I will try to reproduce it on my system and see whats going on.

[2016-05-12 23:21] rhc54 commented on #89
I don't think you meant to close this... 😄

[2016-05-12 23:23] annu13 commented on #89
oops!! sorry, I selected the wrong button.

[2016-05-16 13:20] jjhursey commented on #87
This was fixed by PR #88 in the `master` branch. After a soak there for a few days we'll try to get it into the v1.1.4 release branch.

[2016-05-17 09:02] annu13 commented on #89
I was able to reproduce the issue on my system. The two checks based on which the PMIx server decides if all local participants have called fence are not getting set corrected when Fence is called by any processes before all clients are registered.
 if (trk->def_complete &&
        pmix_list_get_size(&trk->local_cbs) == trk->nlocal)
once all clients are registered the track needs to be update with

[2016-05-17 09:06] annu13 commented on #89
This issue prompts a question about how a hanging fence is handled in the event of a process failure - do we need a timeout mechanism, or a way to release the fence?

[2016-05-17 13:41] garlick opened #90 "consider file descriptor passing from RM to client instead of accept()"
PMIx currently creates a UNIX domain socket and accepts connections from clients on it.

Is there a reason there shouldn't _also_ be an optional mode where the RM calls `socketpair()` to create both client and server fds in one go, and passes them to PMIx RM interfaces, then ensures the client fd remains open across fork when the client is started?

PMIx would construct `PMIX_SERVER_URI` to contai

[2016-05-17 13:43] garlick commented on #89
Nice @annu13 - happy to cherry pick your commit(s) and try it on my setup once you've got something pushed.

[2016-05-17 16:05] rhc54 commented on #90
I believe this is doable as an optional mode - for simplicity, we could just pass a ```PMIX_SERVER_FD``` in this case so the URI isn't confusing. The only limitation you should be aware of is that a client process won't be able to fork/exec and have its child connect to the PMIx server. We'll also need to protect the server against such connection attempts so we don't lose the original connection

[2016-05-17 16:14] garlick commented on #90
Hmm, I hadn't thought about that one.  Did you have a specific use case in mind for that?

[2016-05-17 16:25] rhc54 commented on #90
We ran into it with some applications running under SLURM, but it could become more prevalent given the broader use-cases from the extended PMIx APIs. For example, a client might fork/exec a child that wants to receive event notifications.

[2016-05-18 00:05] garlick commented on #90
I did get this working, nominally  - here are a few notes.

There are some client mods to skip the socket connect if `PMIX_SERVER_FD` is set in `PMIx_Init()` on this [socketpair](https://github.com/garlick/pmix/tree/socketpair) branch, in commit 625ccac97017a3e715d6f6824f89a31aa1b98c51.  This included a little refactoring to avoid code duplication.

I didn't have change anything in the PMIx server

[2016-05-18 03:46] rhc54 commented on #90
Native security is just a trivial thing that passes the UID and GID of the client in string form (you can find it in src/sec/pmix_native.c) - nothing like SO_PEERCRED involved. I believe SO_PEERCRED has been deprecated in favor of SCM_CREDENTIALS, but I can't swear to it - regardless, we took the low road.

[2016-05-18 13:50] garlick commented on #90
Ah thanks.  That would seem fairly easy to add and would be better security than chowning the socket which is non-portable and inherently racy.  Would you be open to an issue/patch on modifying "native" to do that?

[2016-05-18 14:34] rhc54 commented on #90
Sure - thanks!

[2016-05-18 14:38] #87 closed

[2016-05-18 15:51] garlick opened #91 ""native" security mode does not check socket creds"
As noted in #90, the "native" security mode accepts user credentials without validation.

If I understand correctly, all that prevents a user from hijacking another user's pmix session, and thus gaining the ability to run processes as that user via `PMIx_Spawn()`, are the file system permissions on the UNIX domain socket.  Since not all UNIXes enforce those permissions, and since socket bind, chmo

[2016-05-18 17:47] garlick commented on #91
Also noted: if the client sends an empty "cred" portion of the initial handshake, the server validation check is bypassed.

Will have PR for both issues shortly.

[2016-05-18 23:38] garlick commented on #90
@rhc54 when you have a free moment, I have couple questions about this from pmix_server_listener.c:
[code]
Why is `connection_handler()` assigned an EV_WRITE event when the client will send data first?

How come `event_active()` call is needed?

What prevents races on libevent state when this function is called from the listener thread or the RM and makes libevent calls that modify pmix_globals.ev

[2016-05-19 04:30] rhc54 commented on #90
The assign/active method used here is a little libevent "trick" for pushing code paths into an event base. It creates an event and then immediately "flags" it as active, thus ensuring it gets serviced on the next event loop. There is no file descriptor involved (demarked by the -1 in the assign call) - the EV_WRITE in both calls simply matches the pairing (could have used EV_READ in both places, o

[2016-05-19 13:09] garlick commented on #90
Ah that makes sense now! I hadn't noticed the -1 fd. Thanks,

[2016-05-21 13:54] rhc54 commented on #36
The list of required data to be provided has been posted here:
https://github.com/pmix/master/wiki/2.8-Pmix-Server-Data-Requirements

[2016-05-21 13:54] #36 closed

[2016-05-24 03:54] #89 closed

[2016-05-26 03:42] #91 closed

[2016-05-26 03:43] #74 closed

[2016-05-26 23:31] annu13 opened #96 "Add timeout handling to PMIx server for fence and connect requests"
The fence and connect collective operations require the PMIx server to handle request timeouts. This is required to accommodate for the case where PMIx server has not send the request to the RM while it is waiting for all its local clients to enter fence. This can potentially cause the fence to hang indefinitely as the RM has not yet received the request.

[2016-05-27 18:37] garlick opened #97 "unchecked asprintf() return values"
It seems that `asprintf()` is cast to void in a number of places and this makes gcc-5.3.1 sad.

IMHO Fixing this should not be given too low a priority given that libpmix wants to be linked with application runtimes and RM components that may be co-located with simulation codes that often push the limits.

I'm not sure what the policy should be for handling ENOMEM, though I see there is a PMIX_ERR

[2016-05-27 19:32] rhc54 commented on #97
Yeah, we've always gone around in circles on this - fact is, if you are out of memory and cannot sprintf a few bytes, then you are unlikely to be able to do much more than crash anyway. Still we can shut the compilers up easily enough. I'll go thru and do a general cleanup to pass into 1.1.4

[2016-05-27 20:09] garlick opened #98 "pmix/autogen/config.h should not be installed"
pmix.h includes pmix/autogen/config.h which leaks all kinds of non PMIX_ prefixed pre-processor symbols into any project that includes pmix.h.

PMIx may want _GNU_SOURCE defined but maybe my project doesn't?

PMIx may define HAVE_MUNGE_H because munge was included as a build dependency in its mock root, but that is no longer a true statement when my package is built in _its_ mock root with only _i

[2016-05-27 20:10] rhc54 commented on #98
I thought we removed that? No need for config.h to be in pmix.h

[2016-05-27 20:11] garlick commented on #97
Uhh, a segfault isn't really a good way to handle this.  At least assert and give us a reasonable message so we don't go round and round looking for problems that don't exist?

[2016-05-27 20:41] rhc54 commented on #97
you misunderstood me - i didn't say we would segfault. i was saying that if we are entirely out of memory and cannot print a 16 byte message, then the app is almost certainly going to crash, regardless of whether or not we return an error code.

[2016-05-27 20:53] rhc54 commented on #98
I see what happened - a PR was created to do it, but it was never committed. Let me see if it can be updated and committed

[2016-05-27 21:08] rhc54 commented on #98
Hmmm...I'm going to have to wait for @jjhursey to become available as we just went thru a cycle of moving config.h stuff around so it would build in their system - let me loop him into this so we don't break something over there

[2016-05-27 23:17] garlick commented on #97
I think an assertion would be a better stop-gap than an exit call, otherwise stuff is going to exit and we'll have no idea why.  I'd rather have some clues left, like a message on stderr and maybe a core.

In the server context, the RM may need to be more clever than this.

Long term, I think the only two viable things you can do are
* return PMI_ERR_NOMEM, where possible
* provide a hook for RM t

[2016-05-27 23:46] rhc54 commented on #97
I didn't call exit except in the tests (where there isn't anything else you can do anyway), so I'm not sure what you are referring to??

[2016-05-28 00:41] garlick commented on #97
Oh I apologize!   I scanned down the first few pages which happened to be the tests and assumed it went on like that.  This looks good.  Sorry, my brain was already at the pub I guess.  (now all of me is so will have to test later)

[2016-05-28 00:44] rhc54 commented on #97
😆 Sounds like a good plan! Enjoy yourself!

[2016-06-01 18:20] #97 closed

[2016-06-01 18:38] garlick opened #102 "provide hooks for external event loop integration"
This is a feature request for hooks to allow (server side) PMIx to be integrated with an external event loop, not necessarily libevent.

When RM code is already using event-based programming, having PMIx callbacks run in the context of a seprarate PMIx server thread requires synchronization that would not be necessary if the PMIx callbacks were driven by events in the RM thread.

Other libraries h

[2016-06-01 19:27] garlick opened #103 "add regression test framework"
It would be nice if tests could be run more frequently and conveniently, and if there was a framework for adding new tests.  For a start it would be good to build the existing tests by default, without requiring `configure --disable-visibility` and wire some of them to "make check".

We have successfully used [test anything protocol](https://testanything.org/) on some projects.  Some useful bits:

[2016-06-13 17:08] jdinan opened #107 "test/pmi_client and test/pmi2_client log macros"
This looks like a bug:

[code]

[2016-06-13 18:22] rhc54 commented on #107
I believe it is a fairly harmless warning in a unit test, but we can try to clean it up - no impact on the library itself.

[2016-06-16 18:03] artpol84 opened #108 "Multi-job/multi-user PMIx"
@rhc54 @garlick @dsolt @karasevb

We were working on fixing "Permission denied" problem with PMIx **dstor** implementation and I realized that it has something to do with multi-job/multi-user problem we already discussed.

**dstor** creates a set of files that supposed to be accessed by application processes in order to get the key-values. And as it was with usock I'm hitting access problems. Righ

[2016-06-16 18:24] garlick commented on #108
I don't think I have the enough context to be of much user here, but I did want to point out this from NOTES section of unix(7) on Linux:

       tem honor the permissions of the directory they are in.   Their  owner,
       group,  and  permissions can be changed.  Creation of a new socket will
       fail if the process does not have write and search (execute) permission
       on  the  director

[2016-06-17 10:26] ashleypittman opened #109 "Unsafe memory access in PMIX macros."
Several macros in pmix_common.h make allocations and immediatly write to allocated memory without checking the result of the allocation.

These include some like PMIX_PROC_CREATE which could probably be changed to use calloc() and other like PMIX_VALUE_CREATE which will be more involved to fix.

[2016-06-21 14:00] #56 closed

[2016-06-21 14:00] rhc54 commented on #76
This has been completely reworked, so let's file it again if still true

[2016-07-05 17:38] jjhursey commented on #98
Yeah this happened in PR #88 when we were trying to resolve a problem compiling a C++ application against an installed PMIx (See Issue #87).

We might not need all of `config.h`, but we need some of it for `pmix_config_bottom.h` to work properly for C++ programs. I modeled it's inclusion mechanism after how Open MPI does things. It might be worth revisiting if we need all of these pre-processor sy

[2016-07-06 03:42] rhc54 commented on #98
Just an FYI: I have fixed this in the MCA RFC, so it will hopefully be resolved soon.

[2016-08-02 20:07] rhc54 opened #119 "Support update of "put" values"
Consider the use-case of two ranks that:
- each "put" a value with key "a", then put a value with key "b"
- call commit and fence
- retrieve the values for "a" and "b"
- update and "put" the value for key "a"
- call commit and fence
- retrieve the values for "a" and "b"

At the end, they will have the old values for "a", even though they were put/commit/fence'd, because the client will locally sat

[2016-08-02 20:08] rhc54 commented on #119
Adding @afriedle-intel

[2016-08-02 20:13] rhc54 opened #120 "User object for notifications"
A user would like to include a void* object when registering for notifications that will be returned to them whenever that specific notification callback function is executed. I believe this can be accomplished without modifying the current notification registration API by simply adding a new key (PMIX_EVENT_RETURN_OBJECT) that contains a pointer object as its value.

Only change required is to th

[2016-08-02 20:19] rhc54 commented on #54
@artpol84 Can we get help from you folks on this? It would be good if v2.0 was valgrind clean.

[2016-08-02 22:12] abouteiller commented on #119
Option 1: Invalidating the entire cache on every fence seems excessive.
Option 3: notification is not synchronous with respect to fence, is it? I'd expect this to suffer from race conditions.

[2016-08-02 22:27] bosilca commented on #119
I would advocate for partial invalidation supported by data versioning ? Each put modify the local version of the data (monotonically increasing it's version so that we can drop late messages with older versions). When the data is transmitted, it's version is also provided, so that the peers know not only the content of the data but also it's version.

On subsequent fences each process will mark a

[2016-08-03 00:28] rhc54 commented on #119
Do we need to retain the version info? I ask only from the standpoint of memory footprint. It isn't clear to me what the version does for us - are we actually anticipating a use for the version number?

We know if a "commit" actually added or changed any existing info, and so a fence that collects data can also know if something was updated (we can just flag that a contribution from a given proc i

[2016-08-03 01:57] bosilca commented on #119
The version can be as short as 16 bits, we just need it not to overflow during the run. The version will allow us to minimize the amount of data communicated, or to even skip the communication completely (if the fence is doing the allgather).

My understanding is that we need the version to be able to cope with the fact that the data on different peers is out of sync. At least this will provide mo

[2016-08-03 02:37] artpol84 commented on #54
Yes, it's in our todo list as well. Let's adjust on deadline.

[2016-08-03 03:40] artpol84 commented on #119
1. I was rising key versioning question some time ago and the answer was - "this is not a typical PMIx usage, we don't intend to optimize/fully support this (in case of the direct modex". **What has changed now**?
2. FWIW This will not be a problem with the dstor. Dstor has the option to invalidate the key.

@bosilca
"... *On a get where the proc has been marked as dirty, the server will recheck i

[2016-08-03 04:20] rhc54 commented on #119
Just to be clear: this still isn't a typical usage. The issue arose thru a deliberately crafted test where someone ran two multi-threaded procs, each banging put/commit/fence calls that re-used the keys. When the values didn't change, the test erroneously concluded that PMIx had a threading issue.

Changing the test so the keys themselves were updated as well as the values resolved the test. Howev

[2016-08-03 13:46] rhc54 commented on #96
We currently create an internal tracker for these operations upon first receipt of a client's participation. The tracker is stored on a list pending receipt from all local participants. What we need to do here is:

1. check the incoming operation for a PMIX_TIMEOUT entry
1. if found, set the timeout field in the tracker to that value - otherwise, leave it at zero
1. check the tracker into a pmix_h

[2016-08-03 20:04] rhc54 commented on #54
Here is some input from the Intel folks:

[code]

[2016-08-04 20:52] rhc54 commented on #119
Per telecon on Aug 4th:

  * We discussed this at some length. The primary concern was over just how much of a use-case we really have for this feature, especially recalling that the objective of PMIx is to eliminate the exchange of such information. Rather than make signficant changes to the code base, we propose instead that we add an info key PMIX\_REFRESH\_CACHE that can be passed as a directi

[2016-08-04 20:57] dsolt commented on #120
So the error handlers are called with a chain of events in the form of PMIx_Info's and this PMIx_Info is added to the end with the specific value provided during registration for that handler?   It  looks good to me.

[2016-08-04 22:00] rhc54 commented on #120
Yep, that's the way it works. I didn't want to modify the handler's signature, and this seemed simple enough.

Thanks!

[2016-08-04 22:01] #120 closed

[2016-08-16 09:13] ashleypittman opened #128 "Using PMIx_Get() with timeout not working?"
We're using a couple of newish keys in our client and occasionally we're seeing PMIx_Get() blocking, presumably because either due to an old server or a bug the key isn't found.  What we'd like to do in this case is detect it and correctly abort.  We're using a fence after Put so all gets should complete immediately.

I tried passing a info array into PMIx_Get and setting PMIX_TIMEOUT to either 0

[2016-08-17 21:28] rhc54 commented on #128
Should have this fixed here: https://github.com/open-mpi/ompi/pull/1981

[2016-08-18 00:00] rhc54 commented on #128
Here is the process I'm assuming you follow:

· Each proc PMIx_Put some data
· Each proc PMIx_Commit the data that it put
· Each proc PMIx_Fence and blocks until that completes
· Each proc calls PMIx_Get on the data for some other process, passing in PMIX_TIMEOUT=0 to indicate that it wants an immediate error return if the data isn’t found either in itself or on its local PMIx server. You don’t wa

[2016-08-18 12:13] rhc54 opened #129 "Reduce memory footprint"
Fujitsu has kindly shared their memory footprint measurements at scale, and the PMIx footprint is growing at an unacceptable rate. The primary reasons are two-fold:
1. the use of fixed-length keys and namespace values is consuming a lot of empty space.
2. presence of a pmix_proc_t struct, which in turn contains a fixed-length namespace array, in the pmix_value_t data union, thereby causing that of

[2016-08-18 12:16] rhc54 opened #130 "Missing man pages"
This has been an ongoing problem, and it is time to get serious and put a stake in the ground. We need man pages that fully describe behavior for commonly supported keys for all the user-facing functions.

[2016-08-18 12:18] rhc54 opened #131 "Document theory of operation"
We need pages on the wiki that explain how PMIx operates. For example, walking the user thru the put/commit/fence operation and explaining where the data resides under various options.

[2016-08-18 12:53] kawashima-fj commented on #129
The presented material:
https://github.com/open-mpi/ompi/wiki/Meeting-2016-08-attachments/Fujitsu-OMPI-Dev-Meeting-2016-Aug.pdf
(also linked from [Open MPI Developer's meeting Wiki page](https://github.com/open-mpi/ompi/wiki/Meeting-2016-08))

[2016-08-18 14:27] jjhursey commented on #129
We found a memory leak in PMIx_Get in the server side code a couple weeks ago. We have a fix that we need to push upstream - @dsolt and @nysal did that work. It might not be a huge factor here (depending on the number of get calls), but would be good to push back.

[2016-08-18 15:43] ashleypittman commented on #128
As per email we're not calling PMIx_Commit() however we are using PMIX_COLLECT_DATA to PMIx_Fence().  Even with a change to calling PMIx_Commit() however we're still seeing the same behaviour.

[2016-08-18 16:49] rhc54 commented on #128
Just to clarify: are you getting the immediate response back that the data isn't found? So this issue is fixed, but the desired behavior to get the data that was pushed remains?

Or are you saying that the immediate response behavior is still broken?

[2016-08-20 14:37] rhc54 commented on #129
Well, I went thru the code base and found that we already use pmix\_kval\_t everywhere internally, converting all pmix\_info\_t values to that struct. Thus, the first part of my list of fixes was already done, and nothing to be gained there.

So I did the second part in the referenced PR, squashing the pmix\_value\_t struct down to 8 bytes, and committed that to the OMPI master so folks can see ho

[2016-08-23 09:24] kawashima-fj commented on #129
@rhc54 Thanks! I'll evaluate the memory footprint again using the latest master. The result will be posted here in late this week hopefully.

[2016-08-23 14:45] artpol84 commented on #129
@kawashima-fj can you provide mca params used when add_proc was disabled?
if you only specified
[code]
without setting
[code]
you'll still end up doing the full modex and you will see all keys exchanged and stored inside **every** pmix server.

[2016-08-24 01:59] ggouaillardet opened #136 "flock is not available on Solaris"
```src/dstore/pmix_esh.c``` uses the ```flock``` function in order to lock (shared or exclusive) or unlock a file.

unfortunatly, this is not available on Solaris (and maybe some other OSes as well).
sadly, i have no alternative to suggest yet.

could someone please find a way to fix this ?

[2016-08-24 03:05] rhc54 commented on #136
This won't affect the OMPI v2.0.1 release, but will block us from the 2.1 release. OMPI has methods for dealing with this problem - perhaps we can borrow from the opal/shmem support over there?

[2016-08-24 03:43] artpol84 commented on #136
@rhc54 I tried to assign @karasevb but failed. Do we need to do something special to enable this?

[2016-08-24 03:44] rhc54 commented on #136
He has to join the organization - I just sent him an invite.

[2016-08-24 03:56] artpol84 commented on #136
@rhc54 thank you!

[2016-08-26 05:03] artpol84 commented on #136
@ggouaillardet do you know if fcntl locking is supported on Solaris?
If it is we will provide configuration-driven way to choose between flock and fcntl.

[2016-08-26 05:05] artpol84 commented on #136
I'm talking about Advisory Record Locking:
http://man7.org/linux/man-pages/man2/fcntl.2.html

We may even improve concurrency of DSTOR by locking only portions of the shmem files (if this is possible)

[2016-08-26 05:56] ggouaillardet commented on #136
that is supported, at least per the man page.
and since ROMIO uses that, i do believe this is supported anywhere (except maybe under windows, but we do not have to care any more)

[2016-08-26 06:11] artpol84 commented on #136
Great, thank you!

[2016-08-29 12:38] kawashima-fj commented on #129
@artpol84 Sorry, I missed your comment. I used the following MCA parameters.

For **dynamic add_procs enabled** case (a):
[code]
(because the default value of `mpi_add_procs_cutoff` is 0)

For **dynamic add_procs disabled** case (b):
[code]

Today I added `--mca pmix_base_async_modex 1` (c):
[code]
and I measured the memory footprint of (a) and (c).

Memory footprint of (c) (84.6MiB/node for nnode

[2016-08-29 12:52] kawashima-fj commented on #129
I measured memory footprint using recent OMPI/PMIx.

Evaluation environment/condition is same as one written in [my OMPI meeting material](https://github.com/open-mpi/ompi/wiki/Meeting-2016-08-attachments/Fujitsu-OMPI-Dev-Meeting-2016-Aug.pdf). `pmix_base_async_modex` suggested by @artpol84 is not used (I missed the comment and looked a little while ago, sorry).

(a) Open MPI 2.0.0 + PMIx 1.1.2 em

[2016-08-29 14:31] rhc54 commented on #129
I'm a little confused here. I gather the red line is the size of the PMIx server, but that should change under the 3 use-cases you show for the client. Are you seeing the server being the same size in all cases? Is there some meaning to the "sleep 5s" label for that line?

Either way, it appears that this confirms what I had feared - the changes I made simply shifted memory from the client to the

[2016-08-30 00:34] kawashima-fj commented on #129
@rhc54 Sorry, my explanation was inaccurate.

I executed four jobs (in PMIx terms, 'four sessions') and each line in the graph shows memory consumption of each job.

The red line is `mpiexec -n N sleep 5s`. So the line shows memory consunption of one `mpiexec` process (**without** any PMIx client API interaction) and PPN `sleep` processes. I assume here that memory consumption of `sleep` process c

[2016-08-30 02:59] rhc54 commented on #129
@kawashima-fj Thank you for the explanation - that helped a lot! It appears we have actually gotten worse with the shared memory as our total memory consumption increased when compared to your earlier measurements. This will take some thought as to why it might have happened as there are other changes that also occurred.

[2016-08-30 03:07] artpol84 commented on #129
What about the blue line:
PMIx_{Init,Commit,Fence,Finalize} - is this a raw PMIx program? If so - what Fence was used - with or without data collection?
Can you point us to exact programs that were used?

[2016-08-30 03:43] kawashima-fj commented on #129
@artpol84 It's a raw PMIx program without PMIx_Put.

[code]

[2016-08-30 13:57] rhc54 commented on #129
I'm wondering if we are measuring what we think we are - let me explain. The PMIx server will use the same amount of memory for registering namespaces and clients regardless of whether or not the client calls PMIx_Init. Thus, minus any modex data, the size of the server must be exactly the same under any of these test cases.

In the latest versions, we have the PMIx shared memory enabled by defaul

[2016-08-31 01:37] PHHargrove commented on #136
For more info on replacing flock() w/ fcntl() you may wish to have a look at [this page](https://www.perkin.org.uk/posts/solaris-portability-flock.html)

[2016-08-31 03:49] rhc54 commented on #129
Okay, I have a few things to report. First, and most important, I believe we are either not measuring memory usage correctly, or we need to understand how to properly interpret the data the Fujitsu system is reporting. I did some digging and found, as you might expect, a _lot_ of discussion out there about how to measure actual memory usage. It is a complex subject due to shared libraries and virt

[2016-08-31 06:45] kawashima-fj commented on #129
Interesting. I used the Fujitsu RM feature to know memory footprint but it calculates shared memory in a different way (I don't know the detail). I can measure memory footprint up to ~256 nodes with the memory profiling option once it is implemented.

[2016-08-31 07:15] artpol84 commented on #129
Maybe it accounts shared memory piece at each proc that mapped it multiple times?

I agree with @rhc54 that we need an uniform way to measure that so we all can debug/reproduce this.

[2016-08-31 07:16] artpol84 commented on #129
I mean same shmem piece accounted multiple times because multiple procs map it.

[2016-08-31 16:35] rhc54 commented on #129
Working its way thru Jenkins now:

https://github.com/open-mpi/ompi/pull/2035

[2016-08-31 19:27] rhc54 commented on #129
This has been committed to OMPI master now. It builds by default, and you activate it by simply setting OMPI_MEMPROFILE=N in your environment. The N is the number of seconds you want to wait before ORTE samples the memory usage. Once ORTE does the sample, it will output the results and then terminate the job.

You can do this with any application. The only real requirement is that you need to have

[2016-09-06 04:19] kawashima-fj commented on #129
I evaluated the memory footprint using `OMPI_MEMPROFILE` feature. The result is listed below.

### Result

[code]

The last two columns show the memory footprint per node. `node(HNP)` is `mpirun + prog(HNP) * 16` and `node(orted)` is `orted + prog(orted) * 16` (16 is ppn).

### Condition

ppn: 16

Open MPI: master fb51d65 (Sept. 5)
PMIx: master 1f7cccb (Sept. 5) + my patch #140

mpiexec options:

[2016-09-06 04:46] artpol84 commented on #129
@kawashima-fj
[code]
I guess you want to set cutoff to 0 otherwise you trigger addproc for each process.

[2016-09-06 04:48] artpol84 commented on #129
And this explains why you see dstor usage.

[2016-09-06 04:56] artpol84 commented on #129
And you are right about job info - we need to provide it through dstor as well.

[2016-09-06 05:07] kawashima-fj commented on #129
Oh, my bad. I wanted to set it to 0. I reused a wrong shell script, sigh.

But I believe it affects only MPI programs. The result of a pure PMIx program is still valid. Is it?

[2016-09-06 07:12] artpol84 commented on #129
Yes, this is only for MPI progs.

[2016-09-06 07:30] artpol84 commented on #129
And my believe is that job info is causing problems. Some keys IIRC scale along with number of procs or nodes:
* `PMIX_NODE_LIST/PMIX_ALLOCATED_NODELIST` (if not compressed) will scale as # of nodes.
Btw @rhc54 I see the duplication of `PMIX_NODE_LIST`:
  * https://github.com/pmix/master/blob/master/include/pmix_common.h#L154
  * https://github.com/pmix/master/blob/master/include/pmix_common.h#L17

[2016-09-07 16:24] karasevb commented on #129
We make sure the `job_info` is not use shared memory datastore.
I was debug a simple program which  uses `PMIx_Get` for any keys contained in `job_info`. This allowed us to see that `PMIx_server_register_nspace` pass `job_info` to every process and every process is store its own copy of `job_info` in local hash.
If will be using dstor for `job_info` it will reduce the amount of memory for this cas

[2016-09-08 07:23] artpol84 opened #143 "Optimize empty fence"
Currently if no data collection flag was specified we will still pack the collective type flag into the message body:
https://github.com/pmix/master/blob/master/src/server/pmix_server_ops.c#L561
this causes 5 bytes to be appended to the message (1 byte of data and 4 byte of bfrop type signature).

If we have relatively high number of nodes (~1024) it may cause total message size to grow up to of 5

[2016-09-08 07:26] artpol84 opened #144 "Keeping job info in the dstor"
According to recent investigation:
https://github.com/pmix/master/issues/129#issuecomment-245337260
 job info is not going to the dstore.

We need to make sure it sits there.

[2016-09-08 08:07] rhc54 commented on #143
Just FWIW: remember that the 4 bytes of bfrop type is only present on a debug build. So 1024 nodes would only generate a total message size of 1KB.

[2016-09-08 08:10] artpol84 commented on #143
No, for debug build its 20 bytes

четверг, 8 сентября 2016 г. пользователь rhc54 написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2016-09-08 08:12] rhc54 commented on #143
Then there must be a bug in the code. The data type is only supposed to be added to the buffer in debug mode - otherwise, it is supposed to be just raw data, and it is up to the unpacker to know the type each time it unpacks an element.

[2016-09-08 08:13] artpol84 commented on #143
Anyway I guess 0 byte message is better than 1k

четверг, 8 сентября 2016 г. пользователь rhc54 написал:

--
-----
Best regards, Artem Polyakov
(Mobile mail)

[2016-09-08 10:12] artpol84 opened #146 "Restore smoky test functionality"
Running
[code]
I'm retting the error:
[code]

Need to fix this. This should work for any sane `-n`.

[2016-09-08 10:29] artpol84 opened #147 "Fix Mellanox jenkins to really capture the errors"
As I noted in https://github.com/pmix/master/issues/146 smoky tests are broken in master (works fine in release!). Once we fix them we need to make sure that Jenkins is capturing errors. Right now all tests are failing but Jenkins reporting success:

http://bgate.mellanox.com/jenkins/job/gh-pmix-pr/339/console

It might be enough to make sure that test exits with non-zero status.

[2016-09-08 10:30] artpol84 commented on #143
I'm eager to fix this in case there are no objections.

[2016-09-08 13:36] rhc54 commented on #143
No objections from me.

BTW: your size is indeed correct. What caused the confusion is that you referred to the 4 bytes as the "bfrop type", which would mean we are in debug mode. What actually is happening is that you have an int32 specifying the number of data elements, and then the data elements themselves.

So if you are passing a single 8-bit byte, then you have 1 byte of data, plus 4 bytes t

[2016-10-04 21:32] jsquyres commented on #129
Today, I ran the `examples/ring_c` through a memory leak checker on the OMPI master (PMIx 3.x).  It turned up a bunch of little leaks.  I've attached a report showing what I think are just the PMIx-specific leaks (I'll file a separate report for the OMPI leaks).

Is this information useful here on this issue, or does the PMIx community want this filed on a separate issue?

[results-pmix.txt](https

[2016-10-10 17:31] igor-ivanov commented on #103
I see that Mellanox/jenkins is launched on every PR and report issues on existing tests but final result is OK. I think it could be fixed to get correct result.

[2016-10-14 12:27] artpol84 opened #190 "Sporadic event handlers invocation at PMIx_Finalize"
@rhc54 this may be a legacy thing but just to make sure. Sometimes in the Jenkins output I see the following message:

[code]

which comes from the pmix_client.c notification handler:
https://github.com/pmix/master/blob/master/test/pmix_client.c#L52

the corresponding backtrace is following:

[code]

[2016-10-14 12:29] artpol84 commented on #146
Closing throug https://github.com/pmix/master/pull/174

[2016-10-14 12:29] #146 closed

[2016-10-14 12:29] artpol84 commented on #147
@karasevb thank you. After your Jenkins improvements it's now much more useful and capable of capturing errors!

[2016-10-14 12:29] #147 closed

[2016-10-14 12:30] artpol84 commented on #136
Closing through https://github.com/pmix/master/pull/157

[2016-10-14 12:30] #136 closed

[2016-10-14 14:43] rhc54 commented on #190
I suspect the test isn't correctly handling termination and a race condition exists between when the parent and child processes are terminating. This is simply reporting that the process unexpectedly lost connection with the other end, and is probably something to do with the test itself.

[2016-10-20 07:47] ggouaillardet opened #194 "pmix_mca_base_var_cache_files multiple invocations"
I noted pmix_mca_base_var_cache_files is invoked both in pmix_mca_base_var_init and pmix_rte_init.

Is there any rationale for that ?
Even if it might not harm, this seems to indirectly leak some memory

[2016-10-20 15:50] rhc54 commented on #194
No, we shouldn't be doing that - I would just let base_var_init handle it.

Likewise, your other question about libevent global shutdown was also valid, but needs to go one step further - we should never call that function, not even from within OMPI. For example, if the application is using libevent for its own purposes, or another library in the app is doing so, we could shut it down for everyone

[2016-10-20 16:08] #194 closed

[2016-10-21 00:03] ggouaillardet commented on #194
@rhc54 i think OMPI is fine indeed.
libevent global shutdown will be added into the embedded libevent in #2175
global shutdown will be only invoked by the embedded libevent glue. with the exception of pmix, no one else should be using the embedded libevent (e.g. user app should not use embedded libevent)

in OMPI, we could add an extra MCA param to invoke the global shutdown of the external libeve

[2016-10-21 06:40] rhc54 commented on #194
Looking at #2175 in OMPI - did you update libevent? If so, what version are you proposing to bring over? Last we checked, 2.0.22 is still the last stable release.

I'd have to think some more about the param for global shutdown. I don't immediately see the harm as it would be a conscious command from the user, and so the risk is theirs. Could be dicey if an OMPI user builds against an external lib

[2016-10-21 07:00] ggouaillardet commented on #194
i simply backported the commit from upstream libevent that adds the global shutdown, and updated the glue to invoke it.

[2016-10-21 22:53] artpol84 opened #197 "PR backward compat changes to v1.2"
@jjhursey @rhc54 Setting this for tracking purposes.
@karasevb Please PR #189 to v1.2

[2016-10-21 22:56] artpol84 commented on #197
@karasevb we also need to add pmi1/pmi2 tests to Mellanox Jenkins.

To launch them I use `pmix_test` with `-e` parameter, i.e.
[code]

Note that we need to add `-o` option to them to make testing uniform.

[2016-10-25 14:09] jjhursey commented on #197
Closed in PR #199

[2016-10-25 14:09] #197 closed

[2016-10-25 14:09] rhc54 commented on #98
Has been fixed

[2016-10-25 14:09] #98 closed

[2016-10-28 16:25] hjelmn commented on #144
Any progress on this? As far as LANL is concerned this bug is a blocker on Open MPI 2.1.0.

On knl with 272 ranks per node the wasted space is ~ 272 * nodes * 0xaa0! I can't scale to even 1/8th the machine without an OOM.

[2016-10-28 16:32] jjhursey commented on #144
I sent @karasevb an email this morning asking for an update.

[2016-10-28 16:34] hjelmn commented on #144
@jjhursey Thanks Josh! Hopefully this gets fixed soon. With Open MPI master I currently see a net increase in node memory usage with the dstore enabled. Will test again once the fix is ready.

[2016-10-28 16:36] karasevb commented on #144
@hjelmn @jjhursey I'm working on it. I hope to finish in a couple of days.

[2016-10-28 16:49] hjelmn commented on #144
@karasevb Once this is complete it might be worth looking at compressing strings stored in the dstore if they go over a certain length. The pmix.lcpus key on knl looks like this:

[code]

That would compress very nicely even just using libz's compress function.

[2016-10-28 16:51] hjelmn commented on #144
Hmm, I see you just pack the data. We could kill two birds with one stone (storage space AND dstore) by compressing the string in the buffer ops.

[2016-10-28 16:56] rhc54 commented on #144
I think a regex might be more appropriate and actually use less space - in this case, the regex generator we already have would have made it as N:0-271, where N is the number of replications.

I'd need to look in ORTE at how that is generated as that value doesn't look right to me. The local cpus should only be the local ranks on this node.

[2016-10-28 16:57] hjelmn commented on #144
@rhc54 Yeah, that would work as well :)

[2016-10-28 16:57] hjelmn commented on #144
BTW, lpeers probably needs to be fixed as well:

``
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,11

[2016-10-28 16:58] rhc54 commented on #144
yeah, no surprise at that

[2016-10-28 16:58] hjelmn commented on #144
Compression would still be helpful for strings that can be fixed. It was trivial to add to buffer_ops.

[2016-10-28 17:00] rhc54 commented on #144
Agreed - my concern is only that we look at launch time as well as footprint, as the two often are tradeoffs. Also, we need to be a little careful about what users expect to be handed, and how it is accessed - e.g., we may need to add a flag to indicate "this data has been compressed" so we uncompress it before handing it back.

[2016-10-28 17:02] artpol84 commented on #144
I think that compression is an orthogonal solution here let's not mix them. Hopefully we will have this part ready for testing next week.

[2016-10-28 17:03] hjelmn commented on #144
@artpol84 Agreed. Just throwing it out there as we need to get the memory footprint down as much as possible.

[2016-10-28 17:07] jjhursey commented on #144
Maybe we can open another issue to track the compression of values? Then we can continue the conversation/development there.

[2016-10-28 17:07] hjelmn commented on #144
@jjhursey Sure. Will open that now.

[2016-10-28 17:09] hjelmn opened #204 "Compress large PMIx values"
It might be beneficial to compress large PMIx strings before transferring or storing them. This could lead to a large decrease in the memory footprint.

[2016-10-28 17:11] hjelmn commented on #204
Here is a quick and dirty implementation that works:

[code]

[2016-11-03 21:54] jjhursey opened #207 "PMIx 1.2 dstore PMIx_Get Performance issue"
I just got back some performance results comparing PMIx `1.1.2`, `1.1.5`, and `1.2.0rc1` (with dstore enabled). I see a performance regression when performing large numbers of `PMIx_Get` calls at high PPN on a few nodes.

For the particular test code (which I cannot share, sorry) it makes a number of `PMIx_Get` calls combined with other `PMIx_` calls (e.g., put, fence, commit -- nothing too fancy)

[2016-11-03 21:57] artpol84 commented on #207
@jjhursey we just published our tool that was used to measure the performance. Can you give it a try as well?
What is the platform? PPC I guess?

[2016-11-03 22:26] artpol84 commented on #207
Also, what happens if you run 1.2 with dstore disabled? Does it show results comparable to 1.1.5/1.1.2?

[2016-11-03 22:27] artpol84 commented on #207
I'm setting up the testbed to try to reproduce

[2016-11-03 22:38] jjhursey commented on #207
I'm setting up your performance tool as well. But probably won't get to run that data until Monday.

This was on a ppc64le system with 20 cores x 8 hwthreads on each node (18 nodes total, sorry for the odd node scaling). The only thing that changed between the builds was the PMIx library that was linked in.

[2016-11-03 22:40] artpol84 commented on #207
But have you tried v1.2 without dstore? Just to 2-check that this is not something else that has changed there?

[2016-11-03 22:41] artpol84 commented on #207
Also we haven't tested on PPC before and this probably also may be the reason of this unexpected behavior.

[2016-11-04 00:35] artpol84 commented on #207
I've just remeasured the dstore performance on the 32-node 20-core cluster using the tool that we are publishing now with #206, and here is the comparison (click on the image to scale):

![image](https://cloud.githubusercontent.com/assets/7534910/19990364/61514336-a1ea-11e6-9819-128e46a05570.png)

This data is perfectly consistent with what I saw several months ago and referred on one of the calls

[2016-11-04 01:12] artpol84 commented on #207
Also I just realized that you mentioned several commits. I don't know how exactly you are measuring so it's hard to predict what went wrong but here are few things to keep in mind:

* Currently dstore doesn't garbage-collect. So if you duplicate keys for example this will lead to sufficient fragmentation of the shared memory and may significantly affect performance. As per original statements PMIx

[2016-11-04 01:14] artpol84 commented on #207
P.S. dstore may be improved to address mentioned issues but we need to decide if this use-case is worth to address.

[2016-11-04 23:55] artpol84 commented on #207
Today I tried on 2 of our 160-thread PPC machines and I see poor local Get performance observed on Intel is getting much-much worse on PPC so I guess that this is what causing your bad results.  I was testing just 2 nodes so the ratio of local Get's was really high which results in serious influence.
I guess it's time to find out why does it happens. I will check and get back to you.

[2016-11-05 01:43] artpol84 commented on #207
Ok, I found the reason of local/remote performance degradation and fixed it in #210 and #211. Now both local and remote access times are comparable (almost equal).

It seems like this bug was hiding from me the real performance of the dstore when I was originally measuring. Currently dstore outperforms messages for smaller core count (less than 160 per node) but it unfortunately it is slower on fu

[2016-11-05 02:40] rhc54 commented on #207
Might I suggest adding a README file to the performance tool directory that explains how to build and run the test? I'd be happy to give it a shot on my box, but I'm not sure I understand how you are building/executing the tests.

[2016-11-05 18:28] artpol84 commented on #207
I will provide the README asap

[2016-11-05 18:56] artpol84 commented on #207
I fixed the problem with local keys in #213 and #212.
With this fix I'm getting 70% improvement. Basically since number of local ranks is not increasing the data published earlier are still relevant but there is no local access anomaly.
For PPC the issue remains. For my configuration I have 2 nodes with 2 10-core POWER8 processors 8 thread each.
If I use 80 procs with per-node mapping and thread b

[2016-11-05 19:08] artpol84 commented on #207
This also can be a numa effect. I'll check it and get back to you.

[2016-11-06 02:28] artpol84 commented on #207
@rhc54 here you are - c926d8500d98f9e8de653aee5f58aa7e440b2a0a.
Let me know if you'll need more details (maybe just ping me in the hangout)

[2016-11-10 15:46] jjhursey commented on #144
@karasevb @artpol84 Any update on this issue?

[2016-11-10 16:52] karasevb commented on #144
@jjhursey final preparations to RP. Today will be presented.

[2016-11-10 21:37] karasevb commented on #144
@jjhursey sorry, need to fix some of the problems still, it will take some time.

[2016-11-21 18:48] artpol84 commented on #76
@rhc54
unfortunately this problem is back in v1.1.5 and v1.2.0. We sometimes observing it on our nightly OMPI MTT's.
@karasevb also was able to reproduce it with PMIx v1.2 and the smoky test from PMIx test suite.

[2016-11-21 18:52] artpol84 commented on #76
The link to the code above is outdated so I'm providing the patch here for the reference:

[code]

This piece of code exists in v1.1.5:
https://github.com/pmix/master/blob/v1.1/src/server/pmix_server.c#L1302:L1314
and v1.2:
https://github.com/pmix/master/blob/v1.2/src/server/pmix_server.c#L1342:L1353

[2016-11-21 21:30] rhc54 commented on #76
I doubt it ever "left" the v1.1/1.2 series as the problem was originally reported for master, and then tabled as we had reworked that code. I'll remove the errhandler code from the 1.1/1.2 series and just tie those APIs off as "not supported" since it is all busted anyway.

[2016-11-21 21:31] artpol84 commented on #76
You are right. I've should have checked other branches.
Thanks!

[2016-11-24 22:27] rhc54 opened #221 "Warnings: gcc extensions"
I'm getting a flood of warnings when building with clang that look like this:

[code]

We cannot use GNU extensions in the code as we must support a broad range of compilers. Can you please remove these?

[2016-11-29 15:25] jjhursey opened #224 "perf_tools on master needs to be updated"
The `perf_tools` on the `master` branch will fail because on how it uses (or not) the `PMIX_RANK_WILDCARD` in the `PMIx_Get` calls.

The `perf_tools` currently only works with the `v1.2` branch.

[2016-11-29 19:48] #144 closed

[2016-11-29 20:26] jjhursey commented on #207
I ran some perf numbers yesterday on a single machine with a version of PR #217
 * https://gist.github.com/jjhursey/fd2da90238f7fe3ce9fb0db3b93e7411

 * Memory footprint seems better, but get performance is still worse on ppc

[2016-12-03 17:18] rhc54 opened #230 "dstore breaks multiple-job launches"
In testing on the OpenMPI master, I have found that the dstore implementation does not support dynamic spawn operations, or launch of multiple jobs via the orte-dvm. The second job launched hangs after the job info has been delivered. Disabling dstore resolves the problem.

I have disabled dstore by default in the OpenMPI master pending resolution of this problem.

[2016-12-03 17:30] rhc54 commented on #230
Hold on - I'm seeing similar hangs now when dstore is disabled. Investigating.

[2016-12-03 18:26] rhc54 commented on #230
Okay, I've confirmed this was bogus - the problem was in session directory cleanup. Sorry for the noise.

[2016-12-03 18:26] #230 closed

[2016-12-06 15:34] #45 closed

[2016-12-06 15:36] #46 closed

[2016-12-07 01:59] kawashima-fj commented on #144
I re-evaluated the memory footprint as a follow-up of #129.

(c) Before "keeping job info in the dstor"
Open MPI master open-mpi/ompi@277c319 (26 Aug.) + PMIx 2.0a embedded in OMPI
(Same as (c) of [#129](https://github.com/pmix/master/issues/129#issuecomment-243115101))

![graph aug2](https://cloud.githubusercontent.com/assets/12043176/20951338/7facb2d2-bc68-11e6-9ccb-a272a54958fd.png)

(d) Aefore

[2016-12-07 02:39] jladd-mlnx commented on #144
@karasevb Well done!!

[2016-12-07 02:52] artpol84 commented on #129
@rhc54 @jjhursey I guess we can close this one now

[2016-12-07 02:52] #129 closed

[2016-12-07 02:53] artpol84 commented on #129
https://github.com/pmix/master/issues/144#issuecomment-265333180

[2016-12-07 08:00] igor-ivanov commented on #45
@artpol84 is it resolved?

[2016-12-07 08:43] artpol84 commented on #45
Yes, Jenkins is fully functional now. It's checking all test results. See Jenkins output.

[2016-12-08 07:40] igor-ivanov commented on #45
:ok_hand:

[2016-12-08 22:07] jjhursey commented on #204
There are some notes in Issue #144 related to this issue.

[2016-12-13 15:22] jjhursey commented on #207
Performance is good enough for v1.2. Additional improvements will likely go into the v1.2.1.

[2016-12-20 14:29] rhc54 commented on #221
Fixed

[2016-12-20 14:29] #221 closed

[2016-12-20 14:30] rhc54 commented on #109
These have been fixed

[2016-12-20 14:30] #109 closed

[2016-12-30 17:50] #204 closed

[2017-01-24 15:09] jjhursey commented on #207
Moving to v1.2.2 - I haven't had time to do more investigation yet, and probably won't until next week.

[2017-02-02 18:34] rhc54 opened #279 "SLURM plugin hangs"
We have a report that the SLURM plugin is hanging job launch, even for non-MPI jobs. This is SLURM release v16.05.8, built against PMIx v1.2.0.

When launched, the slurmstepd for the job gets stuck in an infinite loop calling ```sched_yield```. This is reportedly easily reproduced with:

[code]

Can someone please take a look and see if v1.2.0 is causing the plugin to break?

[2017-02-02 18:36] hjelmn opened #280 "PMIx dstore issue"
I am running into a problem with the version of PMIx currently in master. When I run with a large number of processes I get errors from pmix_esh.c. Examples:

[code]

The errors go away if I up the default segment size. I do not see this bug with Open MPI 2.x.

[2017-02-02 18:40] artpol84 commented on #279
We will check.
From my experience: I'm running the plugin with 1.2 all the time without issues.
Do you have any additional info?
Like have they tried plugin before, was other versions working for them?
You've said it's sched yield- so they have backtrace?

[2017-02-02 18:45] rhc54 commented on #279
I'm asking for more - this is from the OpenHPC guys. They are trying to update their SLURM version and add PMIx, but running into this problem. So they haven't tried anything before now.

They are building against the distro version of libevent, which is 2.0.21 and includes thread support, so that should be okay. They used strace to see the sched_yield calls - I've asked for a gdb backtrace.

[2017-02-02 18:47] rhc54 commented on #279
Here you go:

[code]

[2017-02-02 19:30] rhc54 commented on #279
Adding @JohnWestlund so we can directly interact

[2017-02-02 19:50] artpol84 commented on #279
Thanks, Ralph!

It seems that this is a problem of SLURM plugin and not PMIx.
According to the posted backtrace :
* the plugin stucks in the `p_mpi_hook_slurmstepd_prefork` which is called when `stepd` is initialized. Specifically it is waiting in `shed_yield` which is possible (not clear from `bt`, but I bet it's the first one):
  * here https://github.com/SchedMD/slurm/blob/master/src/plugins/mp

[2017-02-02 20:21] JohnWestlund commented on #279
@artpol84 Sorry about the symbols. We were asked to strip all our binaries. I'll look at getting an un-stripped build, and looking into `volitile` with those vars

[2017-02-02 20:25] artpol84 commented on #280
As per telecon we will add the env variable to enable runtime tuning of the segment size `PMIX_MCA_ESH_SEGMENT_SIZE`

[2017-02-02 22:57] artpol84 commented on #280
@rhc54, @hjelmn stated that this bug is not observed with Open MPI 2.x. I guess this means that 1.2 is not affected, isn't it?

[2017-02-02 23:02] artpol84 opened #281 "Different behavior for message and dstore in jobinfo"
@karasevb I noticed that we handle `PMIX_MAP_BLOB` key differently for message and dstore cases:
* in [case of dstore](https://github.com/pmix/master/blob/v1.2/src/common/pmix_jobdata.c#L275:L280) we store the key for the `PMIX_RANK_WILDCARD`
* while in [case of messaging](https://github.com/pmix/master/blob/v1.2/src/common/pmix_jobdata.c#L283:L304) we split and store for individual ranks.

This d

[2017-02-02 23:05] rhc54 commented on #280
Not quite true. Remember, OMPI v2.x branch currently has an older version of PMIx in it - it does not have the current dstore code. OMPI master, however, does have the current head of the dstore code. So once we update OMPI v2.x, this same problem is likely to be seen there.

[2017-02-02 23:11] artpol84 commented on #280
Ok.

[2017-02-02 23:45] artpol84 commented on #280
I may have found the reason. @hjelmn will check today.

[2017-02-02 23:52] artpol84 commented on #280
In short the reason was that we are using special service markers called extension slots that are represented as a service key-value in the dstore.
We have a macro called `EXT_SLOT_SIZE` to calculate the size that is necessary for this key-value to reserve enough space when adding a regulare key-values. It turns out that this macro had a `key` field in it allowing arbitrary key name to be used to

[2017-02-03 00:04] rhc54 commented on #280
Very kewl - thanks!

[2017-02-03 07:46] JohnWestlund commented on #279
Thanks @artpol84 . That's an improvement:
[code]

The executable launched now -- but I'm still seeing some weird behavior (my Slurm-foo is rusty, so this could just be pilot error). I'm launching the following C code:
[code]

But `MPI_Init` keeps bailing on me (gnu or intel with impi):
[code]

Falling back to mpiexec:
[code]

With openmpi or mvapich2 `num_procs` is always set to 1.

[2017-02-03 09:15] artpol84 commented on #279
@JohnWestlund good news! I'll file the fix to SLURM tomorrow.

Regarding your error. I remember when I was testing PMIx with MPICH few years ago I had to make sure that process mapping in ANL notation is available.
Today I was surprised to find that it's support was removed in 58de093e78d9a8900650d556d760502d374606f2 here in particular: https://github.com/pmix/master/commit/58de093e78d9a8900650d55

[2017-02-03 09:25] artpol84 commented on #279
P.S.
SLURM plugin [still provides this variable](https://github.com/artpol84/slurm/blob/master/src/plugins/mpi/pmix/pmixp_client.c#L568)
The code above is for PMI1 backward support. It seems like you use PMI1, according to the error message mentioning `PMI_KVS_Get`.

[2017-02-03 09:26] JohnWestlund commented on #279
Yes, this testing is over TrueScale

[2017-02-03 09:28] artpol84 commented on #279
Can you try plain MPICH also, so I'll be able to reproduce.
But I'm pretty sure that you need ANL key - so worth to try first.

[2017-02-03 09:33] artpol84 commented on #279
[code]
what version of OMPI? We don't see this for 2.x. Is this OMPI over PMI2? If so - i'm pretty sure it is ANL issue.

[2017-02-03 09:35] JohnWestlund commented on #279
Don't have `MPICH` in my stack at the moment. I'll see what I can do

Versions:
[code]

This has all been over TS

[2017-02-03 09:36] artpol84 commented on #279
Ok, OMPI 1.10 is over PMI2. So, again this is most probably missing ANL key.
Do you need my help with the patch, or it is straightforward?

[2017-02-03 09:41] artpol84 commented on #279
P.S. True Scale stands for the fabric, but I'm interested in Process Management mostly, so for me all of them are over PMI2 or PMI1 process management interfaces (PMI).
If PMI doesn't work well - you won't get endpoints and won't be able to use your fabric at the second step.

[2017-02-03 09:42] JohnWestlund commented on #279
yes -- sorry. I got PMI and PSM mixed up for a second

[2017-02-03 09:46] JohnWestlund commented on #279
Slurm BZ issue if you want to reference it in your fix: https://bugs.schedmd.com/show_bug.cgi?id=3440

[2017-02-03 09:50] JohnWestlund commented on #279
Re-adding the dropped code above to PMIx has no impact. I guess that was to be expected since we're not using PMI1

[2017-02-03 10:00] artpol84 commented on #279
But then you need to add it to PMI2 as well.

[2017-02-03 10:01] artpol84 commented on #279
I was confused by the output:
[code]
`PMI_KVS_Get` is a PMI1 function.

[2017-02-03 10:06] artpol84 commented on #279
PMI2 uses `PMI2_KVS_Get`. Can it be a stale output?
If you are sure that you are using PMI2 - the go ahead and add the code there. But note that it needs to be added for the different function:
https://github.com/open-mpi/ompi/blob/v1.10/opal/mca/common/pmi/common_pmi.c#L179

[2017-02-03 10:07] artpol84 commented on #279
Has to go here:
https://github.com/pmix/master/blob/master/src/client/pmi2.c#L487

[2017-02-03 10:13] JohnWestlund commented on #279
Output isn't stale. IMPI is from PSXE 2017U1. Like above openmpi and mvapich2 both "work" but they fail the assert in my testcase

[2017-02-03 10:16] artpol84 commented on #279
I noticed. By saying "stale" I meant that it says `PMI_KVS_Get` but actually it is a different function, for example `PMI2_KVS_Get` or `PMI2_Info_GetJobAttr`.

I will check tomorrow with MPICH. In the meanwhile it would be great if you can find out (if it is possible) on what key `PMI_KVS_Get` is failing, Also please clarify once again with what PMI you are using IMPI.

[2017-02-03 10:34] artpol84 commented on #279
One more thing to do in the meanwhile.
in pmix repo we have a perf test that uses bare pmix api:
https://github.com/pmix/master/tree/master/contrib/perf_tools
 can you try it as well, launch as MPI task. We may get more details if something will fail.
And if all will work fine - we will know that it is a problem with PMI1/PMI2 backward support.

[2017-02-03 16:43] rhc54 commented on #279
Just a FWIW: there has been some chat in various quarters about getting mpich and mvapich to work with the pmi-1/2 compatible interfaces in pmix. I agree that restoring the ANL map string would be required, but it won't be sufficient.

In the case of mpich, there are envars that also need to be provided - if missing, mpich will drop back to launching hydra. The mpich slurm plugin generates these,

[2017-02-03 17:47] JohnWestlund commented on #279
I'm out of town next week. Handing this off to @gdeisher

Thanks everyone.

[2017-02-03 20:08] artpol84 commented on #279
@rhc I was laughing MPICH with Pmix in 2015 so I believe it is possible and I don't recall any variables.
We will see.

[2017-02-03 20:11] artpol84 commented on #279
It was through pmi1

[2017-02-03 20:23] rhc54 commented on #279
ok, worth checking then and also wrt mvapich. i heard from some folks last week that were unable to launch mpich with pmix, but i don't know what combinations they were trying.

[2017-02-03 20:52] artpol84 commented on #279
I think we should close this issue as original problem was solved.
I'll open another one dedicated to PMI1/2 support.

[2017-02-03 20:52] #279 closed

[2017-02-04 00:56] JohnWestlund commented on #279
Thanks. Let @gdeisher and I know when you open the next issue

[2017-02-04 04:06] artpol84 opened #286 "Backward compatibility with PMI1/PMI2"
Original post by @JohnWestlund [here](https://github.com/pmix/master/issues/279#issuecomment-277184679) in issue #279.

The executable launched now -- but I'm still seeing some weird behavior (my Slurm-foo is rusty, so this could just be pilot error). I'm launching the following C code:
[code]

But `MPI_Init` keeps bailing on me (gnu or intel with impi):
[code]

Falling back to mpiexec:
[code]

Wi

[2017-02-04 04:07] artpol84 commented on #286
@gdeisher  @JohnWestlund

[2017-02-04 04:09] JohnWestlund commented on #286
Thanks. What would you suggest as next steps?

On Fri, Feb 3, 2017 at 20:07 Artem Polyakov <notifications@github.com>
wrote:

[2017-02-04 04:14] artpol84 commented on #286
* Try if bare PMx works in your environment as suggested [here](https://github.com/pmix/master/issues/279#issuecomment-277215768). Ping me if any questions.
* If possible try to increase the output of IMPI to print the key name that failed - this would help a lot.
* I will try with MPICH sometime next week.
* Reply to [this](https://github.com/pmix/master/issues/279#issuecomment-277212202)

[2017-02-04 04:16] JohnWestlund commented on #286
@QuackDoctor any thoughts on IMPI?

On Fri, Feb 3, 2017 at 20:14 Artem Polyakov <notifications@github.com>
wrote:

[2017-02-05 02:52] artpol84 commented on #286
@JohnWestlund @gdeisher PR #287 provides ability to run latest stable MPICH with SLURM/pmix.

**SLURM config**
[code]
Test program: [Open MPI ring_c](https://github.com/open-mpi/ompi/blob/master/examples/ring_c.c)

**MPICH 3.2 config (PMI1): config**
[code]
**MPICH 3.2 config (PMI1): Launch script**
[code]

**MPICH 3.2 config (PMI2): Launch script**
[code]

[code]

[2017-02-05 02:52] artpol84 commented on #286
Your turn :)

[2017-02-07 12:54] karasevb commented on #281
@artpol84
The difference has been entered in additional commit 32c93e2 of PR #217 for fixing functionality of `PMIx_Resolve_peers`  in dstor case.
I agree, it not look right. I'm fixing it.

[2017-02-07 22:01] jjhursey commented on #207
I tested with the current `v1.2` branch HEAD (https://github.com/pmix/master/commit/5fa9dec0e4d98008d1f7a41aaea797d16f223cbd + PR #292) and the performance is looking a lot better.

 * Used the `perf_tools` performance tool (args: `-c 10 -s 100`)
 * Testing using a ppc64le machine. Since node performance.
 * `CORE` 20 processes bound to core
 * `HWTHREAD` 160 processes bound to hardware threads

*

[2017-02-08 03:50] artpol84 commented on #281
@jjhursey I synced with @karasevb.
This is not a blocker. It needs to be fixed but I don't want this to delay 1.2.1

[2017-02-08 08:39] artpol84 commented on #280
We faced another problem that was reported [here](https://github.com/pmix/master/pull/282#issuecomment-277454198). Providing a copy here for the reference:
[code]

Here are 2 logs from the debugging session for the records:
[code]

[code]

[2017-02-08 08:44] artpol84 commented on #280
I will update with the precise analysis tomorrow.
The fix is in the PR #282

[2017-02-08 14:39] jjhursey commented on #281
That sounds fine. I'll move this to `v1.2.2` - if it makes it in time fore `v1.2.1` then we can consider bring it in.

[2017-02-09 01:12] artpol84 opened #295 "dstore/pthread locking brakes some SLURM configurations"
#273 and #274 broke slurm. This is a blocker. I'll PR shortly and update.

[2017-02-09 03:05] artpol84 commented on #295
@karasevb

[2017-02-09 17:08] artpol84 commented on #295
https://github.com/pmix/master/pull/298#issuecomment-278706258

[2017-02-09 18:32] artpol84 opened #299 "Test dstore and jobinfo"
During the course of solving https://github.com/pmix/master/issues/280 I modified our test suite to emulate a large system and pushing a tunable number of rank info's to the dstore.
I think it will be a good load test for the dstore in Jenkins, so we need to integrate this into our test suite.
My modification can be found here:
https://github.com/artpol84/master/tree/test_suite/master

**NOTE**: o

[2017-02-09 19:57] artpol84 commented on #280
I was able to reproduce locally:
[code]

Prerequisites:
* [My custom branch](https://github.com/artpol84/master/tree/test_suite/master) that has modified test suite which has and option of emulating large-scale job data (see #299 for more info).
* Patch below should be applied to it to emulate exact situation described in https://github.com/pmix/master/pull/282/commits/797e0a3fa99abee01785825fd5d8

[2017-02-09 20:04] artpol84 commented on #280
Conclusion: the problem was correctly identified and fixed

[2017-02-09 21:39] jjhursey commented on #280
@artpol84 So #282 and #284 are ready to merge then, right?

[2017-02-09 21:40] artpol84 commented on #280
double-checking them now as we agreed on telecon

[2017-02-09 22:43] jjhursey commented on #280
PRs #282 and #284 are merged in. I think this issue can be closed now. @hjelmn If you want PR #289 to be included in `v1.2` as part of this issue let us know.

[2017-02-09 22:43] #280 closed

[2017-02-10 22:47] jjhursey commented on #295
PRs #289 and #300 should have addressed this issue and have been merged in.

[2017-02-10 23:00] #295 closed

[2017-02-14 22:38] rhc54 commented on #286
@JohnWestlund @gdeisher @QuackDoctor where do we stand on this? Looks like @artpol84 has fixed things so far as we can test - can you please verify for OHPC so we can close this?

[2017-02-16 04:22] JohnWestlund commented on #286
@gdeisher is getting spun up and has the latest status.

Last I looked at the things the issue of slurmstepd spinning was resolved but there was still no luck getting MPI binaries to function correctly using slurm and pmix.

From: Ralph Castain [mailto:notifications@github.com]
Sent: Tuesday, February 14, 2017 2:39 PM
To: pmix/master <master@noreply.github.com>
Cc: John Westlund <john@westlund.us>

[2017-02-22 20:08] artpol84 opened #316 "PMIx_Get logic refactoring in v1.2.2"
We need to port https://github.com/pmix/master/pull/285 to v1.2 because the current version has performance bug causing double-search in dstore in case the key is missing.
I noticed that while tracking down https://github.com/open-mpi/ompi/pull/3011.
`OPAL_PMIX_LOCALITY` keys were defined only for the local procs, for all other procs it calls dstore_fetch twice:
* https://github.com/pmix/master/bl

[2017-02-22 20:09] artpol84 commented on #316
@jjhursey

[2017-02-23 17:36] jjhursey commented on #207
I finally had a chance to re-run the original code, and still see the performance issue. I have some notes on improvements at the bottom, and a benchmark code that might help others test.

# Original MPI/PMIx Application

First some numbers from the original code - I'm running with this rank/map/bind:
[code]
on a ppc64le machine with 20 cores and 8 hwthreads per core [so 160 procs would put one pe

[2017-02-23 17:52] rhc54 commented on #207
Perhaps the problem here is that we are locking at too great a scale. There is no reason to lock the entire dstore whenever we update or add one data element. If we lock only at the level of a given proc's data, or even better at the individual data element, I suspect the penalty would go away? After all, there is no need for a lock on data that has been completely output.

[2017-02-23 18:44] rhc54 commented on #207
Just going thru this code, there are some obvious inefficiencies (or maybe I'm just not understanding the intent). We seem to be packing a buffer when storing info into dstore, which makes no sense since we already had the buffer and could just save it, if that's the intent - when it comes to job-level data, there is no reason to separate it out by rank. We are also using a value array (instead of

[2017-02-23 19:37] jjhursey commented on #207
I'd like to get the `PMIx_Get` path more streamlined for data that is already in the dstore - which is the common case for this benchmark. dstore grabs a read lock every time is searches for a key. I can devise a way to reduce the contention, but if we can eliminate the need for the read lock that would be ideal.

My assumption is that writing (via `put`, `fence`, `commit`) is a relatively rare oc

[2017-02-23 19:38] artpol84 commented on #207
@rhc54 I think that the main problem here is thread shifting: ~100ms for _esh_get vs ~500 overall.

[2017-02-23 19:39] artpol84 commented on #207
:+1: for @jjhursey suggestion about fast search. Add some internal locking to protect that bet do that.

[2017-02-23 19:41] rhc54 commented on #207
@jjhursey I looked at your suggestion, but it may not work in the current architecture due to threading issues. Adding pthread_locks is a bad idea at this point. If libevent is the problem, then let's get @hjelmn's customized event library instead of revamping the architecture.

[2017-02-23 19:44] artpol84 commented on #207
I think that thread-shifting will be the issue with any even lib at max PPN where all hw-threads are busy. We can certainly try though.

[2017-02-23 19:53] artpol84 commented on #207
Locking overhead is a known thing:
https://github.com/pmix/master/pull/273#issuecomment-275944934

This column of my benchmark was showing that:
[code]
This is a number of locks/s

[2017-02-24 06:33] artpol84 commented on #207
I slightly changed my locking perf benchmark (https://github.com/artpol84/poc/commit/c0ed956857a295d46d74e3aa54eb3d9ae398ce86) making each reader to do as much locks as possible:
[code]
`RO:lk/s` shows number of locks per second for the Read-Only test. max is 8715 which means ~114us per lock/unlock cycle. This is almost consistent with what @jjhursey was observing, I guess in his case contention w

[2017-02-24 06:43] rhc54 commented on #207
After talking with @hjelmn, I'm going to bring over the OPAL atomics as they are a great deal faster. I'm still working on the framework for this, but it may take me a little longer than hoped as we have to account for backward compatibility.

[2017-02-24 07:00] artpol84 commented on #207
Here is the result of the same run but with each reader taking its own lock:
[code]

This is `625558  / 8715 = `71x improvement and it would be easy to implement.
I was planning to use atomics + conditions as a next step so having them available would be a good thing. The implementation will be more complicated though. So I suggest to optimize step-by step.
I'll create a PR with independent locks

[2017-02-24 07:02] artpol84 commented on #207
Also I think that atomics will be good for the independent lock implementation as well, so looking forward to see them in pmix.

[2017-02-24 07:10] artpol84 commented on #207
as the baseline here is the same run with no locks:
[code]

[2017-02-24 17:41] bosilca commented on #207
Just a side note: we have noticed a significant improvement in the built-in atomic performance with gcc 6.2. In OMPI at least this puts us on sync with our own atomic support.

[2017-02-24 23:29] artpol84 commented on #207
@jjhursey I have some analysis related to your experiments.

The main difference between `pmix_perf` and your app is that you are doing Fences without data collection, while `pmix_perf` does that:
* In your app [info is set to NULL](https://gist.github.com/jjhursey/e7825cbf9dd68f810181cc5ed92c5f38#file-pmix_get_test-c-L49) and it never being set to anything else.
* in `pmix_perf` we [explicitly sa

[2017-02-25 00:48] artpol84 commented on #316
@karasevb please fix ASAP.

[2017-02-25 00:52] artpol84 commented on #207
@jjhursey @gpaulsen
I checked recent OMPI v2.x and data collection flag seems to be on:
[code]
However I guess that Spectrum MPI may have different defaults. Can you comment?

[2017-02-25 02:54] jjhursey commented on #207
@artpol84 Thanks for the notes.
 * I'll try changing the `PMIx_Fence` and see if it helps. I think the full modex makes sense for this app.
 * We are not necessarily preconnecting everything in startup, but we are collecting all of the connectivity information at the moment.
 * In SMPI the default for `pmix_base_collect_data` is the same as OMPI.

[2017-02-25 02:57] artpol84 commented on #207
Do you remember why you were using empty fence in your reproducer?

[2017-02-25 06:33] artpol84 commented on #207
Followup:
* @jjhursey I think that the times that we were considered as thread-shifting can sometimes include time to request remote rank blobs which is expected to have higher delays.
* The `500` -> `185` improvement when you implemented direct access without thread-shifting needs further analysis as I'm not quite understand why you gain improvement from that, but I haven't seen the code.
* Howev

[2017-02-25 14:25] jjhursey commented on #207
All numbers below the `Benchmark Application` header were from the benchmark that I posted. That way folks can try to reproduce.

[2017-02-25 14:37] artpol84 commented on #207
I didn't get the last comment.
 If this is with respect to my comment about '500 -> 180' optimization, then I meant that I haven't seen the optimization code in PMIx.

[2017-02-25 14:40] artpol84 commented on #207
If this was with respect to
'Do you remember why you were using empty fence in your reproducer?'

Then I meant that it seems that you were trying to keep your reproducer close to SMPI pattern, so the fact that you used Fence without data collection may mean that there was no such flag in SMPI, or otherwise it may be just a typo.

[2017-02-26 00:04] artpol84 opened #320 "dstore: keep track of the proc data stored in the dstore."
Analysis of the direct-modex performance of the dstore (https://github.com/pmix/master/issues/207, in particular https://github.com/pmix/master/issues/207#issuecomment-282433672) shows that there is some inefficiency there.

Looking through the server-side get logic I've noticed that the following race condition is possible:
* client1 searches dstore and doesn't found info about the procX.
* clien

[2017-02-26 00:06] artpol84 opened #321 "PMIx v1.2.1 is incompatible with 1.2.0"
@jjhursey @rhc54 @karasevb @dsolt
I just realized that introduction of pthread-based locking broke backward compatibility with 1.2.0.
We still have flock-based locking in 1.2.1 but it is disabled by default. I'm not sure what is the best way to handle that. We need to discuss this on the telecon.

[2017-02-27 15:00] jjhursey commented on #207
I re-ran the performance measurement changing the one `PMIx_Fence` to be a full modex. That helped performance quite a bit.

Here are the updated numbers from the application.

### 32 nodes x 20 ppn = 640 processes

Direct modex (original results)
[code]

Full modex
[code]

### 32 nodes x 80 ppn = 2560 processes

Direct modex
[code]

Full modex
[code]

### 32 nodes x 160 ppn = 5120 processes

Dire

[2017-02-27 15:00] #207 closed

[2017-03-06 17:26] artpol84 commented on #224
Closet through #243

[2017-03-06 17:26] #224 closed

[2017-03-06 17:27] artpol84 commented on #57
Closed through
https://github.com/pmix/pmix/pull/287
https://github.com/pmix/pmix/pull/288

[2017-03-06 17:27] #57 closed

[2017-03-06 17:28] artpol84 commented on #286
@JohnWestlund @gdeisher any updates on this?

[2017-03-19 12:46] asylvest commented on #74
@rhc54 are there any docs / examples out there of using PMIx with Open MPI 2.0?  I haven't been able to find anything.

[2017-03-19 18:42] rhc54 commented on #74
I'm not sure exactly what you are looking for - perhaps you could give me an example of what you are trying to do? PMIx is used internally to OMPI 2.x, so there isn't anything you need to "do" to use it in that respect. Did you want to directly call some of the APIs from your app?

[2017-03-19 20:47] asylvest commented on #74
High level my use case is I'm trying to start up some kind of process manager / server on some machine, have a number of processes all running on separate machines connect to it, then create an intracommunicator and start making MPI calls like normal (I'm using OMPI 2.x).  Obviously normally you would do this with an `mpiexec` that lists all the hosts up front, but I'm trying to use Mesos where I

[2017-03-20 15:14] rhc54 commented on #74
Transferring this to https://github.com/open-mpi/ompi/issues/3211

[2017-03-23 19:09] jjhursey opened #337 "PMIx_Abort hang possibility"
See PR #336 for details on the change that went to `master`. A similar fix will need to be investigated for `v1.2.3`

[2017-03-30 17:24] artpol84 commented on #321
Per telecon - this is OK, because for now - one supposed to use same client and server from the same version, API hasn't changed.

[2017-03-30 17:24] #321 closed

[2017-03-30 17:25] artpol84 commented on #286
@JohnWestlund @gdeisher any updates on this?

[2017-04-06 19:00] jjhursey opened #347 "Modex occasionally misses a key, success on retry"
Occasionally a `PMIx_Get` call will return key not found, then if you try again immediately it will find the key. This has been seen in the following locations in Open MPI `v2.x`:
 * `OPAL_PMIX_LOCAL_RANK`
    - https://github.com/open-mpi/ompi/blob/v2.x/orte/mca/ess/pmi/ess_pmi_module.c#L140-L141
 * `OPAL_PMIX_UNIV_SIZE`
    - https://github.com/open-mpi/ompi/blob/v2.x/orte/mca/ess/pmi/ess_pmi_mo

[2017-05-09 17:22] dsolt opened #363 "dstore code is closing file descriptor 0 which I don't think is really its fd."
(gdb) print *s
$24 = {in_use = 1, jobuid = 34250, setjobuid = 0 '\000',
  nspace_path = 0x7f4c4000b4d0 "/tmp/pmix_dstor_10632",
  lockfile = 0x7f4c4000b560 "/tmp/pmix_dstor_10632/dstore_sm.lock",
  rwlock_seg = 0x7f4c4000c5d0, rwlock = 0x7f4c56dac000, lockfd = 0,
  sm_seg_first = 0x7f4c4000b590, sm_seg_last = 0x7f4c4000b590}
(gdb) print s->lockfd
$25 = 0
(gdb) bt
#0  0x00007f4c55b06260 in close ()

[2017-05-18 14:36] #363 closed

[2017-06-02 14:49] rhc54 commented on #347
Ah, very good indeed! Thanks!

[2017-06-07 01:58] jjhursey commented on #347
Fixed in `master` in PR #386, will be fixed in `v1.2` in PR #387 - at which point this ticket will close.

[2017-06-08 16:30] jjhursey commented on #347
Fixed in master in PR #386 (also in v2.0), and v1.2 in PR #387. Will be in upcoming release of both branches.

[2017-06-08 16:30] #347 closed

[2017-06-17 04:07] rhc54 opened #403 "Thread safety issues - hangs and segfaults"
This is to track a shift from the OMPI issue: https://github.com/open-mpi/ompi/pull/3696

[2017-06-17 04:23] rhc54 commented on #403
@jjhursey @artpol84 @ggouaillardet

I modified and added @jjhursey's test program in https://github.com/pmix/pmix/pull/404. It now loops over simptest, executing 2 simpclients, for 2000 iterations. Simpclient looks like a simple version of what we do in OMPI (see below).

I have now successfully run the entire 2000 iteration loop multiple times without hitting a single segfault or hang. Would you

[2017-06-17 18:44] rhc54 commented on #403
I've now run a test with 20,000 iterations, each running 20 client procs - without any sign of a failure or hang. I'll try adding in the self-notication, but I am increasingly convinced the problem is in the opal/pmix2x integration layer.

[2017-06-27 11:10] gh-javier opened #413 "munge auto-detect"
Thanks for the software. I was recompiling Open-MPI 2.1.1 on a cluster with Torque (and munge) installed and I noticed that Open-MPI auto-detects munge, but PMIx doesn't.
<pre>
    ./configure
    ...
    *** Configuring MCA for <b>opal</b>
    checking for frameworks for opal... common, allocator, backtrace, btl, dl, event, hwloc,
    if, installdirs, memchecker, memcpy, memory, mpool, patcher, <

[2017-06-27 13:36] rhc54 commented on #413
We debated in the community about auto-detecting munge, and eventually decided not to do so. Some of the resource managers objected because munge happened to be installed, and suddenly they found themselves using it without intending to do so.

I'm actually surprised OMPI is doing so - I suspect it was introduced in the opal/sec framework which has since been removed.

I'll fix that typo - thanks

[2017-06-27 13:39] rhc54 commented on #413
I've alerted the OMPI folks about the VERSION issue - thanks again!

[2017-06-27 13:39] #413 closed

[2017-06-30 19:33] rhc54 commented on #403
This has now been fixed.

[2017-06-30 19:33] #403 closed

[2017-06-30 19:34] rhc54 commented on #190
This has been fixed by "de-bouncing" the event notification during finalize

[2017-06-30 19:34] #190 closed

[2017-06-30 19:35] rhc54 commented on #54
Pretty sure we have this licked now - if not, we can open another issue with specific problems.

[2017-06-30 19:35] #54 closed

[2017-06-30 19:37] rhc54 opened #414 "dstore returns garbaged keys on multi-node modex"
There is a problem in the dstore support. When the fence stores its data and then the client tries to read it, the keys are garbage. It all works if I restrict pmix to using the "hash" GDS component. Can you please take a look?

I think one possible problem may be that we release the pmix_kval_t after we call "store". The "hash" component does a PMIX_RETAIN on it, and so this ensures proper refere

[2017-07-09 01:30] artpol84 opened #425 "gcc builtin acquire/release do not work as expected"
I'm observing similar to https://github.com/pmix/pmix/issues/347 behavior on my x86_64 linux machine.
The reason seems to be that gcc builtins was selected as atomic implementation. In this case following functionality is used to ensure that memory is in sync state:
https://github.com/pmix/pmix/blob/master/src/atomics/sys/gcc_builtin/atomic.h#L55:L63

According to the documentation (https://gcc.gn

[2017-07-09 02:36] rhc54 commented on #425
Probably worth reporting this as an OMPI issue as the atomics in PMIx are simply a copy of the ones developed over there.

[2017-07-09 02:56] artpol84 commented on #425
Yes, I'm going to do that.
But I want to double-check first that this is a root cause - I replaced mentioned gcc barriers with x86_64 implementation and restarted the test. It takes up to 7K iterations to reproduce.

[2017-07-09 18:33] artpol84 commented on #425
I spoke too soon. On x86_64 pthread barrier has the same effect as
[code]
This instruction also turns to noop but it instructs compiler not to do instruction reordering. The same effect comes from pthread primitives.
My mistake with the experiment above was that I considered those primitives without any context around them. I tried with 2-threaded application and compared ASM codes for no-op, asm

[2017-07-09 19:28] artpol84 commented on #425
I've fixed the test suite in #422. And PR'd to other branches. I'll close this issue once they are merged.

[2017-07-09 19:29] artpol84 commented on #425
One thing is still concerning - the disclaimer at gcc builtins saying that this is not guaranteed to work with non-atomic operations.

[2017-07-09 19:35] artpol84 commented on #425
Also it may make sense to unify the part that deals with memory barrier things and not expose it to user to avoid problems. `PMIX_WAIT_FOR_COMPLETION` already considers this aspect but it is not right to rely on user to structure his callback to match `PMIX_WAIT_FOR_COMPLETION`.

[2017-07-09 21:23] rhc54 commented on #425
We definitely should do that - let's talk this week about what needs to be done. Also, let's chat with Nathan at the meeting about the disclaimer.

[2017-07-09 21:26] artpol84 commented on #425
Sounds good!

[2017-07-14 13:01] rhc54 commented on #425
rats - did you get a chance to discuss this with @hjelmn ? Is this a problem in OMPI as well?

[2017-07-20 19:24] rhc54 commented on #414
Fixed by 4714f20f3b598fb96603162275956188568941d1

[2017-07-20 19:24] #414 closed

[2017-07-20 19:25] rhc54 commented on #286
I have verified PMI-1 and PMI-2 operations, and Argonne confirms as well.

[2017-07-20 19:25] #286 closed

[2017-07-20 19:26] rhc54 commented on #119
Tests show that multi-put operations are working. I'm going to close this as we can always look separately at possible optimizations.

[2017-07-20 19:26] #119 closed

[2017-07-20 19:31] rhc54 opened #430 "Check dstore backwards compatibility for v1.2 series"
The shared memory locking changed at some point in that series. We may therefore need a separate component that allows the server to support procs from the earlier locking scheme, and need to update the selection logic so we know when to use it.

First should check to see if/where the breakage occurs.

[2017-07-20 19:31] rhc54 opened #431 "Add v1.2 usock component for backward compatibility"

[2017-07-20 19:32] rhc54 opened #432 "Implement v1.2 bfrops component for backward compatibility"

[2017-07-21 13:45] karasevb opened #434 "Performance degradation 2.1 against 2.0"
There are results of PMIx perf tools, measured for versions 2.1 (master) and 2.0 for messages and dstore. The results show an increase memory consumption and an increase timings for PMIx v2.1 as for `message` and for `dstore`.  All tests were got on 4x16 ppn.

![image](https://user-images.githubusercontent.com/17932065/28464540-eb073f0e-6e4f-11e7-8de2-0cd7e82e80e2.png)

[2017-07-21 13:49] rhc54 commented on #434
Interesting. The memory footprint is, of course, the bigger concern because of the enormous jump. There is some overhead of using components instead of direct code, but nowhere near enough to account for that difference.

Any thoughts?

[2017-07-21 14:17] karasevb commented on #434
The `dstore` looks like it does not work correctly, because memory has grown strongly. I have no supposition now, this requires investigation.

[2017-07-21 16:54] artpol84 commented on #434
Our plan was:
1. Make it work
2. Do the perf optimization.
We shifted to the phase 2 now.

[2017-08-10 17:46] jjhursey opened #453 "PGI Compiler libevent pthread check"
If libevent is built with a non-PGI compiler then PMix can error out during a build looking for the `-pthread` option instead of `-lpthread`. The work around is to build PMIx against a version of libevent that was built with PGI.

We should investigate if we can add an easy configure check to error out in configure with a helpful error message. Note that Open MPI might also need a similar check in

[2017-08-14 09:46] karasevb commented on #434
There are updated results:
![image](https://user-images.githubusercontent.com/17932065/29266021-5be6bbb2-810d-11e7-9fcc-6899f7b97660.png)
As seen, the footprint problem of v2.1 was addressed. Oldest measure of `375498.75` Kb was reduced to `44682.85` Kb, that looks like as for v2.0.
The latest measurements was did with included of PRs: #439, #461

[2017-08-14 09:51] karasevb commented on #434
@artpol84 @rhc54
Can we close an issue?

[2017-08-14 14:00] artpol84 commented on #434
Thanks @karasevb .
However all performance characteristics are worse compared to v2.0. We need to keep this issue until we resolve all of them.

[2017-08-14 14:08] artpol84 commented on #434
Please, provide comparison to v1.2.1 as well.

[2017-08-15 00:22] ggouaillardet commented on #453
a similar issue was reported but with ```libpmi.so``` provided by slurm.
should we simply hack the generated configure and remove the ```-pthread``` flag if ```PGI``` compiler is used ? (i do not have a clear recollection, but i might have implemented a similar trick for ```NAG``` fortran compiler)

[2017-08-15 09:03] karasevb commented on #434
There is results for v1.2:
![image](https://user-images.githubusercontent.com/17932065/29305527-5da4e152-81c3-11e7-908a-0a3aca401622.png)

[2017-08-17 19:05] artpol84 commented on #281
@karasevb what is the status of this?

[2017-08-17 19:07] artpol84 commented on #316
@karasevb what is the status?

[2017-08-17 19:10] jjhursey commented on #299
Any update on this? Can it slip to v1.2.4?

[2017-08-17 20:33] artpol84 commented on #299
Yes, definitely it can slip.

[2017-08-19 22:53] rhc54 opened #478 "PMIx v2.0.1 is not compatible with PMIx v2.1 - and probably not v2.0.0 either"
We have a handshake issue during client-server connect where values are being sent/recvd in different order between the two versions. We also have issues between the pack/unpack routines due to a change in definition of pmix_data_type_t, values of pmix_cmd_t, and possibly a few other places.

The problem is that PMIx v2.0 is really PMIx v1.2 with a few new APIs and the ptl/tcp component. Thus, man

[2017-08-20 00:43] rhc54 commented on #478
I have confirmed that 2.0.0 and the current 2.0.1 are not binary compatible (160993 is the server):
[code]

[2017-08-20 17:10] rhc54 commented on #478
Correction: the current head of 2.0.1 is binary compatible with 2.0.0. PR #477 breaks that compatibility, but makes 2.0.1 more compatible with 2.1.0.

So I think the only real path forward here is to drop #477, leave 2.0.1 as-is, and then deal with that problem in the 2.1.0 cross-version support. We may also want to rename 2.1.0 as 3.0 since it represents a break in ABI (even though the API might

[2017-08-22 14:04] jjhursey commented on #478
We should talk through this on the teleconf just to make sure we are all on the same page.

I agree with your last comment.
 * Leave 2.0.1 as-is and binary compatible with 2.0.0. Good for bug fix release.
 * Take #477 into 2.1.0 with the necessary handshake for cross version support.
 * According to our versioning guidelines this would still be a `2.1.0` and not a `3.0` since it does not change th

[2017-08-26 03:20] rhc54 commented on #434
I found the source of at least some of this performance issue. In v2.1, we cannot cache the job-level info in a packed buffer because we do not know in advance the GDS component that the client will be using. So we use a GDS function to cache the job-level info in the server's hash component.

When the first client from that job connects to the server, we determine which GDS component shall be use

[2017-08-31 01:47] rhc54 opened #494 "dstore issues on OMPI master"
https://mtt.open-mpi.org/index.php?do_redir=2479

Any thoughts? This is PMIx master, though somewhat out-of-date (pre-cross-version commits)

[2017-08-31 06:16] artpol84 commented on #494
This is most probably comes from fallocate:
https://github.com/pmix/pmix/blob/master/src/mca/pshmem/mmap/pshmem_mmap.c#L83
Do we know for sure that the target systems storage is not overwhelmed?

[2017-08-31 14:02] rhc54 commented on #494
There is no reason for it to be running out of memory unless we are failing to release the shmem region when a job completes. Loop spawn generates about 1000 jobs, but only one runs at a time. When we see problems like this, it usually means that some resource isn't getting cleaned up at job completion.

[2017-08-31 16:09] artpol84 commented on #494
I there a way to get more details?

[2017-08-31 16:13] rhc54 commented on #494
Have you tried running it locally? It might replicate.

@bwbarrett This is failing on AWS - can we dig deeper there?

[2017-08-31 16:22] artpol84 commented on #494
No I didn't. I'm just trying to get as much info as possible before starting to be more efficient.

[2017-09-01 22:34] rhc54 commented on #478
Cross-version support (minus dstore) is now committed.

[2017-09-01 22:34] #478 closed

[2017-09-01 22:43] rhc54 opened #498 "dstore compatibility between v2.1 and v2.0"
I've done a little light testing of v2.1 vs v2.0 dstore, and the two appear to be incompatible. If I set PMIX_DEBUG=20 and PMIX_MCA_gds_base_verbose=20 in the environment, and then run a v2.1 server with a v2.0 client, I get the following:
[code]

Note that the PMIx_Get failed in dstore as it believes it has no data for the given nspace. I see that the request for job-level info was received by th

[2017-09-03 20:52] rhc54 commented on #498
I'm afraid I will have to turn the dstore problem over to @karasevb and @artpol84 to investigate. I have found that the initial problem shown above was due to hard-coding of the client to using the "hash" component when connecting to the server. When I remove that and allow ds12 to be selected, there is a problem with unpacking the info on the v2.0 client's side:
[code]
Just glancing at the v2.0 c

[2017-09-06 12:26] angainor opened #500 "rpmbuild --rebuild fails"
Sorry, if that is naive/redundant - I'm not a RedHat expert, and I haven't found any posts describing this problem with PMIx. I can't build RPMs on CentOS Linux release 7.3.1611 (Core):

`rpmbuild --rebuild pmix-2.0.1-1.src.rpm`
`[...]`
`File not found: /nird/home/marcink/rpmbuild/BUILDROOT/pmix-2.0.1-1.x86_64/etc`

Adding creation of /etc to the spec file helped, i.e., the RPMs have been created:

[2017-09-06 14:55] rhc54 commented on #500
I'm no rpm expert either, but I do believe this is likely a bug. Let me poke a bit

[2017-09-06 15:57] rhc54 commented on #500
@angainor Could you please try the referenced PR and see if I captured this correctly?

[2017-09-07 07:38] angainor commented on #500
Ralph, thanks for a quick answer! I've looked into this a bit more. With the change I've posted the rpm builds, but there is another problem. The archive 'provides' the following directories, in addition the files they contain:
[code]
Those are basic system paths, and as such are already provided by another RPM (on my system it's the `filesystem` package). In addition comes the `/etc` directory, w

[2017-09-11 12:27] angainor commented on #500
@rhc54 Not sure, if you got my previous report from 4 days ago. Please have a look if changes in that comment seem to make sense.
Thanks!
Marcin

[2017-09-12 21:58] rhc54 commented on #500
Sorry about that - yes, I did see your note. Afraid I've been rather busy chasing something else down and hadn't had a chance to address it.

My concern would be how this impacts install into a non-standard location where the directories don't already exist. In such a case, which isn't uncommon, we do have to make the directories. Frankly, I'm surprised that the RPM system isn't smart enough to av

[2017-09-12 23:56] rhc54 commented on #500
Sure enough, they updated the spec file a few months ago for exactly this problem. See #501 as I updated the spec file there.

[2017-09-13 16:05] abouteiller commented on #500
I came to report that same bug. Are you making a release 2.0.1-2?

[2017-09-13 16:31] rhc54 commented on #500
Yes, once we get this correct and add one other bug fix

[2017-09-13 17:34] #500 closed

[2017-09-13 18:41] abouteiller opened #512 "rpmbuild -ta does not work"
Issuing `rpmbuild -ta pmix.tar.bz2` fails with an error about `$VERSION`:

The offending lines in the .spec file are found here
`Version: $VERSION
Source: pmix-%{version}.tar.$EXTENSION`

In the source RPM, these are substituted to actual constant values, but the contrib/pmix.spec file still has these values unsubstituted.

[2017-09-13 18:43] rhc54 commented on #512
I'm not an rpm guy, so any suggestions on how to fix it would be appreciated.

[2017-09-14 11:16] angainor opened #513 "mpiexec.hydra not working with pmix"
I have a lot of trouble running Intel MPI with home builds of PMIX and slurm. I'm running Centos 7.3, which comes with an old pmix-1.1.3. We also have a locally compiled slurm 17.02.7.

Using the PMIX build provided in the Centos repos, I can run this from within a slurm allocation:
[code]
where `test` is any mpi program compiled with Intel MPI, calling `MPI_Init`. I'm happy with the above because

[2017-09-14 11:23] karasevb commented on #434
There are new results regarding PR #509. The scope of test is 31x20ppn.
![image](https://user-images.githubusercontent.com/17932065/30426285-ab32e2e2-9975-11e7-85fa-897b005c40c8.png)

These two tables show the memory consumption on the server side of the test per node in Kb. The total reduced for `dstor` is 148 467Kb, and for `msg` 69 987 Kb.
![image](https://user-images.githubusercontent.com/1793

[2017-09-14 14:06] angainor commented on #513
Dear all,

Sorry for the noise, things got a bit clearer now. The problem was the following export:
[code]
With the stock RPMs, the .so lib is in the -devel package, which was not installed on compute nodes. Hence, `I_MPI_PMI_LIBRARY` pointed to a non-existent file. What happens in such case - I don't know, but clearly mpiexec.hydra worked fine, but if I set this variable to `/usr/lib64/libpmix.so

[2017-09-14 15:46] rhc54 commented on #513
Sadly, things aren’t that simple. We probably should provide more clarity on the wiki.

The PMI1/2 compatibility provided by PMIx allows a client calling those functions to interact with a PMIx server. The PMIx architecture is based on a client-server method - thus, the data exchange is accomplished by the server.

MPICH (and therefore, Intel MPI) is based on having the application procs themselve

[2017-09-14 17:53] angainor commented on #513
Ralphs, thanks a lot for this explanation - all clear now when it comes to PMIx (I think ;)

One observation is still not obvious, but I'm not sure whether this is a PMIx, or a slurm peculiarity. When I install 'your' rpm with the `/usr/lib64/libpmix.so` link, I can run - as expected:
[code]
However, from your explanation I understood that I should also be able to run with PMI2:
[code]
Strangely,

[2017-09-14 18:19] rhc54 commented on #513
Yes, this should work. Your “test” program is using PMI2 calls, which the PMIx library is translating. The --mpi=pmix flag tells slurm to use the PMIx plugin (instead of the pmi2 one), and so both sides match.

No, this won’t work. The problem is that “test” is still using the PMIx library to translate PMI2 calls to PMIx protocols, but slurm is now using the PMI2 plugin that only understands the s

[2017-09-14 18:38] angainor commented on #513
No, this won’t work. The problem is that “test” is still using the PMIx library to translate PMI2 calls to PMIx protocols, but slurm is now using the PMI2 plugin that only understands the slurm pmi2 library protocol.

But what would cause `test` to automatically use the PMIx library? `test` is not linked against PMIx itself: I think the Intel compiler knows nothing about it since I didn't use any

[2017-09-14 18:43] rhc54 commented on #513
Ah, sorry - I didn’t get that from your prior note. If you are indeed pointing the envar at slurm’s library, then it should work as Intel MPI will dlopen whatever the envar points at. Might be good to check that you do indeed have that envar pointing to the right lib.

Only other possibility I can think of is that slurm is resetting that envar - you could easily check that by just “srun --mpi=pmi2

[2017-09-14 18:59] angainor commented on #513
Bingo! and a very nice trick :) It is indeed overwritten by '/usr/lib64/libpmix.so'.

All mysteries solved, thanks a lot!

[2017-09-14 21:03] abouteiller commented on #512
pull request #515

[2017-09-14 22:57] rhc54 commented on #513
Just as an FYI: that sounds indeed like a SLURM bug. If you specify --mpi=pmi2, then the pmix SLURM plugin should be inactive and there is no valid reason for SLURM to overwrite your I_MPI_PMI_LIBRARY envar to point at libpmix.

@artpol84 @karasevb Can you please look into this?

[2017-09-15 00:09] #512 closed

[2017-09-15 05:05] angainor commented on #513
@rhc54 This can also be our local configuration - I want to talk to our slurm expert here before other people get involved in a non-existent problem. Thanks a lot for the help!

[2017-09-15 19:26] angainor commented on #513
@rhc54 FYI, we have indeed set this variable ourselves - a leftover after fixing another problem. So I've been chasing my own tail here a bit. Thanks for your input, I would struggle with this much longer.

Unfortunately, I can't test whether all works since today our system experienced a massive DDN failure and is resting for at least a few days. I will report next week once I've managed to get t

[2017-09-18 21:08] rhc54 commented on #498
The above problem with dstore between version v2.1 and v2.0 remains:
[code]
. @karasevb @artpol84 can you please give us an estimate for when you will address it? We would like to release v2.1 in the next two weeks, and would prefer not to do so with dstore disabled.

[2017-09-19 02:31] karasevb commented on #498
@rhc54 I plan to do it this week

[2017-09-19 03:07] rhc54 commented on #498
Thanks - truly appreciated!

[2017-09-19 20:03] artpol84 commented on #494
@bwbarrett if I understood @rhc54 correctly this issue is most probably related incorrect session directory cleanup.
Is it possible to recursively get the full list of the files left in the /tmp directory to see what was left?
We going to try to reproduce this locally, but it would be good to know in the meantime.

[2017-09-19 20:04] artpol84 commented on #494
@karasevb please put it into your TODO list.

[2017-09-21 18:11] jjhursey opened #522 "RPM Fixes to v1.2 branch"
* PR #511 and PR #515 fixes a couple RPM packaging issues. Those need to get ported to the v1.2 branch.

[2017-09-21 20:11] jjhursey commented on #522
PR #523 has been merged, we can close this issue.

[2017-09-21 20:11] #522 closed

[2017-09-27 01:26] #498 closed

[2017-09-28 02:02] rhc54 commented on #494
This looks to be resolved by #528

[2017-09-28 02:03] rhc54 commented on #431
Completedd

[2017-09-28 02:03] #431 closed

[2017-09-28 02:03] rhc54 commented on #432
Completed

[2017-09-28 02:03] #432 closed

[2017-09-28 02:48] karasevb commented on #494
@rhc54
Unfortunately, the #528 fix is not solved this issue. I have reproduced the issue locally, and work on it. The problem is clear, the dstor has a bug that appear with `MPI_comm_spawn`. The dstor segments files are not cleanup during runtime after spawned proccess is ended his files remain. There is `loop_spawn` that calls many 'spawned' processes and after each processes the dstor not cleanu

[2017-09-28 03:06] rhc54 commented on #494
Very good - thanks!

[2017-09-28 08:38] angainor commented on #513
@rhc54 We finally managed to get the cluster up again, and I got my chance to test things. So now with your help things work as expected, and I could finally do some time measurements. I checked job startup time of a trivial MPI_Init / MPI_Finalize code on 8192 cores (256 nodes) of our EDR-based cluster and compared srun / mpirun for both OpenMPI (2.1.2), and Intel MPI (2017a). SLURM is compiled a

[2017-09-28 12:14] rhc54 commented on #513
Hmmm...something certainly doesn’t look right. The times are much too long.

I’m traveling today, but will try to look at this more tomorrow

Sent from my iPad

[2017-09-28 12:33] angainor commented on #513
@rhc54 Thank you, Ralph. I'll be grateful to hear your advice.

Do you mean that the times are in general too long? Or just in case of PMIX/OpenMPI? I was reading about it on OpenMPI documentation. In our case software is installed on a Lustre FS, so that might cause some slowdowns. Also, I considered the `--disable-dlopen` option, but I've noticed the code did not compile for 1.10.7 at least, so

[2017-09-28 13:22] rhc54 commented on #513
Both sets of numbers look a little high to me, and the PMIx/OMPI ones are even more so. Your comment about the Lustre FS is correct regarding slowdowns - that is a well-known problem, and may explain much of the difference between the two MPIs. By default, OMPI will do a _lot_ of dlopen's (more than Intel MPI does), and that isn't friendly to Lustre.

I'm surprised that disable-dlopen didn't build

[2017-09-28 15:50] rhc54 commented on #513
I'm just going to reopen this issue so it is easier to find 😄

One thing occurred to me: you may have a significant difference in the number of procs being run in your various cases. IIRC, srun defaults to running one proc/node. I don't know what IMPI defaults to when you don't specify a number of procs.

However, I do know that OMPI will default to running a proc on every core of each node. This

[2017-09-28 16:12] angainor commented on #513
I execute tests from within a Slurm allocation, and I add a printf of rank/nranks in addition to MPI_Init. All is fine, I start - as expected - 8192 ranks.

Now I've also compiled openmpi-2-1-1 with -no-dlopen, and it starts in 12.5s (compared to 13.5 previously), so not much difference, but some. The compilation problem I had was for 1.10.7, so I'll not report it I guess, since that version is ol

[2017-09-28 17:37] rhc54 commented on #513
That sounds better. You can get closer to the eventual launch scaling by setting that ```--mca pmix_base_async_modex 1``` flag. OMPI 3.0 has the full capability, but as you say, slurm won't know how to handle PMIx v2.0 yet.

IIRC, hcoll has an embedded collective in it during startup (would explain your observation), but I don't immediately know why mxm/yalla would be causing such a difference. Th

[2017-09-28 19:09] angainor commented on #513
`--mca pmix_base_async_modex 1` got the time down to 3.1s. Not bad! but...
with yalla - 15s
with yalla and hcoll - 19s

Looks like this option actually slows down HPCX initialization. Maybe I should contact Mellanox guys about this :)

[2017-09-28 20:06] artpol84 commented on #513
@angainor the Slurm timing is our problem as community is interested in a good performance of supported RM's. The 1s difference between mpirun and srun is not something I would expect and what I observed in the past. What does your test program do? Just helloworld?

[2017-09-28 20:24] artpol84 commented on #513
Can you also explain how those timings was acquired? Is this a time to do MPI_Init, something like
[code]
or you do
[code]
If you measure `MPI_Init()` time the comparison of `mpirun` and `srun` is not fair for the following reasons:
* At least when I was checking if you launch with `mpirun` orteds are doing some sort of barrier before launching app procs, this hides some of the OMPI latency when o

[2017-09-28 20:25] jladd-mlnx commented on #513
@angainor MXM does not support the asynchronous modex feature and indeed a full modex is executed even when `--mca pmix_base_async_modex 1` is set.  I would encourage you to rerun your experiments using the UCX PML in your HPC-X by setting `-mca pml ucx`. UCX is the successor to MXM and can support the asynchronous modex feature in Open MPI's PMIx integration.

[2017-09-28 20:30] rhc54 commented on #513
Also worth checking: add procs cutoff may not be set by default in that version, which would cause you to pull data for every proc

Sent from my iPhone

[2017-09-28 20:37] jladd-mlnx commented on #513
@angainor we've also improved HCOLL's job launch footprint for the coming HPC-X v2.0 due to release at the end of October.

[2017-09-28 21:06] angainor commented on #513
@artpol84 What did you mean by  `Slurm's problem`?

Here is the complete code:

[code]
I measured complete runtime using `time mpirun / srun ...`. When it comes to the fairness, I do not measure `MPI_Init`, but the complete runtime. Not sure if it addresses your concern. About caching, it might be you are right. However, I did re-run the tests many times to confirm the results.

In either case - s

[2017-09-28 21:09] angainor commented on #513
@jladd-mlnx Thanks, eagerly awaiting! I hope the new version will also solve our high latency problem with `osu_barrier` we reported.. Or at least that we find a reason for it.

I'll give `ucx` a try tomorrow.

[2017-09-28 21:24] artpol84 commented on #513
Thank you, we will check on our side.
I am Slurm/pmix plugin developer and maintainer (not pmi2) so it makes sense to bring up Slurm-related problems here.

[2017-09-28 21:25] rhc54 commented on #513
It's just a difference in our binding and placement policies

Sent from my iPhone

[2017-09-28 21:26] artpol84 commented on #513
@rhc54 yes, I have the same feeling, although @angainor mentioned that he has checked that explicitly.

[2017-09-29 08:40] angainor commented on #513
@rhc54 @artpol84 Binding is the first thing that comes to mind, yes. But I think this is not it. Forget my application for a sec, let's look at `osu_barrier`. Here I run it compiled with OpenMPI 2.1.2, gcc 6.3, Slurm is 17.02.7.

I turn off (I hope all of) HPCX, and I turn off vader just for the sake of it - all should go through openib:

[code]

Binding and mapping are identical here: Slurm uses

[2017-09-29 12:57] jladd-mlnx commented on #513
@angainor we discovered that the high latency you observe in the barrier is because your high precision event timer (HPET) appears to be making an actual system call when invoking `clock_gettime()` instead of being mapped and invoked in user-space via vdso. We changed the clocksource to `tsc` and it resolves the performance issue.  Please note that Open MPI recently changed its internal timer to u

[2017-09-29 14:14] rhc54 commented on #513
@angainor Regarding your binding observations. I'm just musing here, but one difference between srun and mpirun lies in their binding methods.

Slurm uses cgroups to perform binding, which means they right the group definition in a file and the OS (at some point) picks it up and updates the kernel scheduler.

OMPI's mpirun (and I'm pretty sure IMPI's as well) just directly updates the kernel sched

[2017-09-29 16:15] angainor commented on #513
@jladd-mlnx Indeed, this turned out to be a game changer - both when it comes to the startup time, and to HPCX performance. Thanks a lot! After we changed the clock source I have to re-do most test, although I think the `srun` problem is still standing. As an update on job startup after changing the clock source, here is a comparison including ucx:

[code]
That is quite impressive, I think, and uc

[2017-09-29 16:34] rhc54 commented on #513
I'm pretty sure that OMPI 3.x already has that as an MCA param - I don't recall if it came back to the earlier release branches.

[2017-09-29 16:37] jladd-mlnx commented on #513
@angainor Excellent news!

[2017-09-29 16:42] jladd-mlnx commented on #513
@angainor Expect further launch time improvements with HCOLL enabled in the HPC-X v2.0 release.

[2017-09-29 16:57] jladd-mlnx commented on #513
@angainor Can you try `mpirun` with `-bind-to none`.

[2017-09-29 17:02] angainor commented on #513
I can do that tomorrow.

On 29 Sep 2017 18:57, "Joshua Ladd" <notifications@github.com> wrote:

[2017-10-02 02:56] bosilca commented on #513
OMPI MCA value for a cheaper timer is ```timer_require_monotonic``` (must be set to false for non-monotonic timers). It role is to change the timer implementation behind MPI_Wtime.

What version of Open MPI are you using ? In master on certain architectures (the entire x86 family) we support 2 timers, one that is monotonic and frequency-invariant for the user (```clock_gettime/gettimeofday```), an

[2017-10-02 08:03] angainor commented on #513
@bosilca We follow EasyBuild when it comes to versions. I think it's on 2.1.1 now.

But now you made me wonder if the performance drop was real at all, or simply related to incorrect MPI_Wtime. I can't check this now, because the system is down. But, we run Linux on the 'powersave' governor, still the CPU frequencies are roughly fixed at 2.6GHz. The degradation was 'fixed' by changing `/sys/device

[2017-10-02 08:47] angainor commented on #513
@bosilca Just to clarify: my tests on mpi job startup were timed using `time mpirun/srun ...`, so the performance difference is real here at least. But since we are in a pre-production stage and things change on the cluster, to be confident in the results I will have to verify once more that changing `current_clocksource` between tsc and hpet actually does change wall time and impact startup perfo

[2017-10-02 15:11] bosilca commented on #513
@angainor you are right, [#3003](https://github.com/open-mpi/ompi/issues/3003) only affects the MPI_Wtime. If you want to make ensure MPI_Wtime was the issue, alter the benchmark itself and remove move the reference to MPI_Wtime outside the internal loop (it is unnecessary to time each instance of the barrier while only the total time is needed).

[2017-10-13 13:26] angainor commented on #513
@bosilca @rhc54 @artpol84 @jladd-mlnx It's been some tough weeks, but our system is finally up again. I managed to run a few more tests, and it turns out that the system clock settings (`tsc` vs `hpet`) cause very real time differences. Also, `srun` does seem to perform slower than `mpirun`.

Below is a comparison of startup time and OSU barrier for OpenMPI 2.1.2 vs. Intel MPI 2017a. I compare the

[2017-10-14 17:54] bosilca commented on #513
@angainor if you didn't modify the benchmark then you are technically measuring the performance of MPI_Wtime and not the one of the MPI_Barrier.

I don't understand what configuration is missing for Open MPI here ? As I mentionned above there is one to switch to the less reliable TSC counter ```timer_require_monotonic``` (that you can set either via MCA or environment variables).

[2017-10-14 18:52] angainor commented on #513
@bosilca Previously I didn't modify the benchmark since changing `timer_require_monotonic` to `false` did not change anything in the "performance" (ompi 2.1.2, HPCX 1.9.7, 8k cores):

[code]
I thought that this is a different issue, and a more general problem, not a slow `MPI_Wtime`.

Looking at `osu_barrier` code, you are of course right - `MPI_Wtime` is called as many times as the barrier itself

[2017-10-14 20:16] bosilca commented on #513
@angainor can you send me the opal_config.h of your Open MPI installation and the full output of ```ompi_info --param all all -l 9``` ?

[2017-10-14 20:31] angainor commented on #513
@bosilca  About the `opal_config.h`, I needed to re-run the configure script, because the original dir is gone. I hope I did exactly what I did before.

[opal_config.h.zip](https://github.com/pmix/pmix/files/1384961/opal_config.h.zip)
[ompi_info.out.zip](https://github.com/pmix/pmix/files/1384962/ompi_info.out.zip)

[2017-10-14 21:18] bosilca commented on #513
@angainor according to [Open MPI #3003](https://github.com/open-mpi/ompi/issues/3003) the ```MPI_Wtime``` always uses clock_gettime on Linux, so the suggested MCA variable has no   impact except on the OMPI internals. Thus as we rely on clock_gettime for ```MPI_Wtime```, this explains why the system clock source is of such impact on your tests.

However, when ```timer_require_monotonic``` is set t

[2017-10-15 07:34] angainor commented on #513
@bosilca About the mystery, in `openmpi-2.1.2/opal/mca/timer/linux/timer_linux_component.c`, line 171:

[code]
Is the negation in front of `opal_sys_timer_is_monotonic` correct? On my system this returns `true`, hence `clock_gettime` is not being used, and `gettimeofday` is used regardless of `timer_require_monotonic`.

After I change the above `if`, the behaviour is exactly as you described. Howe

[2017-10-17 07:10] victorsndvg opened #555 "2.1.0rc1 compilation error"
Hi all,

I'm getting the following compilation error:
[code]
The configure command is:
[code]

I'm doing something wrong?

Thanks in advance!

[2017-10-17 10:08] victorsndvg commented on #555
Maybe it's problem with my environment. Adding `LDFLAGS="-L/usr/bin/libpthread.so -lpthread"` make it works

[2017-10-17 10:25] ggouaillardet commented on #555
can you please compress and attach your ```config.log``` ? that trick should not be needed. btw, ```-L/usr/bin/libpthread.so``` is clearly unnecessary unless your pthread library is ```/usr/bin/libpthread.so/libpthread.so``` (and no, i did not make a typo)

[2017-10-17 10:41] victorsndvg commented on #555
Ok, I understand.

Several installed libraries like libevent are also manually installed and not in the environment variables. Maybe this is the problem.

Here is the config.log attached.

Thanks!

[config.log.zip](https://github.com/pmix/pmix/files/1390732/config.log.zip)

[2017-10-17 12:06] ggouaillardet commented on #555
i cannot read the file. once unzip'ed and then gunzip'ed, it only contains zero.

can you please double check ?
an other option is to upload the (uncompressed) file into a gist

[2017-10-17 12:50] victorsndvg commented on #555
Ouch! sorry, I did something wrong before. It happens the same in my side.

I attach again the config.log.zip file
[config.log.zip](https://github.com/pmix/pmix/files/1391017/config.log.zip)

[2017-10-17 13:02] victorsndvg opened #556 "PMIx-2.1.0rc1/OpenMPI cross version interoperability"
Hi all,

I tried to mix several combinations of OpenMPI versions linked against several PMIx versions.

It seems that using OpenMPI 3.0.0 and several  PMIx versions with the same major version (1.2.X or 2.X) works, but not if the PMIx major versions of the server and client are different.

I expect to have this kind of compatibility starting with PMIx-2.1.0. Now the RC1 is available, I checked aga

[2017-10-17 14:36] rhc54 commented on #556
We can keep this issue here until we understand it better. Couple of questions:

* how are you testing this? If you build OMPI 3.0.0 dynamically (i.e., not configured with --enable-static --disable-shared), and then compile your app, the app will be dynamically linked to whichever PMIx was used for OMPI. However, if you then rebuild OMPI against a different PMIx and use that result to mpirun your

[2017-10-18 06:48] victorsndvg commented on #556
Hi Ralph,

I'm doing this tests with Singularity containers. In one hand, I use `mpirun` from the host, where I have installed several OpenMPI versions linked against several PMIx versions. On the other hand I have a Singularity container with the same or another versions of OpenMPI and PMIx.

Till the moment mixed OpenMPI 2.0.0/1/2/3, 2.1.1 and 3.0.0 with PMIx 1.2.1/2/3, 2.0.0/1 and 2.1.0rc1.

 I

[2017-10-18 10:30] ggouaillardet commented on #555
@rhc54 @jsquyres when detecting ```pthreads```, the (```gcc```) ```-pthread``` flags is only added to the ```CFLAGS``` and __not__ ```LDFLAGS```. It looks like this is enough to build ```mpirun``` and ```orted``` (they likely do not invoke directly the ```pthreads``` library), but in this case (```PMIx``` example), the ```-pthread``` flag is needed to link some examples. the code was basically _im

[2017-10-18 10:43] angainor commented on #513
@rhc54 @artpol84 FYI, regarding the `srun` vs `mpirun` performance issue. Following a suggestion from schedmd we have changed the binding procedure from cgroups to task/affinity (`sched_setaffinity`). This resolved both different startup times, and lower barrier performance. Still not sure what is the core reason of the problem, but at least things work now.

Thank you very much for all your help!

[2017-10-18 12:08] artpol84 commented on #513
@angainor, thank you for the update.

[2017-10-18 13:54] rhc54 commented on #555
Hmm...this is what I get on my machine:
[code]
Note that it does indeed have -pthread in the cmd line. So is this something platform specific?

[2017-10-18 13:59] rhc54 commented on #556
When mpirun starts your container, how does it set envars for the software operating inside that container? If you just run "env" instead of an MPI app inside the container (launched via mpirun), what does it see?

[2017-10-18 14:01] rhc54 commented on #555
and this is what I see in PMIx v2.1 when I run ```make V=1``` in the examples directory:
[code]

[2017-10-18 14:21] ggouaillardet commented on #555
ok, i will double check that tomorrow on my box.
note that ```mpicc``` is the wrapper, and your command line is kind of ambiguous since it is not clear whether it should compile only, link only or both.
also, my statement was related to how the ```mpicc``` was linked (e.g. ```make V=1 opal_wrapper```), and not to how it links applications (e.g. ```mpicc ...```)
in the ```test``` directory of ```PM

[2017-10-18 14:22] jsquyres commented on #555
I think what @ggouaillardet is saying is that we need `-pthreads` in both `CFLAGS` and `LDFLAGS`.  That may make it show up twice on the command line in some (harmless) situations, but it will guarantee that `-pthreads` is on linker-only lines (because it needs to be).

[2017-10-18 14:43] victorsndvg commented on #556
In general, all host environment variables can be seen inside the container.

Applying OMPI and PMIX strings to grep in the test you propose, I get the following output:

[code]

[2017-10-18 14:47] rhc54 commented on #556
Hmmm. PMIx uses the TCP loopback device by default as clients are only supposed to connect back to their local PMIx server. Can a process in the container "see" the loopback device of a process outside the container?

There are PMIx flags to use a non-loopback device and/or to use the usock transport, but OMPI disables those and there currently isn't any way to override that setting. Might be some

[2017-10-18 14:52] rhc54 commented on #555
I can certainly do what @jsquyres suggests - I'm just trying to understand why we haven't seen this anywhere else, and thereby get some idea of what platforms this may be on. Here is the requested compile line:
[code]

[2017-10-18 14:58] rhc54 commented on #556
@jsquyres FWIW - we appear to add -lpthreads to LIBS, not CFLAGS. Are you saying that we also need to add it to LDFLAGS? It seems odd as I would have thought LIBS was the correct place.

[2017-10-18 15:00] rhc54 commented on #556
sorry, I mean -pthreads of course

[2017-10-18 15:06] victorsndvg commented on #556
Sorry, I think the last 2 responses should be in other thread.

Regarding the loopback device, by default the container shares the same network namespaces as the host system and the same pid namespaces too. It should be straightforward I think

[2017-10-18 15:07] ggouaillardet commented on #556
It is ```-pthread``` (no 's') and you should be commenting on #555

```config.log``` is attached, i will double check it tomorrow

[2017-10-18 16:42] rhc54 commented on #556
Sorry for mixup. Problem here is that ompi disables usock in pmix 2.1 by default but pmix 1.2 only has usock

No ompi flag to override

Sent from my iPhone

[2017-10-19 05:33] ggouaillardet commented on #555
it looks like i spoke too fast. from what i see on my platform, ```-pthread``` is passed with ```CCLD``` is used.

@victorsndvg could you please run the following commands ?
[code]

[2017-10-19 08:17] victorsndvg commented on #555
Yes @ggouaillardet ,

here is the output of these commands:
[code]
and
[code]
Hope it helps!

[2017-10-19 08:27] victorsndvg commented on #556
Anything I can do to fix it in my installation?
Any suggestion?

[2017-10-19 08:28] ggouaillardet commented on #555
thanks, can you now
[code]

it should depend on ```/lib64/libpthreads.so.0```, but i am afraid it does not

[2017-10-19 08:33] victorsndvg commented on #555
Yes, of course
[code]

[2017-10-19 08:35] victorsndvg commented on #555
Sorry I closed the issue.

I have to say that we are using gcc 6.3.0 and we experienced some issues with some kind of "ignoring links" ... If everything looks normal ... Maybe the problem is not in your side? :sweat:

[2017-10-19 10:07] ggouaillardet commented on #555
that is odd ...

```libpmix.so``` requires
[code]

but ```pmi_client``` complains about
[code]

same directory, but different files ```libevent_pthreads-2.0.so.5``` vs ```libevent_pthreads.so```

are they the same file ? the latter is likely a (indirect) symlink to the former
was ```libevent``` built on the same system (that looks like a RHEL6-like flavor) ?

[2017-10-19 10:54] victorsndvg commented on #555
Yes, all is being built on the same system, a RHEL-6.

Both are symlinks pointing to the same file:
[code]

[2017-10-19 15:17] victorsndvg commented on #556
Hi @rhc54 ,

sorry for the stupid question, but only for confirmation, I have to apply this patch to the PMIx-2.1.0rc1 sources that is going to be linked from the HOST OpenMPI-3.0.0. I don't need to do anything from the container side.

I'm right?

Thanks!

[2017-10-19 17:14] rhc54 commented on #556
No, the patch is for OMPI v3.0.0 on the host side. As far as I can tell, there is nothing wrong with PMIx.

[2017-10-20 07:53] victorsndvg commented on #556
Ok @rhc54 , thanks for the responese.

I applied the patch and run with `mpirun -mca pmix_server_usock_connections 1`.

I got a new error:

[code]

Any idea?

[2017-10-20 14:04] rhc54 commented on #556
Help me out a little - I gather you were running the mpirun from the patched OMPI v3.0.0, and you had what in the container?

[2017-10-20 14:54] victorsndvg commented on #556
Ok.

here in this tests, what I wanto to check is if host OpenMPI (server?) is able to handle different OpenMPI+PMIx inside the container.

I already checked that the same PMIx major version in&out the container works as expected.

Now, for this test, I'm using OpenMPI-3.0.0-patched and linked against PMIx-2.1.0rc1 at the host.

I'm using several containers each one with a different combination of

[2017-10-20 14:57] rhc54 commented on #556
So is the error you are reporting coming from the host side, or from a container? If so, which combination was in that container?

Note that you cannot mix those containers - all the containers in a given job _must_ contain the same version of OMPI and PMIx.

[2017-10-20 15:03] victorsndvg commented on #556
Each container was used in different batch jobs. I don't remember exactly, but I think all these executions returned the same error.

I don't know where the error come from... how can I now it?

I figure out the error is being reported from the client side (`ERROR: UNPACK-PAST-END in file src/client/pmix_client.c at line 186`), but something is not (well-)defined in the sever side (`PACK-PMIX-VALU

[2017-10-20 15:07] rhc54 commented on #556
Sure you can - look at the error output. It shows you the pid of the reporting process. I just need to know which of those pids was the container.

[2017-10-20 15:34] victorsndvg commented on #556
Singularity worflow assign the current PID of the host executable to the job running inside the container. PID is the same inside and outside the container.

What I can do is to try to run Singularity in debug mode to try to determine if the error occurs before starting the container job or during the execution of the contained binary.

[2017-10-20 15:56] rhc54 commented on #556
Hmmm...no, that won't help. These errors are coming during execution. Let me try to debug a different way.

[2017-10-20 16:04] victorsndvg commented on #556
Let me know If I can do anything from my side!

[2017-10-21 03:25] rhc54 commented on #316
v1.2 series is closed as we are moving people to the 2.x series

[2017-10-21 03:25] #316 closed

[2017-10-21 03:30] rhc54 opened #563 "v2.x to v1.2 dstore cross-version compatibility not working"
The way to test this is:

* build OMPI master - you can build it with shared libraries

* build OMPI v2.x with --enable-static --disable-shared, and then compile the hello_c example

* Set your paths to point to OMPI master installation

* Change to the OMPI v2.x example directory

* execute "mpirun -n 1 ./hello_c"

The example hello_c program will segfault in the dstore fetch routine:
[code]
I se

[2017-10-22 15:28] rhc54 commented on #563
Okay, I have everything working now with --disable-pmix-dstore set for the OMPI v2.x side, and PMIX_MCA_gds=hash set in the OMPI master side. Still getting a segfault when dstore is enabled for OMPI v2.x and no envar set on the OMPI side:
[code]
Can you folks please take a look?

[2017-10-27 08:54] victorsndvg commented on #556
Any new, fix or workaround about this?

[2017-10-27 08:55] victorsndvg commented on #555
I think we can close this issue ...

[2017-10-27 08:55] #555 closed

[2017-10-27 18:01] rhc54 commented on #556
I found and fixed a couple of bugs. The current state is that PMIx itself is now compatible from the v2.1 thru v1.2 branches, but only if you disable-dstore on the older versions and set PMIX_MCA_gds=hash on the v2.1 side. The shared memory (or dstore) support isn't working when crossing from v2.x to v1.x at this time. A couple of organizations are investigating the amount of work required to rest

[2017-10-30 10:50] #425 closed

[2017-10-30 11:32] victorsndvg commented on #556
@rhc54 , thanks for the elaborated response.

Before doing that, I need to do a newbie question regarding the following sentence:

How can I do that? Which file i need to modify (from the root of the OMPI git repository)?

ASAP I will report my results.

Thanks in advance.

[2017-10-30 11:34] artpol84 opened #580 "PMIx v2.0 PMIx_Get hang"
I observe this with 4f86f2b89f7d0 on almost-fully packed nodes (31 ppn out of 32 cores).
One of the processes hang with the following backtrace:
[code]
This is for direct launch, key "pmix.mapby" is not exported by Slurm, so this should be a not-found response.

[2017-10-30 11:40] artpol84 commented on #580
The configuration is 16 nodes 31 ppn. Issue happens sporadically.

[2017-10-30 11:43] artpol84 commented on #580
Ok, I missed one important piece of what is happening. The other thread is blocked on the `pthread_cond_bcast`:

[code]

[2017-10-30 11:45] artpol84 commented on #580
So it looks like a deadlock

[2017-10-30 11:52] artpol84 commented on #580
Some more GDB info

1. `PMIx_Get()` thread
[code]
NOTE that `active` field is set to `true`, also `__mutex = 0x931b60`.

2. `fence_release` thread:
[code]
NOTE that `active` field `false`, and `__mutex = 0x0`. This look suspicious, feels like this lock is not initialized yet.

[2017-10-31 12:55] rhc54 commented on #580
I don't know if the referenced PR will solve this problem, but it can't hurt. Let me know when you get a chance to try it.

[2017-10-31 14:52] rhc54 commented on #580
Actually, I figured this one out. The problem is that the waiting thread is cycling using ```OMPI_LAZY_WAIT_FOR_COMPLETION``` so it can exercise opal_progress. This probably isn't as critical for the modex step, but definitely necessary for the barrier at the end of mpi_init. The problem this creates is that the lazy macro exits as soon as "active" becomes false, and then we destruct the lock.

Ho

[2017-10-31 14:55] artpol84 commented on #580
Ok,
So this is an OMPI thing. I suspected that after giving it some more thought.

[2017-10-31 14:57] rhc54 commented on #580
yeah, definitely is. thanks for the detailed bug report - really helped to track it down

[2017-10-31 15:01] artpol84 commented on #580
If you can fix it in an hour - I'll be able to runtime-check. Later will loose this system and don't know when will get it back.

[2017-10-31 15:05] rhc54 commented on #580
I'll update the OMPI PR in a few minutes, but it won't clear CI that quickly.

[2017-10-31 15:10] rhc54 commented on #580
okay, updated

[2017-10-31 16:40] artpol84 commented on #580
This fixes the problem. Thank you!

[2017-11-02 14:53] victorsndvg commented on #556
Dear @rhc54 ,

I was able to try the workaround you explained, but it didn't work.
Container configuration is:
- PMIX 1.2.X (commit c9b633d) with flag `--disable-dstore`
- OpenMPI 2.0.1

Host configuration is:
- PMIX 2.1.0 (commit a4fbe2f) adding `gds=hash` in the MCA parameter file
- OpenMPI 3.0.0

maybe I have to disable dstore also from OpenMPI side?

The error obtained is:
[code]

I'm missing

[2017-11-02 15:00] rhc54 commented on #556
Which mca param file did you add "gds=hash" to? There should be one called "pmix-params.conf", and it needs to go in there.

[2017-11-02 15:02] rhc54 commented on #556
If you want to just specify it in the environment, then add PMIX_MCA_gds=hash to the OMPI v3.0.0 environment.

[2017-11-02 15:03] victorsndvg commented on #556
I add the param to this file:
`$SOURCE_ROOT/etc/pmix-mca-params.conf`

[2017-11-02 15:04] rhc54 commented on #556
Hmmm...that's the correct one. Not sure where the problem might lie.

[2017-11-02 15:05] victorsndvg commented on #556
Nothing special to do from the OpenMPI side?

[2017-11-02 15:07] rhc54 commented on #556
Shouldn't be - I had no trouble running that combination, so I'll have to ponder awhile to see what might be the difference. Probably won't be for a bit as I'm up against deadlines.

[2017-11-02 16:13] victorsndvg commented on #556
O, don't worry. Let me know any news about this.

Thanks!

[2017-11-06 01:53] rhc54 opened #586 "Direct modex broken when dstore GDS used"
Please see https://github.com/pmix/pmix/pull/585 for an explanation of the problem.

[2017-11-08 15:48] #513 closed

[2017-11-08 15:50] rhc54 commented on #430
Replaced by #563

[2017-11-08 15:50] #430 closed

[2017-11-08 15:52] rhc54 commented on #81
We have fixed the visibility issue for the unit tests, so I think this can be closed for now

[2017-11-08 15:52] #81 closed

[2017-11-08 16:05] rhc54 opened #588 "Design discussion for new dstore component(s)"
This is just being created to help capture design thoughts on the new dstore component(s). There are a few things we want to accomplish with the rewrite:

- create the ability for clients on a node to share the actual data storage instead of copying it into their own memory space. This means that we cannot pack/unpack data in the dstore - it has to be stored in a native form so it can be directly

[2017-11-08 16:06] rhc54 commented on #588
@bwbarrett @jjhursey @artpol84 @karasevb

[2017-11-09 00:59] rhc54 commented on #556
Okay, I dug into this and found the issues. It's purely a question of getting the two sides setup correctly. We'll need to do some work to make it more automatic, but for now you can make it work with a little effort. Here is the recipe I used - note that I don't have containers, so I built the OMPI v2.0 code with ```--enable-static --disable-shared``` to ensure there was no confusion over which P

[2017-11-09 08:27] victorsndvg commented on #556
Great! It also works for me :clap: :clap:

Next week I will be in the BoF about containers-at-HPC at SC17. I will do a shot comment about this advance from PMIx side. In which version of PMIx you expect to have this feature working automatically? 2.1?

Finally, thanks for your great work and for your patience with me.

BR!

[2017-11-09 15:44] rhc54 commented on #556
I'll talk to the other PMIx folks at today's telecon about it. We need one small change to v1.2.5, but that should be okay (I think) prior to releasing it. You'll still have to configure it with --disable-dstore as I don't think the dstore support will be fixed for awhile.

With that change, the v2.1.0 side should be able to handle things just fine. The only remaining issue is on the OMPI side of

[2017-11-10 07:30] victorsndvg commented on #556
Ok, thank your for your explanations and your help.

Hope to see you there!

[2017-11-14 10:54] karasevb commented on #563
I tried to reproduce an issue as described above, but couldn't get any segfaults. And I have both gds modules are not working.

The following commits was used:
- Master: `97d0469719c331ccdf2839d49df9d4e6b4d24b7c`
- v2.x: `81dadc7880e41233f2e3b0112e7bf64c1eb50fd0`

There is failure that was got when use `ds12` module:
[code]

At the same time, I got this failure when using GDS `hash` module:
[code]

[2017-11-14 13:02] karasevb commented on #563
@rhc54 it seems this has an another compatibility problem not related to GDS. Do you have any ideas?

[2017-11-14 15:22] rhc54 commented on #563
I'm not entirely clear on what you are doing, so let me offer an alternative method. Note that the error signature may well have changed from when this was originally filed.

First, let's avoid bringing in the OMPI complexity for now, and just start by trying to get some simple PMIx tests working. I clone and build PMIx master:
[code]
Then I clone and build the PMIx v1.2 branch at its current HEAD

[2017-11-15 13:45] karasevb commented on #563
@rhc54 I have reproduced the segfault. Thank you.

[2017-11-22 09:56] karasevb commented on #563
I did the analyze of the issue and found the incompatibility of dstore between versions. I turn to the add new `dstore` module, next to `ds12` the module `ds20` will be added. Now I'm working on this, in the testing state.

[2017-11-23 19:17] #580 closed

[2017-12-05 00:46] mohanasudhan commented on #563
I am trying to reproduce this error, using following script.

[code]

I am not seeing simptest in master build path even after adding `--with-tests-examples` Am I missing anything?

Can see simptest under v1.2 but not on master
[code]

[2017-12-05 07:29] karasevb commented on #563
@mohanasudhan
Did you try to run `make` in your `build/master/test/simple` directory?

[2017-12-05 17:32] mohanasudhan commented on #563
I don't find `simple` directory under build. But under `/home/ec2-user/code/master/pmix/test/simple/`, and I did `make` on the above path

[code]

Test finished with OK, but I don't see any core file.
[code]

[2017-12-06 03:39] karasevb commented on #563
@mohanasudhan
I'm not sure that `simplest` determine the client return code correctly while the crash, that does indicate OK. But your `simptest` printout looks like not finalized successfully. The test should be printed out the finalizing message at least:
```[hostname:24425] Client ns foobar rank 0: Finalizing```
I guess your test is crashed, but some reasons the core file was not generated.

[2017-12-06 15:42] #563 closed

[2017-12-06 20:48] artpol84 opened #601 "Tag 2.0.2 is on the wrong branch?"
@dannyauble noticed that there is some problem with tag 2.0.2.
You can see by the link below, that minor version is "1" instead of "0":
https://github.com/pmix/pmix/blob/v2.0.2/VERSION#L17

[2017-12-07 01:10] rhc54 commented on #601
huh - that is weird. have to think about that one.

[2017-12-07 12:20] jjhursey commented on #299
I just pushed this to v1.2.6, but the door is still open for v1.2.5 if a PR is coming. Otherwise this has been open for quite some time - should we close it?

[2017-12-07 12:21] jjhursey commented on #281
Another old one - should we close it? I'll move it to the v1.2.6 milestone since there hasn't been activity, but the door is still open for v1.2.5 if there is a fix coming.

[2017-12-07 19:35] artpol84 commented on #281
I think we can close it for now. This was mostly refactoring thing IIRC.

[2017-12-07 19:35] #281 closed

[2017-12-08 15:49] rhc54 commented on #586
Transferring this description here so it doesn't get lost:

When requesting modex data without it having already been collected, the client issues a request to the server for data "put" by the given rank. Since the server always returns all data for that proc, we don't pass the key being requested. Thus, the server operates with a NULL key for the request.

When a proc "commits" its modex data, th

[2017-12-08 15:50] rhc54 commented on #434
Do we know any more about this? Is it still an issue, or do we have it under control and can close this?

[2017-12-08 15:51] rhc54 commented on #320
I believe this may now be out-of-date and somewhat overlaps #586 - can you please confirm and close if true?

[2017-12-08 15:53] rhc54 commented on #76
Closing this as I believe we have resolved these issues.

[2017-12-08 15:53] #76 closed

[2017-12-08 15:57] rhc54 commented on #563
FWIW: I'm updating simptest to check the status and clearly mark the test as FAILED if non-zero status is detected.

[2017-12-08 16:00] rhc54 commented on #563
Also, to get the "simple" tests, you have to configure with ```--disable-visibility``` as they access internal data types and functions. This is why simptest didn't build.

[2017-12-08 19:28] mohanasudhan commented on #563
Thanks @rhc54

Yep after adding `--disable-visibility` I am seeing simple test under build  & @karasevb for the fix.  One clarification, When I am testing compatibility using simptest (master simptest and 1.2 simpclient). I am see PMIX ERROR in between execution, but the test execution is successful.  Is this expected ?

[code]

[2017-12-08 19:33] rhc54 commented on #563
It depends on the error and what happens as a result. The test isn't that precise and is meant as a simple "smoke" test. Still, one shouldn't see PMIX_ERROR reports out of it, so I would have to take a look to see what is going on.

[2017-12-08 21:06] rhc54 commented on #563
I went ahead and ran this with the current master and update v1.2.5, and all works fine:
[code]
I think you might not have had the fully updated 1.2.5 as the changes were just committed in the last day or so.

[2017-12-08 22:40] artpol84 commented on #434
@karasevb please re-evaluate.

[2017-12-08 22:46] artpol84 commented on #320
I am sure that nothing has been done to fix that so far, so this is still relevant.
I think that #586 describes the functionality issue (that we are going to address ASAP), while this issue describes a performance problem.
Currently server will always publish the data in the dstore if he got the message from the client. But sometimes because of the concurrent dstore access server will receive mult

[2017-12-08 22:50] artpol84 commented on #320
@karasevb lets see what's happening in #586 and keep this issue in mind. Probably we will be able to solve both of this at once.

[2017-12-08 22:51] artpol84 commented on #586
Indeed it looks like a blocker. We will take a look next week.

[2017-12-11 16:12] rhc54 opened #607 "Ensure cross-version handling of client-to-server commands"
Need to ensure that the server in all versions correctly returns "not supported" when receiving an unrecognized command as newer clients may have commands that were not previously defined. This also requires that the return message calls in clients in all versions always start by unpacking a status to check for "not supported" - and obviously, that the server in all versions start every return wit

[2017-12-11 22:06] rhc54 commented on #586
It looks like this is going to hold up OMPI v3.1 release (as it would break your latest SLURM plugin enhancement), so please keep us updated

[2017-12-11 22:10] artpol84 commented on #586
Yes, we will.

@karasevb this is a high prio!

[2017-12-11 22:12] artpol84 commented on #586
@rhc54 Can you provide more details on the connection with Slurm plugin?

[2017-12-11 22:17] artpol84 commented on #586
Also I do you know if this is something that was a problem from the day 1st or this is related to the recent cross-version implementation?

[2017-12-11 23:33] rhc54 commented on #586
I think this may have been around for awhile - at least, I observed it prior to the recent commit. It impacts your direct modex support in the SLURM plugin because of the race condition - if someone asks for modex info prior to the peer having committed it, then the request will return an error.

[2017-12-11 23:35] artpol84 commented on #586
I guess that in case of the OMPI this shouldn't be the case as we are doing barrier after commit if direct modex is on. What do you think?

[2017-12-11 23:37] rhc54 commented on #586
Only in the case where the async_mpi_init flag isn't given - otherwise, you do indeed hit it. We discovered the problem when doing the scaling test.

[2017-12-11 23:56] artpol84 commented on #586
Ok, now it makes sense why we missed it.

[2017-12-12 10:52] karasevb commented on #586
I have found the problem, work on fix.

[2017-12-12 16:54] artpol84 commented on #586
@karasevb did a deeper analysis of the problem and it looks like it's not only `GDS/dstore`. Also `GDS/hash` is affected but in more rare cases.

If the patch below is applied to the simple test we are getting hang with `GDS/hash` as well. What this patch does - it emulates the situation where no local keys was submitted and the client requests non-existing. In this case server can't find the key

[2017-12-12 17:01] rhc54 commented on #586
Yeah, if they ask for something that we never receive, then we will wait forever - unless they provided the timeout key (which probably still needs to be implemented). I don't consider that a bug as we are doing what they asked us to do (i.e., wait for the data to arrive). We do need to implement the timeout key.

I think the problem that needs to be solved is the one where we report success that

[2017-12-12 17:17] artpol84 commented on #586
What I proposed will fix both problems.
We want to track commits. This seems like an easiest way to do that.
We have an option to implement that internally in `GDS/dstore` or do that at the pmix server level and address hash issues as well.

[2017-12-12 17:19] artpol84 commented on #586
As far as I understand non-existing keys are possible and some implementation may use that as a flag (though not the best way to do that). So I consider this as a corner-case bug.

[2017-12-12 17:22] rhc54 commented on #586
I'm not sure I understand, so let me try to grok it. What you are proposing is to immediately return an error if at least one call to PMIx_Commit was done by a process, and we don't find the requested key? If so, then wouldn't this will break the folks that rely on multiple calls to commit/get unless they guarantee to always put a fence in-between...which would be a new requirement?

[2017-12-12 17:22] artpol84 commented on #586
"I think the problem that needs to be solved is the one where we report success that the data is available, but it actually isn't. "

One would treat the hang I described with the simptest as reporting local key as "existing" but not yet arrived.

[2017-12-12 17:24] rhc54 commented on #586
Not sure I understand - how do you know the key "exists" if it has not yet arrived?

[2017-12-12 17:25] artpol84 commented on #586
simptest with the patch I attached is hanging. It hangs because server is waiting for the local key to arrive (pending request). But this key will never arrive.

[2017-12-12 17:27] artpol84 commented on #586
" If so, then wouldn't this will break the folks that rely on multiple calls to commit/get unless they guarantee to always put a fence in-between...which would be a new requirement?"

Then I have a question. How do we distinguish non-existing and existing keys? Do you say that if a non-existing key is requested you supposed to pay a timeout penalty?
I thought that OMPI relies on non-existing keys

[2017-12-12 17:35] rhc54 commented on #586
"simptest with the patch I attached is hanging. It hangs because server is waiting for the local key to arrive (pending request). But this key will never arrive."

Correct - and that is the correct behavior. It isn't a bug. We have no way of knowing if that key will ever arrive. The user asked us to fetch it and didn't tell us to give up after some time, so we should wait forever for it.

"Then I

[2017-12-12 17:41] artpol84 commented on #586
Yes I forgot about this optional flag.
Here is one more thing that is not clear to me. Server treats all rank keys as a blob. If rank has commited at least once `GDS/hash` has the blob and will respond with it even though the desired key is located in say second commit. How this aligned with multiple-commit usage?

[2017-12-12 18:04] rhc54 commented on #586
Hmmm...good point. ```gds/hash``` is supposed to return all received blobs, not just the first one, but that does beg the question of why we are responding if the requested key hasn't arrived yet.

Seems to me that the local server should include in its request the desired key and any timeout instructions. The remote server has access to the actual key-value pairs (it constructs the blob upon requ

[2017-12-12 18:10] artpol84 commented on #586
One more issue that won't be solved by this is a key overwriting. You won't have a way to know if the key was updated and the client has no way to indicate what version it wants.

[2017-12-12 18:27] rhc54 commented on #586
True - we can note that in the standard (i.e., overwriting of keys must be followed by a fence prior to get). I don't know how else to handle it since we don't know when it might occur. Thankfully, that's a really rare use-case.

[2017-12-14 22:58] artpol84 commented on #586
To summarize what we have discussed here.
If we are going to follow this route:
"...Seems to me that the local server should include in its request the desired key and any timeout instructions. The remote server has access to the actual key-value pairs (it constructs the blob upon request), and so it can wait for the key to arrive before responding. Means a little more logic in the server, but not

[2017-12-15 02:34] rhc54 commented on #586
I think we still need to fix the behavior where dstore reports the key as being present when it isn't. In the current code, if someone asks for modex info prior to the target proc doing a commit, dstore only looks to see if the job-level data is present and then tells the client that all data is present. At the very least, we need it to (a) see if any modex data for that proc has been received, (b

[2017-12-15 04:08] artpol84 commented on #586
According to what you proposed above we will also pass a specific key. This will be an "indication" of modex.

`dstore` only communicates with local processes. All remote requests will go through `hash`. So the scope is reduced to local process requesting data from another local process.

There can be following cases if we pass the key along with request:
* target local proc submitted the data, th

[2017-12-15 04:11] artpol84 commented on #586
I'm trying to converge to avoid extra work.

[2017-12-15 04:32] artpol84 commented on #586
I just talked to @karasevb and he raised another valid question regarding the approach that you proposed.
What if client requested multiple keys? As it is working right now we turn any key request into a rank-blob request and if client requests N keys from the same rank only one message will go to the server.
According to what have been said above we can't rely on the assumption that if the first

[2017-12-15 04:37] rhc54 commented on #586
Understood. Let's follow the progression and see what actually occurs so we can best plan out the right solution. The problem we have right now is that local procs ask for modex data from other local procs (e.g., for shared memory locations) and get a "not found" error if the requested proc has not yet committed its info.

What happens today is:

1. the client proc does a "get" on another local pe

[2017-12-15 04:43] rhc54 commented on #586
"According to what have been said above we can't rely on the assumption that if the first requested key was found - others will be found as well."

Correct - we have to pass all the requested keys and wait for them to be committed before completing the request.

"implement a temporal solution in the dstore to track if the data from the key was commited. @karasevb please implement our original solu

[2017-12-15 04:50] artpol84 commented on #586
"
"implement a temporal solution in the dstore to track if the data from the key was commited. @karasevb please implement our original solution with an array of flags for the local(remote?) ranks"

I'm afraid I don't understand what you are proposing when you say a "temporal" solution. I would rather not create another array, nor do I see any reason for it. We already have a peer object and should

[2017-12-15 04:56] rhc54 commented on #586
I fear I am getting lost in all the kerfluffle. Let me take a crack at solving the problem I've identified, and then let's circle around again.

Given that people are going to start disappearing in another 24 hours for the holidays, I suspect this is going to shift into Jan anyway. So let me play a little with it once I get a couple of other things out of the way.

[2017-12-15 04:57] artpol84 commented on #586
I suggest to have a call. It will be faster. Can we do that tomorrow?
I agree that this chat is getting messy.

[2017-12-15 04:58] rhc54 commented on #586
A call is fine - will have to be in the afternoon.

[2017-12-15 04:58] artpol84 commented on #586
I have some idea on how to solve it with client involvement. As you've said missing modex is a rare case, so if it will take multiple messages to resolve rare case - not an issue.

[2017-12-15 04:58] artpol84 commented on #586
Ok, will ping you tomorrow.

[2017-12-15 05:26] artpol84 commented on #586
I want to fix the idea here so I will not forget.

Notes:
* It is important for performance that we don't send request for each key, otherwise it will be similar to what is happening with Slurm/PMI2 plugin and this is a bottleneck.
* The client requests keys one by one - this is how PMIx_Get is structured. So I believe it will be a problem to requests multiple keys:
  * from one side we want to st

[2017-12-15 07:55] artpol84 commented on #586
Makes sense to note here that this protocol suggests data aging that was discussed in https://github.com/pmix/pmix/issues/119. We (well, maybe I) keep returning to this question.

[2017-12-19 17:01] artpol84 commented on #299
@jjhursey I'd like to keep it for the reference as I want this finally to be implemented.
I removed the target tag. Will it be ok?

[2017-12-19 19:24] jjhursey commented on #299
Yeah that's fine. I'm hoping that v1.2.5 is the last release in the v1.2 series. The milestone is what I have been using to track outstanding work for a release. So I just wanted to see if this ticket has just gotten stale.

[2017-12-21 03:12] artpol84 commented on #586
This should be fixed in #613.
@rhc54 please confirm.

[2017-12-21 03:48] rhc54 commented on #586
Agreed - thanks guys!

[2017-12-21 03:48] #586 closed

[2017-12-23 23:28] pkovacs commented on #601
Ralph, Maybe remove the v2.0.2 tag from this commit:
[code]
and add a v2.0.2 tag equal to the v2.0.2rc1 tag, just prior to the commit "Roll to v2.0.3":
[code]

Regards, Phil

[2017-12-24 01:53] rhc54 commented on #601
We've had multiple debates about moving existing tags in the OMPI community, and I'd rather not create the same argument here. My plan for the moment is to do nothing and just get the v2.0.3 tag correct.

[2017-12-24 04:54] dannyauble commented on #601
Can it just be removed? I'm not sure how helpful a bad tag is.

[2017-12-24 15:16] rhc54 commented on #601
It's the same problem as moving it - people who have checked out the tag (or pulled the tags on the repo) will still have the incorrect location. Should someone then "push" tags, we wind up with the old tag again as it just overwrites.

I'm not sure the tag is all that important outside of the community itself as users and packagers just take the tarball. Frankly, I've never been all that impresse

[2017-12-25 01:15] kawashima-fj commented on #601
Tags are important for developers. I sometimes type `git log TAG1..TAG2` and `git diff TAG1 TAG2`.

How about adding another tag like `v2.1.2-actual`? Open MPI had this approach.

https://github.com/open-mpi/ompi/releases/tag/v1.8.7-actual

[2017-12-26 16:27] dannyauble commented on #601
It is your project so you can do whatever you would like, but my 2 cents on the matter is if you have a bad tag removing it should be fairly straight forward.  I am hoping you only have so many people that have push privileges, just have them also go remove the tag from their clone as well.  If you allow many people to push perhaps that is an issue.  I haven't ever experienced anything of what you

[2017-12-26 23:12] rhc54 commented on #601
It's a fair suggestion. We also have limited numbers of committers on this project. It was the OMPI folks, who have a fair number of committers, that raised the primary objections to the practice. In fairness, even the Git documentation contains strong cautions about it.

Still, I agree that getting it corrected makes sense, and that just moving the tag in this situation should be adequate. It has

[2017-12-26 23:12] #601 closed

[2017-12-30 00:08] pkovacs opened #620 "test/pmix_test succeeds only with psec/native, not with psec/none or psec/munge"
#### ~/.pmix/mca-params.conf
[code]
yields success:
[code]
#### ~/.pmix/mca-params.conf
[code]
yields failure:
[code]
#### ~/.pmix/mca-params.conf
[code]
yields failure:
[code]

[2017-12-30 00:39] ggouaillardet commented on #620
About `psec/none` the root cause is `query_component()` set `*priority = 0` instead of `100`. `open_component()` fails unless explicitly requested, so a hard coded high value looks fine to me.

[2017-12-30 01:44] pkovacs commented on #620
I should mention that I noticed this problem when building pmix `--with-munge`.  Since the munge psec module has priority 80, it took precedence over the native module with priority 10 and thus the pmix_test "fails by default"  with munge support added.    Digging just a little further, I also noticed psec/none not working, so I filed this issue.

[2017-12-30 02:30] ggouaillardet commented on #620
Sure, my point was these are two distinct issues, and `psec/none` fix looks trivial at first glance. I can easily guess you are more interested in `psec/munge`, but as far as I am concerned, I will not be able to look at it until next year (which is fortunately a few days away)

[2017-12-30 02:38] pkovacs commented on #620
Great.  I also filed this PR https://github.com/pmix/pmix/pull/619 to ensure that the psec/munge module actually links to munge which it does not do at present.  Have a nice New Year,

[2017-12-30 03:29] rhc54 commented on #620
Priority=0 is just fine, guys - it makes absolutely no difference as the "none" component is only selected if specifically requested. Something else is wrong.

[2017-12-30 07:47] ggouaillardet commented on #620
And when the component is explicitly requested, isn’t it disabled because of priority=0 ?

[2017-12-30 07:52] rhc54 commented on #620
No - the priority only sets its relative position in the list of available components. A zero priority means it is at the bottom of the list. However, since it was explicitly requested and everything else was left out when ```psec=none``` was specified, it is the only thing on the list and so it will be used.

[2017-12-30 08:05] ggouaillardet commented on #620
My bad then, sorry for the noise.

[2017-12-30 10:15] ggouaillardet commented on #620
In the case of `psec/munge`, the root cause is the `munge_init` `init` callback is never called.
The patch below fixes that, but i am not sure it is invoked at the right place.
Note we could make the `init` callback mandatory (just like the `create_cred` callback, see #621) and hence avoid the `NULL != nmodule->init` test.

@rhc54 can you please issue a proper fix ?

[code]

[2017-12-30 13:51] pkovacs commented on #620
@ggouaillardet Thanks for the quick fix on psec/none.

Regarding psec/munge, is there not also a reentrency problem there?  Won't the use of these static vars create the potential for threads to step on each other in the course of creating and validating creds?
[code]

[2017-12-30 15:29] rhc54 commented on #620
Yeah, that is indeed a problem, as is the init issue. I'll take a crack at both.

[2017-12-30 23:52] #620 closed

[2018-01-02 20:53] rhc54 commented on #607
Review completed - all good

[2018-01-02 20:53] #607 closed

[2018-01-03 20:51] #96 closed

[2018-01-03 20:51] #128 closed

[2018-01-03 20:52] #107 closed

[2018-01-04 18:44] amckinstry opened #628 "Components not found when "standard" install location used."
pmix fails to search for and find the MCA components when standard Debian paths are used.
i.e. for the configure line:
./configure --build=x86_64-linux-gnu --prefix=/usr --includedir=\${prefix}/include --mandir=\${prefix}/share/man --infod\
ir=\${prefix}/share/info --sysconfdir=/etc --localstatedir=/var --disable-silent-rules --libdir=\${prefix}/lib/x86_64-linux-gnu --libexecdir=\${prefix}/lib/x8\

[2018-01-04 20:11] amckinstry commented on #628
Ok, the problem appears to be that component_path in /etc/pmi-mca-params.conf is ignored if $(LIBDIR)/pmix exists.

The layout I had in Debian is/was: prefix=/usr/lib/x86_64-linux-gnu
  $prefix/pmix
  $prefix/pmix/lib
  $prefix/pmix/include
with libpmix.so , etc in $prefix/pmix/lib and components in
 $prefix/pmix/lib/pmix

This was so that --with-pmix=$(prefix)/pmix could be used in OpenMPI  (it n

[2018-01-04 21:58] rhc54 commented on #628
Just to clarify: are you saying you have a param set in the pmix-mca-params.conf file, and we are ignoring it under the given condition? Can you post your .conf file?

[2018-01-05 06:24] pkovacs commented on #628
I see the problem.   The parameter `mca_base_component_path` is initialized in `pmix_mca_base_open.c`,  but its value is not updated when you use the short name `component_path` in one of the `mca-params.conf` files.   The api `save_value()` in `pmix_mca_base_parse_paramfile.c` is not matching them.   Maybe there's a synonym problem.

Using the longer parameter name works, so that's a workaround f

[2018-01-05 08:28] amckinstry commented on #628
I confirm this workaround works for me

[2018-01-05 09:17] rhc54 commented on #628
Hmmm...out of curiosity, what led you to the use of that shorter name? Is that something OMPI supports? I'm just asking because I'm unfamiliar with the short name for the param.

[2018-01-05 09:20] pkovacs commented on #628
Gotta be the bottom of this file:

https://github.com/pmix/pmix/blob/master/etc/pmix-mca-params.conf

[2018-01-05 17:00] rhc54 commented on #628
Good catch! After discussing it upstream, the consensus was to fix that comment as we have (to the best of our knowledge) never actually supported a simple "component_path" name for that variable.

Sorry for the confusion!

[2018-01-13 21:22] #628 closed

[2018-01-17 07:49] victorsndvg commented on #556
Hi @rhc54 !

I've seen that you have a new PMIx release candidate (https://github.com/pmix/pmix/releases/tag/v2.1.0rc2). Great job! It is supposed  to solve this issue, right?

In two weeks I will be able to check it, sorry but being very busy right now. There is something special I need to know for testing it?

[2018-01-17 08:44] rhc54 commented on #556
Hi @victorsndvg !

Yes indeed - it should be the final fix. Only thing you need to know is that the corresponding release candidates for v1.2.5 and v2.0.3 are required for cross-version operation.

We may have to release before you are available to avoid blocking another project, but we can come back to make corrections if needed. We usually have a cleanup release in about 1 month when starting a

[2018-01-19 19:44] rhc54 opened #643 "Public data buffer ops cannot specify source/target"
The v2 public data buffer op APIs (e.g., PMIx_Data_pack) do not provide an input parameter for specifying the intended target (for pack) or source (for unpack) of the data. This isn't an issue for operations where both parties are using the same version of PMIx, but is an issue for cross-version operations.

Unfortunately, we already released those APIs in the v2.0.2 release. However, the only use

[2018-01-26 06:45] artpol84 opened #648 "Incorrect example "client.c""
The issue was [originally discovered](https://groups.google.com/d/msg/pmix/p_NaCza4y_U/SciaJ4Y1AwAJ) by @stoffelj.
He was getting errors when using one of PMIx examples: https://github.com/pmix/pmix/blob/2.0.2/examples/client.c.

This example has multiple issues. The simplest one that @stoffelj hit was the fact that remote key was requested with local `myproc` process identifier:
https://github.co

[2018-01-26 14:37] rhc54 commented on #648
Hmmm...yeah, that code got re-used and extended well beyond its original intent (which was just a one-node smoke test). We can update it.

[2018-01-29 21:03] #648 closed

[2018-01-29 21:08] artpol84 commented on #648
@rhc54 Thank you.
I think that we need to backport it to release branches as people might want to use it.
Since this is not a change to the core functionality and it's a bug - should be ok.

[2018-02-01 20:08] rhc54 commented on #643
Fixed on master as well as v2.x branches

[2018-02-01 20:08] #643 closed

[2018-02-04 06:43] artpol84 opened #665 "PMIx/dstore performance issues"
I'm creating this issue as the reference for the dstore locking performance issue.
POC for evaluation: https://github.com/artpol84/poc/tree/master/benchmarks/shmem_locking

Currently dstore is using global lock to arbitrate between PMIx server writing and PMIx clients reading at the same time (this is mainly for direct modex mode).

* Originally dstore was using flock but it was found to perform v

[2018-02-07 22:44] artpol84 commented on #665
# Locking and thread shift overhead
Here is some measurements indicating that on regular systems (where core count = process count) thread shifting also significantly harms performance:

For "no thread shift" runs I was using the following patch:
PMIx_Get_nb patch to disable thread shifting:
[code]
For "Locking off" runs I was using the following patch:
[code]
I also changed pmix_perf to do more i

[2018-02-07 22:48] artpol84 commented on #665
@jjhursey already noticed thread shift issues before: https://github.com/pmix/pmix/issues/207#issuecomment-282063504

[2018-02-07 23:00] artpol84 commented on #665
Adding all combinations:
![image](https://user-images.githubusercontent.com/7534910/35946145-8ad617ca-0c17-11e8-83ba-409e258e4b23.png)

[2018-02-07 23:18] rhc54 commented on #665
If you don't thread shift, then you have to start injecting global locks into the code base - and deal with all the thread-lock scenarios. We've been burned by that approach multiple times in other projects, which is why we consciously chose to avoid it here. The time penalty can undoubtedly be reduced with some careful coding.

[2018-02-07 23:22] artpol84 commented on #665
Right now I'm thinking about avoiding thread shift when searching dstore. We discussed that with @jjhursey in the referenced Issue.
I am sure (see https://github.com/pmix/pmix/issues/665#issue-294175076) that internal locks will not have such a high overhead.

`The time penalty can undoubtedly be reduced with some careful coding.` Can you elaborate? My understanding is that because thread shifting

[2018-02-07 23:24] artpol84 commented on #665
Dstore can be separately protected by internal locks, it shouldn't be hard, on the other hand we can get 20x performance improvement for the dstore.
Just a naive calculation. To retrieve 1M keys from the dstore right now you will need 30 seconds!! This doesn't sound right.

[2018-02-08 01:37] artpol84 commented on #665
* `we should never be retrieving a million keys, so your concern seems out-of-line with expected use.`
This was to highlight high latency. Considering that memory access (cache miss) is roughly 100ns fetching a key from the memory in 30us identifies inefficiency.

* `the locking issue with dstore, IIRC, stems from there being a global lock that therefore forces serialization across access from all

[2018-02-08 01:49] artpol84 commented on #665
Regarding thread context switching:
http://blog.tsunanet.net/2010/11/how-long-does-it-take-to-make-context.html
Process context switching:
[code]
And thread experiment:
[code]
If we will consider measurements from https://github.com/pmix/pmix/issues/665#issuecomment-363940628 with 1PPN:

proc num | v2.1 | v2.1/notshift
-- | -- | --
1 | 5 | 1

`(5 - 1) / 2 = 2us`. It looks comparable to the results