[2019-06-13 23:11] morrisonlevi commented on #1291
What versions are OpenMPI's internal PMIx compatible with? I imagine that is also somewhat version dependent.

[2019-06-15 03:44] rhc54 commented on #1312
@hzhou Does #1321 look like an acceptable solution to you? If so, I can extend to the other macros - just want to ensure we are going down a path that solves the problem.

[2019-06-15 04:32] rhc54 commented on #1259
Current status report from the updated xversion.py test:
[code]
I'll take a look at the spawn failures. For the rest of these, can someone more familiar with those tests perhaps give us an assessment as to which ones should be passing for these combinations? For example, I'm pretty sure that "resolve peers" never worked in the v1.x series.

[2019-06-15 13:26] hzhou commented on #1312
@rhc54 Yes, I think it will solve our memory tracing issue. Thanks for doing this.

[2019-06-16 09:03] #1312 closed

[2019-06-17 18:05] rhc54 commented on #1259
Update: I have fixed the spawn test failures:
[code]

[2019-06-18 00:46] rhc54 commented on #1259
Continued working on these. Found that `test-resolve-peers` doesn't work on the v1.2 and v2.0 series for good reasons that are not worth fixing, so disabled that test on combinations involving those series. This leaves us with:
[code]

[2019-06-18 00:49] rhc54 commented on #1291
So the real question here is: what versions does each OMPI release carry internally? You can see the answer here: https://pmix.org/support/faq/which-environments-include-support-for-pmix/

[2019-06-18 03:17] rhc54 commented on #1259
Digging some more, it is pretty clear that `test-replace` doesn't work on v1.2, so let's turn it off...and so we are down to the fence tests:
[code]
@artpol84 @karasevb Do you know if these tests should be working on these combinations?

[2019-06-18 15:14] jjhursey commented on #1169
I don't know if PR #1322 needs to be incorporated here or not.

[2019-06-24 09:04] akesandgren commented on #1122
Is there a similar fix for the 2.2 series? We got hit by the same problem (probably) on version 2.2.1

[2019-06-24 10:04] karasevb commented on #1259
The `--fence` errors are caused by an opposite ranking scheme in the test suite: versions v1.2 and v2.0 assume that the ranking goes throughout namespaces. The different ranking is used for the next versions (since from v2.1), where the rank numbers start from 0 for each namespace.

The expression `-n 4 --ns-dist 3:1 --fence "[db | 0:;1:0]"` is not working for v1.2/v2.0 because here first three ra

[2019-06-24 21:34] artpol84 commented on #1259
Thanks, @karasevb!
@rhc54 please see if this answers your question.

[2019-06-25 03:45] rhc54 commented on #1259
Yep - thanks!! This has now been resolved.

[2019-06-25 03:45] #1259 closed

[2019-06-25 22:56] rhc54 commented on #1122
I am working on a new 2.2 release now - it will include these fixes.

[2019-06-26 01:13] ggouaillardet opened #1332 "failure with CFLAGS=-m32"
When `master` (I did not try other branches) is configure'd with `CFLAGS=-m32`

For a yet unknown reason, `CFLAGS` does not contain `-m32` when `AC_CHECK_TYPES(__int128)` is invoked, so `__int128` is detected.

For example, the following program

[code]

```gcc -c foo.c``` works fine, but ```gcc -c -m32 foo.c``` fails (and this is what we would expect here).

[2019-06-26 01:36] ggouaillardet commented on #1332
@rhc54 The error is triggered by pmix/pmix@c65bcd7370eef57756a16f8894b27d800529d954

In the case of `-m32`, we do want to test with the user-provided `CFLAGS`.

[2019-06-26 02:46] rhc54 commented on #1332
Okay, I see - let me try to find a workaround. We ran into a problem with external CFLAGS on another configure test which motivated the change. I guess we have to come up with some scheme for which ones to allow and which to avoid.

[2019-06-26 03:00] ggouaillardet commented on #1332
yep, my first guess would be to either whilelist `-m32` or blacklist `-Werror`

[2019-06-26 03:04] rhc54 commented on #1332
Yeah, either way should suffice. Maybe we should just blacklist `-Werror` for now as that was the real source of the trouble? Spewing warnings from `-Wextra` shouldn't interfere with the configure tests.

[2019-06-26 03:59] ggouaillardet commented on #1332
sounds good to me!

[2019-06-26 16:36] rhc54 commented on #1332
Refs #1331 , #1333

[2019-06-26 18:43] rhc54 commented on #1332
All target branches updated!

[2019-06-26 18:43] #1332 closed

[2019-06-27 21:03] jjhursey commented on #1278
@rhc54 It sounds like you were looking into this. How close are we to getting this working?
I'm wondering if we can try to get it into the pending releases.

[2019-06-27 21:05] rhc54 commented on #1278
Might be able to finish it this weekend - however, the fix might be pretty disruptive for a release branch. I am still digging out a bit and need to look at the branch I was working on to see.

[2019-06-28 11:50] steven-varga opened #1336 "pmix 3.1.3rc4 undefined reference to `pmix_plog'"
While compiling pmix 3.1.3rc4 the process stopped with: **undefined reference to `pmix_plog'**
### version
commit 5e6ec324605b82050754829d35b7d0c799062084 (HEAD, tag: v3.1.3rc4)
###

### OS

* Operating system/version: **ubuntu 18.04**
* Computer hardware: **aws m5d.2xlarge instance**
* Network type: **aws ethernet fabric**
* compiler: **gcc (Ubuntu 8.3.0-6ubuntu1~18.04.1) 8.3.0**
* configure outp

[2019-06-28 12:06] steven-varga commented on #1336
I was checking out different versions, and didn't invoke **autogen.pl**. When using fresh clone and checkout tag 3.1.3rc4 the issue went away.

[2019-06-28 12:06] #1336 closed

[2019-07-06 05:54] pkovacs opened #1345 "v3.1.3 test failures on big endian (s390x, ppc64)"
Some of the new pmix tests fail under s390x, specifically tests 00-05 and 11.  My other 5 arches build and test fine.  I note that the failures occur when the `pmix_test` program uses the `--ns-dist` setting.  I will attach the build log and hw info for the machine.  These are all cloud-based vm's over which I have no control.  There might be some process limit causing the problem.

[code]
[build.

[2019-07-06 13:22] rhc54 commented on #1345
Would it be possible to see the stderr output from the failed tests? It would help us understand this particular failure. I'm afraid I'm unfamiliar with `s390x`.

[2019-07-06 20:53] pkovacs commented on #1345
There is some stderr in the attached build.log (see snippets below).  I could add more verbosity by running the pmix_test program with -v.   I'll follow-up with the more verbose output soon.

[code]

[2019-07-06 22:45] rhc54 commented on #1345
Is TCP not available on that machine? We should only be using usock if TCP is unavailable. Also looks like `pmix_test` may be segfaulting - if so, a backtrace might be useful.

[2019-07-06 22:45] pkovacs commented on #1345
Attached is a new s390x build.log where I added -v to the pmix_test, so there's verbose output.  Below is the snipper for test 00:

[code]
[build.log](https://github.com/pmix/pmix/files/3365097/build.log)

[2019-07-06 22:53] pkovacs commented on #1345
@rhc54 I have no control over the configuration of the machine, but I can do things like add arch-specific adjustments via coding them into my rpm spec.  The brute force thing to do might simply be to turn off the tests on this arch.   It's not ideal, but I go that route if the tests are simply not runnable due to the machine config.   Unfortunately I have no direct way of getting onto the machine

[2019-07-06 22:55] rhc54 commented on #1345
Got it - I think I'll defer to my IBM colleagues about disabling the tests as this is an IBMz architecture (or so I believe as s390x is supposed to target that machine type).

@jjhursey Do you guys have an opinion?

[2019-07-06 23:39] pkovacs commented on #1345
@rhc54 This is interesting.  Of the 6 arches we build for currently at Fedora, only s390x is big endian.  I trust my nose and I'm going to suggest that there might be an endian problem in the code somewhere.  I'll snoop around a little.

[code]

[2019-07-06 23:52] artpol84 commented on #1345
@rhc54 this might be related to the recent findings in ptl code.
I see that error comes from the usock ptl code. If both client and server are 3.1.3 tcp ptl should be selected.

I agree with @pkovac that big endian is likely the issue.
If there is an option to get on this system I can suggest help with initial debugging as I recently worked with this part of the code.

In any case I suggest to ena

[2019-07-07 00:20] pkovacs commented on #1345
@artpol84 Attached is a new build log with PMIX_MCA_ptl_base_verbose=100 added to the test environment.  Scroll down through the log to the bottom where the tests are run.  There is no practical option to ssh into these build machines.  I submit the jobs using a cli.   The only thing we can do is find or spin up a big-endian vm locally.   It might be interesting to see if a `ppc64` big-endian mach

[2019-07-07 23:16] pkovacs commented on #1345
I found most of the problems and will submit a patch soon.

[2019-07-08 00:09] artpol84 commented on #1345
Thanks!

[2019-07-08 00:18] artpol84 commented on #1345
This looks like an issue at the PTL side
[code]

[2019-07-08 02:13] pkovacs commented on #1345
Alright, here's what I have so far.  I had to spin up a ppc64 vm to get a big endian environment, working under the assumption that endian is the issue.   Alongside a little endian vm, I built 3.1.3 in debug mode to activate the assertions, add -g, etc.  I tested both endians side-by-side.  Using gdb, I was able to pin down the problems to the pack and unpack apis in the test code.  I did not (yet

[2019-07-11 15:02] rhc54 opened #1351 "PMIx v3.1.4 Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2019-07-11 15:02] rhc54 opened #1352 "PMIx v3.2.0 Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2019-07-11 15:03] rhc54 commented on #1195
Complete

[2019-07-11 15:03] #1195 closed

[2019-07-12 13:25] jjhursey commented on #1285
MTT Running with PMIx and PRRTE+PMIX
 * https://github.com/pmix/pmix-tests/tree/master/intel
   - **Help needed**: Writing tests
 * https://github.com/open-mpi/mtt/
   - Plugins available for PMIx and PRRTE (Python Client)
 * Think about a matrix of client vs server component selection

[2019-07-12 14:43] krempel-pt opened #1355 "PMIx_server_register_nspace fails since 3.1.3rc4"
### What version of the PMIx Reference Library are you using?
v3.1.3rc4 and v3.1.3

### Describe how PMIx was installed
Compiled from the release candidate tarball using
configure --enable-debug CFLAGS=-DHAVE_SYSLOG

### Please describe the system on which you are running
Operating system/version: Fedora release 29
Computer hardware: Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
Network type: none (loc

[2019-07-13 03:48] rhc54 commented on #1355
Your code is fine - this is a problem on our side. My branch containing the implementation to support the info arrays (e.g., `PMIX_JOB_INFO_ARRAY`) has not yet been merged and missed the 3.1.3 release. However, the check for the two maps did get into the branch.

Bottom line: in 3.1.3rc3 we weren't properly parsing the data in the array (it just got stored as a single object). In 3.1.3 final relea

[2019-07-13 06:36] pkovacs commented on #1345
[code]
OK, I found the problem that was causing `test/run_tests14.pl` to timeout every time.  It was another big endian deref on a server_id variable.  On little endian, the code was picking up the server_id value of 1, but on big endian that 1 is eight bytes away, so server_id was being set to 0 instead of 1 and thus the client didn't have the correct server_id.

PR #1356

[2019-07-13 12:40] rhc54 commented on #1345
Thanks again for the assist - it is deeply appreciated!

Just a heads-up: we have a report of some missing functionality (as specified in the v3.1 standard) in the v3.1.3 release, so we will be doing a short turn on v3.1.4. Likely will see that released in a week or so. I'll include these fixes in it as well.

[2019-07-13 12:40] #1345 closed

[2019-07-13 16:48] pkovacs commented on #1345
@rhc54 Please cherry-pick the two big-endian commits below into the v3.1 train, so that  v3.1.4+ won't show the same problem!

3a7defdec3049b204e602f6fd9d5c5a71bf1df7d and 9997a50e4011669aba7b532bb7147684897c2a96

[2019-07-15 19:23] rhc54 commented on #1355
I fixed this in master with #1358 and it is included in the v3.1.x update #1359 . Thanks for the heads up!

[2019-07-15 19:23] #1355 closed

[2019-07-15 20:55] jjhursey commented on #1278
@rhc54 I tried OMPI 4.0.1 with PMix 3.1.3 and do not see the library corruption that you mentioned on the last call. I am running in a Docker container on a ppc64le system.

You can try my [Docker](https://gist.github.com/jjhursey/dbb55a5663156ab75a5843ca0cfce4c5) spec on your system. You will need a `src` directory with the `hwloc-1.11.12.tar.gz`, `hwloc-2.0.3.tar.gz`, and `libevent-2.1.8-stable.

[2019-07-15 21:44] rhc54 commented on #1278
I'll take a look. FWIW: dstore will not work with the legacy PMI interfaces as the key is not associated with a specific proc. Part of the change I had to make was to check for legacy and avoid the "fastpath" operation.

[2019-07-15 21:45] tonycurtis opened #1360 "Unexpected debugging message"
Thank you for taking the time to submit an issue!

## Background information

Debugging message appears when it shouldn't

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

github master 1e1d89e26d4fc3afe9af0844ee9eb929282cb667

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating

[2019-07-15 22:28] tonycurtis commented on #1360
+1

[2019-07-15 22:32] #1360 closed

[2019-07-19 13:17] rhc54 commented on #1278
Interesting - there is just something about the backward compatibility support that is broken on the Mac environment. When I try to run your example, it segfaults with the following stacktrace:
[code]
Somehow, we go thru the initialization and then the `pmix_globals` struct gets re-initialized back to all zeros, crashing the next time something accesses a pointer element in it. I have been unable

[2019-07-19 14:35] rhc54 commented on #1278
Confirmed that it does not happen on Linux, so it definitely is an issue with building in the Mac environment.

[2019-07-24 15:56] #1172 closed

[2019-07-24 18:35] rhc54 commented on #1278
Fixed by #1371

[2019-07-24 18:35] #1278 closed

[2019-07-24 18:36] rhc54 commented on #1158
@artpol84 @karasevb Was this ever resolved?

[2019-07-25 00:49] rhc54 opened #1375 "Fastpath "get" is truncating keys"
I've been seeing something that had me puzzled - whenever we did a modex to obtain data and passed the results down to a process, we wound up turning around and asking the server for the data anyway. In digging a little deeper, I finally discovered that the `fastpath` method for obtaining values is returning truncated keys.

You can see this easily by running `./simptest` in the `test/simple` dire

[2019-07-25 02:31] artpol84 commented on #1158
No, thanks for pinging

[2019-07-25 20:15] jjhursey commented on #1375
A few notes from the teleconf:
 * Adding a `key != NULL &&` check to [this](https://github.com/pmix/pmix/blob/master/src/client/pmix_client_get.c#L104) statement fixed the problem because it will threadshift and then choose to use `hash` later. The later point has a similar check for the `key == NULL` to choose `hash` over the dstore component.
 * The above fix will make this code path function co

[2019-07-26 17:03] artpol84 commented on #1375
We will take a look, thank you.
The repro would be appreciated.
@karasevb, FYI

[2019-08-01 03:23] ktpedre opened #1381 "PMIX ERROR: BAD-PARAM in file base/pnet_base_fns.c at line 113"
### Background information
Running PMIX 2.2.3 RC1 with OpenMPI 3.1.4 and SLURM 17.11.12.  Here are the configure lines for each:

./configure --prefix=/opt/atse/pmix --disable-pmi-backward-compatibility --enable-static

./configure --prefix=/opt/atse/mpi/openmpi3-gnu7/3.1.4 --disable-static --enable-shared --enable-builtin-atomics --with-sge --enable-mpi-cxx --with-pmi=/usr --with-pmix=/opt/atse/p

[2019-08-05 12:22] alarcher opened #1384 "Use of posix_fallocate() is invalid on ZFS"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

PMIx version 3.1.3.

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Installation from source tarball downloaded from Github.

### Please describe the system on wh

[2019-08-05 17:57] #1384 closed

[2019-08-05 23:25] rhc54 commented on #1381
Sorry for delay - just got back from vacation. There are some patches still missing from the v2.2.3 release candidate as we had turned our priorities toward the v3.1.4 release. I'll be coming back to it this week and will ensure this gets included.

[2019-08-05 23:36] ktpedre commented on #1381
OK, thanks Ralph.  We are using OpenMPI 3.1.4 and SLURM 17.11.12 (both configured for PMIx).  Is PMIx 3.1.x compatible with these versions of OpenMPI+SLURM?  If so, maybe we should switch to it.  We noted OpenHPC is still using PMIx 2.2.2 with OpenMPI 3.1.4, so that's why we stuck with 2.2.x.

[2019-08-06 00:08] rhc54 commented on #1381
Technically, yes - but I don't know if the OMPI configure logic will correctly handle it. I know that Slurm will not, though there is an upstream commit in Slurm master to fix that problem.

[2019-08-06 04:09] ktpedre commented on #1381
OK, thanks, we'll stick to 2.2.x for now.

[2019-08-06 16:25] artpol84 commented on #1375
@jjhursey,

Is this an observed behavior? #1382 fixes the key truncation.
Our current understanding is that the fixed bug key name truncation was related only to a codepath that corresponds to the key == NULL case.
This means we don’t envision similar issues with the array case. Though we haven’t yet checked.

So I’m trying to see if this was a concern or an observed bug.

[2019-08-07 05:49] #1375 closed

[2019-08-07 12:32] damora commented on #1278
libpmi.so not bootstrapping flux-broker
PMI_Init: PMI_LIBRARY is set, use /shared/flux/pmi/libpmi.so
pmi_wrap_create: using /shared/flux/pmi/libpmi.so
PMI_Init: PMI_LIBRARY is set, use /shared/flux/pmi/libpmi.so
2: PMI_Init rc=0
2: PMI_Get_size rc=0
2: PMI_Get_rank rc=0
2: PMI_Get_appnum rc=-1 operation failed
flux-broker: PMI_Get_appnum: operation failed
flux-broker: bootstrap failed
[traceLog.tx

[2019-08-07 12:34] rhc54 commented on #1278
I believe it is fixed in PMIx master and in the v3.1.4 version we are getting ready to release. What version are you using?

[2019-08-07 12:44] damora commented on #1278
I built from 3.1.4rc2.

[2019-08-07 12:46] rhc54 commented on #1278
Is flux providing an app number?

[2019-08-07 13:07] damora commented on #1278
not sure I understand, but flux-core executes:
   /* Get rank, size, appnum
     */
    if ((e = PMI_Get_size (&size)) != PMI_SUCCESS) {
        log_msg ("PMI_Get_size: %s", pmi_strerror (e));
        goto done;
    }
    if ((e = PMI_Get_rank (&rank)) != PMI_SUCCESS) {
        log_msg ("PMI_Get_rank: %s", pmi_strerror (e));
        goto done;
    }
    if ((e = PMI_Get_appnum (&appnum)) != PMI_SU

[2019-08-07 14:26] rhc54 commented on #1278
I suspect something has changed since that rc as that is not how the code currently looks in v3.1.4:
[code]
You might want to clone the v3.1 branch to get the current code state.

[2019-08-08 13:39] damora commented on #1278
@rhc54 you were correct. I switched to v3.1 and adapted the pmi1.c in that branch to create the libpmi.so that I interface to the libpmix from Spectrum MPI and now I am able to launch the flux broker successfully. I need to do more testing, but at least I can launch the broker. Thank you Ralph.

[2019-08-08 17:25] jjhursey commented on #1375
Ralph observed the bug with simptest. I don't know of other occurrences.

[2019-08-09 18:55] rhc54 commented on #1381
@ktpedre I just posted a v2.2.3rc2 now that should (I'm hoping) fix these problems. Would you please give it a spin?

https://github.com/pmix/pmix/releases/tag/v2.2.3rc2

[2019-08-09 20:20] jjhursey commented on #1278
Ref:
 * v3.1.x branch PR #1369
 * v2.2 branch PR #1395

[2019-08-09 21:10] jjhursey opened #1396 "PMI1 shim hangs with dstore gds component, passes with hash"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

 * Open MPI v4.0.x (at https://github.com/open-mpi/ompi/commit/cb3ed472e5f697c0e74744b78a6b76d80ecff30a) and PMIx 3.1.4

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, e

[2019-08-09 21:19] jjhursey opened #1397 "PMI2 shim crashes"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

 * Open MPI v4.0.x (at https://github.com/open-mpi/ompi/commit/cb3ed472e5f697c0e74744b78a6b76d80ecff30a) and PMIx 3.1.4

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, e

[2019-08-15 19:31] jjhursey commented on #1256
Ref pmix_coord_t was merged: https://github.com/pmix/pmix/pull/1349

[2019-08-15 20:34] dsolt opened #1401 "A PMIx_Put is required to force a modex before a PMI_Get of Job level data"
Thank you for taking the time to submit an issue!

## Background information

I am working with multiple namespaces.  In this case a client has created a new namespace using PMIx_Spawn.  The parent and child namespace do a PMIx_Fence call across both namespaces (not sure if this is important).  The parent namespace then attempts to do a PMIx_Get on the child namespace.  This results in a hang on t

[2019-08-15 23:42] rhc54 commented on #1381
This should have been fixed in v2.2.3 - please reopen if the problem persists

[2019-08-15 23:42] #1381 closed

[2019-08-15 23:43] #1351 closed

[2019-08-15 23:52] ktpedre commented on #1381
Thanks.  We haven’t had time to test yet, but will soon and let you know how it goes.

On Aug 15, 2019, at 5:42 PM, Ralph Castain <notifications@github.com<mailto:notifications@github.com>> wrote:

This should have been fixed in v2.2.3 - please reopen if the problem persists

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/pmi

[2019-08-19 19:44] dsolt opened #1404 "PMIx_Get that forces a server_dmodex call will cause the next PMIx_Fence to hang"
Thank you for taking the time to submit an issue!

## Background information
git master @ 4ce90e2da06243cd5cf64cbf0c3d3df8ba503276

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
git clone

### Please describe the system on which you are running

* Operating system/version:  linux
* Computer hard

[2019-08-20 16:33] rhc54 commented on #1158
I believe this has been fixed by other commits - the dstore "fastpath" checks will fail as the value won't be in the dstore, but the next thing we do is check the hash table which should find the info.

@dsolt Can you please confirm?

[2019-08-20 16:33] rhc54 commented on #913
Pretty sure we can close this now - yes?

[2019-08-20 17:56] #1401 closed

[2019-08-21 17:02] rhc54 commented on #1404
@dsolt You do a put, commit - and then a get? Given that the fence hasn't happened yet, the values won't have been circulated. So what value are you "get"ing?

[2019-08-21 17:05] rhc54 commented on #1404
FWIW: I reproduced your program, with the "get" being of the hostname of a process in the other nspace, and it worked just fine with PRRTE and current PMIx master.

[2019-08-22 08:28] karasevb commented on #913
I have not encountered this problem lately. Let's close this.

[2019-08-22 08:28] #913 closed

[2019-08-22 08:50] karasevb opened #1412 "v3.1/PMIX ERROR: NOT-FOUND in file client/pmix_client_get.c at line 337"
[code]
We get an error for both processes:
[code]
This error does not affect execution; the application goes successfully.
The error message goes from here, where the key that it is trying to find is `key btl.tcp.4.1`: https://github.com/pmix/pmix/blob/v3.1/src/client/pmix_client_get.c#L334

`master` and other versions (except 3.1) do not show same error for this.

@rhc54 should this error really

[2019-08-22 14:35] rhc54 commented on #1412
Looks like a piece of debug that got left in the code - probably was removed in a later commit that didn't get cherry-picked. I'll remove it.

[2019-08-22 19:25] artpol84 opened #1414 "Multi-namespace support in dstore"
Ref: #1158 (maybe related to #1404)

The goal of this issue is to ensure that we are taking optimal code paths and use the dstore everywhere it is possible.

Action Items:
* @dsolt, @rhc54 : advice on the test suite that should be exercised to ensure that everything is working OK (we should probably think of adding this to the test suite)
* @artpol84, @karasevb: analyze the use-cases and fix if ne

[2019-08-22 19:26] artpol84 commented on #1414
AI:

[2019-08-24 15:14] tonycurtis opened #1419 "PMIx hanging on multi-node SLURM jobs"
Thank you for taking the time to submit an issue!

## Background information

PMIX has started hanging when run on multiple nodes under SLURM. Same programs work fine with PBS/Torque.

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

github master @ 910a43a5a96ef4370799c9417f7e0dd385b0eaee

### Describe how PMIx was installed (e.g., from a

[2019-08-24 17:18] rhc54 commented on #1419
Were you running the job with "srun"? What was the executable doing wrt PMIx when it hung?

[2019-08-24 17:52] tonycurtis commented on #1419
It's through salloc followed by prte/prun.  Actually it appears to be the prte/prun combination that is the problem, as using openmpi as the launcher works

[2019-08-24 17:55] rhc54 commented on #1419
Is PRRTE also at head of master? There was a bug in the "fence" operation that I fixed just the other day.

[2019-08-24 18:01] tonycurtis commented on #1419
Yep, PRRTE @ HEAD too, just re-installed too

[2019-08-24 18:01] tonycurtis commented on #1419
Same behavior on another SLURM cluster, BTW

[2019-08-24 18:04] rhc54 commented on #1419
Can you check to see if the orted's are being started on the remote node? Meantime, I have another possibility in mind that I can check out.

[2019-08-24 18:05] tonycurtis commented on #1419
[code]

[2019-08-24 18:06] rhc54 commented on #1419
Is there by chance a prted (not just prte) running on login2?

[2019-08-24 18:08] tonycurtis commented on #1419
Only via this SLURM job

[code]

[2019-08-24 18:10] rhc54 commented on #1419
?? Why are there two srun's executing for the same jobid? prte will generate one srun command, so where is the other one coming from?

[2019-08-24 18:11] tonycurtis commented on #1419
Here's the pstree output
[code]

[2019-08-24 18:15] rhc54 commented on #1419
Afraid that doesn't make any sense to me, but I guess this used to work and so we would expect it to work now? I can check PRRTE for multi-node ops again, but it was working for me just yesterday on a Slurm machine. However, I launched it there using "salloc -N 2" and then manually started prte and prun.

[2019-08-24 18:17] tonycurtis commented on #1419
Yeah, it's been working for ages.  I tried with a different PMIx version (3.1.2) and got the same result so looks like it might be in PRRTE.

[2019-08-24 18:18] tonycurtis commented on #1419
Using OpenMPI as the launcher works fine
[code]

[2019-08-24 18:23] rhc54 commented on #1419
Okay, I'll try to replicate - may take me a bit.

[2019-08-24 18:30] tonycurtis commented on #1419
tnx

[2019-08-24 20:05] #1412 closed

[2019-08-25 21:55] #1419 closed

[2019-08-25 23:45] tonycurtis commented on #1419
+1

[2019-08-29 12:42] angainor opened #1424 "[Q]: pmix_base_async_modex - HOWTO"
Hi, Ralph,
I am a little confused about the async modex. In OpenMPI doc I read

Looking at the code, it seems that in some of the code paths in `ompi_mpi_init.c` no fence is executed
[code]
So if we want async modex and don't collect all data, then there is no fence. Do I understand correctly that in such case I do not need a fence at all, and a call to `PMIx_Get` will get the value for me from th

[2019-08-30 17:32] rhc54 commented on #1424
When you do a fence and request that data be circulated, then we essentially perform an allgather operation. At the end, every daemon winds up with a complete copy of all the data posted by the individual procs. When a proc then requests data from some proc on a different node, the request is locally satisfied from the daemon's copy of the info.

When you don't do a fence, or if you instruct the f

[2019-08-30 18:03] angainor commented on #1424
@rhc54 Thanks a lot for this explanation! all clear now..

[2019-08-30 18:03] #1424 closed

[2019-09-03 13:09] angainor opened #1427 "[Q] OpenMPI application with custom PMIx keys"
(tested with PMIx 2.1.4)

I have a problem using both MPI and PMIx calls in the same application, related to the [async modex](https://github.com/pmix/pmix/issues/1424) we discussed earlier. I use OpenMPI, so the PMIx support is there, and the OpenMPI runtime already initializes it and uses it internally. I initialize my client after `MPI_Init`. After that my application tries to use PMIx to sprea

[2019-09-03 13:31] rhc54 commented on #1427
Just a quick sanity check: your custom key does not begin with "pmix", does it? That would not be allowed.

Otherwise, your method should work. However, PMIx 2.1.4 might have a bug that causes the problem. You might try with v2.2.3: https://github.com/pmix/pmix/releases/tag/v2.2.3

[2019-09-03 13:34] angainor commented on #1427
Nope, starts with `ghex`.

Thanks! I'll try with a newer version and let you know.

[2019-09-03 15:46] angainor commented on #1427
@rhc54 Unfortunately I see the same behavior with 2.2.3. The old version is installed system-wide, so I hope I linked everything correctly:
[code]

[2019-09-03 15:59] rhc54 commented on #1427
Okay, I'll try to reproduce it here

[2019-09-03 21:36] rhc54 commented on #1427
I just tried it with PMIx master running against PRRTE master and it worked fine. I am going to update OMPI master with PMIx master - could you then try your test there? If it doesn't work, then we know the problem is in OMPI and not PMIx.

Just trying to narrow it down.

[2019-09-04 06:20] angainor commented on #1427
Sure, I can do that. Let me know when.

[2019-09-04 06:23] rhc54 commented on #1427
It's ready now, so whenever you have a chance 😄

[2019-09-04 06:57] angainor commented on #1427
Just a sanity check: did you run the ranks on different compute nodes? If you run them on the same node, then it works as expected.

[2019-09-06 15:51] ariebs opened #1431 "pmix_server_message_handler() may lose return status"
I was  trying to get Stony Brook SHMEM to work with Slurm, but found that Slurm doesn’t support the PMIx_Publish() or PMIx_Lookup() calls. It look me a while to figure this out, because PMIx_Publish() was returning rc=0, even though the dummy Slurm server function _publish_fn() was returning PMIX_ERR_NOT_SUPPORTED. (Interesting to note that the PMIx_Lookup() call did properly return PMIX_ERR_NOT_S

[2019-09-06 20:35] rhc54 commented on #1431
Thanks for the detailed report! It actually was a problem in the client side of the code - a silly typo. I should have this backported to the v3.x release series once the fix completes CI.

[2019-09-06 21:17] #1431 closed

[2019-09-10 13:21] angainor commented on #1427
@rhc54 Hi, Ralph! Just wondering if you managed to reproduce this with my code, or is there something I'm doing wrong?

[2019-09-10 13:33] rhc54 commented on #1427
My apologies - nothing wrong with your code. I'm working on another (possibly related) problem and will report back when this is addressed.

[2019-09-10 13:47] angainor commented on #1427
thanks! np, I'll wait :)

[2019-09-11 02:45] rhc54 commented on #1427
I believe this is now fixed - at least, it is working for me. Please give it a try and let me know.

[2019-09-12 07:22] angainor commented on #1427
Heh. I've accidentally found that it seems to be the UCX pml that breaks things. The below runs the defaults (with UCX) and doesn't work:
[code]
While all seems to be fine when I disable the UCX pml:
[code]

Moreover, the behavior is the same in both scenarios for both the `ompi-master`, and for my original test setup (4.0.1 with pmix 2.1.4). So it seems to be indeed something specific to ompi. Ho

[2019-09-13 07:40] angainor commented on #1427
I see the exact same behavior with PRTE and OMPI master. In order to have my key distributed correctly I have to `PMIx_set` it before I call `MPI_Init`. I guess this is a fine work-around, but it's strange nonetheless.

I looked at the source, and there is nothing special in the UCX pml: a few calls to `OPAL_MODEX_SEND / RECV` is all.

[2019-09-13 07:44] rhc54 commented on #1427
I would suggest opening an issue on OMPI and citing this one. There may be something going on with respect to UCX that we don't know about. Offhand, I agree that the connection seems odd, but the fact that it is completely reproducible would seem to indicate that there is something there, and it doesn't appear to be a problem in PMIx itself. Cite @artpol84 on the issue to get his attention.

[2019-09-13 07:52] angainor commented on #1427
It might not be the UCX pml itself, but rather the fact that I use any pml at all, for example. I guess on my system this is the only option I have.

[2019-09-13 12:22] rhc54 commented on #1427
There is always an active PML - if not the UCX one, then ob1 or cm will be used. This is something specific to the ucx pml. The fact that it works when you don't specify the pml indicates that things work fine with ob1, which is the default pml, so this is something specific to the ucx pml for some reason.

[2019-09-13 17:07] jschwartz-cray opened #1444 "Potentially harmless errors about /tmp/spmix_appdir_* in slurm logs"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

PMIx v3.1.3

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From an RPM I built from the github 3.1.3 src RPM:

[code]

### Please describe the system on which yo

[2019-09-13 17:14] rhc54 commented on #1444
@artpol84 This is in the Slurm plugin - can you please take a look?

[2019-10-09 15:26] tonycurtis opened #1477 "Debugging output in latest git HEAD"
Thank you for taking the time to submit an issue!

## Background information

Unexpected text output (only in PBS/Torque as far as I can see)

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master  8ee56d5a008926564c6a9a9460fe59b07d212010

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone,

[2019-10-09 18:00] rhc54 commented on #1477
Crud - sorry about that. Will remove immediately

[2019-10-09 18:24] #1477 closed

[2019-10-16 17:01] tonycurtis opened #1484 "Startup rank error under SLURM"
Thank you for taking the time to submit an issue!

## Background information

Latest PMIx generating errors under SLURM

### What version of the PMIx Reference Server are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

via SLURM pmix plugin in package

[code]

##### What version of PMIx are you using? (e.g., v1.2.5, v2.0.3, v2.1.0, git branch name and hash, etc.)

git master @ 7d92a4d9835e

[2019-10-16 17:33] rhc54 commented on #1484
Hi @tonycurtis - I'm on leave thru the end of the year and so my response time isn't going to be as good as it used to be. I gather this cmd line works with other versions of PMIx? Just wondering if the ntasks-per-node option is confusing the PMIx plugin.

[2019-10-16 17:35] tonycurtis commented on #1484
Tried without —ntasks but same problem.  It’s all been working perfectly until the last day or so.

Haven’t tried this setup with other PMIx versions, but will do.

Tony

[2019-10-16 17:36] rhc54 commented on #1484
No need - if it has been working, then it is an introduced bug in master. I'll poke at it.

[2019-10-16 18:00] rhc54 commented on #1484
Just one last point of clarification: is Slurm using the same version of PMIx (i.e., master)? Or is it using some other version?

[2019-10-16 18:13] tonycurtis commented on #1484
Assuming I’m looking in the right place:

/* define PMIx version */
#define PMIX_VERSION_MAJOR 2L
#define PMIX_VERSION_MINOR 1L
#define PMIX_VERSION_RELEASE 4L

#define PMIX_NUMERIC_VERSION 0x00020103

Tony

[2019-10-16 20:01] rhc54 commented on #1484
Okay, that's the problem. Still working on a cross-version issue on master and v3.1.5.

[2019-10-21 12:42] rhc54 commented on #1484
@tonycurtis I believe this is fixed now - at least, it passes my cross-version tests. Could you give it a try and close this if it is now okay?

[2019-10-21 14:17] tonycurtis commented on #1484
Looks good
thanks
Tony

[2019-10-21 14:36] rhc54 commented on #1484
Thanks!

[2019-10-21 14:36] #1484 closed

[2019-10-30 11:55] jviquerat opened #1513 "PMIX error out of resource"
Hi,

I am working with a C++ CFD code that uses openmpi. In several cases, I have to call this code multiple times (hundreds to thousands of times) via a single python process, without exiting python.
In this case, I am consistently facing the following error after a fixed amount of calls to the CFD code (994 times) :

[code]

I believe this is related to some buffer that gets filled at each call

[2019-10-30 19:59] dsikich commented on #1513
@jviquerat I'm fairly new to this project and the creator of the project is on vacation through December so I will try to assist if I can, but I'm still learning the codebase. I looked and am unable to find this file in either the ompi PMIx code or the PMIx codebase. I believe the host server (ompi) would also be where the listener function would actually be implemented. Do you have this file? I'm

[2019-10-30 20:41] jviquerat commented on #1513
@dsikich thanks for your answer. Finally found the file in a previous revision (it is not present anymore in more recent versions) : https://github.com/openpmix/openpmix/blob/858c378719669ee772b5326c3f2d2606ad0c9bd6/src/server/pmix_server_listener.c

[2019-10-31 00:16] dsikich commented on #1513
@jviquerat yeah this code is in another file in newer versions. The OUT-OF-RESOURCE error is coming from EMFILE, which means there are too many open files, not sure if that helps. What kind of environment and/or machine are you running this on, and how many processes is the C++ using? Is this all on one node?

[2019-10-31 15:18] mike0042 commented on #1513
What is your the open file limit (ulimit -n) in your session set to? 1024 is a common default, so you may need to increase it.

[2019-10-31 19:34] jjhursey opened #1515 ""make check" Cross Version Failures"
The `IBM CI (Cross-version: make check)` test is failing now that it is doing more serious checking. There have been a number of fixes to the unit tests, and the codebase to address the issue. We are not quite done yet. I'm creating this issue to give us a central point to coordinate our activities.

Here is the same output:
[code]
The above error message continues until the timeout is hit.

Here

[2019-10-31 19:45] jjhursey commented on #1515
See note [here](https://github.com/openpmix/openpmix/pull/1514#issuecomment-548365464) on an update that is needed to the unit test which may be one source of the hang. @karasevb mentioned in that thread that he was going to take a look.

[2019-11-02 17:58] rhc54 commented on #1513
What version of PMIx are you using? I believe that code was revamped in the 2.x series, so it must be something fairly old. Any chance you could update?

[2019-11-06 07:41] jviquerat commented on #1513
Hi,

Sorry for the delayed answer.
I tried raising the ulimit when the error first came up, to no avail. Then I realized that, for some unknown reason (possibly a local configuration), the python process was not inheriting the environment ulimit value.
Following this solved the problem : https://coderwall.com/p/ptq7rw/increase-open-files-limit-and-drop-privileges-in-python

So someone in my proces

[2019-11-06 13:53] #1513 closed

[2019-11-07 02:21] karthik-vm opened #1536 "Issues with legacy support for PMI calls"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
PMIx 2.2.3

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Source/distribution tarball
### Please describe the system on which you are running

* Operating system/v

[2019-11-07 02:53] rhc54 commented on #1536
I can take a look at the problems. I don't offhand see a problem with implementing PMI_KVS_Iter_first but will let you know if I hit one.

[2019-11-07 03:49] karthik-vm commented on #1536
Thanks Ralph. We really appreciate your help.

[2019-11-07 18:54] jjhursey commented on #1536
Do you have a link to the `pmi4pmix` project? I'm assuming that is different than the pmi.h included in OpenPMIx, is that correct?

[2019-11-07 19:58] rhc54 commented on #1536
I fixed the singleton operation at #1537. However, I didn't implement the Iter_first function just yet as I'm not sure you really want to use it. The only way to make that function work would be for the process to download _all_ information posted by procs in the job, create a list of it, and then step down that list. This would scale rather poorly both in terms of memory footprint and time.

Are

[2019-11-07 20:33] karthik-vm commented on #1536
@jjhursey Please find the pmi4pmix library tarball here: [pmi4pmix.zip](https://github.com/openpmix/openpmix/files/3821521/pmi4pmix.zip). I also found that pmi.h present in pmi4pmix and in OpenPMIx are similar.

@rhc54 Thanks for fixing the singleton operation. I double checked the MVAPICH2 source and I do not see the PMI_KVS_Iter_first() function. But somehow it got included in the sample reprodu

[2019-11-08 14:51] jjhursey commented on #1536
Thanks @rhc54 for the quick fix!
 * PR #1537 was merged into `master`
 * PR #1538 was merged into the `v3.1` branch - you may want to use this branch for verification testing.

[2019-11-08 15:04] karthik-vm commented on #1536
@jjhursey I realized that Summit administrators have to install this fixed version of PMIx on Summit inorder for me to test there. Will send a request to them.

[2019-11-08 22:43] jjhursey commented on #1515
There were a bunch of `make check` test-related fixes made over the past week. As a result, we are now passing the `make check` cross-version CI again (thanks @rhc54 !). So we can close this issue.
  * https://github.com/openpmix/openpmix/pull/1454#issuecomment-549891654

Some notes from this week's teleconference (full meeting notes are [here](https://github.com/openpmix/openpmix/wiki/Meeting-201

[2019-11-08 22:43] #1515 closed

[2019-11-13 16:03] Mahdiehgh-osu opened #1544 "Issue with PMIx_Get for PMIX_RANK_UNDEF using jsrun"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

PMIx 3.1.3

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

source/distribution tarball

### Please describe the system on which you are running

* Operating syste

[2019-11-13 18:04] dsikich commented on #1544
Hi @Mahdiehgh-osu what version of JSM are you using?

[2019-11-13 21:12] Mahdiehgh-osu commented on #1544
Thanks for your reply. This is the jsm version:

[code]

[2019-11-13 23:43] dsikich commented on #1544
@Mahdiehgh-osu it looks like you built the version of PMIx you are linking with yourself when you launch with jsrun? Can you try running/launching with the PMIx library that was built with JSM on your system.

[2019-11-14 00:26] rhc54 commented on #1544
I suspect that the JSM machine doesn't know how to process values for a rank of ```PMIX_RANK_UNDEF```. Since it is a blocking "get", it will hang waiting for the value to be resolved.

You might check to see what PMIx version was used on the Slurm machine. Might be that the version used there can handle it better.

To be technically correct, you should use either your own rank (since you are the o

[2019-11-14 06:11] Mahdiehgh-osu commented on #1544
Thanks for your prompt reply and guidance.

@dsikich We used the same PMIx library that was used to build JSM.

@rhc54 We tried two different PMIx versions (PMIx-2.2.3 and PMIx-3.1.4) on Slurm machine and they both worked fine.

Our intention is to get the data from any rank that has the specified key, it can be my own rank or any other rank. We tried NULL and PMIX_RANK_WILDCARD for the first argu

[2019-11-14 20:22] jjhursey commented on #1544
FYI @dsolt

[2019-11-15 19:22] dsolt opened #1548 "Dstore leaking 8MB of memory when a namespace exits while another namespace is running"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

3.1.3 (e6837057034e7f22910d66ebdc590389b874f4f2)

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone, bui

[2019-11-19 20:24] karasevb opened #1551 "PMIx_Get provides an incorrect value of `PMIX_LOCAL_PEERS`"
Test PMIx program (`test_lpeers`) to get `PMIX_LOCAL_PEERS`:
[code]
Log:
[code]
It is expected that the `lpeers` for procs on `node01` should contain `0,1` ranks, but this is not so.

The problem is in the code block which forms ranks for `PMIX_LOCAL_PEERS` key:
https://github.com/openpmix/openpmix/blob/089187ccb2ff2c10de09c8cc082ec76fadac897e/src/mca/gds/hash/gds_hash.c#L864-L880

The key `PMIX_L

[2019-11-19 20:30] karasevb commented on #1551
That is the possible reason why MLNX CI fails for the multi-server test (`./pmix_test -s 2 -n 2 --job-fence`)

[2019-11-20 08:00] karasevb commented on #1551
There is patch for this:
[code]
The supposed fix for that is checking for equal the current pmix server hostname with `nodes[n]` and store `lpeers` once names are equal, which avoids replacing the key. But this won't work for all cases, because `nodes[n]` may not match the server name in `pmix_globals.hostname`.
The `pmix_globals.hostname` for the server can be obtained in several ways:
- from `ge

[2019-11-20 12:18] rhc54 commented on #1551
The only way that data can be overwritten is if the same node name is being repeated in the process map. The code directly above what you cite shows why:
[code]
We are tracking all the data on a per-node basis. Thus, the "nd" pointer is pointed to a specific node and we are storing/updating the ```PMIX_LOCAL_PEERS``` for that node, not just the local node. You might check to ensure that the proces

[2019-11-20 20:50] artpol84 commented on #1551
@rhc54

In the code snippet you have provided:
The outer if checks that hostname is non-zero
if (NULL != ndptr->hostname && ...

And later checks if it is zero:
                if (NULL == ndptr->hostname) {
                    ndptr->hostname = strdup(nodes[n]);
                }

Either I’m misreading the code or the inner if statement won’t be ever executed.

[2019-11-20 20:53] artpol84 commented on #1551
@karasevb, in your experiment, which RTE implementation was used?
Was it ORTE/PRRTE or the test server?

[2019-11-21 02:43] karasevb commented on #1551
@artpol84 ORTE was used. As mentioned above `./test_lpeers` runs thru `mpirun`. OMPI built with the same PMIx version as `test_lpeers`.

[2019-11-21 02:50] karasevb commented on #1551
As @rhc54 noticed, my guess regarding key rewriting was wrong. But the problem still has. I will investigate why I get the same `lpeers` value for all nodes.

[2019-11-21 23:11] rhc54 commented on #1551
@artpol84 You are quite correct about that "if" clause 😄  Will fix when I get back for SC

[2019-11-22 05:42] karasevb commented on #1551
The issue should be fixed with commit 2e8d8471efcbf606e3670a2a1b8061b54b8eef95
Testing with the mentioned commit:
[code]

[2019-11-28 10:02] angainor opened #1558 "Problem with multiple PMIx_Init / Finalize call sequence"
I observe what seems to be a bug in a program, which uses OpenMPI and explicit PMIx calls. I use OpenMPI 4.0.2 with external PMIx 3.1.4. Consider the following pseudo-code:

[code]
The above sequence results in OpenMPI failure with the following message:
[code]
The problem disappears if I move the `PMIx_Finalize` after the `MPI_Init` call.

From the standard I understood that multiple `PMIx_Init`

[2019-11-28 16:02] rhc54 commented on #1558
From doing a light scan of the code, it likely is a bug but I'm not sure where. The difference in your two scenarios is that the first one causes PMIx in the client application to fully tear down, so I expect the problem is either that the server doesn't like seeing the client "reappear" or that the tear down isn't quite clean enough. I'll have to take a look

[2019-11-29 07:58] angainor commented on #1558
Thanks. I can work around it of course, but since the code I'm working with is C++, I'd like to put the Init / Finalize into constructor / destructor of my PMIx interface object. I could also create it after `MPI_Init`, but it doesn't work due to #1427.

[2019-12-05 21:14] jjhursey commented on #1544
@Mahdiehgh-osu I noticed one error in your program. The `pmix_proc_t` structure's `nspace` field is not initialized. This was causing the test to hang with `mpirun` from Open MPI as well.

I made the following change to your program (added the `memcpy`):
[code]

Using that and the latest release of JSM this test passes.
[code]

Using the JSM release that you cited (`10.03.00.01rtm3 [Jun 11, 2019]

[2019-12-05 21:23] jjhursey commented on #1544
Thanks for the additional use case for `PMIX_RANK_UNDEF`. Currently, it is not well optimized in OpenPMIx since most keys are associated with a specific rank. As such the handling of `PMIX_RANK_UNDEF` is not handled by the shared memory key/value store (`dstore`), but by the `hash` component. Depending on your application, and the number of these keys you use you might see the slight performance i

[2019-12-05 21:24] jjhursey commented on #1551
@karasevb Is there more work to do on this issue or was it all resolved in PR #1552 ?

[2019-12-05 21:26] jjhursey commented on #1548
I believe this was resolved by the PRs below (please reopen if there is more work to do)
 - `master` PR #1549
 - `v3.1` PR #1554

[2019-12-05 21:26] #1548 closed

[2019-12-05 21:28] jjhursey commented on #1444
Ping @artpol84

[2019-12-05 21:48] jjhursey commented on #1536
@karthik-vm It looks like this issue was resolved with the PRs above, but you are waiting to verify once it is on Summit. Is that correct? If so, then can we close this issue and you can re-open if there are further issues?

[2019-12-05 22:51] Mahdiehgh-osu commented on #1544
@jjhursey Thanks for the information. Good to know that the issue is fixed in latest release.

[2019-12-06 15:11] jjhursey commented on #1544
I'm going to close this issue as completed. Feel free to re-open if you believe there to be more work to do. Thanks!

[2019-12-06 15:11] #1544 closed

[2019-12-06 15:14] jjhursey commented on #434
I'm going to close this ticket given the age of this ticket, and that most work has moved to the master and v3.1 branches. Feel free to file a new ticket (or reopen this one) if performance regressions still need to be investigated.

[2019-12-06 15:14] #434 closed

[2019-12-06 15:17] jjhursey commented on #320
@artpol84 Is this ticket ok to close? Given the #586 was resolved and the dstore enhancements that went into master?

[2019-12-09 23:19] artpol84 commented on #320
I believe this is still relevant. Though not a high prio. Can discuss on the telecon next week (I'm not available this week)

[2019-12-11 18:04] artpol84 commented on #434
Thanks, @jjhursey

[2019-12-11 18:07] artpol84 commented on #1444
Sorry, @jschwartz-cray, @rhc54, @jjhursey
I missed this one.
@karasevb FYI.
Please add to the TODO list to investigate!

[2019-12-11 18:19] artpol84 commented on #1551
@karasevb, please confirm

[2019-12-12 03:38] karasevb commented on #1551
The issue has been resolved by #1552

[2019-12-12 03:38] #1551 closed

[2019-12-12 21:39] jjhursey commented on #1025
PR #1265 is re-enabling the `-fsanitize=address` version in the Travis config:
 * https://github.com/openpmix/openpmix/blob/master/.travis.yml#L32-L36

We need community help on plugging the rest of the leaks to get it to pass.

[2019-12-12 21:44] jjhursey commented on #1123
@karasevb Was this issue resolved?

[2019-12-12 21:50] jjhursey commented on #1158
@dsolt is this good to close or is there more work to do?

[2019-12-12 21:51] jjhursey commented on #1169
Per teleconf:
 * We may not end up releasing a v3.2 and instead wait for v4.0 to release this feature.
 * For now, we will keep the existing branch (even though it is out of sync with v3.1) just in case we need to adjust this plan.

[2019-12-12 21:57] jjhursey commented on #1200
I concur with @rhc54 this is expected as configure has detected a developer build (by the presence of `.git`) and without a `--disable-debug` it will enable debug [here](https://github.com/openpmix/openpmix/blob/master/config/pmix.m4#L1025-L1040). You should be able to disable this explicitly with `--disable-debug`.

Please re-open if that doesn't resolve the issue.

[2019-12-12 21:57] #1200 closed

[2019-12-12 21:59] jjhursey commented on #1223
@amaslenn do you know if the new Mellanox CI includes testing of the `hash` GDS component?

[2019-12-12 22:01] jjhursey commented on #1276
Ref Issue #1025

[2019-12-12 22:04] jjhursey commented on #1291
Let us know if the link above does not answer your question or if a further clarification is needed. Thanks!

[2019-12-12 22:04] #1291 closed

[2019-12-12 22:05] jjhursey commented on #1352
Per teleconf
 * We have put v3.2 on hold to focus on v4.0 release.
 * We can keep this ticket open in case we need to revisit that decision.

[2019-12-12 22:10] jjhursey commented on #1404
@dsolt is this specific to dstore (per issue #1414)? We may need a reproducer reference program.

[2019-12-12 22:28] jjhursey opened #1567 "Add support for job/node/app/session info array keys in dstore"
Per discussion [here](https://github.com/openpmix/openpmix/pull/1476#issuecomment-564723354) in PR #1476 dstore is missing support for job/node/app/session info array keys. On `master` this means that when these keys are requested we are going through the `hash` component instead of `dstore`.

@rhc54 Is this true of the `v3.1` branch as well or just on `master`?

[2019-12-13 14:40] amaslenn commented on #1223
@karasevb could you please help?

[2019-12-13 14:51] rhc54 commented on #1567
True everywhere, I'm afraid. Remember that those keys were defined in v2 of the Standard. However, I wouldn't worry about backporting to anything other than the v3.1 series.

[2019-12-13 17:36] jjhursey commented on #1567
I'm going to hold off on a 3.1.5 until I can assess the performance impact on SMPI. I'll take that action item.
@artpol84 @karasevb You can use this ticket to track your investigation.

[2019-12-15 08:02] ax3l commented on #1025
Little note: my PR is not re-enabling them, but enabling them for the first time ;) I just added them as comments when adding CI in the first place.

[2019-12-15 16:22] artpol84 commented on #1223
https://github.com/openpmix/openpmix/blob/master/.github/actions/mlnx/entrypoint.sh#L400

It should be tested

[2019-12-16 18:24] #1133 closed

[2019-12-18 21:11] #1223 closed

[2019-12-19 18:42] artpol84 opened #1574 "dstore v3: Modernization of the dstore component"
Currently, there are several outstanding issues described below) related to the dstore. Addressing each of them will require breaking the backward compatibility. So I think those changes should come as a bundle called dstore v3.
Known issues:
1. dstore doesn't support the full set of information types/scopes that PMIx supports these days.
    * There was a set of workarounds to bypass the dstore f

[2019-12-22 00:35] hjafari-could commented on #1127
Ok

[2020-01-01 19:51] geowiwi opened #1577 "pthread_mutexattr_setpshared() is not available on all platforms"
## Background information

- Do not try to set pthread_rwlockattr_setpshared with PTHREAD_PROCESS_SHARED when it is not available.
- Do not try to use pthread_mutexattr_setpshared() when it is not available.

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

PMIx 3.1.4, embedded with Open MPI 4.0.2

### Describe how PMIx was installed (e.g.,

[2020-01-01 23:01] rhc54 commented on #1577
Thanks - this might also apply to https://www.mail-archive.com/devel@lists.open-mpi.org/msg21000.html.

I'll bring your patch into master and then PR it back to the v3.1 branch

[2020-01-01 23:49] #1577 closed

[2020-01-05 19:47] FaDee1 commented on #1285
ผู้รับโอน

[2020-01-05 19:49] FaDee1 commented on #1574
ผู้รับโอน

[2020-01-05 22:14] FaDee1 commented on #1352
MO

[2020-01-05 22:21] rhc54 commented on #1558
I'm sorry - can you please translate this into English and re-post?

[2020-01-05 22:22] rhc54 commented on #1352
I'm sorry - can you please translate your additions into English and re-edit them? We cannot understand what you are posting

[2020-01-05 22:23] rhc54 commented on #1567
I need you to post in English so we can understand you - thanks

[2020-01-06 17:20] #1558 closed

[2020-01-06 17:20] rhc54 commented on #1558
@angainor I'm pretty sure we fixed this now - can you please verify?

[2020-01-07 12:59] angainor commented on #1558
@rhc54 Thanks! I'll have a look sometime this week and let you know.

[2020-01-09 16:04] rhc54 opened #1586 "Obtaining asynchronous keys"
Ref #1427
Ref  https://github.com/open-mpi/ompi/issues/6982

A user is trying to use PMIx in a way we hadn't anticipated, but should probably be supported. Here is a summary of the problem:

* procs do a global exchange of some basic set of key-value pairs

* some process (call it proc-A) requests a specific key-value pair from target process (proc-B) that is not included in that global exchange.

[2020-01-09 16:05] rhc54 commented on #1586
Solution 1: Don't support this behavior

Would require clarification in the Standard, but no further work in the library

[2020-01-09 16:07] rhc54 commented on #1586
Solution 2: do the full blob exchange. If the PMIx client fails to find the requested piece of info in that response, then have it follow-up with a "one piece of data" request. When host-2 receives that request, it knows to pursue it with a PMIx_Get call instead of PMIx_server_dmodex_request.

Pretty easy to implement, but would result in slow behavior. Still, the Standard doesn't guarantee anythi

[2020-01-09 16:11] rhc54 commented on #1586
Solution 3: flag that a proc has added/modified its posted data since the last time it was exchanged in a "fence" operation. If we receive a dmodex request and the flag isn't set, then "hold" the request until some new data has been posted. Note that we won't know how much new data is coming, and so we will have to respond as soon as we get the next PMIx_Commit. Thus, if someone posts their data e

[2020-01-09 16:17] rhc54 commented on #1586
Solution 4: Modify/replace the ```PMIx_server_dmodex_request``` API to specify the desired key, with the PMIx server library returning the entire blob once the requested key has been posted.

Requires modification to the Standard, plus changes to OpenPMIx. Still inefficient for the case of multiple async postings by the same target unless those postings are combined into one PMIx_Commit operation.

[2020-01-09 16:40] rhc54 commented on #1586
Solution 5: A modified form of Solution 3. If host-2 receives a dmodex request after performing a fence that includes data exchange, first check for existence of the requested key using ```PMIx_Get```. If found, then return all data posted by the target proc since the last fence, just in case it includes other things the requestor might want. This would resolve the "multi-request" case but require

[2020-01-09 16:43] rhc54 commented on #1586
Solution 6: Require there be a ```PMIx_Fence``` operation before data can be retrieved. The Fence doesn't have to include data - it just needs to be there to ensure that all data was posted by the procs.

Requires clarification in the Standard. May not solve this user's specific use-case as they don't necessarily know when procs should participate in a Fence (not everyone is posting async data). W

[2020-01-09 17:38] jjhursey commented on #1586
Let's see if I understand the problem. The pseudo code looks like this, right:
[code]

Is the problem that without "Fence 2" then the `PMIx_Get(peer, key-2)` may return unknown?

I think that is expected behavior, right? The `PMIx_Commit` is a (node) local operation, and the `PMIx_Fence` is a synchronizing collective. So there is a race here between rank 0 and rank 1 that would require either the

[2020-01-09 17:48] rhc54 commented on #1586
Yeah, that is basically correct. The problem here is that the procs don't know if/when they should participate in some global fence - they don't know if someone else has published new info (arbitrary ranks might or might not do so at any time). The result is "expected" by us, but the direct modex operation doesn't explicitly require there be a fence before using it. As I said above, one solution i

[2020-01-09 17:50] rhc54 commented on #1586
Solution 7: Don't use ```PMIx_Put/PMIx_Get``` for this use-case. Use ```PMIx_Publish/PMIx_Lookup``` instead as this is designed for non-scalable async data exchange.

Requires no change to the Standard, OpenPMIx, or PRRTE. Might want to add some "advice to user" text to the Standard about this usage. Might also need/want to optimize the data server in PRRTE if this gets exercised at any scale.

[2020-01-09 18:08] jjhursey commented on #1586
The process that posted key-2 could throw an event to the other processes to refresh their copy:
[code]

Then the remote process could do the get(), triggering a dmodex that would pick up the new value without the need for a fence. Essentially using the event mechanism to notify and loosely synchronize procs.

[2020-01-10 00:18] rhc54 commented on #1586
@angainor You are welcome to join the discussion!

[2020-01-10 00:19] rhc54 commented on #1427
@angainor Please take a look at https://github.com/openpmix/prrte/pull/297 and see if this alternative approach might meet your needs. I have also linked you in to the general community discussion on this topic.

[2020-01-10 09:31] angainor commented on #1586
@rhc54 @jjhursey Thanks for looking into this! Just to clarify, in this particular (trivial) scenario I want to publish rank address information. The reason I don't want to use the second fence with data collect are the memory considerations. I am working with a communication library for grid-based PDE solvers, and as you know in such applications the rank neighborhood is usually local and small.

[2020-01-10 12:04] angainor commented on #1586
@rhc54 I have looked at https://github.com/openpmix/prrte/pull/297 and `PMIx_Publish / Lookup`. This would of course work, and I guess the lookup semantics looks similar to what I wrote about in my `PMIx_Get` thoughts:

This sounds great. The only pitfall, as I understand from your comment, is that this approach will not be scalable? I guess that is because the lookup is a global operation, which

[2020-01-10 14:24] rhc54 commented on #1586
Whether you use lookup or get, the scenario you describe is inherently non-scalable as it involves a direct host-to-host operation for every data request. The fence-based get operation is scalable solely because we collect the information from every process and make it locally available, and thus the individual get operations are purely local. This allows us to use more efficient collective algori

[2020-01-10 16:04] angainor commented on #1586
I hope you don't mind my lengthy posts :) Trying to understand this better, so please do correct me if I'm confusing something.

I am also thinking about memory scalability, hence the interest in no-modex. I know this is forward-looking, but let's say I run 128 'ranks' per compute node, each posts an endpoint address of size 300b, and I have 1e5 compute nodes. Then after a Fence+collect, each node

[2020-01-10 16:32] rhc54 commented on #1586
Loop @jaidayal into the discussion

[2020-01-10 17:17] rhc54 commented on #1586
@angainor Well, of course, the goal of PMIx is to completely eliminate the endpoint exchange at all 😄 . There are plans in progress of ways to handle the data size you point out as that will be a recurring issue, but those will be implementation specific (of course).

Direct modex was designed as an alternative solution to the problem, but it relies on a Fence to ensure that data is available and

[2020-01-10 17:51] angainor commented on #1586
I'm sorry I brought migration into this discussion - please ignore it. Your initial understanding was correct - I think ;) We've had a previous discussion on async modex, and in https://github.com/openpmix/openpmix/issues/1424#issuecomment-526685051 you wrote that a Fence is essentially an allgather. So I assumed that if I avoid the fence, I avoid the memory footprint problem - because there is no

[2020-01-10 18:06] rhc54 commented on #1586
I see - few things then.

1. Do not use Fence+collect - use Fence without data collection. There is an attribute to stipulate you want a dataless barrier.  It is still effectively an "allgather" operation - just with zero data, which is really what a "barrier" operation is anyway. Helps to reduce overhead
1. If you can share the info on the other communication backends, we would be happy to approa

[2020-01-13 08:17] angainor commented on #1586
@rhc For now we have a UCX backend implementation, we also plan to implement a libfabric backend.

Can you point me to some doc regarding the "instant on" feature? I would be interested in the details. Just as food for thought: our communication library assumes that the user can use MPI in the same program. This means that we need to create different endpoints than the MPI library, e.g., MPI runs

[2020-01-13 14:05] rhc54 commented on #1586
You are correct that we don't get down into the details of which library is using which endpoint. All we do is provide a means by which you can request how many endpoints (from each fabric and/or fabric plane) shall be assigned to each process - what you do with them is up to you. You don't even have to use them all, though keep in mind that most fabrics do have limits on the number of endpoints o

[2020-01-13 19:58] jjhursey commented on #1586
Going back in the thread a bit. I'm curious why this didn't work (I wouldn't call it optimal, but should be functional):
[code]

@rhc54 Is it because `Fence 1` was a data collection fence (full modex), so the get will not trigger the dmodex requests? If we replaced `Fence 1` with a direct modex would the get-loop continue to issue dmodex requests to the same target for the same key until it resolv

[2020-01-13 20:10] rhc54 commented on #1586
It should work, but would be awfully inefficient as every call to PMIx_Get will generate a dmodex request that will return the entire peer's blob at that moment, which the recipient will search thru and return NOT_FOUND. Not something I think we would want people using.

I'm not sure why it failed here - it is a bug, but it might be in ORTE (i.e., we might be tracking that we already did a dmodex

[2020-01-13 20:37] angainor commented on #1586
I would not mind the inefficiency if that helped me to reduce the memory overhead. It seems to me that in practice the while loop would only execute `PMIx_Get` once: in a real application some time will pass between the `PMIx_Commit` and `PMIx_Get`. So there would be in total two transfers of a particular peer's data: once in the `Fence`, and once in `PMIx_Get`. Not so bad?

It looks like it to me

[2020-01-13 20:52] rhc54 commented on #1586
Only if you plan to go to sleep waiting for the job to start 😄

Think about it - at the scale you are targeting, do you really want every process to execute multiple host-to-host data exchanges with multiple processes just to wire up??? The network routers will be lit up like Christmas trees. Your assumption of only one time thru the loop strikes me as very implementation specific - and overly opt

[2020-01-13 21:09] angainor commented on #1586
I guess not :) I do of course see that "instant on" is a solution, while the drafted loop is a work-around.

[2020-01-13 22:08] rhc54 commented on #1586
😄 I think the original solution that currently has a bug in it should work - we just need to get that bug fixed. It won't be ideal, but much better than having to loop, especially as "instant on" still isn't available.

[2020-01-17 19:41] rhc54 opened #1594 "Compiler warnings in dstore components"
I'm seeing these warnings emitted when doing an optimized build:
[code]
These look valid to me - one shouldn't limit a strncpy by the size of the input string, but rather by the size of the target.

@artpol84 @karasevb Can you please address these?

[2020-01-20 17:31] dsolt opened #1595 "new_tracker always returns a tracker with trk->local set to false"
git master, server/pmix_server_ops.c
also seems to be an issue in other branches such as 3.1.xx

[2020-01-20 17:40] dsolt commented on #1595
the problem is different in 3.1 branch.  trk->local is still not calculated correctly, but for different reasons.  there trk->local can be set to true in one place, but it is only tested on one of the namespaces.  so if there are multiple namespaces, only the last one will be checked.  if it is all local, then the whole tracker is set to true even though only one namespace was local.

[2020-01-21 13:56] glaubitz opened #1596 "Testsuite crashes due to unaligned access on sparc64"
The testsuite crashes on sparc64 due to unaligned access:

[code]

Full build log available at: https://buildd.debian.org/status/fetch.php?pkg=pmix&arch=sparc64&ver=3.1.4-1&stamp=1577756718&raw=0

[2020-01-21 14:26] rhc54 commented on #1596
Is there any way you can obtain a backtrace from one or more of these segfaults so we can see where the unaligned memory access exists? Otherwise, this is going to be nearly impossible to track down as none of our developers have access to sparc64 machines.

[2020-01-21 14:35] glaubitz commented on #1596
Working on it. FWIW, access to a sparc64 machine can be obtained through the GCC compile farm, see: https://gcc.gnu.org/wiki/CompileFarm

[2020-01-21 15:10] glaubitz commented on #1596
Bisecting the issue just lead to the commit were the tests were separated from each other.

And running one of the failing scripts individually yields:

[code]

Running the ```pmix_test``` binary individually doesn't seem straight-forward:

[code]

[2020-01-21 16:26] rhc54 commented on #1595
@dsolt I am truly puzzled by your title on this issue. The "new_tracker" function is supposed to return a new tracker, and we always initialize trackers to being "non-local" (i.e., trk->local is initialized to false). So is the true issue here that the local flag isn't being correctly computed later on?

If so, could you please change the issue title to correctly reflect the actual problem? This o

[2020-01-21 16:30] rhc54 commented on #1595
Hmmm...I think I may see what you meant. The logic in "new_tracker" sets the "local" flag to false if any participating proc isn't local. However, that logic requires that the "local" flag be initialized to true. I can correct that one easily enough.

[2020-01-21 17:34] rhc54 commented on #1595
@dsolt Please see if the referenced PRs fixed what you were observing.

[2020-01-21 18:14] #1315 closed

[2020-01-22 17:36] jjhursey commented on #1315
(Note to self) We should add `PMIX_REINCARNATION` to the v4.x standard doc. We should probably also sweep up any others that we might have missed.

[2020-01-22 17:38] rhc54 commented on #1315
I'm doing that now as I returned to working on the doc.

[2020-01-23 14:54] rhc54 commented on #1586
Starting to dig into this further. One note (probably something stated earlier that I had forgotten): the "fence" operation after posting key1 and before requesting key2 _must_ collect data. If the fence does not collect data, then the subsequent dmodex for key2 works fine. So it appears to be that we somewhere flag that a fence has occurred, and then disable dmodex from that point forward.

[2020-01-24 04:34] junghans opened #1605 "PMIX ERROR: ERROR in file dstore_segment.c at line 110 on s390x"
Thank you for taking the time to submit an issue!

## Background information

https://github.com/hpc/libcircle/issues/39 and https://github.com/open-mpi/ompi/issues/7335

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

3.1.4

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating

[2020-01-25 00:50] artpol84 commented on #1605
Thank you @junghans
Can I request an additional experiment? We don't have Fedora handly so we will need to set up a virtual machine probably in order to try to reproduce. Also according to the log, it might be related to the specific system.
Can you try running with the environment variable PMIX_DEBUG set to 10?
`export PMIX_DEBUG=10`

The issue occurs in the function `_mmap_segment_create()` that

[2020-01-25 02:41] junghans commented on #1605
Sure here is the [build.log](https://github.com/openpmix/openpmix/files/4111552/build.log) with `PMIX_DEBUG=10`.

[2020-01-25 04:14] artpol84 commented on #1605
Thanks, it does provide some more insights:
[code]
I think that mmap is failing (posix_fallocate is likely not supported and ftruncate is used).

Unfortunately, the debug output code doesn't display the `errno` information [link](https://github.com/openpmix/openpmix/blob/v3.1/src/mca/pshmem/mmap/pshmem_mmap.c#L80).
Will it work if I'll provide the patch to output the errno?

[2020-01-25 16:09] junghans commented on #1605
Sure, I can try to patch pmix around.

[2020-01-28 12:27] karasevb commented on #1605
@junghans Could you apply the attached patch and reproduce a problem?
[code]

[2020-01-28 17:48] junghans commented on #1605
Ok, I patched that in, but the pmix tests fail already before I got to libcircle.

[code]
with `test-suite.log`:
[code]

I will do another build with `PMIX_DEBUG=10`.

[2020-01-28 18:36] junghans commented on #1605
Here is the [log](https://github.com/openpmix/openpmix/files/4124000/build_s390x.log) with `PMIX_DEBUG=10`.

[2020-01-29 02:15] karasevb commented on #1605
@junghans thanks, but not enough data to analyze, please try another patch with more details
<details>
  <summary>patch here</summary>

[code]

</details>

output example:
[code]

[2020-01-29 03:29] artpol84 commented on #1605
Thank you, @junghans !

@karasevb will provide a more verbose patch shortly. So far it seems to me that the issue is in mmap that returns `errno=22` which is `EINVAL`
man page states that this err code is returned in the following cases:
[code]

The extended output should provide insights on the exact reason.
But thinking through possible issues it is likely the size as all other reasons are fixed

[2020-01-29 04:39] rhc54 commented on #1605
We do have another report of a failure due to unaligned memory: #1596 . Perhaps this is the same problem? The hardware is different, but both are strict-aligned systems, I believe.

[2020-01-29 06:49] SteVwonder opened #1612 "PMI Shim - Separate Project?"
Is there any interest or objection to making a separate project/repo (under the openpmix or pmix organizations) out of the pmi1 and pmi2 shims?  Either that or adding a way to only compile and build the shims.

We currently use the shims to get Flux bootstrapping under JSM.  I suspect other PMI1/2 projects would find it useful to get their stuff bootstrapping on a PMIx resource manager/launcher.

[2020-01-29 08:34] karasevb commented on #1605
@junghans please try this patch:
<details>
  <summary>patch_v3</summary>

[code]

</details>

[2020-01-29 16:38] rhc54 commented on #1612
No objections - might take a bit of work as you'd have to adapt all the config stuff. I can create the repo for you if you want to pursue it.

[2020-01-29 17:22] artpol84 commented on #1594
@rhc54, we will

[2020-01-29 17:25] junghans commented on #1605
Here is the [log](https://github.com/openpmix/openpmix/files/4129480/build_s390x.log) with patch v3.

[2020-01-29 17:50] SteVwonder commented on #1612
We have a little makeshift Makefile for this purpose already.  I'll look into whether its going to be easier to build up from that or pare down the full OpenPMIx configure (probably the latter, as you suggest).

Awesome! Let me cross my t's and dot my i's with LLNL's IP office and do some leg-work on the actual code before you go through the trouble.  I'll ping you again on this issue when I'm rea

[2020-01-29 20:35] artpol84 commented on #1594
So I checked this and I think that we should be OK from the correctness standpoint.
* There is only one place where we put the key name [[link](https://github.com/openpmix/openpmix/blob/master/src/mca/common/dstore/dstore_base.c#L1153)]. For this case we have several checks that
  * Ensure that this particular key + required meta information may potentially fit single segment [[link](https://githu

[2020-01-29 20:42] artpol84 commented on #1605
@junghans perfect:
[code]
So the size calculation is broken and indeed `0` is passed to mmap so it fails with `EINVAL` as documented in the man page.
I'll try to see why it may happen

[2020-01-29 21:09] artpol84 commented on #1605
I think that the issue is in the cache line size calculation.
We introduced `getauxval` for PPC machines, maybe s390x being IBM behaves unexpectedly.

Can you run the following script for me:
[code]

[2020-01-29 21:17] junghans commented on #1605
[code]

[2020-01-29 21:24] artpol84 commented on #1605
I see, it returns `-1`
can you run this one to see if auxv can be used?
[code]

[2020-01-29 21:26] artpol84 commented on #1605
[code]
This obviously isn't right in our code, has to be
[code]
I'll fix that, but let's first see what is the right way to get the cache line size.

[2020-01-30 01:55] junghans commented on #1605
Changing it to `long` in the script also doesn't help.

[2020-01-30 03:34] artpol84 commented on #1605
@junghans
I wasn't asking to change the script!! This is a todo item for the PMIx fix.
I need to see what `getauxval(AT_DCACHEBSIZE);` returns by running a second version of the script I posted.

[2020-01-30 03:36] artpol84 commented on #1605
In the original script I had
[code]
in the new script I removed the if statement:
[code]
Can you also please post the content of the "config.h" file generated by the script.

[2020-01-30 04:01] artpol84 commented on #1605
To clarify, the remark about `sysconf` was about incorrect use of it:
[code]
and according to the man page, it'll return `-1` in case of error.
Now the number we observe: 18446744073709551615 is actually `-1` in unsigned representation:
18446744073709551615  = 0xFFFFFFFFFFFFFFFF

[2020-01-30 14:25] artpol84 commented on #1605
@jjhursey @dsolt, can you check what is the right way to obtain the cache line size on s390x?

[2020-01-30 14:58] junghans commented on #1605
[code]
with:
[code]

[2020-01-30 16:41] artpol84 commented on #1605
@junghans
I have a version (#1613) that will keep you going and will allow verifying if this is the only issue we have on s390x.
I'm posting the patch here as well:
[code]

[2020-01-30 16:44] artpol84 commented on #1605
I think it makes sense to apply this patch along with the previous patch from @karasevb so we will see in the logs what is going on.

[2020-01-30 23:01] junghans commented on #1605
#1613 seems to fix the issue in the pmix build, I haven't tested libcircle yet.

[2020-01-30 23:13] artpol84 commented on #1605
Great news! Keep us posted how this next step will go.

[2020-01-30 23:43] junghans commented on #1605
And yes, it fixed libcircle (hpc/libcircle#39) as well.

[2020-01-30 23:49] junghans commented on #1605
Patch proposed in feodra: https://src.fedoraproject.org/rpms/pmix/pull-request/1

[2020-01-31 00:46] artpol84 commented on #1605
@junghans , note, that I asked my IBM colleagues to find out the right way to retrieve cache line size for s390x.
I expect to update #1613 with it once they get back to me

[2020-02-01 03:13] pkovacs commented on #1605
Chiming in after receiving a pull request for this patch in Fedora.  The mass rebuild of all packages in rawhide rebuilt pmix 3.1.4 just yesterday -- not seeing any failure in the s390x test suite.  Is this a libcircle thing?
[code]

[2020-02-01 14:10] junghans commented on #1605
The issue in libcircle is gone with gcc10 as well: https://koji.fedoraproject.org/koji/taskinfo?taskID=41311118

So it must have been a combination of the previous gcc-9 and the new glibc.

[2020-02-01 21:26] rhc54 commented on #1586
@angainor I have fixed this via the following commits:
#1611
#1614
#1609
#1607
https://github.com/openpmix/prrte/pull/322
https://github.com/openpmix/prrte/pull/321
https://github.com/openpmix/prrte/pull/318

Here is the bottom line from those changes. Any time you request data for a key, we will check the client's local cache for it. If not found, we will (unless you include the "optional" attrib

[2020-02-02 14:21] rhc54 commented on #1586
FYI: I have fixed the local proc timeout problem mentioned in the above: #1615

[2020-02-02 16:55] angainor commented on #1586
@rhc54 Thanks a lot for your effort! I will try to digest all this information this week and test things.

[2020-02-02 21:13] rhc54 commented on #1586
@angainor Hmmm...give me a day to look at this - something may have gotten into PRRTE that is causing a problem.

[2020-02-03 20:29] rhc54 commented on #1605
@artpol84 Any ETA for this patch? OMPI is blocking on it for their next 4.0.x release

[2020-02-03 20:44] SteVwonder commented on #1612
Ok.  We got the go ahead from LLNL's IP office.   If someone creates a separate repo under the OpenPMIx organization, I'll post a PR against it with what we have so far. We can iterate on the PR from there.

[2020-02-03 20:56] rhc54 commented on #1612
Kewl - any preference on the name?

[2020-02-03 21:00] SteVwonder commented on #1612
Not really.  I'm fine with `pmi-shim` or really anything you think sounds good.

[2020-02-03 21:14] rhc54 commented on #1612
Done - https://github.com/openpmix/pmi-shim

[2020-02-03 21:15] #1612 closed

[2020-02-03 22:54] tonycurtis opened #1617 "Latest github HEAD has unexpected schizo debugging output"
Thank you for taking the time to submit an issue!

## Background information

schizo debugging output appeared unexpectedly when launching through PRRTE (prte/prun combination)

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

github master @ c29b68fe5208bcc556e55091fe059a4735bf1193

### Describe how PMIx was installed (e.g., from a source/

[2020-02-03 23:49] rhc54 commented on #1617
Yes, it was a temporary commit so we could run something thru OMPI CI - just reverted it.

[2020-02-03 23:49] #1617 closed

[2020-02-03 23:56] tonycurtis commented on #1617
+1

[2020-02-04 15:55] gpaulsen commented on #1605
@artpol84 Looking around for Z system experts internally resulted in this reply:
[code]
Is that enough to set a default for a case where `getconf` might return `-1` ?  I'd expect that command to usually succeed on stable OSes these days.

[2020-02-04 17:45] SteVwonder commented on #1612
Thanks @rhc54!

[2020-02-05 01:29] artpol84 commented on #1605
Based on responses from IBM, sysconfig should work on a properly configured system.
Given that #1613 is ok and can be merged after #1618 that was opened against the master.

[2020-02-05 20:27] rhc54 commented on #1586
My bad - forgot to update this. All fixed and ready to go.

[2020-02-06 08:12] angainor commented on #1586
@rhc54 Thanks! I am quite busy this week, but I will test things sometime after the weekend.

[2020-02-06 13:52] jjhursey commented on #1605
PRs have been merged, and this will be in the upcoming v3.1.5 release.
 * `master` https://github.com/openpmix/openpmix/pull/1618
 * `v3.1` https://github.com/openpmix/openpmix/pull/1613

Is there more work to do, or can this ticket be closed?

[2020-02-06 13:55] jjhursey commented on #1596
It was mentioned that the root cause for this issue might be the same as Issue #1605 which now has a fix noted [here](https://github.com/openpmix/openpmix/issues/1605#issuecomment-582914796). Can you give the v3.1 branch a try to see if it resolves the issue?

[2020-02-06 13:55] jjhursey commented on #1595
@dsolt does PR #1620 fix the issue for you on the v3.1 series? I'd like to get this fix in for the upcoming v3.1.5.

[2020-02-06 14:15] glaubitz commented on #1596
Both the master and the v3.1 branch still crash due to unaligned access:

[code]

Can you tell me how to run the ```pmix_test``` binary in GDB, so I can figure out where the unaligned access happens? Most likely it's just a matter of invalid pointer casting, i.e. something like explained here: https://wiki.sei.cmu.edu/confluence/display/c/EXP36-C.+Do+not+cast+pointers+into+more+strictly+aligned+po

[2020-02-06 14:23] glaubitz commented on #1596
Okay, I just used a coredump now which worked:

[code]

The problem is the following code in ```server_unpack_procs```:

[code]

[2020-02-06 14:28] glaubitz commented on #1596
This fixes the problem for me, I'll open a PR:

[code]

FWIW, this does not cost any performance as ```memcpy``` is just replaced by direct access on platforms with less strict alignment requirements.

[2020-02-06 14:57] artpol84 commented on #1596
Thanks!
Good catch

[2020-02-06 14:58] artpol84 commented on #1605
I think we are done

[2020-02-06 15:18] #1605 closed

[2020-02-06 15:20] junghans commented on #1605
Thanks!

[2020-02-06 15:23] rhc54 commented on #1596
FWIW: this is just the test program, so performance isn't an issue. We use the ```memcpy``` method throughout the actual code base precisely for alignment reasons.

Thanks for the patch!

[2020-02-06 15:24] #1596 closed

[2020-02-06 15:26] jjhursey commented on #1567
Performance assessment of modex `PMIx_Get` overhead with Open MPI v4.0.x

PMIx v3.1.5 assessment at 91b7c8b106e73c8b4630ed7f117a2651f20268bf
[code]

No significant performance difference in this regard between the two levels. This is expected since we are not stressing the job/node/app/session data. it may be useful to do such an experiment with just job level data.

[2020-02-07 22:07] pkovacs commented on #1594
I note the major soname bump with 3.1.5rc1 from `libpmix.so.2` to `libpmix.so.3 `.  You're signalling a significant abi change with that bump -- was that the intent for this bugfix release?  It's more work downstream, as an announcement has to be made so that all pmix client packages can be rebuilt.

[2020-02-07 22:08] rhc54 commented on #1594
Are you talking from v2.x? If so, then yes - there is a significant change. If it is relative to v3.1.4, then that is an error.

[2020-02-07 22:11] pkovacs commented on #1594
@rhc54 3.1.4 is libpmix.so.2, but 3.1.5rc1 is .so.3.

[2020-02-07 22:12] rhc54 commented on #1594
okay, let's take this over to a more appropriate issue as this has nothing to do with the dstore compilation warnings.

[2020-02-07 22:16] pkovacs opened #1624 "bugfix release 3.1.5rc1 bumps major soname from 2 to 3"
I note the major soname bump with 3.1.5rc1 from libpmix.so.2 to libpmix.so.3 . You're signalling a significant abi change with that bump -- was that the intent for this bugfix release? It's more work downstream, as an announcement has to be made so that all pmix client packages can be rebuilt.

[2020-02-07 22:18] rhc54 commented on #1624
I filed the correction - thx for the heads-up!

[2020-02-07 22:19] pkovacs commented on #1624
@rhc54 Thanks Ralph.  Will wait for 3.1.5rc2.

[2020-02-10 09:08] angainor commented on #1586
@rhc54 I tested your new `double-get` test with thew newest `pmix/master` and `prrte/master`. I think something might still not be right with the timeout, but I might misunderstand your explanations above. Your test works as expected when I use `--refresh` - then I get the second key correctly. But with the other flags (`--wait` and `--timeout`) the test always fails. I changed the test a little (

[2020-02-10 15:59] rhc54 commented on #1586
Odd - all four variations work fine for me (this is without your PR):
[code]

[2020-02-10 16:01] rhc54 commented on #1586
Same for your "get-nofence" test - it works fine:
[code]

[2020-02-10 18:00] angainor commented on #1586
@rhc54 Sorry, I had `env` problems and used an old pmix library on the compute nodes. The `LD_LIBRARY_PATH` environment variable was not exported for the ranks when I used `prun`.  I ran as follows:
[code]
I had to add `-rpath` to compile line. Now it works!
[code]

[2020-02-10 18:03] angainor commented on #1586
@rhc54 yes, it seems all test cases run through now :) Thanks! Do you have any idea what was wrong with the `-x LD_LIBRARY_PATH` scenario?

[2020-02-10 18:09] rhc54 commented on #1586
Well, there are a couple of things wrong with that approach. First, ```-x``` would only change the environment for the application proc, not PRRTE itself, so that wouldn't fully solve the problem as it involved behavior change on both sides of the execution (PRRTE and the client lib). Second, ```-x``` is actually only an OMPI option, not a PRRTE one. Thus, we ignore it unless you tell us the perso

[2020-02-10 18:09] #1586 closed

[2020-02-12 18:05] SteVwonder opened #1629 "`static inline` function declarations in public headers"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master @ a3cfa97da6983a33411e367f6a250964cff1dc55

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### Please describe the system on which you are r

[2020-02-12 18:26] rhc54 commented on #1629
Not sure I understand why ```static inline``` functions would be an issue, but they are there for a reason 😄  You'll need to add a bunch of configure logic to the shim library to deal with library differences, I suspect (at the least, to declare which PMIx lib to build against) - I was planning on poking at it this weekend, but can defer to you.

[2020-02-12 21:25] SteVwonder commented on #1629
I guess it's not so much the `static inline` piece that would be an issue, but these are private functions that are being "exposed" in the public header, right?  Maybe I don't understand exactly the intention behind the functions.  Either way. it's not a huge deal because they have the `pmix_` prefix, so a name collision is unlikely.  But it was a little surprising in my admittedly odd corner-case

[2020-02-12 21:42] rhc54 commented on #1629
Not at all - they are public functions (hence the "pmix" prefix) which is why they are in the header as ```static inline```. They are typically referenced from within the macros defined in that header, and the macros are part of the Standard.

Let me know if you want me to bring over the configure stuff - we have kind of a stock collection of it that we drop in where needed (e.g., stuff like ```--

[2020-02-13 15:30] jjhursey commented on #1624
This was fixed in 3.1.5rc2. We are currently at rc3. Please give it a try
 * https://github.com/openpmix/openpmix/releases/tag/v3.1.5rc3

[2020-02-13 15:30] #1624 closed

[2020-02-13 15:31] jjhursey commented on #1595
Is this ready to close?

[2020-02-13 20:19] jjhursey commented on #1595
Per teleconf this issue is ok to close now.

[2020-02-13 20:19] #1595 closed

[2020-02-14 10:47] amckinstry opened #1633 "soname of libmca_common_dstore"
I request that the soname of libmca_common_dstore be bumped from so.1 to so.3 to match pmix3

# Background information

This primarily regards Debian/Ubuntu distributions but may happen elsewhere.
We split packages to enable smooth upgrades over versions and applications to continue to use "old" shared libraries.
For pmix, we ship the _library_ packages libpmi1-pmix, libpmi2-pmix, libpmix2, and th

[2020-02-14 12:41] amckinstry commented on #1633
I've just downloaded 3.1.5rc3 - was the SOVERSION change an error ? its reverted to 2.2.24 ...

[2020-02-14 13:22] rhc54 commented on #1633
The prior SOVERSION change was the error - it should have remained at 2. However, the point you make about the "common" library versioning is interesting as we normally wouldn't move that unless the code in that library itself changed, which it rarely does. I'm curious - how do you folks handle the common libs in OMPI? We mirror their practices, but I'll check with them to ensure we didn't miss so

[2020-02-14 13:58] amckinstry commented on #1633
The file list for `libopenmpi3` looks like:
[code]

so the plugins are in a subdir `openmpi3` which is simple enough to mirror for pmix
(Currently the experimental branch builds with
[code]
and `pmix-mca-params.conf` has
[code]

In Openmpi all the common libs have moved in lock-sync with a new top-level soversion when the soversion of libmpi.* changed; if it was otherwise we'd have a problem there

[2020-02-14 14:02] rhc54 commented on #1633
I see - our bad, indeed. I'll make a note in our VERSION file to ensure we don't make the same mistake in the future, and we will fix the problem here (i.e., ensure that the SOVERSION of the common lib is 2 to match that of the main lib). I'll track that OMPI issue and we will mirror what they do. Thanks for the heads-up!

PMIx v4 is expected out in second quarter this year.

[2020-02-14 14:06] amckinstry commented on #1633
Thanks.
It would be good if the soversion of libmca_common_dstore.so was to move in time for 3.1.5.

[2020-02-14 14:07] rhc54 commented on #1633
It will - we will generate another RC with that change. We have another fix that needs to get in anyway, so this is a timely request.

[2020-02-15 05:47] SteVwonder commented on #1629
Closing since they aren't private functions and are required by the macros.

[2020-02-15 05:47] #1629 closed

[2020-02-15 21:19] rhc54 commented on #1633
@amckinstry We've been chatting over here with our OMPI compatriots and confess to some confusion about the above. OMPI doesn't change the common library triplet unless that library itself changes. Thus, the common library triplets do _not_ track the main library SOVERSION.

@jsquyres Can you review the above and help us out here? My inclination is that a library's triplet should never change if t

[2020-02-15 22:01] jsquyres commented on #1633
I can confirm that Open MPI only changes the Libtool CRA values:

* At new release series (e.g., vA.B.C, if A or B changes -- but not automatically when C changes)
* When the library itself changes

[2020-02-15 22:55] rhc54 commented on #1633
okay, a little different than what I understood in the prior conversation. So it sounds like we should have changed the CRA of the common libs when we released a new major series so the C-A tracked.

Question now is: is it better that we correct this mid-series in 3.1.5? Or should we leave it as-is for now and correct it in v4?

[2020-02-16 23:32] jsquyres commented on #1633
Sorry @rhc54 -- I wasn't fully clear in our Slack conversation (i.e., I neglected to mention the "we do update the CRA numbers are A.B.0 releases" -- we do that so that if there's future A.(B-1).* releases, we have "legroom" in the available CRA values and we don't accidentally overlap.

[2020-02-17 19:32] amckinstry commented on #1633
Ok, not incrementing C.RA numbers in general unless the library changes makes sense.  Its just a convenience for the package maintainers that there be a bump.

The point being to allow the following:
Package `libpmix2` contains:
[code]
while `libpmix3` contains:
[code]
The two packages are co-installable because they contain no conflicts. Then after package/system upgrade libpmix2 (no longer shipp

[2020-02-18 14:35] amckinstry commented on #1633
The use case is being able to install the _shared libraries_ from multiple versions of openmpi or pmix simultaneously to enable upgrades.

Debian/Ubuntu typically makes this possible by putting each shared library in a separate package, and using the SO architecture to do so. This requires special handling of library major version updates.

In principle this means one shared library file per packa

[2020-02-18 16:49] jsquyres commented on #1633
We chatted about this on a Webex today with @amckinstry and @rhc54 and me.  Summary:

* It finally clicked for Jeff: Alastair is trying just to be able to have major generations of PMIx libraries simultaneously installed -- not point releases.  This makes the whole proposal make a lot more sense.
* Yes, please update the .so version for PMIx v4 (@rhc54 will do!).  Not worth it for changing on PMIx

[2020-02-24 16:11] tonycurtis opened #1648 "Compile warnings from sys/atomic.h"
Thank you for taking the time to submit an issue!

## Background information

Warnings showing up during compile

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master @ 5d96ca1441acde9313e36ed8d9198066095985b3

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system di

[2020-02-24 17:03] #1648 closed

[2020-02-27 20:26] rhc54 commented on #1536
PMIx v3.1.5 has been released - please reopen if the problem persists.

[2020-02-27 20:26] #1536 closed

[2020-03-03 16:31] karthik-vm commented on #1536
@jjhursey Sorry I totally missed your message. Sounds good. Thanks.

[2020-03-04 20:57] artpol84 opened #1656 "Sysctl is deprecated in GCC 9.2"
[code]

[2020-03-06 15:45] rhc54 commented on #1656
The only use of that header is protected:
[code]
so we should be fine. Thanks for the heads-up!

[2020-03-06 15:45] #1656 closed

[2020-03-17 10:15] mdorier opened #1673 "Generating and installing a pmix.pc file for pkg-config"
It would be very useful for openpmix to generate and install a pmix.pc file, so that we can get the libraries and cflags using pkg-config when linking programs against pmix.

[2020-03-17 19:46] artpol84 commented on #1594
@pkovacs  @rhc54
Was https://github.com/openpmix/openpmix/issues/1594#issuecomment-579947077 sufficient?
Can we close this one?

[2020-03-17 20:14] rhc54 commented on #1594
No, this issue got sidetracked - the original warnings are still there

[2020-03-18 06:54] rhc54 commented on #1673
We would be happy to do so, but I personally at least lack the knowledge on how to do it. Unless someone else can contribute it, this may have to wait.

[2020-03-18 16:27] mdorier commented on #1673
It's not complicated. I submitted a PR with a work in progress: https://github.com/openpmix/openpmix/pull/1677
You can take a look; for now the dependencies are hard-coded. I'd appreciate your input on the best way to make the hard-coded variables depend on the actual dependencies selected at configure time. I see that the configure script invokes many other scripts from the config folder so I'm n

[2020-03-18 20:42] artpol84 commented on #1594
ahh I see.
Basically what I said in https://github.com/openpmix/openpmix/issues/1594#issuecomment-579947077 is that those warnings are false positives.
But we can/should restructure the code so for the compiler it'll obvious.compiler

[2020-03-19 19:20] rhc54 commented on #1673
Fixed by #1677

[2020-03-19 19:20] #1673 closed

[2020-03-29 02:14] hongyi-zhao opened #1689 "Failed to run slurm with openpmix"
Hi,

I try to using openpmix with slurm-20.02.1 and installed the openpmix on Ubuntu 19.10 as follows:

[code]

Then I do the test as following:

`$ I_MPI_PMI_LIBRARY=/usr/local/lib/libpmi.so srun --mpi=pmix hostname`

But I stuck here, the above freeze there and gives nothing.

OTOH, I can run the following command successfully:

[code]

Any hints for solving the problem?

Regards

[2020-03-29 18:39] rhc54 commented on #1689
Just to ask the obvious - you did configure Slurm against that openpmix installation?

I also don't understand the purpose of adding ```I_MPI_PMI_LIBRARY=/usr/local/lib/libpmi.so``` to your command line. If the app was an MPI one, including that envar would cause problems as you are indicating that the app is using PMIx by stating `--mpi=pmix`, not PMI-1. OpenMPI will ignore that envar, so I assum

[2020-03-30 00:59] hongyi-zhao commented on #1689
I installed the latest stable version of slurm 20.02.1 compiled by myself, which, if openpmix installed, will automatically detects the openpmix when the ./configure step, see the following info for more details:

[code]

I know this setting method from the slurm's official site [here](https://slurm.schedmd.com/mpi_guide.html#intel_srun).

Yes, I'm trying to run slurm for scheduling the job of vas

[2020-03-30 02:37] rhc54 commented on #1689
I see - well, Intel MPI doesn't currently support PMIx so far as I know, so installing PMIx will gain you nothing there. Indeed, you specified the use of the PMI-1 library, and so PMIx isn't being used anyway.

I'd suggest removing PMIx if your intent is to use Intel MPI. Just use libpmi.

[2020-03-30 03:24] hongyi-zhao commented on #1689
From where do you know about this for my case -- ``you specified the use of the PMI-1 library''?

Then how to configure slurm for compiling and how to invoke the srun comand for slurm?

See the following for my case:

[code]

Regards

[2020-03-30 12:53] rhc54 commented on #1689
I gather you are rather new to this, so let me try to explain and apologize in advance if you already know some of these things. Intel MPI uses the `I_MPI_PMI_LIBRARY` environmental variable to determine which PMI library to use. You have set that envar to point at Slurm's PMI-1 library, and so that is what Intel MPI is going to use.

This is fine as Intel MPI only uses PMI-1 functions. Your confi

[2020-03-30 13:01] karasevb commented on #1689
@hongyi-zhao could you provide Slurm configure log file?

[2020-03-30 13:24] hongyi-zhao commented on #1689
@karasevb You mail? The log is rather large for posting here.
@rhc54 Thanks a lot for explanations.  I really new to this. I will try according to your notes.

[2020-03-30 13:26] karasevb commented on #1689
@hongyi-zhao karasev.b@gmail.com

[2020-03-30 13:40] hongyi-zhao commented on #1689
@rhc54 I try the following based on your notes:

  `$ sudo apt-get remove libpmix2 libpmix-dev libpmi-pmix-dev libpmi2-pmix`

See the following for the configure's output this time:

[code]
Regards

[2020-03-30 13:46] karasevb commented on #1689
@hongyi-zhao Thanks for the log file.

You are using PMIx from master branch, it corresponds to v4 that not supported in Slurm yet:
[code]

You may have installed PMIx v3 earlier and Slurm discovers PMIx v3:
[code]

[2020-03-30 13:49] karasevb commented on #1689
@hongyi-zhao, could you install the  PMIx version till v3 or v3 and configure Slurm with it?

[2020-03-30 13:58] hongyi-zhao commented on #1689
@karasevb I should have installed all of them from the system's repo, now, I removed them by using the following based on the notes of @rhc54 :

`
sudo apt-get remove libpmix2 libpmix-dev libpmi-pmix-dev libpmi1-pmix`

[2020-03-30 14:51] hongyi-zhao commented on #1689
After I remove all of the pmix relative stuff from my box like the following:

`$ sudo apt-get remove libpmix2 libpmix-dev libpmi-pmix-dev libpmi2-pmix libpmi1-pmix`

And also remove the self-compiled/installed openpmix from repo.

Then I cannot find any of libpmi.so file at all:

[code]

So, in this case, I cannot use the command line like the following:

`$ I_MPI_PMI_LIBRARY=/usr/local/lib/libpm

[2020-03-30 14:55] rhc54 commented on #1689
You have me confused. Your link is to instructions for operating on a specific cluster that has obviously been configured in a particular manner. Are you using that cluster? Or are you doing this on your own cluster?

[2020-03-30 14:56] hongyi-zhao commented on #1689
I just use their suggestions for my case on my own cluster.

[2020-03-30 14:59] rhc54 commented on #1689
Using docs from other clusters can get you into trouble unless you know specifically how that cluster was built and configured, so you should be very careful about doing so.

Regardless, it sounds like you have a working system. Until you learn more about how to administer Slurm, I would suggest just using it - and don't change anything in your Slurm setup!

[2020-03-30 18:35] rhc54 opened #1691 "Configure: use -iquote for non-standard paths"
Need to port https://github.com/open-mpi/ompi/pull/7169 over here

[2020-03-30 21:35] rhc54 opened #1692 "Create a "PMIx acceptance test" for Open MPI."
This is a PMIx unit test that exercises the PMIx API/Attributes that Open MPI uses

[2020-03-30 21:35] rhc54 opened #1693 "Extend CI to cover multiple versions of PMIx"
Need to cover at least master and latest v3.1.x

[2020-03-30 21:39] rhc54 commented on #1427
Believe this has been resolved.

[2020-03-30 21:39] #1427 closed

[2020-03-31 08:00] hongyi-zhao commented on #1689
@rhc54 Some tests for my case:

Just as you told and analyzed,  I tried all of the following usages.

After installed the openpmix from this repo, it will show the following:

[code]

So I tried with the following possible usages to submit the job and find that all of these failed to start the job:

[code]

And the only one which can do the trick is the following usage:

`$ srun --mpi pmi2 -n $SLU

[2020-03-31 13:11] rhc54 commented on #1689
As I said, do _not_ install and try to use PMIx with Intel MPI. You need to use the Slurm-provided PMI libraries. Installing PMIx the way you are doing _overwrites_ the Slurm libraries with experimental PMIx backward compatibility libraries and causes problems. This has been widely documented by the Slurm folks and is why they do _not_ install the PMIx backward compatibility libraries.

I honestly

[2020-03-31 13:11] #1689 closed

[2020-03-31 13:33] hongyi-zhao commented on #1689
@rhc54 Thanks a lot, got it. I'll disable and remove them from now on for my case.

[2020-03-31 16:15] rhc54 commented on #1444
@karasevb Have you had a chance to look at this yet?

[2020-03-31 16:18] rhc54 commented on #1256
**REMOVED**
- [ ] New Cray DRC psec component for obtaining RDMA credentials
        - Delayed due to Cray s/w delays - rescheduled for later release

[2020-03-31 16:20] rhc54 commented on #1256
**REMOVED**
- [ ] New GDS component for DAOS support, extensions to support setup_application and setup_local_support
      - Deferred to later release

[2020-03-31 16:20] rhc54 commented on #1256
**REMOVED**
- [ ] Add support for storage directives
        - Deferred to a later release

[2020-03-31 16:21] rhc54 commented on #1256
**REMOVED**
- [ ] Add support for new scheduler interfaces
        - [ ] Storage

      - Deferred to a later release

[2020-03-31 16:24] rhc54 commented on #1256
**REMOVED**
Cleanups (as time permits):

- [ ] Refactor PTL code

- [ ] Clarify dstore code

Time does not permit

[2020-03-31 16:26] rhc54 commented on #1404
@dsolt Any update on this problem? Are you still seeing it?

[2020-03-31 16:27] rhc54 commented on #1158
@dsolt Please reopen if this remains an issue, but I believe this has been fixed.

[2020-03-31 16:27] #1158 closed

[2020-03-31 16:28] rhc54 commented on #1068
We no longer use regex in PMIx

[2020-03-31 16:28] #1068 closed

[2020-03-31 16:33] rhc54 commented on #1256
**REMOVED**
- [ ] pdata tool for user storage requests (e.g., data caching)
      - Deferred to later release

[2020-03-31 16:33] rhc54 opened #1694 "pquery tool for user information requests"
Need a tool that allows users to query the PMIx server for information and available support

[2020-03-31 16:34] rhc54 opened #1695 "Complete tool support"
Need to complete and verify tool support for debuggers

[2020-03-31 16:38] rhc54 opened #1696 "Update and release PMIx v4 Standard"
Capturing this here so we don't forget!

- [x] Tools chapter

- [x] Verify all new attributes in pmix_common.h are included

- [x] Verify all new APIs are present

[2020-03-31 17:45] rhc54 opened #1697 "Pickup and forward user-level param files"
Scalability is hampered when the user's home directory gets hit by every single process to check for a user-defined default parameter file. OMPI has dealt with that in the past by disabling user-defined param files at configure time, which basically wipes out this feature.

However, if the host RM uses the "setup_application" support in PMIx, we can read any user-defined param files during setup_a

[2020-03-31 22:46] rhc54 opened #1698 "Update rename.h"
Re-run the script to auto-generate the symbol rename file

[2020-04-01 16:37] rhc54 commented on #1697
Closed by #1699 and #1700

[2020-04-01 16:37] #1697 closed

[2020-04-02 19:27] jjhursey commented on #1696
I'll sign up to work on some automation to help check the attributes/APIs are present in the document.
We have this ticket open in the pmix-standard repo for that activity:
 * https://github.com/pmix/pmix-standard/issues/149

[2020-04-03 21:24] dsolt commented on #1404
it's been a while... let me try to see where this is at.

[2020-04-04 23:12] #1691 closed

[2020-04-07 15:55] hppritcha opened #1712 "Open MPI - Problem with retrieving values across name spaces"
A user at NERSC noticed that their app, which makes extensive use of ```MPI_Comm_spawn``` stopped working when switching from Open MPI 4.0.1 to 4.0.2/3.  The problem appears as an inability to exchange OMPI MODEX key/values across a namespace break, i.e. when the jobids of the opal_proc's differ.  The spawned processes (which have a different jobid for each set of spawned processes) cannot PMIx_Ge

[2020-04-08 17:04] rhc54 commented on #1712
FWIW: I tested the head of the v4.0.x branch on my local cluster (TCP only) and comm_spawn works just fine. I therefore expect it is either already fixed or this is something specific to the Cray.

[2020-04-10 15:51] cantaur3099 opened #1716 "Error from gds_ds12_lock_pthread.c file while running pmi"
Thank you for taking the time to submit an issue!

## Background information
I tried running a simple hello world command and this showed up after 2 rounds of execution:
PMIX ERROR: ERROR in file gds_ds12_lock_pthread.c at line 206

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
2.0.4

### Describe how PMIx was installed (e.g., from a sour

[2020-04-12 13:57] rhc54 commented on #1694
Done in #1717

[2020-04-12 13:57] #1694 closed

[2020-04-12 13:59] rhc54 opened #1719 "Complete registration of supported attributes"
Need to complete the arrays in src/common/pmix_attributes.c for client, server, and tool attributes.

[2020-04-13 06:50] karasevb commented on #1716
https://github.com/openpmix/openpmix/pull/1584 this fix should helps

[2020-04-13 09:32] cantaur3099 commented on #1716
thanks

[2020-04-13 19:09] rhc54 opened #1720 "Segfault in dstore init"
Looks like we are consistently crashing in dstore_init on CentOS 6.10:

https://mtt.open-mpi.org/index.php?do_redir=3215

Not sure what is going on there as it seems we pass some times, but segfault others.

[2020-04-14 13:16] karasevb commented on #1720
I tried to reproduce with same version of CentOS, but to no avail.
@rhc54 to get more details, it would be helpful to try the debug version of PMIx on this system.
Do you have any idea how to arrange this? May some contact who can assist to debug on this system.

[2020-04-15 17:22] rhc54 commented on #1712
I _think_ I may have actually tracked this down. It appears that ORTE and PRRTE aren't actually doing the info exchange during `PMIx_Connect` as they should, which might be reflected in what PMIx was expecting in the various versions. I'm working on a fix for PRRTE - we'd have to see about backporting it to ORTE.

[2020-04-15 20:43] rhc54 commented on #1712
Hmmm...no, I don't think this actually can be the root of the problem. Question for you: does their app work with OMPI master by any chance?

[2020-04-16 00:09] rhc54 commented on #1712
Found it

[2020-04-16 23:49] rhc54 commented on #1716
This has been fixed in v3.1 and above - v2.2 is no longer being supported, so I doubt we'll do another release just for this. We'll let folks know if that situation changes.

[2020-04-16 23:49] #1716 closed

[2020-04-16 23:50] rhc54 commented on #1169
A v3.2 branch has been created that contains these updates - we will not be bringing them back into the v3.1 series

[2020-04-16 23:50] #1169 closed

[2020-04-16 23:55] rhc54 commented on #90
Closing this for now - we can revisit it if needed some day.

[2020-04-16 23:55] #90 closed

[2020-04-16 23:57] rhc54 commented on #102
I think this has died for lack of cycles - let's close it for now and reconsider options if the need arises.

[2020-04-16 23:58] rhc54 commented on #103
We are running regression tests every night, both standalone and as part of OMPI, so I think this can be considered done (though the methods may differ from those suggested).

[2020-04-16 23:58] #103 closed

[2020-04-17 00:00] rhc54 commented on #722
I believe this can be closed - we can explore other options as needed

[2020-04-17 00:00] #722 closed

[2020-04-17 09:48] Honggang-LI opened #1728 "[question] backward compatibility between pmix-2.1.1 and pmix-2.2.3"
Hi,
 It seems upgrade  pmix-2.1.1 to pmix-2.2.3 is full PMIx v2 standard compliance. Is it right?

 I also run our internal API/ABI checker for pmxi-2.1.1 and 2.2.3 rpms. The tool reports
potential API/ABI breakage.  Is pmix-2.2.3 backward compatible with pmix-2.1.1?

Thanks

[code]

[2020-04-17 13:04] rhc54 commented on #1728
Your ABI checker is incorrect - you are looking at PMIx internals, not APIs. The internals of any library are free to change between releases so long as the binary signature of the APIs and their behavior remain constant.

We routinely allow new plugins to be added to a release series when changing the minor release version (e.g., when going from 2.1 to 2.2). This does not affect the ABI of the li

[2020-04-17 13:04] #1728 closed

[2020-04-23 14:29] rhc54 commented on #1719
Completed with #1735

[2020-04-23 14:29] #1719 closed

[2020-04-24 06:14] rhc54 opened #1742 "Transfer some envar processing from PRRTE to PMIx"
Extend the pmdl/ompi5 component to support processing of `--net` option in its MCA envar form. Update PRRTE to convert cmd line options to MCA envars for further processing in PMIx, thus allowing specification of `--net` and `--tune` as MCA params as well as cmd line options.

[2020-04-24 06:15] rhc54 commented on #1720
We aren't seeing this any more on Absoft - chalking it up to some strangeness over there

[2020-04-24 06:15] #1720 closed

[2020-04-29 19:32] bosilca opened #1747 "dstore issue during large job launch"
## Background information

We were running some scale tests with Open MPI 4.0.3, using PMIx3. All small scale jobs, up to 512 nodes (single process per node) were successful, but most of the larger one fail due to some resource exhaustion.

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
v3.0 as shipped with Open MPI 4.0.3.

### Describe ho

[2020-04-29 20:24] rhc54 commented on #1747
@artpol84 @karasevb We also tried setting `PMIX_MCA_gds=^ds12`, but that also failed though with a different signature:
[code]
@bosilca is going to try to get some additional time on the machine to test OMPI master so we can see if this problem persists on PMIx master. Pending that resolution, we should consider this as a blocker for PMIx v4 release, and an indicator that we definitely need a PMIx

[2020-04-30 13:10] jjhursey commented on #1747
@bosilca Did you all see this on other machines (e.g., Summit) with a similar build?
From the path in the output, it looks like you compiled with the intel compiler. Is that accurate?

FYI I'd like to talk about this ticket on the developer teleconf later today.

[2020-04-30 19:30] rhc54 commented on #1698
Symbol renaming has been removed

[2020-04-30 19:30] #1698 closed

[2020-04-30 19:57] naughtont3 opened #1750 "mapping with hostfile/host args"
Problem when passing specific host for launch with `prun`.

## Background information

When launching something like this `prun -H node2,node3 -np 2 hostname`, you will get output from only `node2` but should get `node2` and `node3`.

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

 - openpmix master @ e864588
 - prrte  master @ cf8f7e6
 -

[2020-04-30 22:02] naughtont3 commented on #1750
sorry, this should probably be a PRRTE issue.

[2020-05-01 07:46] rhc54 commented on #1750
No problem - we can work it from here. Can you please post the content of the `hosts` file?

[2020-05-01 16:15] bosilca commented on #1747
Just to be clear during these tests I did not have the leisure to compiled my own version, I used what was made available by the system. On Summit we were using spectrum-mpi/10.3.1.2-20200121 and we did not encounter any issues related to the startup (I emailed you about the issues we got there).

And yes in this particular instance OMPI was compiled with Intel compiler (19.1.0.166).

[2020-05-01 17:15] naughtont3 commented on #1750
I updated earlier listing with contents of `hosts` file.  Just 5 compute nodes.

[2020-05-01 17:27] naughtont3 commented on #1750
I ended up just grabbing openpmix master @ b6ad718 and prrte master @ cf8f7e6 for easier testing of just prte/prun.  Attaching log of prte output, looks like it gets off by thinking it should use more slots than provided by dash-host list of hosts.

Test output using:
 - `prte --prtemca rmaps_base_verbose 10 --prtemca ras_base_verbose 10 --hostfile hosts`
- `prun --host node2,node3 --np 2 hostname

[2020-05-01 19:47] jjhursey commented on #1747
Thanks for that note. Spectrum MPI on Summit is running PMIx 3.1.4. So it might be something between 3.1.4 and what is in OMPI 4.0.3 (which I think is 3.1.5).

[2020-05-04 15:00] naughtont3 commented on #1747
Quick follow-up from last week, I did 513 node test on Summit with ompi-4.0.3 build using IMB Barrier and it passed without a problem. Only a one off data point, but wanted to mention.

[2020-05-05 14:46] rhc54 opened #1753 "Manpage for pattrs"

[2020-05-05 14:46] rhc54 opened #1754 "Manpage for pquery"

[2020-05-05 14:47] rhc54 opened #1755 "Manpage for pevent"

[2020-05-05 21:12] naughtont3 commented on #1747
I did 1025 node test on Summit with ompi-4.0.3 build using IMB-barrier (ppr:42:node for max of 43,050 ranks total) and ran w/o problem.

[2020-05-05 22:01] bwbarrett commented on #1747
I ran 50 or so tests on a cluster of 1024 1-core virtual machines.  I did not see any hard failures.  However, I did see the following on exactly 1 run, which seems very weird:

[code]

I doubt it has anything to do with this ticket, unless there's some weird race with memory somewhere?

[2020-05-06 14:24] naughtont3 commented on #1747
I ran `osu_init` in a loop 50 time over 1025 nodes (1 rank per node, `ppr:1:node`) with ompi-4.0.3 on Summit and had no problems.

[2020-05-06 15:27] bosilca commented on #1747
Apparently this issue is specific to the environment I was running on. I can't get access to the machine right now (and I will need a large allocation anyway), so I will downgrade this to minor but keep it alive until I will be able to run more tests.

However, it would be good if I have a precise plan of what to run and how to run it, to be able to gather as much info as possible. So, what MCA sh

[2020-05-06 15:40] naughtont3 commented on #1747
For ticket trails, here are the run bits for my osu_init test:
[code]
[code]

[2020-05-12 08:18] Honggang-LI opened #1762 "PMIX ERROR: BAD-PARAM in file base/pnet_base_fns.c at line 113"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

good: pmix-2.1.1-1.el8.x86_64
bad:   pmix-2.2.3-1.el8.x86_64

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

pm

[2020-05-12 08:23] Honggang-LI commented on #1762
openmpi-4.0.3-1.el8.x86_64
openmpi-4.0.2-2.el8.x86_64

I was running these two versions of openmpi.

[2020-05-12 12:50] Honggang-LI commented on #1762
git bisect says first bad commit is: [80057193017c3f66f2f472d023d0009186d94e45] Update v2.2 branch to meet the v2.2 Standard (#1058)

[2020-05-13 05:01] karasevb commented on #1747
@bosilca could you clarify please, what is your ulimit for filesize?

I verified that on AMD EPYC with 128ppn job and ds21 gds component requires a limit no less than 20480 for file size.

[2020-05-13 13:53] bosilca commented on #1747
[code]

[2020-05-13 21:06] pwnEvery1 commented on #1123
if you want to restore:
export PMIX_MCA_pmix_gds_base_verbose=defaultexport PMIX_MCA_pmix_gds_base_verbose=default

[2020-05-15 20:42] jjhursey opened #1768 "Q: Type for `PMIX_EVENT_CUSTOM_RANGE`"
In the [pmix_common.h header](https://github.com/openpmix/openpmix/blob/master/include/pmix_common.h.in#L395) the `PMIX_EVENT_CUSTOM_RANGE` says that it takes the type:

But in the code I see it taking either a `PMIX_DATA_ARRAY` or a single `PMIX_PROC`.
I noticed the code that it accepts either an array or a single proc [here](https://github.com/openpmix/openpmix/blob/master/src/event/pmix_event_n

[2020-05-18 16:41] rhc54 commented on #1695
Removing the "blocker" status as the fundamentals appear to be done. There remain some features to complete, but those can come post-v4.0 release

[2020-05-21 20:04] naughtont3 opened #1782 "python-bindings build error with master"
Python-binding error during `make install` with latest master of openpmix

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

master at 31f8408

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### Please

[2020-05-21 20:09] naughtont3 commented on #1782
OK, looks like `PMIx_Register_attributes()` has additional 3rd arg now `nattrs`.

[2020-05-21 22:27] rhc54 commented on #1782
Ah - nuts. I'll fix it. Thanks!

[2020-05-22 14:30] #1782 closed

[2020-05-23 16:05] tonycurtis opened #1785 "PMIX_UNIV_SIZE returning 0 inside SLURM allocations"
Thank you for taking the time to submit an issue!

## Background information

OpenSHMEM implementation checks PMIX_UNIV_SIZE but it is returning 0 inside SLURM allocations

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

github @ 30e2bf8d7317656bd854c431cc0695f60e952e14

PRRTE @ 2a6dc775d3f3262597367f0869474956e72a7819

### Describe how PM

[2020-05-26 02:16] Honggang-LI commented on #1381
I believe issue persists.

$ rpm -qa | grep pmix
pmix-2.2.3-1.el8.x86_64
pmix-devel-2.2.3-1.el8.x86_64

./configure --prefix=/home/test/install/openmpi-3.1.6-sys-pmix --with-pmix=external --with-libevent

./install/openmpi-3.1.6-sys-pmix/bin/mpirun uname -r
4.18.0-203.el8.x86_64
4.18.0-203.el8.x86_64
4.18.0-203.el8.x86_64
4.18.0-203.el8.x86_64
4.18.0-203.el8.x86_64
[rdma-dev-00.lab.bos.redhat.com:

[2020-05-27 09:44] Honggang-LI commented on #1381
Confirmed it is pmix-2.2 regression issue.

[test@rdma-dev-00 openpmix (v2.2)]$ head config.log
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by pmix configure 2.2.3rc2, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure --prefix=/home/test/opt/pmix-d0f3c21b --disabl

[2020-05-27 09:45] Honggang-LI commented on #1762
Confirmed it is pmix regression issue.

[test@rdma-dev-00 openpmix (v2.2)]$ head config.log

  $ ./configure --prefix=/home/test/opt/pmix-d0f3c21b --disable-static --disable-silent-rules --enable-pmix-binaries --with-tests-examples --enable-shared --enable-pmi-backward-compatibility --with-munge CFLAGS=-g

[test@rdma-dev-00 openpmix (v2.2)]$ ./test/simple/stability  -e /usr/bin/date
Testing versio

[2020-05-27 10:12] karasevb opened #1787 "Question: `PMIx_server_setup_application` and checking for `pmix_pnet` and `pmix_pmdl`"
I'm working for adding `PMIx_server_setup_application`/`PMIx_server_setup_local_support` into the Slurm PMIx plugin (refs: https://bugs.schedmd.com/show_bug.cgi?id=7263). The implementation is almost done, but there is one question.
Following the requirement where the attributes `PMIX_NODE_MAP` and `PMIX_PROC_MAP` must be provided to the call `PMIx_server_setup_application`, therefore, these attri

[2020-05-27 13:26] rhc54 commented on #1787
Pretty tricky thing to resolve - basically, you are asking for some method to determine if the server library is going to make a contribution before you pass it the info it needs to decide if it will contribute. I'm not sure how one resolves that question.

The reason you aren't currently getting any contribution is likely due to not using the latest updated PMIx version (i.e., master). In upcomin

[2020-05-27 15:45] artpol84 commented on #1787
The more efficient solution IMO would be to provide the callbacks for setup application to generate those mappings.
This way the component would decide whether or not it needs this information. The callback can be passed through an info key and be alternative to the original key.

My concern is that you need to generate the objects @karasevb have mentioned both for fabrics that will use them and f

[2020-05-27 15:54] rhc54 commented on #1787
It isn't just fabric information that is being generated - we also generate things that OMPI relies on being there (starting in v5, they will no longer be ignored). So it isn't clear to me that you will ever wind up with nothing being returned - even MPICH is winding up generating data, and they too require knowledge of the node/proc maps. Frankly, the list of things people want in that blob keeps

[2020-05-27 19:46] artpol84 commented on #1787
@karasevb, lets' measure the time it takes to generate these two regex's for a large # of nodes/procs.
This will either confirm or disprove my guess.

[2020-05-27 20:30] rhc54 commented on #1787
Couple of things to keep in mind:

* the maps you are generating come out as compressed regular expressions that you have to feed to "register_nspace" anyway. So why not just add them to your payload (they are pretty small) and then use them on the backend?

* when you call "setup_application", you have to pass keys indicating what info you want to have included. For example, we need the programmi

[2020-05-28 09:46] Honggang-LI commented on #1762
https://github.com/openpmix/openpmix/pull/1788
Confirmed this PR fixed the issue. Thanks

[2020-05-28 09:46] #1762 closed

[2020-05-28 09:47] Honggang-LI commented on #1381
https://github.com/openpmix/openpmix/pull/1788 fixes this issue.

[2020-05-28 11:35] rhc54 commented on #1787
@karasevb Let's turn this around and look at it again. What information does Slurm have, and when does it have it? In other words, when it is time to call "setup_application", what does Slurm know about the job? Has it already assigned procs to nodes? Or is that done on the backend nodes?

I'm asking because we can certainly tailor the process for the environment. In other words, maybe for Slurm "

[2020-05-28 19:41] artpol84 commented on #1787
The encode/decode performance data we discussed on today's telecon is below.
IT is here for our information in case we will need to find a better channel to transfer a "setup_app" blob to stepd's.
[code]

[2020-05-28 20:03] artpol84 commented on #1787
@rhc54 answering the questions above and per telecon, here is what Slurm has at the stage where we call setup_application:

PMIx plugin entity inside srun has the full information about process mapping in the following form:
1. number of nodes (`nnodes`) - scalar int
1. number of tasks/processes (`ntasks`) - scalar int
1. node names (`nodes`): a string in Slurm node list notation (i.e. `cn[01-10],

[2020-05-30 14:27] rhc54 commented on #1787
@artpol84 Thanks for that detailed info! What I would propose is that we eliminate the map generation step and just pass down those four values. We can pass the Slurm node list notation (prefixed with "slurm:" so we can detect the regex type) using `PMIX_NODE_MAP` and define a new key for the task-to-node mapping array. We already have keys for the number of nodes and processes. This is sufficient

[2020-06-01 10:49] karasevb commented on #1787
I generated hostlist like `node%d` from 1 to 65536 and 32 ppn and feed them to the routine that currently generates PMIx mapping keys in Slurm. There are results of generating `PMIX_NODE_MAP` and `PMIX_PROC_MAP` in Slurm:
[code]

[2020-06-01 10:51] karasevb commented on #1787
@rhc54 let's us know when it be ready, please, I'll update Slurm.

[2020-06-01 20:50] rhc54 commented on #1787
@karasevb Would it be possible to output how long it took for you to generate the input to `PMIx_generate_ppn` vs how long it took that function to return its result? I ask because I don't understand the scaling  behavior for the time required to generate the `PMIX_PROC_MAP` and want to get a feel for where that time is being spent.

Regardless, I will create the necessary support, but it won't be

[2020-06-02 00:09] artpol84 commented on #1787
Thanks, @rhc54 and @karasevb!
This sounds just perfect!

@karasevb, please publish your benchmark and measure what @rhc54 is interested in.

[2020-06-02 11:40] karasevb commented on #1787
There is modified (excluded Slurm overhead) benchmark: https://github.com/artpol84/poc/pull/18
The results are not so different from the above:
[code]

[2020-06-02 13:53] rhc54 commented on #1787
Hmmm...okay, that tells us that the "generate_ppn" code has a major scaling problem. This will impact everyone using PMIx, so it needs to be addressed - providing Slurm with a workaround is just a band-aid.

I'll file a separate issue to address the "generate_ppn" code - we need to clean that up.

[2020-06-02 13:55] rhc54 opened #1791 "PMIx_generate_ppn does not scale"
See #1787 for details. We need a better method for generating the ppn regex.

[2020-06-04 16:22] tonycurtis opened #1794 "Compile error with json symbol on frontera (@ TACC)"
Thank you for taking the time to submit an issue!

## Background information

Not seeing this issue anywhere else.

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

github master @ 949bab5f13759ba3e158ec389a2bd0041c06d78a

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating syst

[2020-06-04 16:35] rhc54 commented on #1794
Dang, that was fast - I just committed it! 😄

I'm puzzled as to how you wound up compiling that component. It should only build if libjansson is on the machine. Do you know if you have that rpm installed, and if so, what version it is? I'm thinking this must be a libjansson version issue and I'm going to have to add some more selectivity to the configure logic.

[2020-06-04 16:37] tonycurtis commented on #1794
Yeah, jansson is installed there (which apparently is the difference).

[code]

[2020-06-04 17:08] rhc54 commented on #1794
Okay, thanks! I see there is indeed a version dependency, so I'll add the necessary checks.

[2020-06-04 18:02] rhc54 commented on #1794
Wouldn't you know it - that function was added in 2.11... 🤷‍♂️

[2020-06-04 21:30] cpshereda opened #1795 "PMIx_Get of PMIX_RANK doesn't work"
### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

master @ 949bab

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

clone

### Please describe the system on which you are running

* Operating system/version: Ubuntu 18.04
* Computer hardware:

[2020-06-05 00:00] #1794 closed

[2020-06-05 00:05] tonycurtis commented on #1794
That works for me

[2020-06-05 02:39] #1785 closed

[2020-06-11 04:18] jma562 opened #1800 "When will the next release (3.1.6) be available? Or a patch to address UNPACK-PAST-END error?"
Thank you for taking the time to submit an issue!

## Background information
using reference implementation,  a specific pmix server is implemented.
However several PMIX ERROR: UNPACK-PAST-END occurs pretty frequently when attempting to scale up number of nodes and ranks:
UNPACK-PAST-END in dstore_base.c at line 2624
UNPACK-PAST-END in base/gds_base_fns.c at line 181
UNPACK-PAST-END in dstore_base

[2020-06-11 04:28] jma562 commented on #1800
Client program is openmpi 4.0.3

[2020-06-11 10:10] rhc54 commented on #1800
Strange - we aren't seeing this on the OMPI v4.0.x branch, which includes PMIx v3.1.5. I would have expected to see this on every execution of `mpirun` based on this report since it would also be using PMIx v3.1.5 in its server.

Is this your own runtime that is hosting the PMIx server? Or are you using PRRTE, or Slurm, or...?

Just trying to get some context to help understand why you are seeing

[2020-06-11 13:26] jma562 commented on #1800
yes this is my own runtime that hosts the reference sever implementation. any pointers to give about what could go wrong? or what has been fixed specifically for UNPACK errors? It's pretty consistent. git master branch works every time. the above mentioned released versions have issues.

[2020-06-11 13:54] rhc54 commented on #1800
Try the following patch for PMIx v3.1.x:
[code]

[2020-06-11 18:28] jma562 commented on #1800
Unfortunately the above patch did not work. The client openmpi program crashed. Do I need to rebuild openmpi and recompile the application? Thanks.

[2020-06-11 18:32] rhc54 commented on #1800
How are you building this? Is OMPI built against the external PMIx, or is it just your server (and OMPI is using its internal PMIx)? Which version(s) did you patch?

[2020-06-11 18:47] jma562 commented on #1800
In download the v3.1 git version, applied the patch, then build the server by
autogen.pl->configure->make->make install #my own server will be build in the step "make"

Then I tried to start the program but it crashed
Then I did make uninstall the pmix
make uninstall openmpi
re-install openmpi trying to use the same external libpmix
./configure --with-pmix=/usr/local/ --with-slurm=no --with-libeve

[2020-06-11 19:01] rhc54 commented on #1800
Hmmm...ok, odd - may have to bring more over, I guess. I'll have to take a deeper peek into this one.

[2020-06-11 19:25] jma562 commented on #1800
sorry a bit messy in the sequency of actions I did
the
"Then I did make uninstall the pmix" took place after these two runs.

I basically verified openmpi internal libpmix and
the 3.1 libpmix that I built with the patch.

[2020-06-11 19:27] rhc54 commented on #1800
Got it - thx! Can you post the error output if you use PMIx v3.2? We are curious because v3.2 is actually branched from master, so we would have expected it to work if master itself works. If it doesn't, then we can focus on the changes since that branch.

[2020-06-11 20:24] jjhursey opened #1801 "PMIx_tool_connect_to_server missing proc output"
`PMIx_tool_connect_to_server` takes a `proc` output argument as the first parameter, but does not fill it in if a non-NULL pointer is provided.

[code]

The scenario where we were experimenting with this interface is in an indirect debugger launch scenario. So we would either call `PMIx_Spawn` or fork/exec the prterun/mpirun launcher. Then use `PMIx_tool_connect_to_server` to connect to the launch

[2020-06-11 20:25] jjhursey commented on #1801
IBM team came up with this quick patch, but we are not 100% sure it's correct

[code]

[2020-06-11 20:29] jjhursey commented on #1768
This impacts both `PMIx_Register_event_handler` and `PMIx_Notify_event`. The latter accepts the single `pmix_proc_t`, but the former returns `PMIX_ERR_EVENT_REGISTRATION` if you try to do so.

[2020-06-12 02:12] rhc54 commented on #1801
Took me a little bit to register what you were doing, but no - that is not a correct patch. The `PMIx_tool_connect_to_server` function should fill the proc struct in with its own nspace and rank, not that of the server to which it connected. If it isn't doing that, then I'll fix it.

The MPIR shim is doing this correctly, if you want to look at it for an example. When you call `PMIx_Spawn`, the sp

[2020-06-12 02:14] rhc54 commented on #1768
Should be either an array or single proc - both are acceptable.

[2020-06-12 02:18] rhc54 commented on #1800
Also, just for clarification. When you say the error occurs in the "2nd Fence", I take it you mean the second fence in MPI_Init, which occurs down at the end of that function. Is that correct?

I ask because there are two "fence" operations in MPI_Init. The first one exchanges data, and so the "data" blob you receive in the `pmix_server_fencenb_fn_t` function in your server should be non-NULL. Aft

[2020-06-12 18:30] jma562 commented on #1800
I did some digging and narrowed down the issue a little bit, it seems that after FENCE COMPLETE,
the server received a BARRIER REQUEST message but with garbage information :
dump_msg_hdr: dst_id=37627 src_id=0 cmd=0 job_id=117702656 size=8793841222394314754
in this msg header, other than the cmd  and src_id make sense, the dst_id, job_id, and size all seem corrupted.
I can certainly add a guard to

[2020-06-12 18:53] jma562 commented on #1800
I did not try 3.2 I tried with 3.1.5 official release with the patch you suggested.

[2020-06-15 13:06] jma562 commented on #1800
I came up with a quick workaround, if on server side, I add a guard to filter out these garbage messages, things work fine.

However, I would like to dig out the root cause.
 If I'm using the master branch, I don't see these garbage info at all. All messages are clean.

  I noticed that  in master branch pmix_ptl_hdr_t has an extra padding field.
It seems that it's just  dummy padding bytes.  Is t

[2020-06-15 20:17] jma562 commented on #1800
i think I've got the key differences between main branch and 3.1.5 release
When server receives the CMD_FENCE_CONTRIB from peer, it aggregates the data in a buffer until
it receives all peers' CMD_FENCE_CONTRIB messages then it sends a CMD_FENCE_COMPLETE msg to all peers with the aggregated FENCE  data.

The size of the data is small in main branch
But the size of the data is much bigger in 3.1.5

[2020-06-16 03:09] rhc54 commented on #1800
Sorry for the delayed response, I'm rather slammed right now. I'm not sure I really understand the root issue here. The problem you originally cited was in the PMIx server library when your host passed data down into the server during the 2nd fence operation in MPI_Init, which is a zero-byte barrier. From what we could tell, you were passing a non-NULL, corrupted data blob into that fence callback

[2020-06-16 13:46] shanedsnyder opened #1803 "PMIX_IMMEDIATE not working?"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

master

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

Spack

### Please describe the system on which you are r

[2020-06-18 12:50] jma562 commented on #1800
I will close this issue. Thanks for your help.
After I implemented the patch you provided to 3.1.5 (which is already in the master branch), job start works fine. But I ran into an issue in job finish, debuging shows that a server receives garbage information from peers. Further investigation showed that it's an issue in our end to handle large messages. AFter this issue is fixed, everything works

[2020-06-18 14:47] rhc54 commented on #1800
I confess you have me terribly confused as to what you are doing. I _thought_ you were using our library for both the server and client ends, writing your own "host" for the server side (i.e., not using PRRTE). Now it sounds like you are _not_ using the server side of our library, but instead trying to write your own, but wanting to mimic the behavior of our server?

Is there some reason why you w

[2020-06-18 16:14] jma562 commented on #1800
I see. Thanks.
 I did re-implementing the whole thing.  I took the reference implementation as is. Just build the hosting part based on the test_server.c and pmix_test.c.  Thanks again for your help. All my questions are answered. I just close this issue then.

[2020-06-19 20:29] devreal opened #1804 "Issues found using STACK"
I have applied the STACK tool [1] to Open MPI and found the following issues in the PMIX submodule:

1) The check for `NULL` in https://github.com/openpmix/openpmix/blob/master/src/server/pmix_server_ops.c#L3891 will be ignored by the compiler because `trk` has already been dereferenced 8 lines above in https://github.com/openpmix/openpmix/blob/master/src/server/pmix_server_ops.c#L3883

2) The `el

[2020-06-19 20:43] rhc54 commented on #1803
Are you sure you are using the right attribute?

- `PMIX_OPTIONAL` will return right away if the key is not currently available to the client.
- `PMIX_IMMEDIATE` goes up to the local server to request it - it should then return if the key isn't there. It should not request the info from the local host.

Neither one should block, however, so that is likely a bug.

[2020-06-23 15:59] #1801 closed

[2020-06-23 19:02] jjhursey commented on #1801
Thanks for the fix. That makes sense.

Is there an easy way (I need to look) to access the process id/namespace of the server that we just connected to? For example, to send an event to that server.

[2020-06-23 19:05] #1768 closed

[2020-06-23 19:15] rhc54 commented on #1801
Assuming the server supports it, you could do a `PMIx_Query` of `PMIX_SERVER_NSPACE` and `PMIX_SERVER_RANK`. It would probably be better if we just updated the PMIx library so that one could do a `PMIx_Get` on those values since the local library already has it. Stand by.

[2020-06-23 19:34] rhc54 commented on #1801
Should be addressed in https://github.com/openpmix/openpmix/pull/1809

[2020-06-23 23:21] rhc54 commented on #1803
@shanedsnyder I tried but was unable to replicate this problem. See my test here: https://github.com/openpmix/prrte/pull/612

Can you provide some additional info on your use-case - e.g., the particular key you were requesting?

[2020-06-24 02:02] jma562 opened #1811 "openpmix3.1.5 server crashed with bcast application"
Thank you for taking the time to submit an issue!

## Background information
server crashes with bcast application

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
3.1.5

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
source

### Please de

[2020-06-24 17:49] #1804 closed

[2020-06-24 18:12] rhc54 commented on #1795
Minor change - the Standard states that passing a rank of WILDCARD indicates a request for job-level info. It makes no sense to return the rank of a specific process from the job-level info. Instead, let's pass the INVALID rank to indicate that we don't know the rank. If the "get" sees its own nspace, an invalid rank, and a PMIX_RANK key - then we will return the rank of the process itself.

[2020-06-24 18:48] #1795 closed

[2020-06-25 13:37] jjhursey commented on #1768
Thanks!

[2020-06-26 19:20] jma562 commented on #1811
If I switch to the master branch code, the crash does not happen.

[2020-06-28 02:50] racedowling opened #1819 "PMIX ERROR: NO-PERMISSIONS in file ../../../../../../src/mca/common/dstore/dstore_base.c at line 234"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
bash$ mpiexec -V
mpiexec (OpenRTE) 3.1.3

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
apt-get install mpi4py
p

[2020-06-29 20:59] jma562 commented on #1811
did a quick comparison, it seems that in openpmix3.1.5,     DMDX_REQUEST and DMDX_RESPONSE are handled and the crash takes place right after handling DMDX_RESPONSE

Running the same appliction with the master code, no  DMDX REQUEST or RESPONSErequest shows

[2020-06-29 21:02] shanedsnyder commented on #1803
Sorry for the delay, this kind of fell through the cracks.

As for whether I'm mistakenly using the wrong attribute, that's possible. The intent of this code path is to check whether the given process has already put a particular key in the database. If the key isn't there, then we use some logic to create the corresponding value then add the key to the database. So basically just want to ensure t

[2020-06-30 17:37] rhc54 commented on #1803
Ah, there is the key missing piece of info - you are looking for a non-system key (i.e., one that isn't part of the standard and doesn't start with "pmix"). I suspect the library is treating that as a "required" key and ignoring the immediate and/or optional flags. Probably something that should be considered a bug. I'll take a look in a bit.

[2020-07-07 18:55] jma562 commented on #1811
Noticed that in master branch, "./src/common/pmix_attributes.c" is introduced and
 {.function = "PMIx_server_dmodex_request", .attrs = (char *[]){"N/A", NULL}}, is declared.
what exactly does it mean by this declaration?
Is there an equivalent way in 3.1.5?

[2020-07-13 02:18] jma562 commented on #1811
the server also crashed when I run nbody application (MPI_Allgather).
 it works with simple apps like hello_c and ring.

[2020-07-13 16:03] jma562 commented on #1811
(gdb) where
#0  0x000000000044ccd0 in get_cbfunc (status=-46, data=0x0, ndata=0, cbdata=0x7f869401fc60, relfn=0x0, relcbd=0x0) at server/pmix_server.c:2571
#1  0x0000000000479169 in pmix_pending_resolve (nptr=0x7f86940008c0, rank=15, status=0, lcd=0x7f869401fd70) at server/pmix_server_get.c:946
#2  0x000000000047a5e0 in _process_dmdx_reply (fd=-1, args=4, cbdata=0x7f869401d320) at server/pmix_serv

[2020-07-13 18:48] jma562 commented on #1811
Is there a release schedule for 4.x? Thanks.

[2020-07-15 04:04] jma562 commented on #1811
finally identified the root cause, it's due to the hot fix:
https://github.com/openpmix/openpmix/issues/1800#issuecomment-642669517

After remove this hot fix, openpmix3.1.5 works as expected.

It seems that we can not simply back port this line of change from master branch to 3.1.5,  it depends on underlying changes in the master branch to work properly.

Now the server won't crash and works as e

[2020-07-15 04:04] #1811 closed

[2020-07-16 19:36] jjhursey commented on #1819
Sorry for the delay. We believe that this issue was fixed in [PMIx v2.2.4](https://github.com/openpmix/openpmix/releases/tag/v2.2.4). Open MPI 3.1.3 ships with PMIx 2.1.4.

You can try to update your Open MPI version through the package manager. Alternatively, you could build the latest Open MPI from source - the latest is [Open MPI v4.0.4](https://www.open-mpi.org/software/ompi/v4.0/)

[2020-07-24 02:14] kkramarenko commented on #1787
Here are the results of benchmark (implemented by @karasevb :artpol84/poc#18) for master branch of openpmix. Table below shows results with native/compress component on in preg module.
[code]
As can we see when compress component on there is no major scalling problem for “generate_ppn” code.

[2020-07-24 03:04] artpol84 commented on #1791
@rhc54
Per today's telecon discussion and the results provided by @kkramarenko https://github.com/openpmix/openpmix/issues/1787#issuecomment-663317973 I think we can close this issue.

[2020-07-24 03:04] #1791 closed

[2020-07-24 13:58] jjhursey commented on #1787
@kkramarenko Thank you for the investigation. That is good news for the `master` and upcoming `v4.0` release since the `preg/compress` component is the default.

I'll note here that the `preg/compress` component is not on the `v3.1` branch. The community is considering a `v3.2` release that would include it. During the teleconf this week we decided to not drop a new component into the `v3.1` serie

[2020-07-31 17:00] tonycurtis opened #1826 "pkg-config file typo for library name"
Thank you for taking the time to submit an issue!

## Background information

pkg-config spec file has a typo

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master @ 8a03e57f9f67e5343a797f970b9d1fafc0d34383

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distr

[2020-07-31 17:33] rhc54 commented on #1826
Thanks @tonycurtis ! I really appreciate you reporting these things!

[2020-07-31 18:06] #1826 closed

[2020-08-04 22:46] junghans opened #1828 "run_tests0{2,4}.pl: fails on armv7hl (Fedora 33)"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
pmix-3.1.5

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
During rpm build for Fedora 33

### Please describe th

[2020-08-04 23:43] junghans commented on #1828
And here is the build log with `PMIX_DEBUG=10`
[build_debug10.log.txt](https://github.com/openpmix/openpmix/files/5025321/build_debug10.log.txt)

[2020-08-04 23:47] rhc54 commented on #1828
Thanks! Just for clarity: was this done from tarball or from GitHub clone?

[2020-08-04 23:48] rhc54 commented on #1828
I'm asking because the head of the v3.1.5 branch is slightly ahead of v3.1.5 release as we are prepping for a v3.1.6 in the next month

[2020-08-05 00:06] junghans commented on #1828
The rpm is using https://github.com/pmix/pmix/releases/download/v3.1.5/pmix-3.1.5.tar.bz2

[2020-08-05 21:25] rhc54 commented on #1828
Hmmm...I was afraid of this. I cannot replicate on the machines available to me, which means this might be something ARM-specific. Afraid I'm not sure where to go from here.

@ggouaillardet @hppritcha Do you have access to something like this? It's an arm7hl. All my machines are Intel-based, I'm afraid.

[2020-08-06 00:52] junghans commented on #1828
If you want me to do any debugging in the build please let me know.

[2020-08-06 21:24] pkovacs commented on #1828
I got almost immediate feedback from the mpi people when I excluded a armv7hl as a wrokaround in Fedora.  I am re-adding it but excluding the tests, i.e. the `make check` is omitted on armv7hl.  This is almost certainly a bad thing to do since the checks are revealing an issue somewhere... we should find the problem and fix it.

My feeling is that there might be some 64-bit assumptions that break

[2020-08-06 22:19] rhc54 commented on #1828
Such casts are often done in print statements for debugging purposes, so I doubt that is the issue here. What we need is access to an appropriate machine as none of the members of the developer community use ARM. Anyone know where we could find one? I might be able to try my little Raspberry PI, but I haven't turned it on in months - would take me a bit to bring it back online.

[2020-08-07 05:08] pkovacs commented on #1828
I think I may have found the problem.  I spun up a Fedora armv7hl vm under kvm/qemu and built pmix (a painfully slow overall process).  The first few tests failed initially, as reported above.  Seeing how slow the vm was and noting that there is a hard timeout of 30 seconds given to each test after which the timeout wrapper issues a kill signal,  I patched our rpm spec to give the tests much more

[2020-08-07 13:28] rhc54 commented on #1828
Woohoo! Thanks @pkovacs !  @junghans - can you please let us know if that solves the problem for you too?

[2020-08-07 21:20] pkovacs commented on #1828
I ran another pmix scratch build for all six Fedora architectures using the 300 sec timeout and all arches passed: [scratch build](https://koji.fedoraproject.org/koji/taskinfo?taskID=48890512).  I'm satisfied at this point, so I committed the rpm spec change above to Fedora's rawhide repo (master) and rebuilt the official rawhide release, again all arches passed: [official rawhide build](https://k

[2020-08-07 21:28] junghans commented on #1828
@pkovacs thanks for the investigation.

[2020-08-08 03:13] #1828 closed

[2020-08-08 14:15] rhc54 opened #1836 "PMIx_Get is broken for reserved keys"
There is a break in compatibility when testing cross-version that eventually led to a root cause in the master (and now v3.2) branch. In accordance with the Standard, we no longer go to the server when looking for "reserved" keys (i.e., keys that start with "pmix"). Unfortunately, v3.x servers don't store the node array information in the dstore component because that component still doesn't know

[2020-08-08 20:13] rhc54 commented on #1836
I have come up with a stop-gap solution until we can create a new shmem implementation. We take the node-info array and store it in the dstore using a key "pmix.narray:\<nodename\>". When someone looks for a piece of node-level info, we create the proper key from the nodename, look it up in the "fastpath", and then scan the returned array for the key they requested. Ditto for app and session-level

[2020-08-08 20:16] rhc54 commented on #1828
@junghans @pkovacs Obviously, I cannot bring the fix back to the v3.1.5 release, but I can do a v3.1.6 release that contains it. There are a few things in that branch, including removal of an unnecessary "warning" message that appears at least on Mac, so I could justify it. Or you can use your own patch if you are satisfied otherwise.

Let me know which you would prefer. Would take about a week to

[2020-08-08 21:54] junghans commented on #1828
Just leave it for the upcoming 3.1.6 release, we have patched the rpm already, so there is no need to backport.

[2020-08-08 22:34] pkovacs commented on #1828
Yep, 3.1.6 is fine. I receive your automatic email, Ralph, when you release so I'll have it in Fedora within hours probably.  Meantime the sed replace patch is added just in case anyone triggers a rebuild -- sometimes the Fedora gods come in and do a "mass rebuild" when deep structural dependencies change, which was what triggered this problem.  All good now.

[2020-08-10 20:00] jjhursey commented on #1836
Interesting bug. Did the cross-version CI checker get tripped on this or did you find it manually?

I'll make sure that we discuss this on the teleconf this week. It sounds like your stop-gap solution might work for the short term. We should ping folks about https://github.com/openpmix/openpmix/issues/1567 to see if anything is happening there.

[2020-08-10 20:00] jjhursey commented on #1567
See Issue #1836 for a related issue

[2020-08-10 20:32] rhc54 commented on #1836
Yeah, it initially tripped over it and then I had to dig down for a bit to find it. Sadly, it would have immediately failed if we were actually running on more than one node as "resolve_peers" today can only return info on the current node.

[2020-08-11 01:45] rhc54 commented on #1803
@jjhursey Forgot this one - needs to be fixed prior to v3.2 release.

[2020-08-11 20:11] rhc54 opened #1842 "Document that OpenPMIx requires C99-style assignment of server module fns"
Required as we cannot otherwise tell the difference between versions of the struct.

[2020-08-12 01:38] rhc54 opened #1843 "OMPI crashes/hangs in comm_spawn with PMIx v3.1.x"
I'm using OMPI 4.0.4 in a very simple scenario. Just 2 machines, one "master", one "worker" on a Ethernet LAN. Both with Ubuntu 18.04.I builded OMPI just like this:

./configure --prefix=/usr/local/openmpi-4.0.4/bin/

My hostfile is this:

master slots=2
worker slots=2

I'm trying to dynamically allocate the processes with MPI_Comm_Spawn().
If I launch the processes only on the "master" machine It

[2020-08-12 01:41] rhc54 commented on #1843
OMPI v4.0.4 uses PMIx v3.1.5. Using PMIx v3.1.2, user reports:
[code]

[2020-08-26 21:40] wckzhang commented on #1712
I was able to reproduce this issue with mtt tests, specifically the ompi-tests/ibm/dynamic/ tests.

My mpirun command on the v4.1.x Open MPI branch:
mpirun --np 2 -N 1 --hostfile ~/hostfile --mca pml cm ~/ompi-tests/ibm/dynamic/spawn_argvnull_mpifh

The dynamic spawn tests have failed with internode runs (intranode works fine) since 3.1.4rc2.

I traced the errors to the vicinity of the commit refe

[2020-09-03 11:12] dirk-schubert-arm opened #1852 "Segfault in PMIx_tool_attach_to_server"
## Background information

### What version of the PMIx Reference Server / PMIx are you using?
Latest master.

### Please describe the system on which you are running

- Operating system/version: Ubuntu 18.04
- Computer hardware: x86-64

-----------------------------

## Details of the problem

The reproducer to demonstrate the PMIx_tool_attach_to_server segfault is done using the MPIR-shim as thi

[2020-09-03 11:12] dirk-schubert-arm commented on #1852
@rhc54: Can you have a look? Thanks.

[2020-09-21 22:23] wzamazon opened #1863 "OMPI 4.0.3: mpirun return 141 (pipe error) randomly"
## Background information
When running OSU Micro benchmark compiled with open mpi 4.0.3, sometime mpirun return 141, while the program finished successfully.

### What version of the PMIx Reference Library are you using?

PMIx 3.1.5, which comes with openmpi 4.0.3

### Describe how PMIx was installed

Compiled with openmpi 4.0.3. openmpi 4.0.3 was configured using the following option:

--with-sge

[2020-09-21 23:35] wzamazon commented on #1863
I am digging into the issue and try to figure out root cause. Meanwhile, any leads you can give are greatly appreciated!

[2020-09-29 17:59] wzamazon commented on #1863
The issue turns out is not related to the pmix, but something in orte/oob/tcp module. The warning message is not related to the issue either.

[2020-09-29 17:59] #1863 closed

[2020-10-01 17:10] #1803 closed

[2020-10-13 16:15] garlick commented on #102
Nice!

Is there some way to get a file descriptor that becomes readable (or similar) when there is work to do, or does one have call `PMIx_Progress()` periodically?

[2020-10-13 16:59] rhc54 commented on #102
Hmmm...it might be easier if you passed into us a file descriptor (i.e., the write end of a pipe) that we could just write a byte into when an internal event occurs that needs progress. The only issue there is that (for example) the client library can't detect that the server sent it a message (for an event or to return information from a request) unless the library is progressed. So while we coul

[2020-10-13 17:50] garlick commented on #102
If providing a hybrid file descriptor from `epoll(2)` or whatever won't work (and I sympathize as it's Linux specific), what about an interface that would let a pollfd array (or similar) and a min timeout value to be fetched?   The external event loop could fetch those right before blocking and arrange to be woken up when `PMIx_Progress()` needs service.

I think something like that is needed to c

[2020-10-13 19:05] rhc54 commented on #102
I have no issue with using `epoll` and limiting that usage to Linux - I don't view this interface as being something non-Linux users (e.g., Windows or OS-X) would care about. If they do someday, then they can easily provide an alternative - meantime, they can just use the internal progress thread.

The more I kanoodle this, the more I find myself wondering if we are missing something. Let's review

[2020-10-13 20:57] garlick commented on #102
Rewinding a bit, the use case that motivated this issue is embedding the PMIx server in a single-threaded, event driven program that has its own event loop (libev based in our case).  What's needed is a way to nest the two event loops so that we 1) never block when there is work to do, and 2) never wake up when there is not (or at least rarely and not regularly).

As the "user", the flux shell wou

[2020-10-13 20:59] garlick commented on #102
Oh sorry, I just answered that last question in reverse.  Yeah it's a little better but probably doesn't quite get there for us.

[2020-10-13 21:32] rhc54 commented on #102
We could certainly change `PMIx_Progress` to use `EVLOOP_NONBLOCK` - I'm not sure of all the side-effects of doing that, so it would bear some investigation. However, it sounds like you actually want the file descriptors themselves so you can "poll" them - which means that even with the change, it doesn't sounds like this new API is going to help resolve it. Even if we found a way to pass up the f

[2020-10-13 22:20] garlick commented on #102
This issue is specifically about "event loop integration" so shall we re-close it assuming that's not the way to go?

Maybe as you say there are other ways to get this working.  I'm not sure I understand the new functionality you're asking me about, but maybe when we're ready to get our hands dirty on code again, we can have a fresh look at the server side API and open new issues against anything

[2020-10-13 22:36] rhc54 commented on #102
That makes sense - meantime, I'll take a look at the server-side function module interfaces. I'm wondering if we perhaps need to create some atomistic versions to better support single-threaded hosts - there might be one or two that don't do that so simply today.

I'll go ahead and close this - let's definitely plan on circling back, and I'll post anything I turn up in my investigations on a new i

[2020-10-13 22:36] #102 closed

[2020-10-15 19:15] rhc54 commented on #1819
Closed as this looks to have been fixed.

[2020-10-22 06:02] abouteiller commented on #1843
### It works with

* Open MPI 4.0.4 / pmix 3.2.0rc1 (probably other Open MPIs as well)
* Open MPI 4.0.1 / pmix 3.1.2 (internal)

### I can reproduce the reported error with

* Open MPI 4.0.4 / pmix 3.1.6rc1 (external, **should the fix from 3.2.0 be back ported?**)
* Open MPI 4.1.0rc2 / pmix **3.1.4** (internal; **why is internal lower than in 4.0.5??**)
* Open MPI 4.0.5 / pmix 3.1.5 (internal)
* O

[2020-10-22 17:56] jjhursey commented on #1843
Thanks for the update. It looks like v3.2.0rc1 has the fix for this issue. That's good news for the v3.2 release.

IIRC there were a number of MPI dynamics / PMIx spawn related improvements in the v3.2 series that were not backported to the v3.1 series. We will talk about this on the developer teleconf today to see what we want to do about the v3.1.x series.

For Open MPI v4.1.x, we should talk to

[2020-10-23 00:46] jjhursey commented on #1843
Per teleconf Oct. 22, 2020:
 * Ok to release v3.2 today.
 * Will hold v3.1.6 until this issue is resolved. At the moment, it is unclear as to timeline for that fix. If a fix is needed please try the v3.2 release.
 * We will investigate the PRRTE/PMIx failure and likely open a separate ticket on that since we think it is PRRTE related.

[2020-10-23 01:50] jjhursey commented on #1352
This has now been released.

[2020-10-23 01:50] #1352 closed

[2020-10-23 03:31] pkovacs opened #1889 "3.2 test/run_testsXX.pl.in should be symlinks not copies"
Hey guys the 3.2.0 tarball uses tests with the old timeouts (~30secs) instead of the new, longer timeouts (~500secs) so we're getting some test failures on a few arches that have slower vm's used for building rpms.  As I look at the 3.2 tree, I notice right away that the `tests/run_testsXX.pl.in` files are _copies_ not symlinks as in 3.1, each with the old timeout.

Ref #1834

Cheers, Phil

[code]

[2020-10-23 11:03] rhc54 commented on #1889
ouch - don't know how that happened!

[2020-10-24 20:00] pkovacs opened #1891 "3.2 include/pmix_common.h.in missing FABRIC defs"
If `libpsm2` is installed on the build system, pmix will configure for building the `src/mca/pnet/opa/` units.   The problem is that there are FABRIC references in `pnet_opa.c` that are not defined in `include/pmix_common.h`.  Either `pmix_common.h` is too far behind for this version or `pnet_opa.c` is too far ahead.  I note the FABRIC defs are in master, but not 3.2.0.

Easy to reproduce -- insta

[2020-10-24 20:36] rhc54 commented on #1891
Sigh - that component shouldn't have been included in the release. I'll do a scrub. I'm afraid 3.2.0 got out without my having time to thoroughly comb it. My apologies.

[2020-10-24 21:34] pkovacs commented on #1891
@rhc54 No worries!  I'm always happy to help.

[2020-10-26 04:32] abouteiller commented on #1843
User in the Open MPI issue I linked above still complains about the singleton use case. I unfortunately did not try that scenario. I'll get to it tomorrow.

[2020-10-27 14:41] jjhursey commented on #1889
This was fixed in https://github.com/openpmix/openpmix/pull/1890 and will be included in the v3.2.1rc1 later this week.

[2020-10-27 14:41] #1889 closed

[2020-10-27 14:46] jjhursey commented on #1891
@rhc54 when I sync'ed the v3.2 branch from master I must have picked up these names changes, but since I didn't have the required libraries I must have missed this. Sorry about that. We will fix it in the v3.2.1rc1.

From that sync here is the diff of the pnet/opa changes:
 * https://github.com/openpmix/openpmix/pull/1832/files#diff-c8bafdab1c65bdd7a308434a3cbd915ce3145ac751e8ec4baa306359362121c5

[2020-10-27 15:25] rhc54 commented on #1891
No need - I simply removed those components as they aren't active in v3.2 anyway.

[2020-10-29 19:10] jjhursey commented on #1891
These were removed in https://github.com/openpmix/openpmix/pull/1890

[2020-10-29 19:10] #1891 closed

[2020-10-30 11:24] jjhursey commented on #1889
@pkovacs We just rolled a [v3.2.1rc1](https://github.com/openpmix/openpmix/releases/tag/v3.2.1rc1) with this fix. Can you give it a try to confirm that this issue is closed and that it works for you? Thanks!

[2020-10-30 11:25] jjhursey commented on #1891
@pkovacs We just rolled a [v3.2.1rc1](https://github.com/openpmix/openpmix/releases/tag/v3.2.1rc1) with this fix. Can you give it a try to confirm that this issue is closed and that it works for you? Thanks!

[2020-10-30 20:36] pkovacs commented on #1891
@jjhursey it's good on all six Fedora arches -- I've committed it to Fedora rawhide: https://src.fedoraproject.org/rpms/pmix

Thanks to you and @rhc54 for helping out with these two issues.  Sorry I didn't catch them earlier.  The rc's mostly fly under my radar unless I see a compelling reason to use them.

[2020-10-31 01:00] jjhursey commented on #1891
No problem. Thanks for testing and reporting those issues. Sorry that we missed those when preparing v3.2.0. We probably should have given a better heads up to folks about how we updated that branch and the need for more testing eyes.

[2020-11-01 12:31] kloczek opened #1910 "3.2.0: build fails"
[code]

[2020-11-01 14:56] rhc54 commented on #1910
This has already been fixed and will be released soon in v3.2.1 - we apologize for the problem.

[2020-11-01 14:56] #1910 closed

[2020-11-01 15:07] kloczek commented on #1910
Burt still there is no 3.2.1

[2020-11-01 15:22] rhc54 commented on #1910
It's coming - the release candidate (that includes the fix for this, which was previously reported) has been posted

[2020-11-02 15:00] jjhursey commented on #1910
The release candidate is here https://github.com/openpmix/openpmix/releases/tag/v3.2.1rc1 - please give it a try to confirm that it fixes your issue. But it sounds like the same problem with fixed in Issue #1891

[2020-11-02 23:58] tonycurtis opened #1913 "compile: syntax error in src/common/pmix_attributes.c"
## Background information

Compiler error in src/common/pmix_attributes.c

### What version of the PMIx Reference Library are you using?

github master @ b5c99f17a1d4c7e78cf68ca570fe888a2fe2e922

### Describe how PMIx was installed

git clone

### Please describe the system on which you are running

* Operating system/version: Fedora 32
* Computer hardware: x86
* Network type: ethernet

----------

[2020-11-03 15:47] jsquyres commented on #1913
@tonycurtis Thanks for this error report.  We suspect you're running into an error running the `construct_dictionary.py` script, and therefore `src/include/dictionary.h` is malformed, which then ends up manifesting itself as a compile error later.

@rhc54 is currently backing out the "run `construct_dictionary.py` script automatically" functionality, just so that we can get a functional update to

[2020-11-03 16:15] tonycurtis commented on #1913
Yes, `dictionary.h` is missing close-braces at the end.  It looks like a VPATH issue because it all compiles in-tree.

1.
[log.txt](https://github.com/openpmix/openpmix/files/5482530/log.txt)

2.
no output

[2020-11-03 16:25] jsquyres commented on #1913
Thanks!

Can you `rm src/include/dictionary.h` and run `make all` again?  In your `log.txt` output above, I didn't see `construct_dictionary.py` run (because it had already built `dictionary.h`).

[2020-11-03 16:41] tonycurtis commented on #1913
[code]

[2020-11-03 16:56] jsquyres commented on #1913
Well that's perplexing -- there's no error shown! ☹️ You captured stderr, too, right?

Can you try running it manually?

[code]

Where `PYTHON` is the same Python binary that `configure` found.

[2020-11-03 17:01] tonycurtis commented on #1913
Did a copy-paste from terminal so everything should be there.

[code]

[2020-11-03 17:02] rhc54 commented on #1913
Is dictionary.h now complete?

[2020-11-03 17:03] rhc54 commented on #1913
BTW: which version of Python is this?

[2020-11-03 17:05] tonycurtis commented on #1913
Python 3.8.6

[code]

[2020-11-03 17:06] tonycurtis commented on #1913
Aha, dictionary.h constructed correctly with python 2.7.18

[2020-11-03 17:49] jsquyres commented on #1913
I can replicate with Python 3.8.5.  Digging...

[2020-11-04 03:59] #1913 closed

[2020-11-13 20:49] pkovacs commented on #1910
@jjhursey @rhc54 just an FYI: built 3.2.1 today, looks good, no issues on any of our arches; I've added to Fedora repos

[2020-11-13 20:58] rhc54 commented on #1910
Great - thanks!

[2020-11-18 20:14] rhc54 commented on #1241
@artpol84 Take a gander at #1931 - I believe it is at least a first step towards resolving your concerns.

[2020-11-20 19:04] nvonwolf opened #1934 "pmix.spec missing in 1.2.5 distribution tarballs"
## Background information
I'm attempting to make an RPM of the 1.2.5 release (latest of the 1.x branch).  I have successfully done this for the 2.x and 3.x latest releases.

### What version of the PMIx Reference Library are you using?
1.2.5

### Describe how PMIx was installed
[distribution bz2 tarball](https://github.com/openpmix/openpmix/releases/tag/v1.2.5)

### Please describe the system on w

[2020-11-20 23:53] rhc54 commented on #1934
You should be able to use the spec file from any of those other tarballs - it hasn't changed in quite a while. Have you tried that?

[2020-11-21 00:30] nvonwolf commented on #1934
I was able to get a successful build by downloading the source zip and using the spec file from there while placing the distribution tarball (.bz2) in '~/rpmbuilds/SOURCE/'.

If the 1.x branch is still supported it should be worth fixing the distribution tarball (.bz2).

[2020-11-24 15:58] rhc54 opened #1938 "Things to do for v4.0"
- [ ] Update tool support
     - [x] Complete/debug new attachment APIs
     - [x] Update debugger examples
     - [ ] Update mpir_shim
&nbsp;
&nbsp;

- [ ] Repair/update Python bindings
     - [x] Add missing APIs and datatypes
     - [x] Fix threadshift support
&nbsp;
&nbsp;

- [ ] Implement new shmem model
  - [ ] This has been moved to v4.1 - Ref https://github.com/openpmix/openpmix/issues/183

[2020-11-30 15:55] jjhursey commented on #1256
Replaced by Issue #1938

[2020-11-30 15:55] #1256 closed

[2020-12-12 02:23] jjhursey commented on #1938
In PR #1944 I added the missing functions that I could find. There might be more, but that is a start.

[2020-12-15 20:35] rhc54 opened #1950 "Update/complete OPA integration"
We had some early integration with OPA-1 and even preliminary work in anticipation of OPA-2, but that has bit-rotted since then. The intent was to implement the full range of network support offered by the PMIx APIs, including "instant on" where possible.

This issue serves just as a reminder that we'd like to explore completing and releasing that work at some appropriate future time.

[2020-12-15 20:40] rhc54 commented on #1950
@mwheinz As mentioned in today's OMPI telecon

[2020-12-16 16:45] rhc54 commented on #1633
@amckinstry Would you please take a look at the VERSION settings in https://github.com/openpmix/openpmix/pull/1951 and see if this meets your requirements?

[2020-12-16 16:49] rhc54 commented on #1633
For comparison purposes:
[code]

[2020-12-22 18:35] cpshereda opened #1965 "PMIx_Get of PMIX_NODEID, PMIX_HOSTNAME fails when using hash instead of dstore"
## Background information

### What version of the PMIx Reference Library are you using?

up-to-date git master, installed from clone

### Please describe the system on which you are running

Problem appears to be hw-independent; however, at present, test suite is run on single-node Linux without an RM.

-----------------------------

## Details of the problem

Build the test_v2 test suite from th

[2020-12-25 07:46] #1965 closed

[2020-12-27 18:48] amckinstry opened #1978 "v4.0.0rc2 python bindings fail"
## Background information
v4.0.0rc2 release

Building with --enable-python-bindings fails due to a missing file.

This is on Debian unstable .
The following fix allows the build to complete:
[code]

[2020-12-29 17:25] jjhursey commented on #1978
Fixed in PR #1979 (for `master`) and PR #1980 (for `v4.0`). This should be fixed in v4.0.0rc3

[2020-12-29 17:25] #1978 closed

[2020-12-31 10:34] alex--m opened #1989 "SEGV during PMIx_Finalize"
It looks like the root cause is elsewhere (insufficient/incorrect cleanup in OMPI's ptl_tcp) - but this SEGV on cleanup probably shouldn't happen regardless. This crash is consistent with the new version, so it should be easy to reproduce - let me know if there's anything I can do to help.

## Background information

Build from latest (maybe a few days old) OMPI master:
[code]

### Please describe

[2020-12-31 21:08] rhc54 commented on #1989
Hmmm...well, first thing is that OMPI doesn't have a ptl/tcp component. The "ptl" framework is in PMIx (the Pmix Transport Layer). However, OMPI master is now using PMIx v4.0.0, which doesn't have a "tcp" component in it - we removed that component and refactored it. So if you are seeing a "ptl/tcp" component being loaded, then that means you have a stale installation.

You likely need to "rm -rf

[2021-01-03 17:02] amckinstry commented on #1633
Yes, this works for us.
It meets the requirement that major numbers increment in lockstep (or in this case, remain constant in lockstep).

[2021-01-03 17:15] alex--m commented on #1989
@rhc54 right you are, thanks!

[2021-01-03 17:15] #1989 closed

[2021-01-04 21:24] #1633 closed

[2021-01-04 21:25] jjhursey commented on #1938
Most of these items made it for v4.0.0. A few are being worked on for v4.0.1 - moving the milestone.

[2021-01-05 11:16] amckinstry opened #1996 "pmix4.0.0: no python"
This is with pmix 4.0.0

Debian Unstable / Ubuntu latest

The file `config/pmix_check_cython.py` contains:
[code]

As of now, python2 has passed EOL and is not supported in Debian and many other places. python is presumed to be python3, and this code works with python3, but the link python->python3 is not present. (This is distro-specific).

I recommend that python is changed to python3.

[2021-01-05 16:16] rhc54 commented on #1996
Sounds good - I'd caught it everywhere else, but missed this one.

[2021-01-06 19:25] jjhursey commented on #1996
This was fixed in PR #1998 (for `v4.0`) and PR #1997 (for `master`)

[2021-01-06 19:25] #1996 closed

[2021-01-08 11:42] amckinstry opened #2003 "python bindings seem confused for 4.0.0 build"
This is on Debian Unstable Linux, with pmix 4.0.0

For reference, we do two builds - a static build to get .a files, and then a shared build - shared is the default used by applications, but the .a libs are there for users to build optimised.

This means we do builds in subdirectories, `debian/shared-build `and   `debian/static-build`.
This works but when the `--enable-python-bindings` flag is use

[2021-01-08 17:44] jjhursey commented on #2003
I have a fix in PR #2004 if you want to give it a try.

I tested with:
[code]

[2021-01-08 20:41] #2003 closed

[2021-01-09 09:15] rhc54 commented on #1934
I'm going to close this as we aren't supporting the 1.x branch any more and there is a workaround.

[2021-01-09 09:15] #1934 closed

[2021-01-09 09:17] rhc54 commented on #1241
This can be reopened or a new ticket filed if someone wants to take a further look at it, but I believe the issues raised here have at least partially been resolved with the refactoring released in v4.0.

[2021-01-09 09:17] #1241 closed

[2021-01-09 09:18] rhc54 commented on #1696
Completed

[2021-01-09 09:18] #1696 closed

[2021-01-09 09:18] rhc54 commented on #1693
Completed by @jjhursey

[2021-01-09 09:18] #1693 closed

[2021-01-09 09:19] rhc54 commented on #1414
No longer relevant

[2021-01-09 09:19] #1414 closed

[2021-01-09 09:19] rhc54 commented on #1594
No longer relevant

[2021-01-09 09:19] #1594 closed

[2021-01-09 09:20] rhc54 commented on #1233
No longer relevant

[2021-01-09 09:20] #1233 closed

[2021-01-09 09:21] rhc54 commented on #1123
No longer relevant

[2021-01-09 09:21] #1123 closed

[2021-01-09 09:22] rhc54 commented on #1567
No longer relevant

[2021-01-09 09:22] #1567 closed

[2021-01-09 09:23] rhc54 commented on #1067
Completed by @jjhursey

[2021-01-09 09:23] #1067 closed

[2021-01-09 09:24] rhc54 commented on #1574
No longer relevant

[2021-01-09 09:24] #1574 closed

[2021-01-09 09:25] rhc54 commented on #320
No longer relevant

[2021-01-09 09:25] #320 closed

[2021-01-09 09:26] rhc54 commented on #1852
This has been fixed in PMIx master

[2021-01-09 09:26] #1852 closed

[2021-01-09 09:29] rhc54 commented on #1750
I believe this was fixed by a recent commit to PRRTE: https://github.com/openpmix/prrte/pull/718

@naughtont3 Can you please confirm and close this if so?

[2021-01-09 23:23] #1753 closed

[2021-01-09 23:23] #1754 closed

[2021-01-09 23:23] #1755 closed

[2021-01-09 23:25] #1819 closed

[2021-01-11 09:24] amckinstry opened #2009 "pmix_psquash_base_select fails on pmix-4.0.0, openmpi 4.1.0"
This is Debian Unstable, with
* pmix 4.0.0
* openmpi 4.1.0

Running PetSC

The full bug trace is here:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=979744
[code]

[2021-01-11 14:18] drwootton opened #2010 "PMIx_IOF_pull error: PMIX ERROR: UNPACK-PAST-END in file server/pmix_server_ops.c"
## Background information

### What version of the PMIx Reference Library are you using?

Master branch
### Describe how PMIx was installed

Built from github master branch source
### Please describe the system on which you are running

* Operating system/version:
RHEL 7.6
* Computer hardware:
Power 8 node, 22 core/176 thread
* Network type:
localhost
-----------------------------

## Details of t

[2021-01-11 16:20] jjhursey commented on #2003
Cherry Pick for `v4.0.1` in PR #2012

[2021-01-11 16:59] jjhursey commented on #2009
`-46` is `PMIX_ERR_NOT_FOUND` which means that the `psquash` framework could not find a component to load. Can you confirm that these `.so`s are in the `lib` directory:
[code]

[2021-01-12 09:56] amckinstry commented on #2009
[code]
They are present.

[2021-01-12 15:19] jjhursey commented on #2009
That is strange. Two more things to look at:
 1. Is the application linked against the shared or the static PMIx library?
 2. Can we re-run the application with this MCA parameter set before it runs mpirun:
[code]

I would expect output something like the following:
[code]

[2021-01-12 15:21] amckinstry commented on #2009
Ok found a simple test case. It appears to be a regression on Debian. The file pmix-mca-params.conf was being installed in the wrong place.  This file was edited to set mca_base_component_path to the directory with pmix shared objs
( //usr/lib/x86_64-linux-gnu/pmix2/lib/pmix on Debian), so it was looking for the plugins in the wrong directory.

Thanks for your help.

[2021-01-12 15:21] #2009 closed

[2021-01-12 16:26] amckinstry opened #2015 "Advice: recommended params for a generic setup"
So, this is a request for advice rather than a bug report.

I'm a maintainer of the MPI stack in Debian, so : OpenMPI is the default MPI (we also ship mpich), but also pmix, ucx, etc.

Increasingly it makes sense to build the MPI versions of apps by default, but as a generic distro we cannot assume
Infiniband is present/used on our systems; now with UCX we get:

[code]

The problem is: OpenIB and

[2021-01-12 16:42] rhc54 commented on #2015
This really should go over to the OMPI folks

[2021-01-12 16:42] rhc54 commented on #2015
Afraid I cannot transfer it for you as they are in a different project. Can you reopen it there

[2021-01-12 21:09] jjhursey commented on #2015
https://github.com/open-mpi/ompi/issues/8367 is the Open MPI version of this issue. I'll close this one and folks can comment over there.

[2021-01-12 21:09] #2015 closed

[2021-01-12 22:16] drwootton opened #2017 "Test application failure - PMIX ERROR: UNPACK-PAST-END in pmix_event_notification.c"
## Background information

### What version of the PMIx Reference Library are you using?
PMIx and PRRTE master as of 1/12/21 afternoon

### Describe how PMIx was installed
Built from master branch source

### Please describe the system on which you are running

* Operating system/version:
RHEL 7.6
* Computer hardware:
Single Power 8 node, 22 cores, 176 threads
* Network type:
localhost
-----------

[2021-01-12 22:50] drwootton commented on #2017
Naive question, looking at code around line 226 in ptl_base_sendrecv.c it looks like the code is setting up a minimal message to pass to notify_event_cbfunc. Could something be missing in that setup?

[2021-01-13 15:51] rhc54 commented on #2017
This is a combination of things, I suspect. First, we shouldn't be trying to send a "lost connection" message to our server (whomever that is) because that is likely to be the connection that was lost. Second, we specifically flag that minimal message by assigning zero bytes to the body of it in the header, so we shouldn't be trying to unpack it at all.

I've fixed those two code paths to silence

[2021-01-13 16:16] #2017 closed

[2021-01-13 18:59] rhc54 commented on #2017
@drwootton I'm unable to replicate an issue with current head of both PMIx and PRRTE master - the `direct` example runs just fine. Can you confirm?

[2021-01-13 19:41] drwootton commented on #2017
I built from current master. I don't see the error message now, with direct and direct co-spawn. This was a solid failure yesterday, where I ran direct maybe a dozen times and it issued the message every time.

However, since pull request #2018 is merged to master, the message should be gone anyway. Other than that, the messages displayed by direct looked reasonable, and it looked like the hello t

[2021-01-13 20:36] rhc54 commented on #2017
I see - so it may be that everything actually ran okay, but the extra warning  caused CI to fail. Thanks, that helps - I was looking for an actual failure.

Looking forward to having the tool CI online!

[2021-01-13 21:55] jjhursey commented on #2017
I did a re-test on Dave's PR and it ran clean this time:
 * https://github.com/openpmix/pmix-tests/pull/69#issuecomment-759681857

There is a small bit of cleanup then we can bring it online.

[2021-01-19 16:25] jjhursey commented on #2010
Fixed by #2018

[2021-01-20 13:50] drwootton commented on #2010
This is a different problem than what is fixed in pull request #2018. In this case, the PMIx_IOF_pull call is failing to include a reference id in the message that it sends to server, which causes this message, and the PMIx_IOF_pull call fails. Neither the client side registration callback or the callback containing stdio data.

[2021-01-22 08:39] angainor opened #2031 "network-like problems starting MPI apps with srun+pmix"
Hi,

For some time now we're seeing some non-deterministic issues starting MPI applications on one of our systems. `srun` fails sometimes, but then when you repeat it after the failure (on the same compute nodes, same job), it works. OpenMPI prints things like
[code]
and when I look into `/var/log/slurm/slurm.log`, I see many entries like these
[code]
Does this look familiar to you? Any hints as t

[2021-01-22 15:12] rhc54 commented on #2031
This looks like an issue in the Slurm PMIx support plugin.

Artem?

[2021-01-22 17:01] artpol84 commented on #2031
It may be both an issue in the plugin and an issue with the Cluster.
The way we usually analyze this kind of issues is to collect logs for this job from all the nodes
(and better enable higher Slurm debug output level) and analyze them all together.
A snippet from a single node usually cannot help. But seeing the whole picture usually allows pinpointing the issue.

@angainor if you can privately s

[2021-01-22 17:11] artpol84 commented on #2031
**To demo what I mean, here is a quick glance at the snipped you've posted:**

1. This is the first PMIx_Fence. So I assume that the hang occurs in MPI_Init:
[code]
2. This is the first node in allocation with name b1275:
[code]
3. In the ring, this node talks to b1277 and b1279:
[code]
4. This node has received the local contribution from PMIx server and forwarded it to the next node: b1277
[code

[2021-01-22 17:16] artpol84 commented on #2031
One more question:
[code]

IIUC, this comes from ORTE which is not present if Slurm's "srun" is used.
So it looks like we are mixing 2 different things: mpirun-based and srun-based launches.
What we can say for sure - both are failing.

[2021-01-22 17:57] angainor commented on #2031
@artpol84 thanks for your interest! about ORTE, I think that `mpirun` uses `srun` to start per-node daemons, right? Hence this can also trigger an `srun` log and error?

Anyway, we managed to reproduce the issue on as few as 4 compute nodes, starting 1 rank per node, in a loop. Apparently, `srun pwd` seems to be enough. On some nodes there is this in the logs:

[code]
I guess this might be the cor

[2021-01-22 20:21] artpol84 commented on #2031
Yes, this sounds like a reason.
Regarding your guess about mpirun/srun interaction.
While internally `mpirun` does use `srun` to spawn daemons, the PMIx functionality of Slurm is not used in this case.
Thus, you shouldn't see Fence's implemented by a Slurm PMIx plugin.

@rhc54 by the way it just appeared to me, that in ORTE/PRRTE we should pass "--mpu=none" to srun to ensure that PMIx plugin is no

[2021-01-26 21:45] drwootton commented on #2010
I looked into this issue a bit more today. It looks like PMIx_IOF_pull processing is not quite complete (in prrte) yet.

I started by guessing that the reference id that needed to be passed from the client (attach) to the server (prterun)  is the **req->local_id** set at pmix_iof.c:178, so I added that, cast as size_t, to the end of the packet. That solved the problem with a short message packet,

[2021-01-26 22:16] drwootton opened #2035 "Suggestion: Improved error messages for multiple --map-by directives in command"
## Background information

### What version of the PMIx Reference Library are you using?

Current PMIx source master branch head.

### Describe how PMIx was installed

Built from current github source

### Please describe the system on which you are running

* Operating system/version:
RHEL 7.6
* Computer hardware:
Power 9 node with 22 cores/176 threads
* Network type:
localhost

-----------------

[2021-01-27 08:57] angainor commented on #2031
@artpol84 I think we have some other time-out issues here. the PMIx / srun error is probably just a side effect. We have to investigate it more, but till then this issue can be closed. Unless you want to keep it for your `--mpi=none` finding.

[2021-01-27 10:02] angainor opened #2036 "Q: node topology information at startup"
This question is maybe also related to `hwloc`, not strictly to PMIx. I noticed that on our AMD EPYC 7742 cluster it takes around 3-4 seconds to execute `hwloc_topology_load`. So I was wondering - is it possible to speed up the startup by the "instant on" feature somehow? If so, is it possible for the MPI application to get access to the `hwloc_topology_t` data used by PMIx? Or maybe there is some

[2021-01-27 12:20] drwootton commented on #2010
One correction to the above. If I set a breakpoint at pmix_iof.c:72 (not pmix_server_iof.c:72) and force status=0 at that line, then the I/O callbacks run.

[2021-01-27 14:40] angainor commented on #2036
@rhc54 Actually, the time to execute `hwloc_topology_load` grows to ~9s if I start 128 ranks per compute node, and ~22s if I use the hyperthreads and start 256 ranks, and they all do it at the same time. I'm now talking about explicit call to `hwloc_topology_load` in my code, but it seems that it takes OMPI a very similar amount of time to complete `MPI_Init`. I guess for such large systems it sta

[2021-01-27 14:52] rhc54 commented on #2036
What version of OMPI and hwloc are you using? We addressed this a few years ago when we started observing similar behavior on KNL. Starting with OMPI v3.1, if you launch via `mpirun`, the local daemon will do the topology discovery and provide the results to each proc in a shared memory region.

Of course, if you launch via something like `srun`, I'm afraid you are on your own 🤷‍♂️ as Slurm doesn'

[2021-01-27 14:57] rhc54 commented on #2031
@artpol84 Good suggestion - done!

[2021-01-27 15:05] angainor commented on #2036
@rhc54 Thanks! I run with OpenMPI 4.0.5, compiled against external hwloc 2.4.0.

I have now tried with `-mca coll_hcoll_enable 0` and the time of `MPI_Init` dropped to 8s (from 20s), so it seems that at least part of the overhead is gone.

It seems that `hwloc_topology_load` (and also `MPI_Init`) take no time if I only start one rank. I guess then that exporting the topology to shared memory would

[2021-01-27 15:06] #2031 closed

[2021-01-27 15:10] rhc54 commented on #2036
Okay, that pinpointed the problem. Afraid you will need to take this up with Mellanox/Nvidia. I've been dealing with this issue with other packages as well - making a little progress, though it is difficult to get the message across about scalable launch.

The problem is that their hcoll package is directly loading the hwloc topology itself instead of first checking via PMIx to see if it is alread

[2021-01-27 15:27] rhc54 commented on #2010
So there are a couple of things going on here. First, you are correct about the registration request message from client to server - I fixed that in the referenced PR per your description.

It is also true that PRRTE currently doesn't support that request. You are getting output because (a) PMIx automatically requests that any stdout/stderr output from a job spawned by a tool be returned to that t

[2021-01-27 17:30] drwootton commented on #2010
I can look at this problem for the remainder of today. If I think I am making progress then I can resume next week. I'll post where I am later today.

I am using the debug examples from prrte/examples/debugger, running everything on a single node. I start prterun with the --report-uri + flag to run the hello target program with a 30 second wait so I can attach to the prterun namespace using the at

[2021-01-27 20:31] angainor commented on #2036
@rhc54 Many thanks for the hint about shared memory export! This will solve my current issue :) I'll try to complain to Mellanox..

[2021-01-27 21:52] drwootton commented on #2010
I looked at PMIx and PRRTE code to get an idea how these macros were used elsewhere to set up I/O sinks. This is what I ended up with:
[code]
The definition of pmix_iof_write_handler is a hack that doesn't belong here and where pmix_iof.h looks like it's in a PMIx directory I that a PRRTE build should not be looking at. However, it looks like the processing I want to do to handle a write event. It

[2021-01-28 18:55] jladd-mlnx commented on #2036
What version of HCOLL are you using? We removed the HWLOC dependency looooong ago. Our startup time with HCOLL enabled is fast and scalable on the node architecture you describe. HCOLL runs in production in Azure HPC cloud and we are highly sensitive to startup time. You're hitting something else.

[2021-01-28 18:58] jladd-mlnx commented on #2036
And HCOLL is the default collectives backend for SpectrumMPI on the CORAL systems. We saw and fixed the issue way back on Power9 bring up circa 2017. (P9 has 176 threads per node)

[2021-01-28 19:21] angainor commented on #2036
@jladd-mlnx I'm running the newest HPCX 2.7, OpenMPI 4.0.5, so ~ up to date. I've done some startup tests with a hello-world application (only `MPI_Init` and `MPI_Finalize`) on this AMD. Here is a table summarizing `time mpirun -np <N> -mca coll_hcoll_enable <B> -map-by hwthread -bind-to hwthread ./mpihello`:

[code]
These are reproducible, although some nodes have times slightly different than ot

[2021-01-28 19:22] angainor commented on #2036
@jladd-mlnx Do you think this might be something with the system setup? From what you said I understand that this should not be the case. Can I do something to debug it?

[2021-01-28 19:46] angainor commented on #2036
@rhc54 btw. I implemented your suggestion with shared-memory export of hwloc topology in my code, and it works very well. This part of the code now takes a fraction of a second on 256 ranks/node, so that is definitely not a problem.

[2021-01-28 19:54] rhc54 commented on #2036
Kewl! Just to be clear: your code is calling PMIx to get the shmem "hooks" for the topology, and then call `hwloc_shmem_topology_adopt` to attach to it?

FWIW: in PMIx v4 we made it even easier - you can just use PMIx_Get to retrieve a pointer to the root of the topology tree, so you no longer have to do anything extra. We'll check for the shmem hooks and use them if available - if not, then we'll

[2021-01-28 19:56] jladd-mlnx commented on #2036
Try adding the following to your cmd line:
`-x HCOLL_ENABLE_MCAST_ALL=0`

[2021-01-28 19:57] jladd-mlnx commented on #2036
Looks like the multicast group creation isn't playing nice on your setup.

[2021-01-28 20:05] angainor commented on #2036
@rhc54 Well, no - I didn't get so far yet :) I will, but for now a single rank per node gets the topo using `hwloc_topology_load`, saves it using `hwloc_shmem_topology_write`, and then others use `hwloc_shmem_topology_adopt`. But getting it from PMIx would be a natural next step!

That's even better :) Now I had to implement the entire shmem attachment myself. I was actually looking at the `find_h

[2021-01-28 20:26] jladd-mlnx commented on #2036
But what is the time to launch?

[2021-01-28 20:33] angainor commented on #2036
@jladd-mlnx I did not disable the multicast. Now on 8 nodes the startup time with HCOLL is 34s. If I disable multicast the time is the same. I run like this:
[code]

[2021-01-28 20:45] angainor commented on #2036
@jladd-mlnx I must be missing something here. I made a mistake in the line above: only 4 nodes were used (I started 1024 ranks). If I start 2048 ranks, the time is 11s with HCOLL, and 9.7s without it. Something here is definitely not right.

[2021-01-28 20:46] angainor commented on #2036
btw, I do look at htop on one of the nodes - all cores / HT are used.

[2021-01-29 16:52] rhc54 commented on #2036
@angainor I've posted an FAQ entry addressing how to access the HWLOC shmem region - see https://openpmix.github.io/support/faq/avoid-hwloc-dup. Includes new envars for doing it without introducing a direct PMIx dependency for those cases (e.g., a lower-level lib like hcoll) that wish to avoid doing so.

[2021-01-30 00:00] rhc54 commented on #2010
You are actually pretty close - the only error you made was that the write handler should be `prte_iof_base_write_handler`. You'll probably need to add:
[code]
at the top to get it defined. You aren't using the PMIx IOF here - you are using the PRRTE IOF framework. I know it's a tad confusing due to the names, but the PRRTE code ensures that the output gets to the right daemon, and then it injects

[2021-02-01 07:36] vspetrov commented on #2036
@rhc54 what is the PMIx_Get call i should use to load topo from shmem, is there an example snippet?

[2021-02-01 14:55] jjhursey commented on #2036
@vspetrov There is an "Accessing the HWLOC topology tree from clients" snippet on the [FAQ](https://openpmix.github.io/support/faq/avoid-hwloc-dup) entry that Ralph wrote that shows the `PMIx_Get` call to access the shared memory topology segment. Take a look and let us know if any more details need to be added to that entry.

[2021-02-01 20:03] drwootton commented on #2010
@rhc54 I changed the handler function as you stated and I/O forwarding is working now. Thanks. The fix is implemented in PRRTE PR 730. I understand this works on local/single node only.

[2021-02-02 16:28] rhc54 opened #2050 "Atomics broken under Clang"
Tip of master when brought over to OMPI:

/home/ubuntu/workspace/open-mpi.build.compilers/Compiler/clang38/src/3rd-party/openpmix/src/atomics/sys/atomic_stdc.h:250:5: error: member reference base type 'volatile void' is not a structure or union
    atomic_flag_clear ((volatile void *) lock);
    ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/usr/lib/llvm-3.8/bin/../lib/clang/3.8.0/include/stdatomic.h

[2021-02-02 17:02] awlauria commented on #2050
Ugh. I'll Pr a change shortly. Thanks.

[2021-02-02 17:22] awlauria commented on #2050
Sorry about that, oversight on my part. I tacked on these volatile void * changes and thought it was innocent enough to not need to do a full recompile with clang after I got past the other C11 junk.

This is humming along with Clang version 9.0.1. also recompiling with PGI to double check I didn't break it.