[2018-02-08 01:50] rhc54 commented on #665
Probably a terminology issue - in my world, the term "context switch" implies a change in address space 😄  Regardless, we can certainly examine and streamline the thread shifting code paths, and I definitely want to move away from libevent and towards using the opal_progress model. I just don't want to go back to thread-locking objects as an architecture as we've been burned too many times that wa

[2018-02-08 01:51] rhc54 commented on #665
Those numbers look fine to me - I see no reason for concern.

[2018-02-08 01:53] artpol84 commented on #665
Unfortunately it grows with system utilization:

proc num | v2.1 | v2.1/notshift
-- | -- | --
1 | 5 | 1
28 | 28 | 3

And 28 us is not that good.
Anyway - I am trying to put here everything that I'm getting so we will have it for the reference.

[2018-02-08 01:55] rhc54 commented on #665
That doesn't look right to me as there should be no dependence so long as each proc is bound to a unique core - we'll have to ponder that more, but it's good you are capturing things.

[2018-02-08 01:55] artpol84 commented on #665
[code]

[2018-02-08 01:58] rhc54 commented on #665
Well, there aren't many apps in real-world production that run in less than 10 minutes 😄  Typical apps that run across the entire large cluster run for days, and so 5-10 min to launch is in-the-noise and not a concern.

I may not fully agree with them, especially when considering restart from checkpoint, but they do have a point.

[2018-02-08 02:11] artpol84 commented on #665
I matched our results with the results obtained by OSU team:
* http://mvapich.cse.ohio-state.edu/performance/job-startup/
* http://mvapich.cse.ohio-state.edu/static/media/talks/slide/hari_startup.pdf
* SHMEMPMI – Shared Memory based PMI for Improved Performance and Scalability. S. Chakraborty, H. Subramoni, J. Perkins, and D K Panda, 16th IEEE/ACM International Symposium on Cluster, Cloud and Grid

[2018-02-08 20:04] artpol84 commented on #665
Update regarding thread shifting:

I started debugging scheduler as my guess was that time is wasted during context switch and realized that main thread and PMIx thread are actually running on different cores:
[code]
So I explicitly said in mpirun command to bind to the core and linead performance degradation was solved:
![image](https://user-images.githubusercontent.com/7534910/35995394-09594184-

[2018-02-20 12:31] dcb314 opened #678 "3 * faulty compares ?"
pmi_client.c:344:17: warning: logical 'or' of collectively exhaustive tests is always true [-Wlogical-op]
pmi2_client.c:266:17: warning: logical 'or' of collectively exhaustive tests is always true [-Wlogical-op]
pmi2_client.c:301:17: warning: logical 'or' of collectively exhaustive tests is always true [-Wlogical-op]

[2018-02-20 14:31] rhc54 commented on #678
@artpol84 @karasevb The offending lines are in the test directory codes:
[code]
I'm not sure what the intended check was supposed to accomplish - can you take a look?

[2018-02-20 15:24] artpol84 commented on #678
@rhc54 we will.

[2018-02-21 07:51] victorsndvg commented on #556
Hi @rhc54 ,

sorry for the huge delay, but finally I was able to test pmix 2.1.0 (in the host) against pmix 1.2.5 and 2.0.3rc3 (in the container).

Maybe I'm missing something, but it's not working for me. Here I paste the errors for each configuration:

**OPENMPI: HOST 3.0.0 - CONTAINER 3.0.0**
**PMIX:    HOST 2.1.0 - CONTAINER 2.0.3**
[code]

**OPENMPI: HOST 3.0.0 - CONTAINER 2.0.0**
**PMIX:

[2018-02-21 08:00] rhc54 commented on #556
I'm afraid the OMPI folks decided that they will not support compatibility across major releases, so your second test case (```OPENMPI: HOST 3.0.0 - CONTAINER 2.0.0```) will not work.

I'll have to look at the first one - that should work out-of-the-box.

[2018-02-21 08:40] victorsndvg commented on #556
Ok, thanks!

**UPDATE:**

With this combination:

**OPENMPI: HOST 3.0.0 - CONTAINER 3.0.0**
**PMIX:    HOST 2.1.0 - CONTAINER 1.2.5**

I get the same error than using OpenMPI 2.0.0 inside the container.

[2018-02-21 16:41] rhc54 commented on #556
OMPI 3.0.0 and above defaults to only using the tcp channel of PMIx, which means the usock channel used in PMIx v1.2.5 isn't supported. However, you can get OMPI to "enable" the usock channel by adding the pmix_server_usock_connections=1 MCA parameter to the host side.

Note that having OMPI 2.x in the container _may_ work - they just don't guarantee it. You'll still need to set that MCA param.

[2018-02-21 20:44] artpol84 commented on #665
I have finished with the implementation of new locking scheme which provides better performance for the readers.

Here is the updated plot for the system I was using previously. I will also publish some PPC experiments later today:
![image](https://user-images.githubusercontent.com/7534910/36504294-de6d31a0-1704-11e8-9348-c6ea1141c42a.png)

[2018-02-21 22:43] artpol84 commented on #665
Here are PPC results:

If launching one proc per core:
![image](https://user-images.githubusercontent.com/7534910/36509704-6c08d8ba-1715-11e8-9e49-1e2ced88103f.png)
If launching one proc per thread:
![image](https://user-images.githubusercontent.com/7534910/36509650-2fa7a6c6-1715-11e8-9396-c7f02ecb35f9.png)
Effect of mapping:
![image](https://user-images.githubusercontent.com/7534910/36509759-93a3

[2018-02-21 22:48] artpol84 commented on #665
Per request from @rhc54 I've deleted v2.1-perf branch.
The code used here can be found at https://github.com/artpol84/pmix/tree/v2.1/lock-poc

@jjhursey, please give it a try.

[2018-02-22 03:04] artpol84 commented on #665
One thing that needs to be investigated still is the fact that if locking is disabled, data corruption is observed even if direct modex is used and thus all of keys should be in the dstore.

[2018-02-22 04:58] artpol84 commented on #665
I found the reason. I turns out that key key corruption was expected since after perf measurements pmix_perf is using PMIx protocol to reduce the numbers measured. Ranks that finished early were PMIx_Commit()int their keys which caused server to publish them in the dstore causing race conditions.

I solved that by adding empty fence after measurements completion (https://github.com/pmix/pmix/pull/

[2018-02-22 08:57] victorsndvg commented on #556
Hi @rhc54 ,

I change the call to mpirun with this flag:
[code]
And  nothing changes.

Sorry for the ignorance ... but this is the right place to do it? or I should modify `<prefix>/etc/pmix-mca-params.conf`? How can I do it?

Thanks for your help!

[2018-02-22 21:35] rhc54 commented on #556
Hmmm...I just checked PMIx v2.1.1 against v2.0.3 and v1.2.5, and everything worked fine. This makes me suspect something is going on in OMPI, and not PMIx. I'll try one of your configurations and see if I can reproduce it

[2018-02-22 22:56] artpol84 opened #681 "Modex size analysis"
## Short description
This Issue is to track the analysis of the modex size and searching for the ways to optimize it.
For the reference: https://github.com/open-mpi/ompi/pull/4826

## First measurements
The first observation is to clarify on @rhc54 [comment](https://github.com/open-mpi/ompi/pull/4826#issuecomment-366464181) about the effect of extra information that is being packed when PMIx is co

[2018-02-22 23:58] artpol84 commented on #681
I found that in the original measurements threading level info was included into the modex (https://github.com/open-mpi/ompi/pull/4826).

Here are the updated values with threading level info removed:
`--disable-debug`:
[code]
jazz10:158095] fence complete
[jazz10:158095] fence - assembling data: 9               # (9 - 5 = 4)
[jazz10:158095] rank_info: rank=1, size = 26             # (26 - 23 = 3)

[2018-02-23 00:00] artpol84 commented on #681
So for non-debug build the size of modex was reduced from 176 down to 139 which is 27%!

[2018-02-23 02:04] ggouaillardet commented on #556
FWIW

By using the `orte_fork_agent`, I forced on a single node
 - `mpirun` is the latest `v3.0.x` branch using `pmix-2.1.1rc1`
 - `hello_c` is linked with the latest `v3.0.x` branch using `pmix-1.2.5`

Honestly, I am not even sure this is a supported use case.
But if it is, then `PMIx_Init()` fails in `hello_c` because the `PMIX_SERVER_URI` environment variable is not set.

[2018-02-23 02:09] rhc54 commented on #556
Could you explain in more detail what you did? I'm not finding any issues, but if you are going to run against pmix-1.2.5, then you have to tell mpirun to allow use of the usock transport - it does not enable it by default.

[2018-02-23 02:24] ggouaillardet commented on #556
my bad, once I
`mpirun -mca pmix_server_usock_connections 1 ...`
then it just works !

[2018-02-23 02:51] rhc54 commented on #556
Great! Thx

[2018-02-23 02:54] rhc54 commented on #556
@victorsndvg I suspect that the OMPI v3.0.0 code is missing some glue. Could you try your tests again with OMPI v3.0.1rc2? We are getting ready to release it, and it should match what @ggouaillardet did.

If that still doesn't work, then I'm beginning to suspect there is something going on involving Singularity.

[2018-02-23 05:02] ggouaillardet commented on #556
@victorsndvg the `pmix_server_usock_connections` MCA is not in Open MPI 3.0.0, so I suggest you try to build from git or the 3.0.1rc2 tarball

@rhc54 it seems I previously missed some error message

[code]

note the error messages do not prevent the app from running successfully.

[2018-02-23 14:52] rhc54 commented on #556
I see a ```pmix-2.1.0``` in the path of that error message. I take it you are built against an external 2.1.0 copy of PMIx? There were a few bugs in that version, so we upgraded OMPI to v2.1.1. Might be worth trying with that one.

[2018-02-24 18:31] artpol84 commented on #681
I see the following ways to improve it.

For **rank info** we can eliminate all of that by leveraging the fact that proc description is known:
[code]
We provide procs/nproc to RM and each PMIx server has this info. So instead of incorporating namespaces/ranks in the commit message we can use "global" rank in procs/nprocs description.

For example, if
[code]
we use "global" numbering"
[code]
And us

[2018-02-24 18:35] artpol84 commented on #681
This will allow to reduce rank identification from 23B down to 4B.

[2018-02-24 18:37] rhc54 commented on #681
Keep in mind that most RMs (Slurm, JSM, etc.) do not provide global rank information.

[2018-02-24 18:38] artpol84 commented on #681
What do you mean RM?
This info is provided by user when it calls PMIx_Fence.

Also in Slurm namespaces are longer so we are getting even higher per-rank overhead.

[2018-02-24 18:40] artpol84 commented on #681
When calling this function one must list all procs participating.
[code]
by saying "global" I meant Fence-global, cross-namespace in procs list.

[2018-02-24 18:40] rhc54 commented on #681
I see - PMIx includes a "global rank" attribute, hence the confusion in terms.

[2018-02-24 18:41] artpol84 commented on #681
Ok.

[2018-02-24 18:46] artpol84 commented on #681
Rank header is also poses high per-rank overhead of 14B:
![](https://user-images.githubusercontent.com/7534910/36580700-311f51f2-181e-11e8-9349-c89a5b0a8c8b.png)
Need to think if we can eliminate it.

Main contributor there is size_ which is 64bit (8B). I think we can allow all range of unsigned integer types to be used and select the minimal one that can hold the size value.

Since we pack the ty

[2018-02-24 20:15] brockpalen opened #682 "pmix RC's fail to build on ArmV8 (ThunderX)"
## Background information
All current packages including RC's current fail to build on thunderx (arm 64 bit)

The current git 9b340496c6   does build,  this is more of a notice of bugs with the current rc's and releases.

[code]

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

2.0.2
2.1.1rc1
2.0.3rc3

### Describe how PMIx was installed (e

[2018-02-24 20:39] brockpalen commented on #682
scratch that it fails to build even for the current git release.
`contrib/make_dist_tarball`   gives same result,

but

[code]

Works just fine, I must not be understanding the build system correctly.
My goal is to build as a RPM package to match our automation system that currently uses rpm's for pmix

[2018-02-25 00:04] rhc54 commented on #682
Hi Brock

Just to clarify: you are able to build and run PMIx-based programs, but are having trouble with building your own rpm's? Are you using our spec file, or one you created? The error is appearing in the test subdirectory - have you tried simply excluding that area? It isn't of any value in an installation.

Unfortunately, we haven't had robust Arm support to-date. The OMPI folks build aarch

[2018-02-25 02:41] brockpalen commented on #682
Sorry I wasn't clear.  I am not running anything yet, so I don't know if it works yet or not.

I am using your spec file,

It works for me when I build from source, but I never did make test in my haste.  I can confirm that is where the issue is.

[2018-02-25 13:30] brockpalen commented on #682
I can confirm this is in just tests disabling them works here's how to build an RPM

[code]

[2018-02-25 14:34] rhc54 commented on #682
I found the problem. That variable was defined as ```bool``` where it was instanced, but referenced in server_callbacks.c as ```extern int``` - which will cause a problem on any system that has strict alignment. If you can verify the patch in #683, I'll port it to the 2.x branches.

[2018-02-26 02:09] ggouaillardet commented on #556
@rhc54 I confirm the error message is no more there is I use `pmix-2.1.1rc1` instead of `pmix-2.1.0`, so as far as I am concerned, everything is fine now.

Bottom line
 - do __not__ use `Open MPI 3.0.0`, it misses support for the `pmix_server_usock_connections` MCA param
 - do __not__ use `PMIx 2.1.0`, it has a bug (not a fatal one though)

[2018-02-26 02:11] rhc54 commented on #556
Excellent! Thanks for taking the time to chase it down. I will post something on the web site about it to try and help people.

[2018-02-26 16:18] dirk-schubert-arm commented on #682
@rhc54: As you've found the problem, can I assume that we don't need to have a look?

[2018-02-26 17:03] rhc54 commented on #682
Yeah, I think we are good for now. Thanks!

[2018-03-07 16:31] rhc54 commented on #678
@artpol84 Any progress on this?

[2018-03-08 20:39] artpol84 commented on #678
@karasevb please have a look asap.
@rhc54, @karasevb is on vacation now, will be back next Monday, is it ok or this is urgent?

[2018-03-08 20:57] rhc54 commented on #678
sure, next week is fine - thx!

[2018-03-28 03:54] rhc54 commented on #556
I'm going to close this for now as the web site now contains info on PMIx compatibility, and the OMPI folks are going to add something over there about how it correlates to OMPI

[2018-03-28 03:54] #556 closed

[2018-03-29 00:36] rhc54 commented on #60
We can reopen when flux starts looking at pmix again

[2018-03-29 00:36] #60 closed

[2018-03-29 00:37] rhc54 commented on #131
See web site

[2018-03-29 00:37] #131 closed

[2018-03-29 00:38] rhc54 commented on #678
Fixed by #692

[2018-03-29 00:38] #678 closed

[2018-04-14 01:45] jjhursey commented on #665
I finally found a quiet-ish Power9 machine to run the experiment on. I had to leave 1 core unallocated for this experiment - so 43 cores x 4 SMT = 172 hwthreads.

My numbers seem to be in-line with what @artpol84 found above. I have only run these point tests (though multiple iterations of them) so far.

## 1 process per core

`mpirun -np 43 --map-by core --bind-to core ./pmix_intra_perf -s 50 -c

[2018-04-14 04:46] artpol84 commented on #665
Thank you @jjhursey
I would be interested to see the with more points once you will have a time.
I also think that it makes sense to use this branch for the paper.

[2018-04-14 22:25] artpol84 commented on #665
@rhc54 We will definitely will continue in this direction and provide a set of improvements to the dstore in Q2 as it provides visible improvement.

[2018-04-16 13:33] jjhursey commented on #665
For the paper we should use the released version of PMIx. For the subsection on dstore, it would be appropriate to add a small discussion about the impact of locking on `PMIx_Get` performance, with a graph from this work. So for the sub-section I can see a place for it. For the rest of the experiments we should stick with the released version though.

[2018-04-16 16:12] artpol84 commented on #665
I went further and applied [some more hacky-optimizations](https://github.com/artpol84/pmix/tree/v2.1/lock-poc_step2) and now the time on POWER8 is down to 5 us. Optimizations:
* N-mutex locking (new locking scheme)
* NO-tshift (disable thread shifting)
* dstore-isolated (2 previous optimizations + avoid a bunch of malloc on the fastpath)
![image](https://user-images.githubusercontent.com/7534910/

[2018-04-16 19:26] rhc54 commented on #665
I'd suggest relabeling the NO-tshift as "single threaded" to make it clearer to others not familiar with the internals of the lib. It is a tad puzzling why the latency drops when going from 1 to 10 clients - seems counter-intuitive. Do we have any idea why that would be true?

[2018-04-16 19:45] artpol84 commented on #665
* I considered that this issue is for the internal use mostly, and thread shift is specifically what I'm investigating here.
* I don't know why there is a rise fir small number of clients, it is observed for 2 and 8 processes and given that I'm mapping and binding to hw threads its an effect on one core. But so far I think we have more significant problems, so I wasn't looking into that.

[2018-04-16 21:40] artpol84 commented on #665
x86_64 results:
![image](https://user-images.githubusercontent.com/7534910/38836720-14556e1e-4184-11e8-88f0-52cfaa73c034.png)

[2018-04-17 02:11] artpol84 commented on #665
One more interesting observation:
* On x86 unpack procedure takes ~300 ns
* On POWER8 it is ~2.2 us
@jjhursey do you know what can cause such a huge difference?

[2018-04-17 02:13] artpol84 commented on #665
I'm referring to the following region of code:
https://github.com/artpol84/pmix/blob/v2.1/lock-poc_step2/src/mca/gds/ds12/gds_dstore.c#L2855:L2870

[2018-04-17 16:57] artpol84 commented on #665
Memory footprint bookmark
https://github.com/pmix/pmix/issues/144

[2018-04-18 02:13] jjhursey opened #704 "PMIX_HOSTNAME missing from job data in PMIx 2.1 series"
I'm running the simple PMIx example in the Gist below:
 * https://gist.github.com/jjhursey/b93a3c1e7d1ffe9827442d5aa114cc8e

If I run with PMIx 2.0.3 then it runs fine, but if I run with PMIx 2.1.1 (head of branch) then it fails on the `PMIx_Get(&proc, PMIX_HOSTNAME, NULL, 0, &val);` with a `-17` (`PMIX_ERR_PROC_ENTRY_NOT_FOUND`).

It seems that the job data is missing the per-process hostname in

[2018-04-18 02:25] jjhursey commented on #704
Note: I thought it might be something with the `gds` component. I tried just `hash` and it gave the same behavior. If I tried just `ds12` then it failed on the 'job size' before it gets to the hostname.

[2018-04-18 02:48] rhc54 commented on #704
Where are you trying it? PMIx itself doesn't supply the value, so all this means is that whomever is acting as the server didn't set it.

[2018-04-18 03:01] jjhursey commented on #704
Sorry I forgot that detail. I was using Open MPI v3.0.x branch (HEAD) with mpirun launch across at least 2 nodes (if I only ran one node, then it was fine).

Initially, I was trying to swap out the pmix install from pmix 2.0.3 to pmix 2.1.x (HEAD) by swapping the pmix install that LD_LIBRARY_PATH was pointing to. That highlighted the problem. I'm now trying to rebuild some fresh builds to see if t

[2018-04-18 03:11] jjhursey commented on #704
Fresh build completed.
 * Open MPI v3.0.x (HEAD) built with external PMIx 2.0 (HEAD) - works
 * Open MPI v3.0.x (HEAD) built with external PMIx 2.1 (HEAD) - fails

Nothing really special about the Open MPI build:
`./configure --prefix=/share/install/ompi-v3.0.x-dbg-v2.1 --with-libevent=/share/libevent --with-hwloc=/share/hwloc --with-pmix=/share/install/pmix-v2.1 --enable-debug`
or the PMIx build:

[2018-04-18 03:11] rhc54 commented on #704
I see. Well, it is and isn't an OMPI issue. Here is what is going on: we used to pass PMIX_HOSTNAME for every process, but that creates a giant footprint at scale. So instead ORTE passes in the ppn regex, and we use PMIx_Resolve_peer to get the hostname. This, however, means that programs which used to work by calling PMIx_Get with PMIX_HOSTNAME will now fail.

What we could do inside PMIx is try

[2018-04-18 03:30] jjhursey commented on #704
Using `PMIx_Resolve_peer` is a bit cumbersome since, for a given host, if gives you the peers on that host. So if you are trying to answer - "what is the hostname for rank 5?" then we would need to:
 1. Call `PMIx_Resolve_nodes` to get all of the nodes in the namespace
 2. Worst case, call `PMIx_Resolve_peer` for each node and check the resulting `procs` list.

So the workaround would be computati

[2018-04-18 03:39] rhc54 commented on #704
ORTE provides PMIX_NODEID for each proc, so all you actually have to do is lookup the nodeid. If you truly want the string name, then we could provide some simpler way of getting it given the nodeid.

It's always going to be a tradeoff between footprint and speed.

[2018-04-18 03:39] rhc54 commented on #704
I should have said: ORTE provides the nodeid for every proc - just not the string name.

[2018-04-18 12:39] jjhursey commented on #704
Ok. I understand that. What I still don't understand is why by just changing the external PMIx version with the same version of ORTE changes whether or not PMIX_HOSTNAME is set.

Maybe it's influencing this decision point? https://github.com/open-mpi/ompi/blob/v3.0.x/orte/orted/pmix/pmix_server_register_fns.c#L420

[2018-04-18 12:58] rhc54 commented on #704
I don't see how it could influence that decision - the cutoff value is an orte-level param, which defaults to 1000. So the hostname should be getting stored regardless of PMIx version. Since it is being directly stored, my point about resolving peers is irrelevant - we stored it, so it should be retrievable.

You might want to insert a print statement to ensure that hostname key is actually gettin

[2018-04-18 13:14] jjhursey commented on #704
Yeah it looks like orted is pushing `OPAL_PMIX_HOSTNAME` into the nspace key set. I'm looking into the PMIx side now to see why it's not getting stored.

[2018-04-18 14:44] jjhursey commented on #704
What I've found so far. It looks like the PMIx library is not packing the `PMIX_MAP_BLOB` into the job data in the v2.1 series where it was in the v2.0 series. So ORTE is doing the right thing, but the job data passed back up to it does not have the process mapping in it.

[2018-04-18 14:46] rhc54 commented on #704
Let me take a look - I assume you mean when it caches the job info vs when it retrieves and stores it upon initial client connection?

[2018-04-18 15:25] jjhursey commented on #704
Ralph and I worked through this on the phone a bit. We think it's this like of code that's the problem:
 * https://github.com/pmix/pmix/blob/v2.1/src/mca/gds/hash/gds_hash.c#L610

Essentially we are only providing the client with the process information for the process local to it, not the information for the remote processes. So though `PMIX_HOSTNAME` is highlighted in this bug, the test would fa

[2018-04-18 15:35] rhc54 commented on #704
This is against 2.1:
[code]

[2018-04-18 15:42] jjhursey commented on #704
@rhc54 That patch resolved the issue for the v2.1 branch. Thanks!

I tested by accessing both `PMIX_HOSTNAME` and `PMIX_LOCAL_RANK` for the remote process. Both `PMIx_Get` calls returned the correct data.

[2018-04-18 15:43] rhc54 commented on #704
Kewl - I have a PR setup for master and will then schedule it for 2.1.2, which I guess we need to release soon.

[2018-04-18 18:02] jjhursey commented on #704
This was fixed in PR #708 - Thanks!

[2018-04-19 22:19] rgmiller opened #709 "Error linking pmix_test on aarch64"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
v2.1.0

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)
Cloned the git repo, then checked out the v2.1.0 tag

### Please describe the system on which you are running

[2018-04-19 23:28] rhc54 commented on #709
Thanks for the report - this was fixed in v2.1.1

[2018-04-19 23:29] #709 closed

[2018-05-04 20:32] jjhursey commented on #665
@artpol84 When do you think we might expect the new locking model to be brought into PMIx master? Would we need to make it another component for cross-version compatibility?

[2018-05-10 17:02] artpol84 commented on #665
@jjhursey sorry for the late response.
I'd expect that we will do the implementation in Jun-July. I guess that we indeed will make a separate component. As fo implementation - we will extract a common code that will be used by both versions of component (should be a lot of it)

[2018-05-18 23:38] artpol84 opened #722 "Tracking the changes related to RM integration"
@rhc54
https://github.com/open-mpi/ompi/issues/5177 is not a first time some API changes in PMIx went out of our scope and thus were not included in Slurm plugin. It is hard to extract them from overall amount of changes.
On in most cases I think it obvious to the developer making a change that this will affect other RM's.
Can we have a mailing list or other channel that will help developers maint

[2018-05-18 23:39] artpol84 commented on #722
@karasevb FYI

[2018-05-19 00:20] rhc54 commented on #722
It is more of an OMPI issue, seems to me, as we have no control over if/when they absorb a release. Especially true in their case as the opal/pmix framework adds another layer of abstraction on top of PMIx that can "hide" any changes we make. It can get complicated as you have our release schedule, the OMPI schedule, the distro's schedule for updating PMIx as well as OMPI, and the RM schedule - al

[2018-05-19 00:27] artpol84 commented on #722
But if we aware about the change that assumes that RM should now use a different PMIX key name or alike, it would help.

[2018-05-19 01:32] rhc54 commented on #722
I don't see how it can help as you have no idea if/when OMPI will pick it up, or MPICH, or...so what can Slurm do about it? You can't use a different name if the other codes are using the old one - or is it your plan to just pass every key and let the libraries pick?

The problem in this case stemmed from a change in HWLOC. The v1 xml string is incompatible with the v2 xml string, and so we had to

[2018-05-19 03:17] artpol84 commented on #722
Ok, but then it seems like adding V1 key is error-prone. Instead I would use the old key name for HWLOC v1 and add a new key-name for HWLOC v2. Can you clarify why v1 was added?

[2018-05-19 14:36] rhc54 commented on #722
I truly believe this conversation should be closed here and moved to the OMPI site as it doesn't have anything to do with PMIx. We didn't remove or change any existing attribute. We added several attributes at the request of, and in consultation with, the HWLOC maintainers to convey new information. IIRC, the concern was that if someone passes you the old generic key, you really don't know how tha

[2018-05-19 17:51] artpol84 commented on #722
Before we will close it, lets confirm if I understood you correctly.
* The whole point of PMIx as a standard is to provide an abstraction layer between RM and application.
* From the RM side there is a Server-side API and the set of predefined keys to describe job-level information.
* Server-side API looks like a standard to me so far.
* Keys considered to be optional and out of standard. And you

[2018-05-22 16:54] rhc54 commented on #722
I think you are making an assumption that was clear in your mind, but not necessarily globally accepted. Specifically, you state:
[code]
This correlation isn't true - in fact, there are multiple packages out there that provide topology information, not just HWLOC. It is true that OMPI exclusively supports HWLOC, which is where I suspect you derive that statement - but that isn't true of everyone.

[2018-06-04 20:22] gpaulsen commented on #665
@artpol84 Do you know if this work is intended for PMIx v3.0.0 release?  Or will it be the release after that?

[2018-06-05 18:35] gpaulsen commented on #665
@artpol84,  We would really like this functionality / feature in PMIx v2.1 by end of July if possible.  Let us know how we can help.

[2018-06-05 19:13] rhc54 commented on #665
I don't think it would go into the 2.1 series as it isn't a bug fix, but we could release a 2.2.0 with it since it doesn't change the standard.

[2018-06-05 19:18] gpaulsen commented on #665
Ah, right.  That'd be fine too.  Thanks

[2018-06-07 03:13] artpol84 commented on #665
@gpaulsen we are targeting it in this timeframe. We have limited resources so I can't 100% guarantee though.
Also here I'm discussing multiple things (in overhead decrease order):
1. locking scheme refactoring
1. thread shift avoidance
1. malloc elimination and minor bypassing features

No. 1 is certainly doable, No 2 will require careful analysis of the dstore to make sure that we are not getting

[2018-06-07 13:38] jjhursey commented on #665
For our needs No. 1 is the primary focus. 2 and 3 would be nice, but not required right now. So if you want to do this in two phases that would be good.

[2018-06-08 03:50] artpol84 commented on #665
Got it. I think it is doable. Will target that in the mentioned timeframe.

[2018-06-10 22:31] rhc54 opened #755 "PMIx v2.1.2 remaining updates"
Several things need to be updated prior to release:

- [x] Data mgmt - support when passed proc from own nspace

- [x] TCP ptl component - don't reject versions > 3

- [x] Event notification

- [ ] Memory and file descriptor leaks in server

- [x] Update atomics

[2018-06-16 20:22] tonycurtis opened #761 "Latest PMIx update broken with Open-MPI mpiexec launch"
Thank you for taking the time to submit an issue!

## Background information

PMIx recently updated to fix PRRTE prun launch problem.  Now MPI-based launch failing.

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

master @ bb797ee7d5bd79d38dc5e49d7ee8950e7e350f93

### Describe how PMIx was installed (e.g., from a source/distribution tarbal

[2018-06-16 22:08] rhc54 commented on #761
I can't replicate this - can you tell me how you configured both OMPI and PMIx?

FWIW: building OMPI against the external PMIx master compiled, but I found a bug that wouldn't allow it to run that way. I'm not sure how you were able to make that configuration work.

[2018-06-17 11:56] tonycurtis commented on #761
After further experimentation I think the problem is in interaction between OMPI. and PMIx  I only use OMPI as a PMIx-aware launcher.  It's using the in-tree PMIx.

Using OMPI 3.1.0 as launcher and PMIx 2.1.1 as client in my code, all is well.

With OMPI from git and PMIx 2.1.1, I can run but I get those `vsetenv` messages.

Latest "everything" launches fine with PRRTE.

[2018-06-19 02:46] rhc54 commented on #755
Plenty of leaks - we cannot release until we close them
[code]

[2018-06-19 02:48] rhc54 commented on #755
On the plus side, file descriptors look good!

[2018-06-20 03:58] rhc54 commented on #761
The update went into the OMPI 3.1 branch, so I am going to close this for now as things should be fixed. Please reopen if otherwise.

[2018-06-20 03:58] #761 closed

[2018-06-20 12:17] tonycurtis commented on #761
Will let you know.  thanks.

[2018-06-20 13:19] tonycurtis commented on #761
Have just rebuilt both PMIx and PRRTE from git-pull.  Both are using hwloc 2.0.1

prun is core dumping.  Here's a gdb session

[code]

[2018-06-20 14:09] rhc54 commented on #761
let me poke at it first - probably a trivial change

[2018-06-20 14:13] tonycurtis commented on #761
Here's what gdb thinks, might help:
[code]

[2018-06-20 14:19] rhc54 commented on #761
yeah, i found the problem - working it now

[2018-06-20 14:35] rhc54 commented on #761
ok, PR in place - thx! and sorry for the problem

[2018-06-20 14:58] tonycurtis commented on #761
looks good +1

[2018-06-27 22:50] rhc54 opened #782 "PMIx v2.1.2 release checklist"
## Build the Release
- [ ] Verify the major,minor,release,greek version numbers in `VERSION`
- [ ] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-06-27 22:51] rhc54 opened #783 "PMIx v3.0.0 release checklist"
## Build the Release
- [ ] Verify the major,minor,release,greek version numbers in `VERSION`
- [ ] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-06-28 01:15] rhc54 commented on #102
Hmm..ok, let me take a shot at it.

[2018-06-28 02:12] rhc54 commented on #102
@garlick I see a few alternatives. You had previously requested the ability to pass the file descriptor a client should use when talking to the PMIx server library. All our events are initiated via messages. What if we give the client an option to pickup an fd passed in its environment so you can directly control its servicing, and then provide a "deliver message" interface by which you can pass i

[2018-06-28 14:56] garlick commented on #102
I'm not entirely clear - in this mode is there still a pmix service thread started by the library, or is everything now happening in the thread that calls `pmix_server_init()`?

As long as "my" thread doesn't block in pmix calls, and doesn't get callbacks in the context of a separate pmix service thread (thus requiring my code to be reentrant), then this should be doable.

[2018-06-28 15:22] rhc54 commented on #102
There would be no service thread in the PMIx server library. Your service thread would "own" monitoring the fd, but would call a new PMIx API whenever the fd "fired" as we would have to read the incoming data (it consists of a PMIx-defined header plus data fields). I'd have to work thru the details in our code, but we can guarantee that all callbacks will be in the context of your service thread.

[2018-06-28 16:17] garlick commented on #102
That sounds like the wrong move then.

Would there just be one fd to manage, or a dyanamic set?  Presumably timeouts would need to be handled too?

[2018-06-28 16:36] rhc54 commented on #102
It would have to be a dynamic set as clients and tools connected and disconnected. We currently call ```select``` with a timeout of 2 seconds, but the precise value doesn't matter. Timeouts are present just to allow us to check for termination.

You know, the alternative to all this is to perhaps do as we did in OMPI: take PMIx callbacks and "thread shift" them to the local service thread. What we

[2018-06-28 17:04] garlick commented on #102
Hmm.   I think you already "thread shift" pmix_server function calls from the user to the pmix thread(?) What about doing the same in the opposite direction and signaling a "mailbox fd" that the user polls on?  Whenever mailbox becomes ready, user calls `pmix_process_callbacks()` or similar, and callbacks occur in the user's thread?  (That might require there to be a queue of callback results and

[2018-06-29 00:50] rhc54 commented on #102
Hmmm...yeah, I think we could do something like that. I'll see if I can prototype it - might take me a bit, but I'll let you know when I have something worth poking at.

[2018-06-29 01:57] garlick commented on #102
Cool!  No rush, we have other priorities right now on the Flux project, but would be nice to have something we can work with to circle back to!

[2018-07-01 21:10] Falkor opened #784 "pmix-2.1.2rc1: fatal error: simptest.h: No such file or directory"
## Background information

Upon attempting to build PMIx from the release candicare [`pmix-2.1.2rc1.tar.bz2`](https://github.com/pmix/pmix/releases/download/v2.1.2rc1/pmix-2.1.2rc1.tar.bz2), the above error happened:

[code]

The header file is indeed present in the git, but was not included in the tar archive.

Note that building from the tar archive the release  2.1.1 [`pmix-2.1.1.tar.bz2`](http

[2018-07-12 15:33] artpol84 opened #787 "buffer ops segfault in release version"
We found this while tracking a bug in Slurm plugin.
If a wrong buffer was returned in the PMIx modex callback release version of PMIx will segfault, while debug one will detect the problem and return with an error.
I assume that this is expected as in release mode buffers do not have enough information to identify the problem, however, I thought it is worth to double-check.

[2018-07-12 15:36] artpol84 commented on #787
Actually, after thinking about that I think it is more a bug than a feature.
As buffer boundaries are known, there shouldn't be a SIGSEGV in this case in release version.

[2018-07-12 15:52] rhc54 commented on #787
I'm not sure there is enough info here to know if a segv could be avoided or not. When built in optimized mode, the buffer doesn't contain any object identification info and so the code relies on the return being correct. What should have happened is that the debug version reveals the problem and it gets fixed before using an optimized version.

Consider the case where there are enough bytes remai

[2018-07-16 23:53] spikebike opened #788 "Can't compile with intel-2018 update 3"
Greetings,

I'm using ubuntu 18.04 and trying to build pmix-2.1.2 with the current Intel compiler (2018 update 3).

I'm using, CC=icc CXX=icpc F77=ifort FC=ifort, because that's what's recommended to compile openmpi (which is going to be compiled against pmix that I compile).

The error I get is:
[code]

Also:
[code]

Also note the URL mentioned "http://pmix.github.io/master" doesn't exist.

[2018-07-16 23:59] rhc54 commented on #788
You don't need the CXX, F77, or FC settings as we don't use any of those compilers - just straight C. Those warnings look like they indicate a problem with the compiler itself - basically, the headers are all present but the C-compiler fails to compile a test program that solely consists of ```#include <foo.h>```. Are you able to compile anything?

I'll fix the error message - not sure why it was

[2018-07-19 00:52] spikebike commented on #788
Hrm, I was unable to reproduce the problem.  Guess my Intel compiler environment got messed up somehow.  It compiled, please close this ticket.

[2018-07-19 19:10] #755 closed

[2018-07-19 19:13] rhc54 opened #793 "PMIx v2.1.4 release checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-07-20 23:11] rhc54 commented on #787
reopen if there is a further question

[2018-07-20 23:11] #787 closed

[2018-07-20 23:11] #588 closed

[2018-07-24 19:57] jjhursey commented on #704
I'm working with the PMIx 2.1.2 tarball right now, and I think this issue may have regressed before the release :( I'm setting up some 'cleaner' builds to confirm and work the issue. But I'm seeing the original issue again (`PMIX_LOCAL_RANK` and `PMIX_HOSTNAME` cannot be queried for a remote process).

Just a heads up. I'll keep this closed until I can verify.

[2018-07-24 20:19] jjhursey commented on #704
Yeah I've confirmed with Open MPI v3.0.x branch and PMIx v2.1.x branch that this is still a bug. I'm not sure what regressed. I'm investigating now.

[2018-07-24 20:46] jjhursey commented on #704
Ok I think I found the issue. It might be localized to the dstore component here:
 * https://github.com/pmix/pmix/blob/v2.1/src/mca/gds/ds12/gds_dstore.c#L3184
Which didn't get the same update that the `hash` GDS did here:
 * https://github.com/pmix/pmix/pull/708/files#diff-120611f90565f86fb27ca156587bc33cL610

[2018-07-24 21:05] jjhursey commented on #704
I have the fix for dstore in https://github.com/pmix/pmix/pull/797

[2018-07-26 01:54] #704 closed

[2018-07-28 17:02] artpol84 commented on #787
@rhc54 sorry for the late respond - thank you for the explanation.

[2018-08-15 15:23] wessle opened #806 "Process_monitor fails, gives PMIX_ERR_NOT_SUPPORTED"
Thank you for taking the time to submit an issue!

## Background information
While experimenting with one of the examples in pmix/examples, PMIx_Process_monitor_nb fails and returns an error.

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master @ aeb383ba1ecb00515de85450abbb9e1d8e113dd8

### Describe how PMIx was installed (e.g., fr

[2018-08-16 00:33] rhc54 commented on #806
What version of PMIx were you building the example and PRRTE against?

[2018-08-16 10:29] angainor opened #807 "Question: using PMIx in task-based environments"
Please forgive me if this is not the correct place to ask questions - I looked at the google lists, but they seem quiet..

From what I know, PMIx is mostly used to exchange wire-up information between MPI ranks. However, I am wondering if it is possible / makes sense to use PMIx in a different way - to obtain information about local 'neighbors' (communication peers) in a task-based execution model

[2018-08-16 13:01] wessle commented on #806
v3.0.0, according to pmix_info in my installation directory.

[2018-08-16 14:54] rhc54 commented on #807
Most discussion has been taking place on issues, but the list is fine too.

The execution orchestrator would need to launch the processes via a PMIx-enabled RM to make it work, or establish a network of its own PMIx-enabled daemons. Assuming that is the case, then you could take advantage of the proposed PMIx Group capabilities (see https://pmix.org/pmix-standard/pmix-groups/) to construct/destruc

[2018-08-16 15:01] rhc54 commented on #806
Oh my - it means we forgot to implement it 😧 I'll fix it and backport to the 3.0 branch.

Sorry about that! Thanks for pointing it out.

[2018-08-16 16:03] wessle commented on #806
Okay, great, thanks!

[2018-08-17 03:02] #806 closed

[2018-08-18 03:44] rhc54 opened #813 "Incomplete cleanup of dstore files"
We are seeing this in OMPI master, but it probably also occurs in prior releases. It only happens under Slurm when the ras_base_launch_orted_on_hn MCA param is set to 1 (true). When this is set, it causes mpirun to launch a daemon on the same node where mpirun is executing. The logic behind this is that the daemon and all its child processes are under Slurm - thus, they receive all Slurm-generated

[2018-08-20 07:57] angainor commented on #807
@rhc54 Thanks, Ralph! We are in a rather early design stage, so I don't really know what I need, but what I think would be necessary is some means to locate a task on the used compute nodes. The information I have is the compute node that at some point was executing a given task. It could still be there, or it could have been migrated / split etc. So I imagine the API I would need is sort of

[cod

[2018-08-20 14:28] rhc54 commented on #807
I think there are a couple of issues here. First, the notion of what is a task vs a group vs work/data lies outside of PMIx - it would be up to the host environment to define what it is tracking. All PMIx cares about is that there be an identifier assigned to each unit.

Second, your suggested API has an inherent race condition in it as you cannot know if the task migrated multiple times since the

[2018-08-21 01:53] ggouaillardet opened #817 "inline is not correctly defined in v2.1.3"
In `v2.1.3`, there are tons of warnings when building, for example

[code]

I think the root cause is `inline` is not correctly macro-defined
From `config.status`
[code]

A possible fix is to backport pmix/pmix@ca510b3bf15975b848ee4b65c0565a89f085dabc

In `config.status` we end up we
[code]
and the warnings go away

[2018-08-21 02:41] rhc54 commented on #817
How are you getting those? I tried gcc and clang, but I can't get any warnings to appear

[2018-08-21 02:51] ggouaillardet commented on #817
`configure --enable-debug --enable-picky`
(I also use `VPATH`, even if I am not quite sure this is relevant here)

[2018-08-21 03:04] rhc54 commented on #817
Hmmm...nope, no joy here. I configured exactly the same way and the only warning I get is:
[code]
This is with ```gcc (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)```

[2018-08-21 03:15] rhc54 commented on #817
Try without VPATH and let's see if that makes the difference - I never use it myself.

[2018-08-21 04:08] ggouaillardet commented on #817
I just tried from the `pmix-2.1.3.tar.bz2` tarball, without `VPATH` and was able to generate a lof of warnings

note I use stock `gcc`

[code]

the root cause is always
[code]

I will try with other compilers from now

[2018-08-21 04:14] ggouaillardet commented on #817
The issue does not occur with gcc `6.3.0` and `8.2.0`.

[code]
Though `4.8.5` is a bit old now, this is the stock compiler of CentOS 7, so I guess it is still widely used.

[2018-08-21 07:32] angainor commented on #807
Can one compute node register to receive migration events from another compute node? Say, a task A on node 1 knows that some task B that it will communicate to runs on node 2. The orchestrator on node 1 registers on node 2 to receive migration event of task B. Then, whenever task B is moved, the orchestrator on node 1 is informed about where it moved. It can then contact that destination for furth

[2018-08-21 13:38] rhc54 commented on #817
Trying a new CentOS 7 install, I'm running into a problem in configure that complains it cannot find pthread support. How did you get around that?

[2018-08-21 13:51] rhc54 commented on #817
interesting - apparently pthread support is in the gcc-c++ package. Okay, I am now able to replicate what you saw. Why would your commit for C11 detection fix this problem?

[2018-08-21 14:03] rhc54 commented on #817
Okay, I walked thru the commit and see what is going on. Will provide a PR to update.

[2018-08-21 15:00] #817 closed

[2018-08-21 16:08] tonycurtis opened #819 "Question about heartbeat or other monitors"
Thank you for taking the time to submit an issue!

## Background information

Trying to use the heartbeat monitor, but running into problems with event handlers not being called (apparently) more than once per sending rank

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master @ 8429b781ba7eac704a6f7ea15c2dd684bbc33464

### Describe h

[2018-08-21 16:33] rhc54 commented on #807
Any process that registers for migration events (using the PMIX_ERR_PROC_MIGRATE code) will receive them. If you want to only receive notification of the migration of a specific proc, then you include the PMIX_EVENT_AFFECTED_PROC attribute with that proc's identifier.  Registrations are persistent, so there is no need to "re-register" every time.

I'm not quite sure who in your system is managing

[2018-08-21 18:49] rhc54 commented on #819
I'm not entirely sure I understand the use-case here. I gather you set a heartbeat timeout less than 8 seconds, and want to see the heartbeat "alert" event every time you fail to see it? If so, I can see the problem - the heartbeat sensor code turns the monitor "off" once the client fails the timeout. I hadn't envisioned a use-case where a process would stop and then restart sending heartbeats as

[2018-08-21 19:17] tonycurtis commented on #819
I wanted to make the rank "drop off" and then come back, so was expecting the alert to be retriggered once the heartbeats started arriving again (as opposed to "one ping only" :) ).

I don't have an app as use-case but I think it might be useful if ranks could re-enlist and update other ranks that they're alive again.

[2018-08-21 19:38] rhc54 commented on #819
okay, easy enough to do - just need to finish this chapter review first.

[2018-08-21 19:43] tonycurtis commented on #819
Great, thanks.  At least we have handlers being called, which lets us move forward with some FT things for OpenSHMEM.

[2018-08-21 21:45] artpol84 commented on #813
@rhc54 for the first sight it seems like an OMPI problem to me. If OMPI launches additional daemon that will perform PMIx services to the clients it should disable pmix server inside mpirun.

I'd like to better understand the desired behavior. What do we want OMPI/PMIx to do?
What is the role of PMIx server inside mpirun in this case?
What is the role of PMIx server inside orted?

[2018-08-21 22:17] rhc54 commented on #819
@tonycurtis Let me know if this works for you and I'll backport to the release branches

[2018-08-21 22:25] rhc54 commented on #813
It isn't really an OMPI problem - consider the case where someone executes two mpirun applications in parallel on the same allocation. Each mpirun will setup a server, which will conflict on their node, and will launch daemons that will likewise conflict. So it will happen any time there are more than one job sharing a node - pretty common use-case.

What we want is for each dstore to create an ad

[2018-08-22 03:44] artpol84 commented on #813
If I recall correctly dstore uses server PID and JOB id to create a unique directory.
So I don't expect an issue with the use case you provided.

[2018-08-22 03:48] artpol84 commented on #813
Here [is the link](https://github.com/pmix/pmix/blob/ba73a784c49b5d9d0492b73940864e27c4beab9c/src/mca/common/dstore/dstore_base.c#L1786) to the code that creates directory name. PID is part of it so I don't believe that they are stepping on each other.

[2018-08-22 04:02] rhc54 commented on #813
They are stepping on each other during the _cleanup_ procedure. I suspect you are being too aggressive in removing directories and so they conflict as they are under a common session directory (since the nspace/jobid is the same in the Slurm case, and the top of the session directory is the same in the multi-mpirun case as the user is the same).

I believe you will find that it is relatively easy

[2018-08-22 04:04] artpol84 commented on #813
Ok, @karasevb will try that out.

[2018-08-22 04:07] artpol84 commented on #813
Thanks for reporting - we will try to fix ASAP

[2018-08-22 04:08] artpol84 commented on #813
BTW ds21 component is not there yet?

[2018-08-22 04:10] rhc54 commented on #813
Nope - OMPI master is on PMIx v3.0.1, not PMIx master

[2018-08-22 04:10] rhc54 commented on #813
Thanks for taking a look at this!

[2018-08-22 08:17] angainor commented on #807
Thanks a lot, Ralph! It certainly sounds like what we need could be doable with PMIx. I'll chew through the specs. Since we are on the design stage, it will take time before we have anything working. But if we end up using PMIx, I'll certainly let you know how.

Thanks again!

Marcin

[2018-08-22 08:17] #807 closed

[2018-08-22 13:18] tonycurtis commented on #819
Thanks, just tried it, but am not picking up alerts when heartbeats restart and then pause again.  Also getting unpack errors which might not be related?
[code]

Code's in https://bitbucket.org/tony-curtis/jctrl/src/master/ if you wanted to look.

[2018-08-22 14:43] rhc54 commented on #819
Thanks for the code - that will help. Is it okay with you if I add this code to our test suite (I'll add the Mellanox copyright headers on your behalf)? I'm trying to build it up and this would be useful.

[2018-08-22 14:44] tonycurtis commented on #819
Sure.

[2018-08-22 14:55] rhc54 commented on #819
Hmmm...one thing catches my eye. That unpack error message is stale - the current master has an "if" statement at that line, not an error log, and protects against that case.. I don't think it is impacting the result, but it may indicate that you somehow got a stale version that might be missing other things.

I'll build and run your test code anyway.

[2018-08-22 14:58] tonycurtis commented on #819
The PMIx is with the new comment is your repository, BTW, instead of the pmix/pmix one.

[2018-08-22 15:00] rhc54 commented on #819
Hmmm...I wonder if something in my repo got out-of-sync. Will check either way.

[2018-08-22 15:19] rhc54 commented on #819
Simple fix - forgot to remove a "return" and so we weren't restarting the timer to check beats. I wasn't getting the unpack error on pmix/pmix, so all I can guess is that my repo is somewhat stale. Will update it.

[2018-08-22 15:29] tonycurtis commented on #819
Looks like things are "go"!
[code]

Thanks!

[2018-08-23 08:12] karasevb commented on #813
I have tried to reproduce the problem, but all tries were unsuccessful. All the attempts are passed.

Here is details of my experiments:
- I used for test `ring_c` for 8 nodes 28 ppn.
- Run thru the Slurm batch file: [ring_c.sbatch](https://gist.githubusercontent.com/karasevb/9c1d0ad08efba86c038c54f6f2ef1c0f/raw/f06201c6154f6bd56ab30dcf8bd98715d444f7c7/ring_c.sbatch)
- Image of processes on the fi

[2018-08-23 20:11] jjhursey opened #824 "PMIx dstore (ds21) runtime issues"
Creating a ticket to follow the discussion from this thread to make it easier to find:
 * https://github.com/pmix/pmix/pull/786#issuecomment-413939275

We are trying to use the `ds21` (new dstore) component with the PMIx 2.x branch, and hitting some crashes inside the server side, like the following:
[code]

This was testing an older port of the `ds21` to the PMIx 2.x branch. Since that data point

[2018-08-23 20:17] jjhursey commented on #824
@karasevb @artpol84 I'm hoping to be able to retry in the next few days. I'll update this ticket with what I find. If I can still reproduce with the branch, hopefully I'll come back with some more details to help us dig in.

[2018-08-27 18:33] rhc54 commented on #813
Fixed by https://github.com/open-mpi/ompi/pull/5600

[2018-08-27 18:33] #813 closed

[2018-08-28 00:50] rhc54 commented on #819
This appears fixed - please let me know if you hit it again.

[2018-08-28 00:50] #819 closed

[2018-09-10 14:51] jjhursey commented on #824
I'm working on a build today. Hopefully be able to test later today. Sorry for the delay.

[2018-09-10 19:29] jjhursey commented on #824
I hit this same error testing https://github.com/pmix/pmix/pull/815 on the second run against the same PMIx server. Well just a touch different:
[code]

Note this is on the server side of the operation.

Per @rhc54 's suggestion, I tried forcing `export PMIX_PTL_MODULE=tcp` (since by default reports as `tcp,usock`), and it failed in the same way.

Sometimes I see this error message:
[code]

This f

[2018-09-11 03:59] rhc54 commented on #824
Try putting ```PMIX_MCA_ptl_base_verbose=100``` in your environment. Sounds like there may be an issue in master (assuming that you are using master as the server). Unless you stipulate usock, there shouldn't be any way you can wind up in the usock component.

[2018-09-12 16:35] jjhursey commented on #824
The client and server are the same v2.1.x level (using the ds21 branch). If I just use mpirun I still see the `usock` component qualifying for selection (this is a v3.0.x series OMPI):
[code]

I'm not ruling out a data corruption issue in JSM either, but the only thing that's changed is the PMix revision from 2.0.3 to 2.1.3+. Still lots of changes between those two trees for cross version compatib

[2018-09-12 17:33] rhc54 commented on #824
Just to be clear for my fossil brain:

- If you run something against JSM where both JSM and the app are built against the ds21 v2.1 branch, you hit a problem.

- if you run an app using mpirun where both are using the stock OMPI v3.0.x, you see usock showing up as available. This is expected as OMPI v3.0 isn't turning it ```off``` to preserve backward compatibility. However, if TCP is available o

[2018-09-12 18:12] jjhursey commented on #824
Correct. I see it with and without the ds21 component.

Ok. I've tried explicitly forcing the `tcp` component. That didn't seem to help. But I'll continue running that way so the `usock` component doesn't muddle things.

Yeah. It could be that more nodes increases the probability of hitting the issue since there are more PMIx-enabled daemons active.

Yes. I'm running high PPN at small scales too.

[2018-09-12 19:29] rhc54 commented on #824
out of curiosity - have you tried running both sides under valgrind?

[2018-09-18 19:44] rhc54 commented on #337
v1.2 series is closed

[2018-09-18 19:44] #337 closed

[2018-09-18 19:59] #793 closed

[2018-09-18 20:00] rhc54 opened #839 "PMIx v2.2.0 Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-09-18 20:01] rhc54 opened #840 "PMIx v3.1.0 Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2018-10-10 19:42] sam6258 commented on #824
It appears that the segv on the server here is resulting from a combination of not sending credentials plus not having a valid check for the 2.1 minor version number here:

https://github.com/pmix/pmix/blob/a9045a7829edaae3a988bbcdb8b164b661203443/src/mca/ptl/usock/ptl_usock_component.c#L454-L482

We can force this issue by modifying source code of clients to use usock by skipping over the tcp ptl

[2018-10-10 20:02] rhc54 commented on #824
I'll take a look at the connection code - it is likely just an issue of fixes not being backported combined with not that much testing of usock (since we are moving away from it). My question is: is there any reason why you want the client to use usock? Or is this just part of some validation testing?

[2018-10-10 20:15] jjhursey commented on #824
It's more just pulling on this thread until we root caused what was going on. I wanted to rule out that something 'else' was creeping in and causing us problems.

We built PMIx 2.1.4, and it provides both the `usock` and `tcp` components, for backwards compatibility. For our purposes we can disable the build of `usock` and increase some timeouts to run again. However, we did see a data corruption

[2018-10-11 16:09] dhidas opened #876 "v3.0.2 configure missing?"
I am attempting a user build.  In the release tar.gz the README and INSTALL reference ./configure, but it appears to be missing.

[2018-10-11 16:14] nysal opened #877 "PMIx cross version issues"
Thank you for taking the time to submit an issue!

## Background information
Initial findings from PMIx cross version compatibility testing

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
v1.2 through master

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distributi

[2018-10-11 16:39] rhc54 commented on #876
My apologies - I forgot to post the actual release tarballs on the release link. I have done so now.

Terribly embarrassing - sorry for the trouble. Thanks for bringing it to my attention.

[2018-10-11 16:39] #876 closed

[2018-10-11 16:42] dhidas commented on #876
Thanks for the quick response.  I appreciate your work.

[2018-10-12 04:44] rhc54 commented on #877
I tracked down the issue with v1.2 compatibility to a very silly reason. The ```simptest``` code disables the ```usock``` component to force use of ```tcp```. Thus, the v2.x, v3.x, and master branches were all unable to communicate with v1.2. I removed this line of code from ```simptest``` in all v2.x and above branches.

However, there is one further complication. The v2.0 series doesn't have a `

[2018-10-12 16:29] nysal commented on #877
If it helps, I can reproduce the crash at the same location using a v2.1 server and v2.2 client. The code changes between both branches is fairly minimal, hope that gives you a clue.

[2018-10-12 16:32] rhc54 commented on #877
Really?? I'm not seeing that at all - see my results posted above. Were you doing something with params or were you using the PR instead of the base branches?

[2018-10-12 16:46] nysal commented on #877
I don't see v2.2 in the results you posted. I rebased my local git repository with your latest updates and rebuilt the code today. I can try bisecting the changes between both base branches (v2.1 server and v2.2 client) to narrow it down. I ran it manually like this:
```./simptest -n 2 -e ../../../../pmix-origin/v2.2/test/simple/simpclient```

This is the stack:
[code]

[2018-10-12 16:48] rhc54 commented on #877
Ah, quite right - I was missing v2.2. I'll add it to the test vector. Still, good to know it happened a little earlier, though also good that v2.2 hasn't been released yet!

[2018-10-12 18:49] rhc54 commented on #877
Here is my updated results output:
[code]
As you noted, everything xversion involving v2.2 fails in a segfault, just like master.

[2018-10-12 18:52] karasevb commented on #877
I'm working on the `dstore` crash.

[2018-10-12 21:01] karasevb commented on #877
This issue was introduced in `master` since commit a9e3c35d6309fd6b07622b5915a8625ec6a6966e:
[code]
Server and clients have different value those constants. `dstore` uses the `PMIX_MAX_NSLEN` constant for data structures that stored into shared memory, clients expect to get data in the offset relative his `PMIX_MAX_NSLEN`, that led to failure.

@rhc54 can we it revert? Otherwise I'll fix it in `ds

[2018-10-13 00:37] rhc54 commented on #877
The commit related to the recently adopted formal v2 standard which stipulates the revised values. The argument for reducing the minimum key/namespace lengths was based on minimizing the memory footprint. Accordingly, I don't think we can revert it.

However, that does mean that the shared memory system will need to take into account differences in those values between the versions. It may well be

[2018-10-14 02:38] karasevb commented on #877
@rhc54 Thank for clarification. I'll open a PR to close this issue.

[2018-10-16 14:51] rhc54 commented on #877
I'm not sure I understand what it solves. If you just require that all clients from earlier versions use ds12 and hard-code ds12 to have a namespace length of 255, then it seems to me that the problem is solved - yes? Earlier versions won't know to look for a new envar anyway, and so it doesn't help to resolve the backward compatibility issue.

Since we have to direct prior versions to ds12 anyway

[2018-10-16 16:33] artpol84 commented on #877
The issue is little broader.
What if in the future this NAMESPACE macro will keep changing?
Then server/client having different macro values won't be compatible and at some point we will have to do the same with dc21

[2018-10-16 16:37] rhc54 commented on #877
Fair enough - probably best to have the NSLEN and KEYLEN values exchanged in the connection handshake. We'll then have to make the value a namespace-level parameter and take the difference into account in our internal code. Since we know the version of the client (already exchanged), we can default to the old values for the earlier releases.

[2018-10-16 20:50] artpol84 commented on #877
Yeah, I think that this is a good way to go.
This is not only a dstor issue, in the end. dstor is just the one that exposes the issue.
More generic approach is needed.
I'd like to clarify some details.
* It seems that server has to define NSLEN and KEYLEN it supports. As Server is the first one to be there and there.
  * How does that being perceived by the client? Is it in the handshake message o

[2018-10-18 19:44] jjhursey commented on #877
Per teleconf:
 * We are going to merge in PR #814 and PR #815
 * We are going to revert the `PMIX_MAX_NSLEN` and `PMIX_MAX_KEYLEN` changes in the v3.1 and v2.2 series.
   - https://github.com/pmix/pmix/pull/849
   - https://github.com/pmix/pmix/pull/846
   - This means that cross version support between the release branches is preserved, and only cross version between master and the release branch

[2018-10-29 13:52] angainor commented on #807
@rhc54 Hello, Ralph,

I've been reading through the PMIx specs and code, and this lengthy post is mostly for me to understand better the design and idea. Probably I still don't have a good enough understanding of what PMIx does, and hence more questions ;) I really hope you can shed some light.

As I now understand, the PMIx library only manages local communication between clients and the local se

[2018-10-29 15:17] rhc54 commented on #807
This is correct

We spent quite a bit of time debating this point. It finally came down to a request from the RMs that we _not_ create our own separate communication system as it results in another messaging layer in the system (the RMs plus whatever is embedded in the library plus whatever PMIx used). We are dependent on the willingness of the RMs to support PMIx, so this was a request we honored

[2018-10-31 20:11] jjhursey commented on #877
Note that this still needs to be addressed on `master`. The release branches had the change reverted so there is no change needed the release branches.
Assigning to @karasevb since it's dstore focused.

[2018-11-01 12:07] angainor opened #907 "Need help with PMIX_SERVER_URI and tool"
I am running pmix-3.0.2, either with prrte, or with ompi v4.0.x. In one scenario I start the `prte` server as a `-system-server`. I then `prun` a client, which queries and prints the `PMIX_SERVER_URI`:

[code]

I would assume that I can take this URI and plug it into `PMIx_tool_init`, but it doesn't work. If I use the above, my simple tool complains:

[code]
So there are some URI parsing problems.

[2018-11-01 12:08] angainor commented on #907
Here is the tool init code:

[code]

[2018-11-01 18:34] rhc54 commented on #907
I'm a little under the weather and not available much, I fear. Will try to help when better, hopefully towards end of next week. However, your URI is definitely not correct as the "tcp" portion must indicate IPv4/6 - i.e., it should be "tcp4" or "tcp6". How did you retrieve it?

[2018-11-01 19:16] angainor commented on #907
@rhc54 No rush, it's nothing that can't wait. I might have been a bit optimistic here :) I'm reading the code, in particular `orte/orted/pmix/pmix_server_gen.c`, in which I saw that I can query for `PMIX_SERVER_URI`. So I did that in the client:

[code]
And this is what I got:

[code]
I assumed that I can simply plug this into the `PMIX_SERVER_URI` argument of the tool init function. But this quer

[2018-11-01 21:42] rhc54 commented on #907
That’s correct so it sounds like a bug in the stored value

[2018-11-02 00:57] artpol84 commented on #877
@jjhursey note, that if this fix doesn't go to ds21 then once it is released we are stuck with the fixed NSLEN/KEYLEN.
And will only be able to fix it in the subsequent dstor components, but not ds21.

[2018-11-02 02:50] karasevb opened #909 "ds21 cross version issues"
Current compatibility picture:
[code]

Note: `master` is patched to use the same NSLEN/KEYLEN with branches.

FAIL: master -> v3.1,v2.2 has the follow BT:
[code]

[2018-11-02 04:45] karasevb opened #913 "pmix-tests: ./xversion.py hanging"
I have got a hang when testing by `xversion.py`:
[code]
Here is process state while a hanging:
[code]
I tried to use `./xversion.py` on different machines, some of them have different statistics of hangs. The hang is not 100% reproducible, but on some machines, it mostly hangs for almost all attempted runs.

The attempting to test directly always works well:
[code]

[2018-11-02 04:49] karasevb commented on #913
@rhc54 did you encounter a similar one?

[2018-11-02 07:51] karasevb commented on #909
The issue should be resolved by #916, #917

[2018-11-02 22:17] artpol84 commented on #877
I don’t as I don’t have a clear vision of the proposed solution.
There was couple of back and forth on this and I’m not sure I’ve captured it in the recent state.
I was hoping to discuss this on this weeks telecon.
Need to have a discussion early next week to converge on the solution as it is actually not dstor-specific but rather a general issue that dstor is exposing.

[2018-11-02 22:19] artpol84 commented on #909
@karasevb please post an update cross-version state once those are merged

[2018-11-06 03:42] rhc54 commented on #907
Actually, I take that back - turns out that this is a "bug" in PRRTE. When you perform the query, it gets sent to the PRRTE daemon for processing - the PMIx server passes it up to the host daemon. In that code, we see this:
[code]
In other words, PRRTE is returning the URI of the out-of-band connection used between PRRTE daemons, and _not_ the URI of the PMIx server library itself.

What we have h

[2018-11-06 07:38] rhc54 commented on #907
Figured out a way to provide the non-PMIx URI within the current definitions by using the ```PMIX_PROC_URI``` attribute, clarifying that this will return any non-PMIx URI of a given process. Since a client process cannot directly connect to another client process, this attribute can only refer to a non-PMIx connection point. PMIx connection points for a server can be obtained via the ```PMIX_SERVE

[2018-11-06 08:06] angainor commented on #907
@rhc54 I checked and the same (or similar) value is returned in the OpenMPI environment (i.e., `mpirun`):

[code]

So I guess this should also be changed in ORTE / OPAL?

[2018-11-06 08:13] angainor commented on #907
@rhc54 btw. In the above run with 2 ranks, each rank is started on a different node. I guess each rank will report it's local PMIx server address? unlike what they report now, which is the same address of some host server (`mpirun` ?).

[2018-11-06 09:07] rhc54 commented on #907
If you take the ```PMIX_SERVER_URI3``` envar value and pass it in as ```PMIX_SERVER_URI```, it should work (I believe).

ORTE will need to be updated - OPAL will track the PMIx release.

[2018-11-06 09:20] angainor commented on #907
@rhc54 `PMIX_SERVER_URI3` doesn't work, unfortunately. First, it is the local IP loopback address only. Here I print the `getenv` value from a client:

[code]

Even if I run my tool from the same host, I can't connect. Using the entire address:

[code]

and using only the part starting with tcp4:

[code]

[2018-11-06 09:28] angainor commented on #907
@rhc54 Well, my MPI jobs are still running at the time I try to connect to them. That is, the ranks are in a `while(true);` loop. The idea was to inspect a running job from the side, e.g., to obtain information about it's progress, or to trigger some events (checkpoint) using a PMIx tool. Will that work?

[2018-11-06 14:47] rhc54 commented on #907
Yes, it should, though that is also true with PRRTE (just start your job with prun). It's what I'm doing now during development of the debugger support. I'll have to poke at it a bit to see why you're hitting problems.

Out of curiosity: if you just let the tool "discover" the local PMIx server (i.e., don't try to provide a server URI), does it work for you? Also, have you tried this with head of

[2018-11-06 20:33] rhc54 commented on #907
FWIW: the combination of PRRTE and PMIx masters works fine. I was able to print the value of  ```PMIX_SERVER_URI3``` and pass it to a tool app that included it as ```PMIX_SERVER_URI``` to the tool_init function, and things connected as they should. So the problem is likely either something in PMIx v3.0.2 or in OMPI.

[2018-11-06 21:00] angainor commented on #907
@rhc54 Thanks!

I managed to make two scenarios work with PRRTE. First, the tool initializes correctly if I don't pass anything (but this would only work with PRRTE, not OpenMPI, right?). Second, I started the `prte` on master node, then I started the client, which printed the `PMIX_SERVER_URI3`. When I used that initialize the tool (also running tool on the same node), it made the connection.

Th

[2018-11-06 21:58] rhc54 commented on #907
Okay, I'm still not 100% and so am working a little slower. Agreed that my test was done on a single node.

Let me first address the initial problem of the query so that doesn't get lost. Then I'll circle back to the multi-node tool support. In your example, I suspect the mclient was running on the compute node, and so the URI3 would be for that daemon. However, if your tool was run on that node,

[2018-11-07 09:32] angainor commented on #907
@rhc54 I have checked now with PMIx-master and PRRTE-master, and the behavior is the same: if I start `prte` and the client on a remote host, then my tool cannot connect to the server address reported in the client's `PMIX_SERVER_URI3` variable. I am running the tool on the remote host, where the client runs.

As before, running the tool without specifying the `PMIX_SERVER_URI` key works on the ma

[2018-11-07 12:50] karasevb commented on #909
Here is the state of compatibility with including the commits from #910, #911, #912, #914, #915, #916, #917 :
[code]
Note: master is patched to use the same NSLEN/KEYLEN with branches.

@artpol84 @jjhursey

[2018-11-07 15:11] karasevb opened #929 "PMIx server crash with undefined event callbacks"
PMIx server got a crash for the case when it does not support register/deregister event callbacks.
There is patch for reproduce:
[code]

Run details:
[code]

GDB details:
[code]

[2018-11-07 16:05] artpol84 commented on #909
Is it clear why do we fail with 2.0?

[2018-11-08 03:10] artpol84 commented on #909
@karasevb ?

[2018-11-08 12:29] karasevb commented on #909
There are couple issues:
- `Run FAIL: master -> v2.0`/`Run FAIL: v3.1 -> v2.0`/`Run FAIL: v2.2 -> v2.0`:
v2.0/ptl/tcp component doesn't provide his gds component name to the server, in the other hand the server has no checking the client's gds if client version equal to "v2.0",
Server set gds to NULL for v2.0 clients here:
https://github.com/pmix/pmix/blob/master/src/mca/ptl/tcp/ptl_tcp_component.

[2018-11-08 15:03] rhc54 commented on #909
I'm afraid we cannot go back and change v2.0 as it is already out there. What we have been doing for the case where we don't get any gds info from the client is to assign them only the "hash" component as we know they always have that one available to them. We need to ensure that logic is retained.

I'll take a look at the other one - it used to work, but... 🤷‍♂️

[2018-11-08 18:10] rhc54 commented on #909
I see the problem. We set the "gds" value to ```NULL``` which leaves the gds framework to select the component based on priority. In the past, that would always default to ```ds12``` unless that component was disabled via MCA param (which we deemed outside our control). Now it returns ```ds21``` because you set that component at a higher priority than ```ds12```.

What you need to do is set "gds"

[2018-11-08 18:50] jjhursey commented on #909
Is this ticket a duplicate of Issue #877 ?

[2018-11-08 18:51] jjhursey commented on #913
From the discussion on Issue #909 it sounds like you got this working. Is this still a problem?

[2018-11-09 03:33] karasevb commented on #909
@rhc54

Thank you for the clarification, I'll do it.

[2018-11-09 03:36] karasevb commented on #909
@jjhursey this ticket targeted to the special case which described in the header.

Both PRs are merged, so this issue may be cloled.

[2018-11-09 03:36] #909 closed

[2018-11-09 03:46] rhc54 commented on #913
FWIW: the error means that your system is block SIGCHLD, thus preventing simptest from harvesting the child when it terminates. We fixed this in OMPI, but saw no reason to backport such fixes to PMIx. However, you could do it directly yourself, and I can add that to the simptest program going forward.

[2018-11-09 05:19] karasevb commented on #913
@rhc54 it still hanging with your PR #934
I try master-> master test:
[code]

[2018-11-09 08:35] rhc54 commented on #913
Hmmm...in what environment does this happen for most attempts?

[2018-11-09 08:44] karasevb commented on #913
Red Hat Enterprise Linux Server release 7.4 (Maipo)
Linux version 3.10.0-693.el7.x86_64 (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC) )

[2018-11-09 08:51] rhc54 commented on #913
Huh - that is really weird as I routinely test it on CentOS 7. Afraid I can't be of much help - I can only assume there is something odd in your environment that we aren't identifying.

@ggouaillardet Can you give the test script a shot? It would help if we could find at least one other person experiencing the same problem so we could compare scenarios.

[2018-11-21 15:04] jjhursey commented on #102
We have been chatting off-list a bit about this ticket. Let me try to summarize, then we can continue the conversation here.

The goal is to give the RM a different means of controlling when events/callbacks occur from PMIx into the RM. Currently, PMIx will trigger the callback in the PMIx CL's support thread (where the PMIx CL thread-shifts work). As an alternative, PMIx would provide a set of in

[2018-11-21 15:21] garlick commented on #102
Thanks @jjhursey!  It occurred to me after I sent the above suggestion that I'm not sure why pollevents needs to return a mask of events if it's only ever going to call one function.

There might also need to be a way to retrieve the minimum timeout that's in play before blocking, so the RM can set a timer to wake up and call into PMIx to service that as well.

[2018-11-21 16:58] rhc54 commented on #102
Looks fine to me - thx! You'll need to define the handle somewhat flexibly as the different
server->host calls pass very different information, but that should be doable.

All the host->server calls are thread-protected in the PMIx library, so no problem having flux directly call them. Since most of those calls have an "ack" callback associated with them (mostly intended to allow the RM to cleanup

[2018-11-21 17:43] garlick commented on #102
Does the PMIx server thread start up in this model, or can the event loop be entered and exited rom the RM's thread via `PMIx_server_process()` (or whatever)?

[2018-11-21 19:23] rhc54 commented on #102
I'm assuming that the internal PMIx thread would indeed be running, just so it could progress asynchronously. It would then create a FIFO with calls for you to service.

However, @jjhursey may have another idea.

[2018-11-21 19:43] rhc54 commented on #102
You know, another possibility would be to setup a pipe between flux and pmix, and then have pmix simply push a header+object into the pipe instead of doing a callback. You could then just monitor the pipe for "ready for read" and grab the "handle". Would allow you to be more event-driven as opposed to polling.

[2018-11-21 20:33] rhc54 commented on #102
Got it. What I was trying to figure out is how to let you know that there is something to process so you'll know you need to call that pmix function to get the info? I figured a pipe might be the easiest way since all event libraries will support it. I was hoping to avoid making you loop over calling the function just in case something was there.

Alternatively, we could create a "flux" plugin tha

[2018-11-21 20:41] garlick commented on #102
That would be concerning.  Was hoping this issue would solve a general API deficiency, not create new code paths that only Flux will use.

[2018-11-21 21:00] rhc54 commented on #102
I'm not aware of anyone else interested in this approach, regardless of the final mechanism. Other RMs are just taking the upcall from the PMIx server and "thread-shifting" it into their own threads. When they call down into the PMIx server, we always thread-shift into our threads any way.

Not passing any judgement on this conversation at all - I'm willing to put any interface in if it would help

[2018-11-21 22:03] garlick commented on #102
Not passing judgement either, just want to avoid interfaces that may become brittle over time, plus hey, extra maintenance headaches for you.  If the proposal is to add serialization for this pipe for all pmix->RM communication, but only use it for flux, then maybe we should back up and rethink?

Is there some way to factor the libevent loop so that there is an inner one that calls EVLOOP_NONBLOCK

[2018-11-22 02:17] rhc54 commented on #102
That sounds good. As I said, we are prepared and willing to do whatever it takes to make this work for you, but obviously the path of least effort is appealing 😄

Let us know how we can be of help. I think we'd all like to see Flux/PMIx working together!

[2018-11-22 02:18] rhc54 commented on #102
BTW: thanks for the explanation. It truly helped me to understand the situation.

[2018-11-22 05:57] garlick commented on #102
My apologies for not being clear before then!  Thanks to you and Josh for being willing to help.

[2018-11-26 04:10] karasevb commented on #665
Thread shift optimization is pending. Afterward, this Issue can be closed.

[2018-11-29 20:14] jjhursey commented on #929
@rhc54 @karasevb
What part of PR #946 needs to be cherry-picked to the v2.2 and v3.1 to address this issue?

[2018-11-29 22:16] rhc54 commented on #929
All of it - already done for v3.1

[2018-11-30 21:53] jjhursey commented on #102
I've not forgotten about this, just got pulled into something else this week. I'm hoping to get back to tinkering with it this weekend.

I was thinking that we might be able to simplify the interface down to a single call.
[code]

Then all of the marshalling of the queue/pipe is handled inside PMIx. The RM can then just call the progress function when it's ready to handle those events.

We could a

[2018-12-01 00:33] garlick commented on #102
sounds good, though the caller needs to be able to go to sleep in it's
event loop when there is nothing to do, hence the need to expose a fd that
becomes readable when new work arrives (or an equivalent mechanism).  Busy
polling the proposed function would be a bad thing IMHO.

On Fri, Nov 30, 2018, 1:53 PM Josh Hursey <notifications@github.com wrote:

[2018-12-03 00:41] garlick commented on #102
I just reread your post and realized you were just talking about having one function to call to handle events, not eliminating the queue/pipe.  Sounds good!  Sorry I missed that earlier.

[2018-12-04 00:59] artpol84 commented on #824
@jjhursey is this still relevant?

[2018-12-04 12:21] jjhursey commented on #824
I believe this is now addressed with the two changes referenced:
 - PR #875 addressed a NULL credential check that seemed to have caused the original segv.
 - PR #861 added the necessary timeouts to give the PMIx thread more time to work on connections in high PPN scenarios.

[2018-12-04 12:21] #824 closed

[2018-12-04 23:06] artpol84 commented on #929
@jjhursey do you have any update on v2.2?

[2018-12-04 23:07] artpol84 commented on #929
Please ref. this Issue there.

[2018-12-05 02:47] jjhursey commented on #929
PR #965 cherry-picked the changes from PR #946 to the v2.2 branch. There were some nontrivial merge conflicts that I did my best at resolving. It would be good to have you all test to verify it resolves the issue in that release series.

[2018-12-05 04:44] karasevb commented on #929
Our latest MTT results show the problem is gone: https://mtt.open-mpi.org/index.php?do_redir=3156.
This issue can be closed.

[2018-12-05 04:44] #929 closed

[2018-12-06 17:20] rhc54 commented on #907
I finally tracked this down. The issue was that I hadn't implemented (in PRRTE) the ability for a tool to connect to a PMIx server on a backend node - i.e., a tool running on a remote host that has a prte daemon (but not prte itself) running on it. This has now been fixed.

I also fixed the query so that you can, if you wish, just use PMIx_Get with the ```PMIX_SERVER_URI``` key to retrieve the ser

[2018-12-07 07:59] angainor commented on #907
@rhc54 Thanks, Ralph! I'll get back to this as soon as I can, and let you know how this goes. We are having a pretty busy pre-Chrismass season here, so it might take me a while. Thanks again!

[2018-12-07 21:27] jjhursey opened #969 "Sync v2.2 branch with fixes from master"
There are some bug fixes and attribute implementation that need to be backported to the v2.2 branch. I'm opening an issue so that progress on this work can be more easily tracked.

Below are the changes that should be brought over (feel free to extend), in no particular order
 * Review https://github.com/pmix/pmix/pull/954 (picks from master to v3.1)
 * https://github.com/pmix/pmix/pull/956
 * htt

[2018-12-08 00:53] rhc54 commented on #969
I think that trying to do this via cherry-pick isn't going to work. What we need to do is just work thru the master branch, identifying those things that belong in a v2.2, and then bring those across. It will be more painful in ways, but far more likely to succeed at this point.

[2018-12-19 21:49] rhc54 commented on #877
All branches now pass. We have decided to leave NSLEN and KEYLEN as-is since it is compliant with the standard, and making the current library flexible enough to handle variation in those numbers is outside the effort limitations of current members.

[2018-12-19 21:49] #877 closed

[2018-12-19 21:50] rhc54 commented on #434
I believe this has been resolved, yes? If so, can you please close it?

[2018-12-19 21:51] rhc54 commented on #130
The standard now serves as our man pages.

[2018-12-19 21:51] #130 closed

[2018-12-20 10:51] artpol84 commented on #434
@rhc54, I'd like to keep this until after NY holidays (mid Jan) due to vacations in our group.

[2018-12-20 10:51] artpol84 commented on #434
I mean we are going to re-evaluate and close once 100% sure.

[2018-12-22 15:59] rhc54 opened #1005 "Unlocking unlocked lock"
From Coverity analysis:
[code]

@artpol84 @karasevb Can you please take a look?

[2018-12-22 16:20] rhc54 commented on #1005
There are also a number of other defects reported in the test directory. I tried to fix them, but then Jenkins wouldn't pass, so I'm not sure of the correct way to resolve them. Could you please take a look?

[2018-12-22 16:20] rhc54 commented on #1005
I believe you both have Coverity access: https://scan4.coverity.com/reports.htm#v14495/p10520

[2018-12-24 00:14] artpol84 commented on #1005
Thanks, we will take care.

[2018-12-25 15:49] #1005 closed

[2019-01-04 09:58] angainor commented on #907
@rhc54 Hi, Ralph - and Happy New Year! I've tried the newest PMIx master and PRRTE master again. Some progress, but I still have trouble - might be because I'm doing things wrong.

I started `prte` on 4 compute nodes (`/prte -H c11-1:1,c11-2:1,c11-3:1,c11-4:1 -d`). Then, I ran my client program, which obtains the `PMIX_SERVER_URI` key and displays it:
[code]
So first observation is that only one r

[2019-01-04 13:16] angainor commented on #907
@rhc54 Another thing related to the last mentioned problem is that when the tool hangs in `PMIx_tool_finalize` and I press Ctrl-C, then the server doesn't ever notice that the tool is no longer active. Consequently, the namespace created for the tool remains forever on the server list of namespaces (I check using `PMIX_QUERY_NAMESPACES`).

[2019-01-04 14:04] angainor commented on #907
@rhc54 I've figured at least part of the problem: the namespace qualifier I added was not recognized, because I did not set `query[0].nqual=1`. That is not a very obvious thing to do, e.g., `example/alloc.c` doesn't do it, so it is likely wrong also. When I did that, `PMIx_tool_finalize` doesn't hang anymore, but I also don't get any entries in my query. Is it allowed to ask for `PMIX_JOB_SIZE` in

[2019-01-04 16:10] rhc54 commented on #907
rank 1: key: pmix.srvr.uri rank 1: value: 649068544.1;tcp4://127.0.0.1:49269
rank 2: key: pmix.srvr.uri rank 2: value: 649068544.2;tcp4://127.0.0.1:46542
rank 3: key: pmix.srvr.uri rank 3: value: 649068544.3;tcp4://127.0.0.1:50150
So first observation is that only one rank displays a world-accessible server URI. When I use that URI to connect my tool, it works fine. However, if I start my client o

[2019-01-04 16:16] rhc54 commented on #907
The first section states it is for ```PMIx libraries```, while the second section states it is for ```Host environments```. I believe we have begun to combine the two and just let the wordings divide them.

The ```PMIX_*_INFO``` keys listed there do exist - they just haven't been implemented yet. I'm still working on bringing the library into full compliance with the standard, which is why v3.1.0

[2019-01-04 16:21] rhc54 commented on #907
I'll address the example (hasn't been touched in a long time). I'm not sure how to make it more obvious that you need to set the number of elements in the array you are passing us. Any suggestions?

Yes, but PRRTE likely hasn't implemented it yet. However, I think I might add something to the PMIx server to check for such info before passing the request up to the host, just to make implementation

[2019-01-04 16:21] rhc54 commented on #907
Hmmm...that shouldn't happen. I'll take a look - thx!

[2019-01-05 00:59] rhc54 commented on #907
Okay, I think I have this fixed by a combination of https://github.com/pmix/pmix/pull/1022 and https://github.com/pmix/prrte/pull/187. I also fixed the case where prun would hang if the job failed to launch for some reason.

[2019-01-05 20:19] rhc54 commented on #907
I believe I have now addressed the concerns about the examples being out-of-date and implemented the server checking its cache for queried info before asking the host. This should let you find the PMIX_JOB_SIZE for your child job.

Last thing I plan to do is implement a simpler way for you to query the server URI of a remote PMIx server. You probably already realized that you can use PMIx_Get with

[2019-01-06 16:22] ax3l opened #1025 "Adding CI with Sanitizers"
Hi,

are you planning to add CI to the PMIx repo?

One build could include a build and run with `-fsanitize=address` in order to avoid introducing memory leaks and violations in updates.

[2019-01-07 08:39] angainor commented on #907
This worked! I guess integration into OpenMPI and/or SLURM is a different topic, but at least when you use `mpirun` then it seems to me that the main node would be one of the assigned compute nodes anyway. So you might as well provide address to all servers. Anyway, this worked :)

[2019-01-07 08:47] angainor commented on #907
@rhc54

Well, the best would of course be if one wouldn't have to do it at all. I do provide this information already when creating the qualifiers list, so explicitly setting `nqual` is a bit excessive:
[code]
One way would be to hold the size info in the `pmix_info_t` list, but it seems it's a lot of work. Unless you would allocate `n+1` entries and mark the last one as end of list. You could the

[2019-01-07 09:15] angainor commented on #907
Still having problems here - the `PMIX_JOB_SIZE` is not returned, and `prte` server prints the following message when I run my tool:
[code]
So somehow job size is still not recognized when I provide the `PMIX_NSPACE` qualifier. It's fine without it, of course.

The left-over namespaces are also still there. Each time I run the tool, namespace info is created on the PMIx server I connect to. Maybe

[2019-01-07 09:17] angainor commented on #907
A general node. It would be useful to have some server / RM capabilities query method. Since most keys / attributes are not obligatory, it would make users' life easier to ask for what can be used. Or is there such an interface already?

[2019-01-07 14:08] amckinstry opened #1032 "REGRESSION: 3.1.0rc2 fails on 32-bit archs"
This is testing within Debian.

3.1.0rc1 works fine; 3.1.0rc2 fails on 32-bit archs.

See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=918157

This is with openmpi 3.1.3.  This will not compile as it stands with rc2 (rc1 was fine), so there was a patch needed:
https://salsa.debian.org/hpc-team/openmpi/blob/debian/master/debian/patches/pmix-modex.patch

Which would be instantly suspect, except

[2019-01-07 15:43] rhc54 commented on #1032
I'm unsure if this is a PMIx problem or an issue in the OMPI glue code - certainly, the change you cite to get it to compile is one required over there. As we've stated, the PMIx v3.1.0 release will be fully compliant with the v3 standard. The pmix_info_array_t data type was deprecated in v2 of the standard and subsequently removed in v3 - hence it has been removed from v3.1.0rc2 as we continue to

[2019-01-07 16:11] ggouaillardet commented on #1032
`mpirun -n 2 -mca btl self ./a.out` is unlikely to work.
If `pml/ob1` is used, then it will always fail. It can only work if an other `pml` is used, and that typically happen when some specifically hardware/software is available (typically OmniPath or UCX) and `btl/self` is not used in that case.

I have some hard time understanding the patch.
One patch is for the embedded PMIx, and the other is f

[2019-01-07 16:33] rhc54 commented on #1032
Minus the removed pmix_info_array_t, it should actually work. All that would be required is to adjust the ext2x component so it doesn't reference that datatype. However, so far as I know, that (PMIx v3.x with OMPI v3.x) is a configuration OMPI doesn't support.

[2019-01-07 16:36] rhc54 commented on #907
I might be able to do something along these lines - let me play a bit with it. Thanks for the suggestions!

[2019-01-07 16:43] amckinstry commented on #1032
If I run the code with `mpirun -n 2 ./a.out` I get:
[code]

So, no line reporting where the error is, but still an error.

The patch is a bit of a hack to get openmpi 3.1.3 compiling with pmix 3.1.0rc2 (I'm not expecting these to be the versions to ship in Debian 10, but wanted to shake out any errors ASAP, and so test rc2). The two patch parts just make sure the code will compile without PMIX_MOD

[2019-01-07 21:47] Zwilla opened #1033 "undefined symbol pmix_cb_t_class"
Error: pmix_mca_base_component_repository_open: unable to open mca_gds_ds21: /usr/local/lib/libmca_common_dstore.so.0: undefined symbol: pmix_cb_t_class (ignored)

OS: Ubuntu

[2019-01-07 22:16] rhc54 commented on #1033
Could you please tell us what version of PMIx you are using?

[2019-01-08 00:07] Zwilla commented on #1033
Hi, sure I was using master

[2019-01-08 00:11] rhc54 commented on #1033
Check to see if you might have installed on top of a preexisting installation. Looking at the code, I see no way that error could be correct. I'd blow away your installation, re-clone master, and rebuild.

[2019-01-08 04:14] rhc54 commented on #907
I got the PMIX_JOB_SIZE query working now - take a look at the PRRTE examples/tool.c code to see how it all works now. It also prints out a nice "ps-like" report on what is running.

I checked the namespaces using that example tool and I can't replicate. Please give it a try and see if you still see the same problem. You'll need to update both PMIx and PRRTE masters - be sure that PRRTE is buildin

[2019-01-08 08:30] angainor commented on #907
@rhc54 Great, all works now! And I don't see the nspace buildup anymore. Actually, now the tool namespace is not mentioned on the list of namespaces at all, and all I see when I provide a server URI is the client namespace.

Just as a curiosity, I found one 'hidden' namespace, which can be queried, but is not listed by `pmix.qry.ns`. I start the client:
[code]
The client namespace is `3064528899`,

[2019-01-08 10:39] rhc54 commented on #907
Yes - I don't show tools that are not launchers as you cannot connect to them plus the underlying base DVM. I suppose that latter should be shown as it is "attachable" - easy enough to do.

I'll get the extensions we discussed done soon, hopefully today or at latest tomorrow.

[2019-01-08 17:45] rhc54 commented on #907
Okay, I added the prte job itself to the report: https://github.com/pmix/prrte/pull/192

[2019-01-09 10:14] artpol84 commented on #665
I think we can finally close this!!

[2019-01-09 10:14] #665 closed

[2019-01-09 14:49] amckinstry commented on #1032
Thanks @ggouaillardet that appears to be working ok here. My simple tests worked, testing via CI now.

[2019-01-09 19:17] rhc54 commented on #1032
This is now in both PMIx master and v3.1.0 branch, and associated changes in OMPI master have been made. The PR into OMPI v3.x has been accepted and should be in the next release there.

[2019-01-09 19:17] #1032 closed

[2019-01-10 02:26] ggouaillardet opened #1042 "prun crashes with PMIx v3.1"
from the latest `prrte/master` and `pmix/v3.1` branches, `prun` crashes
because `pmix_server_globals.system_tmpdir` is `NULL`.

fwiw, the patch below is good enough, though I am not sure this is the right fix.

[code]

[2019-01-10 02:30] rhc54 commented on #1042
I saw this too, but haven't had a chance to look at it yet. I suspect that is the correct answer, but I'm puzzled as to how the system_tmpdir is NULL. Let me take a gander and see what's going on and why master doesn't have it.

[2019-01-10 02:35] rhc54 commented on #1042
I found it - the pmix_tool.c code is out-of-date. I'll update it and check for any other lagging code.

[2019-01-10 03:08] rhc54 commented on #1042
Wow - there's a bunch of files that are out-of-date. Guess cherry-picking missed quite a few commits somewhere. I'll do an update and reissue the RC.

[2019-01-10 04:34] ggouaillardet commented on #1042
I confirm this issue is fixed in `rc4` :-)

I found a memory leak with `prun -n 1 ./hello` (from the `examples` directory of `pmix`.
I did not test `master` but since this is not a missing cherry-pick, `master` might leak too ...

The patch below fixes it

[code]

[2019-01-10 04:42] rhc54 commented on #1042
Kewl - I left the tarballs as they are and we'll just pick things like this up as we go. Would you file a PR against master (if needed) and then I'll cherry-pick it to v3.1?

[2019-01-10 04:42] ggouaillardet commented on #1042
yep, I will do that.

[2019-01-10 07:37] ggouaillardet opened #1045 "hwloc and embedded mode"
If I build Open MPI with the embedded `hwloc` and `PMIx`, the (mangled) `hwloc` symbols provided by `libopen-pal.so` are used (for example in `mca_pnet_opa.so`) __but__ this pmix plugin is linked with the system `libhwloc.so`.

The reason is when `hwloc` is detected, `-lhwloc` is appended to `LIBS` by `config/pmix_setup_hwloc.m4`.

`config/pmix_setup_libevent.m4` assumes everything is there when b

[2019-01-10 13:46] rhc54 commented on #1045
?? OMPI is supposed to pass ```--with-hwloc=xxx``` to the PMIx configure line to avoid this precise problem. Perhaps it is missing this since we didn't use hwloc in PMIx for awhile? Let me poke at it.

[2019-01-10 13:57] rhc54 commented on #1045
Oh, I think I see what you are driving at - what happens when they pass ```--with-hwloc=internal```? Yeah, that would be a problem, but the best solution really is for us to deal with that in the OPAL configure code. We need to detect it there and ensure we set ```--with-hwloc``` to the right thing for the pmix component. Let me talk with @jsquyres about the best solution.

[2019-01-10 14:32] ggouaillardet commented on #1045
`—with-hwloc=internal` could be a distinct issue.

I faced the issue __without__ any `—with-hwloc` option, and Open MPI defaults to the embedded hwloc since it is more recent than the OS hwloc (e.g. CentOS 7)

Anyway, in both cases we do not want to append `-lhwloc` to the embedded pmix `LIBS`

[2019-01-10 14:37] rhc54 commented on #1045
Okay, thanks for clarifying. I think we have two distinct issues here:

- we need to ensure we are looking at the correct hwloc to match what OMPI is using
- we don't want to add hwloc to the PMIx LIBS in embedded mode

I think the latter likely needs a change in PMIx itself, but the former is likely the sole responsibility of the OPAL configure code.

[2019-01-10 14:55] ggouaillardet commented on #1045
As long as ompi does not pass `—with-hwloc=internal` to the embedded pmix, I think PMIx looks at the hwloc it should.

[2019-01-10 17:08] rhc54 commented on #1045
I believe I have addressed this - doing some more checking with OMPI now. I found the following statement to be puzzling:

The very same logic cannot be applied here since hwloc is optional by default.

I see no reason why we cannot just use the libevent configure logic here. If the builder specifically passes the ```--enable-embedded-hwloc``` flag, then so far as I'm concerned, they are guarantee

[2019-01-10 17:50] #1045 closed

[2019-01-10 22:30] jjhursey opened #1049 "PMIx_generate_regex may not preserve ordering"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

`v2.2rc2` (it doesn't look like this changed much on `master`) tarball

-----------------------------

## Details of the problem

A PMIx server must use `PMIx_generate_regex` to generate the string value to pass for `PMIX_NODE_MAP`, and pair it with `PMIx_generate_p

[2019-01-10 23:09] rhc54 commented on #1049
FWIW: quick check of my email archive shows that ORTE was getting close to 10x compression on the launch message string using zlib (that was dated 10 years ago!). There was a note that lzo (https://www.oberhumer.com/opensource/lzo/) did better, but I haven't verified it. Note that lzo is GPL so we need to be careful if you decide to use it.

Given that we are looking specifically at node names, an

[2019-01-11 01:48] jjhursey commented on #1049
Yeah we could use the `pmix_util_compress_string` and `pmix_util_uncompress_string` functions.

That would be a neat feature to investigate, but we would need a different attribute to pass it along so we knew how to parse it properly.

[2019-01-11 01:59] rhc54 commented on #1049
Just prefix the result with something like "zlib" instead of "pmix", and then adjust the code to recognize it so we know to use those utils instead of the regex functions. Or we could go the true glory road and create a new regex framework 😄

[2019-01-11 04:14] #1049 closed

[2019-01-11 08:00] rhc54 commented on #1042
Are we ready to close this? I think v3.1 is ready to go - at this point, I'm thinking I'd update the OMPI PR and ask that they merge it for MTT exposure, then wait a week to see how that does before officially releasing. Make sense?

[2019-01-11 08:11] rhc54 commented on #907
@angainor I have made progress and/or completed almost all the items discussed on this ticket.

You can now get the PMIX_SERVER_URI for any PRRTE daemon by simply doing a PMIx query for that attribute, passing a qualifier of the hostname. I haven't quite figured out how we would deal with multiple PRRTE daemons on a node - they won't know about each other, though we could search the rendezvous dir

[2019-01-11 08:42] ggouaillardet commented on #1042
yep, let's close this !

[2019-01-11 08:42] #1042 closed

[2019-01-11 14:43] jjhursey commented on #1049
The problem with adding a new prefix is the cross version issue. If the client is running an older version that doesn't recognize the `zlib` prefix, then it'll fail. If it's a new component to the regex framework then I think that would work since we should be negotiating the selection of the component during the handshake (right?).

[2019-01-12 05:20] rhc54 commented on #907
Completed!

[2019-01-12 16:07] rhc54 commented on #840
Cross-version test results:
[code]

[2019-01-13 19:46] rhc54 commented on #839
Crossversion results:
[code]

[2019-01-13 19:47] rhc54 commented on #969
Done!

[2019-01-13 19:47] #969 closed

[2019-01-13 19:47] rhc54 commented on #1033
Please reopen if it persists.

[2019-01-13 19:47] #1033 closed

[2019-01-14 13:44] angainor commented on #907
@rhc54 Thanks Ralph! I'm a bit busy now, so it will take me a while to get through this. But one thing I looked is not clear to me. You said

But looking quickly at the `tool.c` example and the `if (geturi) {...}` section I don't see the hostname being used anywhere. So the `--uri` command line argument seems unused.

I'll play around a bit more probably end of this week.

[2019-01-14 15:14] rhc54 commented on #907
😆 wow - I shutdown the VM before committing the changes! Old man's brain is truly fried. I'll update immediately. Thanks for pointing it out!

[2019-01-15 03:36] artpol84 commented on #143
@karasevb please address

[2019-01-16 16:32] rhc54 opened #1067 "Automated document checker"
This request is being filed in both the PMIx Standards and PMIx Reference Implementation repositories, with cross-references between them.

We need a Python script that can cross-check the Standards document with the corresponding PRI version to detect attributes, constants, macros, and functions that are either:

- defined in the Standard but not present in the PRI
- present in the PRI but not co

[2019-01-16 16:33] rhc54 commented on #1067
Refs https://github.com/pmix/pmix-standard/issues/149

[2019-01-16 19:10] rhc54 opened #1068 "New regex generator"
The current regex plugin searches incoming node names for a particular pattern:

- a prefix composed solely of alphabetic characters
- a set of numbers that are expected to grow from node-to-node - e.g., "001" in one node name, followed by another node name with the same prefix and "002"
- a suffix composed solely of alphabetic characters

This pattern serves a wide range of the community. However

[2019-01-16 19:23] rhc54 opened #1069 "Registration mechanism for handshake components"
When a client or tool connects to a PMIx server, the two processes engage in a handshake that includes a fair amount of information such as:

- the PRI version of the library they are linked against (the two may differ!)
- the bfrops component being used
- the type of buffer being used (debug vs optimized)
- the gds component

etc. As frameworks continue to be added, this list continues to grow. C

[2019-01-16 21:35] rhc54 opened #1070 "Segfault after multiple test cycles"
I have a report of a segfault in the PMIx server's messaging system after running 90 or so tests. The reporter has only been able to replicate this in a Travis testing environment, so it is likely a somewhat obtuse race condition.

Probably the best way to replicate is to setup a Travis-enabled fork of the SOS project (https://github.com/Sandia-OpenSHMEM/SOS) and edit .travis.yml as per https://gi

[2019-01-17 15:23] ggouaillardet commented on #1070
Here is a backtrace (latest `master` branch from both `pmix` and `prrte`)

[code]

the issue is with `prev`
[code]

I applied the patch below, and indeed, once in a while, `prev` is used uninitialized and the patched `prte` crashes in the `assert()`.
I do not know whether this is something that should never ever happen, or if this is something that has to be handled properly.

[code]

[2019-01-17 15:49] rhc54 commented on #1070
Ah...I see the problem. If there are no codes (ncodes = 0, meaning they are registering a default event handler), then they fall directly down to the "cleanup" label. The variable rc defaults to PMIX_SUCCESS, and so we fall down to the start of the "for" loop on line 1885.

If events have been cached, the newly registered default handler will pass the initial check and be marked as "found". Thus,

[2019-01-18 02:06] ggouaillardet commented on #1070
@rhc54 thanks !

not sure whether this is related or not, but a dumb `prun -host localhost -n 1 hostname` now hangs in travis, see https://travis-ci.com/ggouaillardet/SOS/jobs/171307133 for example.

I only refreshed pmix on my laptop and it works fine, so the issue might come from a prrte update.
I will unlikely be able to investigate this before Monday.

[2019-01-18 04:12] rhc54 commented on #1070
Hmm...that's odd. I'll check it out here.

[2019-01-18 14:46] rhc54 commented on #1070
Sigh - yep, I found it. This change is what broke it. The return code when registering the default handler has to be OPERATION_SUCCEEDED since it was done atomically. Otherwise, the server thinks that a callback is going to be executed later and the client never gets a reply.

What is weird is that all the Jenkins tests passed as did my simple tests - and at least the latter include registering de

[2019-01-21 14:46] rhc54 commented on #681
Sure, we can discuss this Thurs - I'll add it to the agenda when I send it out.

Just to clarify: the inclusion of data type for generic system types such as "size" has nothing to do with the choice of bfrops module. The problem is that the size of system types depends on the OS and libc being used on the system housing the sender vs the receiver of the message. While those are often the same, the

[2019-01-21 17:10] karasevb opened #1082 "Slurm integration broken with PMIx v3.1"
According to our MTT results PMIx v3.1 was broken for Slurm integration started from Dec 17:
https://mtt.open-mpi.org/index.php?do_redir=3159

This started from PR https://github.com/pmix/pmix/pull/984, where `PMIX_VAL_FIELD_x` macroses were moved  from `include/pmix_common.h.in` to `test/test_common.h`. These macros are used for the Slurm PMIx plugin that currently lost an integration with PMIx v

[2019-01-21 18:21] rhc54 commented on #1082
I see the issue. As we stated on the mailing list, v3.1 was to be the first release fully compliant with the PMIx v3 Standard. The macros you refer to were never part of the standard, and so we moved them from the user-facing header to the test area. IIRC, Artem had indicated that the macros in the standard were sufficient replacements - but clearly, the coordination of the non-standard ones didn'

[2019-01-22 04:51] artpol84 commented on #1082
@rhc54 I’d like to have this issue open until we resolve in some way.

As another option I was hoping that we can have those macro’s in deprecated mode in v3.1 and we will update the plugin in the next Slurm release to v4.0 + will fully migrate to standard means.

My concern is that existing Slurm versions that was working with v3.x now don’t.

I’ll talk to Slurm community to see if we can fix it

[2019-01-22 06:03] artpol84 commented on #681
With the new flexible encoding one has explicit information about how much the value occupies. I think it should help to solve this issue in a different way.

[2019-01-25 09:11] angainor commented on #907
@rhc54 I finally went through the last changes, and the updated examples, and all works fine on master now :) great!

[2019-01-25 14:12] rhc54 commented on #907
Excellent! I'm going to go ahead and close this now. I am almost done with the last thing you requested, a method by which you can learn what attributes are supported, and should be committing it soon (hopefully late today).

[2019-01-25 14:12] #907 closed

[2019-01-31 13:45] krempel-pt opened #1092 "PMIX_NUM_SLOTS not defined in v3.1.2"
This is about PMIx v3.1.2 which should be fully compliant to PMIx Standard v3.0.

PMIX_NUM_SLOTS described in PMIx Standard v3.0 on page 63 line 27 is not defined in pmix_common.h.

Nor can it be found anywhere else in the source code, so i guess the equivalence to PMIX_UNIV_SIZE described on page 224 in line 16 of the Standard is not yet given.

[2019-01-31 14:07] rhc54 commented on #1092
Correct - PMIX_NUM_SLOTS was removed in PMIx Standard v3.1(draft) as it is duplicative to PMIX_UNIV_SIZE. However, I should have noted it in the "history" section - I will update the draft to do so.

[2019-01-31 15:00] rhc54 commented on #1092
Updated history:
[code]
Thanks!

[2019-01-31 15:00] #1092 closed

[2019-02-06 11:59] karasevb opened #1099 "Generalize `bfrops` components"
According to Issue #681, I'm working on the implementation of new flexible packing with a new component `bfrops`.
My question is to avoid duplication of code and simplify future bfrops multi-component support.

**Details:**
I forked bfrops v3 to v4 and modified it for use new flexible packing by changing pack/unpack registration functions. We want to use new pack/unpack functions for all integer t

[2019-02-06 12:02] karasevb commented on #1099
@rhc54 @artpol84
Do you have any objections/suggestion?

[2019-02-06 14:45] rhc54 commented on #1099
Looks like a really good way of doing it so long as the result remains unchanged.

[2019-02-06 20:25] raffenet opened #1100 "unable to build with --enable-embedded-libevent"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master @ f752b0f62cba1135bf55336c2d53305523fa5dea

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### Please describe the system on which you are r

[2019-02-06 20:33] rhc54 commented on #1100
There is no embedded libevent in the PMIx library - it requires that there be an external one installed on the system. Ditto for hwloc, for that matter.

[2019-02-06 20:35] raffenet commented on #1100
OK. It's easy enough to build libevent on my own and point PMIx at it. However, my first instinct to look in `./configure --help` led me to believe there was an embedded one. https://github.com/pmix/pmix/blob/master/config/pmix_setup_libevent.m4#L22

[2019-02-06 20:36] rhc54 commented on #1100
I see where the confusion comes from - there are flags for support of OMPI's embedded libevent and hwloc. Let me see if we can find another name for those flags or maybe another way of supporting them.

[2019-02-07 00:49] ggouaillardet opened #1101 "PMIX_NUMERIC_VERSION semantic"
What is the definition of `PMIX_NUMERIC_VERSION` ?

Is this related to the version of the PMIx standard ?
Or is this related to the version of the current release (e.g. `(PMIX_VERSION_MAJOR<<16) | (PMIX_VERSION_MINOR<<8) | PMIX_VERSION_RELEASE)` ?

In the latter case, `PMIX_NUMERIC_VERSION` is not correctly set in some releases (such as `3.1.2`) and I can have it autogenerated by `configure`.

[2019-02-07 01:15] rhc54 commented on #1101
It should be the latter - I know I missed updating the last digit in some cases. Having it autogenerated would be a good thing and much appreciated (I just haven't had time to do so).

[2019-02-07 03:24] rhc54 commented on #1100
I have removed those flags - thanks for bringing them to my attention!

[2019-02-07 03:24] #1100 closed

[2019-02-07 19:18] artpol84 commented on #1099
It looks good to me as well.
Let's implement this.
To decouple this change from the flexible packing thing I suggest to implement this infrastructure change first in a separate commit and create a bfrops 4 as a subsequent one.

[2019-02-08 09:20] ggouaillardet commented on #1101
PR were merged into `master` and all release branches >= 2.2

[2019-02-08 09:20] #1101 closed

[2019-02-11 13:14] akesandgren opened #1114 "Strange occasional segfault in pmix_gds_ds21_lock_init"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

PMIx 2.2.1 release

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

From source

### Please describe the system

[2019-02-11 15:17] lipixx opened #1115 "Intel MPI not working with pmix v2 and v3"
Coming from https://bugs.schedmd.com/show_bug.cgi?id=6418 we've found that Intel MPI is not
working with pmix v2 and pmix v3.

Intel MPI with pmix 1.2.5 works just fine.

[code]

Our question here is if you have any background information on why Intel MPI is not working starting at pmix v2 and what are the changes that broke this compatibility.

We guess that Intel MPI is who has to fix their code

[2019-02-11 15:55] artpol84 commented on #1114
@akesandgren Can you provide more details on how to reproduce?

[2019-02-11 16:06] akesandgren commented on #1114
At the moment I don't have a simple reproducer. It's CP2K 6.1 with OpenMPI 3.1.1, PMIx 2.2.1, UCX 1.4.0.
The system it's running on are, as I said, old ConnectX-2 cards on an old AMD Bulldozer system.

The problem only happens now and then and it's running on +200 cores spread over 10-15 nodes.

I was hoping that someone would have a good idea :-) but since it happens during MPI_Init I can try a f

[2019-02-11 16:47] akesandgren commented on #1114
Ohhh, a simple hello_world causes the segfault.
This may be caused by our setup, but I don't think it should segfault anyway. And it doesn't happen every time.

[code]
Compile with GCC 7.3.0, OpenMPI 3.1.1, PMIx 2.2.1, UCX 1.4.0
Run with Slurm 18.08.4
[code]
Our setup for slurm allows multiple users to run on the same node, contained in their own cgroup.
So the above job may end up on anywhere bet

[2019-02-11 16:48] akesandgren commented on #1114
If there's anything you want me to check, rebuild with other flags or so, just let me know.

[2019-02-11 16:59] rhc54 commented on #1114
Could be you are getting overlapping shared memory backing files due to the multi-user scenario.

[2019-02-11 17:44] rhc54 commented on #1115
I read thru the Slurm bug report. Sadly, I don't know how to directly add those folks to this issue, so I'm going to copy this response over there (at least, the relevant parts).

1. Intel MPI doesn't directly link against any PMI(x) library to avoid licensing issues. This is why you don't see the linkage in the ```mpicc``` cmd line or when looking at the executable. Instead, IMPI looks for the ``

[2019-02-11 18:27] akesandgren commented on #1114
Shouldn't be since each job has it's own set of /tmp and /var/tmp

[2019-02-11 18:58] rhc54 commented on #1115
I'm unaware of any reason why that wouldn't work - let me ask my IMPI friends and get back here on it.

[2019-02-11 19:51] rhc54 commented on #1115
Just been told that IMPI 2018 doesn't directly support PMIx, so what is happening here is that you are actually falling back to the PMIx libpmi1 wrapper. It appears that IMPI is looking for some PMI envars as well as specific values being available from the server.

I'm therefore rather surprised that it worked with any PMIx version. I'll take a look, but I'm unaware of any change to the PMI backw

[2019-02-11 19:54] rhc54 commented on #1115
@artpol84 @karasevb Another approach would be to compare the PMI-1 plugin with the PMIx one and see what values might be missing. I suppose one could also compare the PMIx v1.2.5 plugin with that for PMIx v2.x and see if there is some obvious difference?

[2019-02-11 20:29] justbennet commented on #1115
Thanks, Ralph.

The naming and versioning is a bit confusing, but it sounds like PMI2 and PMIx2 are both out with respect to IMPI and we should use the Slurm PMIx 1.2.5 plugin for IMPI jobs.

PMI2 is something from the MPICH side of the house, right, and that would be separate and distinct from PMIx, except insofar as PMIx is trying to provide a compatibility layer?

[2019-02-11 20:48] rhc54 commented on #1115
Sorry about the confusion - let me try to clarify. PMI-1 and PMI-2 are indeed both MPICH creations. The change in version there indicates a fairly major change to the API signatures themselves, and so the two are incompatible. I understand that IMPI defaults to support PMI-1 interfaces.

PMIx deliberately chose to maintain API-level compatibility across versions. We had a few hiccups at the start,

[2019-02-12 07:10] akesandgren commented on #1114
And it also happens if I'm alone on all 6 nodes.

[2019-02-12 07:43] akesandgren commented on #1114
Some more data.
I'm running repeatedly on the same six nodes (288 tasks) all connected to the same leaf switch.
It randomly segfaults on different nodes, sometimes only one task sometimes more.
In all cases today, seg_hdr has been pointing to inaccessible memory.
(Running with a --enable-debug build of PMIx)

All 6 slurmstepd (one per node) also segfaults, but in pmix_ptl_base_lost_connection.
Cur

[2019-02-12 10:18] lipixx commented on #1115
Ralph, thank you so much for your clarifications, they help a lot.

Just a note, Slurm is working well with all test cases, except for using Intel MPI with a PMIx > 1.2.5,
where it fails exactly as when I test to run completely outside Slurm, but as you noted and for
the future we will take into account that PMIx compatibility with PMI-1 and PMI-2 API may not be
always complete, and neither the pe

[2019-02-12 13:03] justbennet commented on #1115
Ralph, yes, thank you for the detailed explanation. Please close this issue if you would like.

We purchase support from Intel, so I will see if they can shed any light.

[2019-02-12 13:56] rhc54 commented on #1115
Do please let us know here what happens - someone else may encounter the same problem ☹️  I'll go ahead and close it for now and we can reopen if it does result in something we need to address.

[2019-02-12 13:56] #1115 closed

[2019-02-12 13:59] rhc54 commented on #1114
Try adding "PMIX_MCA_gds=^ds21" to your environment - let's see if the problem is solely due to the new shared memory component.

[2019-02-12 14:20] akesandgren commented on #1114
It does look like that eliminated the problem. At least I've been able to run this >20 times in a row without problems. It used to fail much sooner.

[2019-02-12 15:07] rhc54 commented on #1114
Okay, that helps isolate it a bit. Unless you are using Spectrum MPI, you likely won't notice the performance difference between the old and new shared memory plugins, so that MCA param setting should be fine for production until the problem can be fixed in a future release. You can add it to the "pmix-mca-params.conf" file in the "etc" directory wherever you installed PMIx - just add a line:
[cod

[2019-02-12 15:10] akesandgren commented on #1114
This has only been seen with OpenMPI and srun at the moment. Workaround already implemented.

Anything else you'd like me to test? valgrind run? something else?
I still have the 6 nodes reserved for a while.

[2019-02-12 15:11] rhc54 commented on #1114
I'd have to defer to @artpol84  - Artem, any thoughts?

[2019-02-12 15:29] akesandgren commented on #1114
One strange thing is that this does not happen on our other cluster with the exact same software stack.
The hardware is different but that's all.

[2019-02-13 05:40] ggouaillardet commented on #1114
@akesandgren can you please double check your SLURM version, the PMIx library used by SLURM (it might be different from the one used by Open MPI) and your Open MPI version ?

From what I can tell, Open MPI 3.1 calls `ompi_interlib_declare()` that registers an event handler with code  `OPAL_ERR_MODEL_DECLARED` (aka `PMIX_MODEL_DECLARED`). This will always fail since it is a system event (as returne

[2019-02-13 06:55] akesandgren commented on #1114
The OpenMPI used in this test case is 3.1.1, built with PMIx 2.2.1 and UCX 1.4.0, all built with GCC 7.3.0
OpenMPI, and all other user level software, is handled by the module (LMod) system.

Slurm version is 18.08.4 built against PMIx 2.2.1 (and 1.2.5 and 3.1.1), and UCX 1.4.0.
Slurm is not handled by the module system.
Slurm was compiled with:
--with-ucx=/lap/ucx/1.4.0 --with-pmix=/lap/pmix/3.1.

[2019-02-13 06:58] ggouaillardet commented on #1114
@akesandgren the patch was the missing part, I will apply it and try again, thanks !

[2019-02-13 08:27] ggouaillardet commented on #1114
@akesandgren can you please post your UCX, PMIx and Open MPI command lines ? I am currently unable to reproduce the issue on my cluster (6 nodes, 24 cores per node but I declared 48 in `slurm.conf` so I can run 288 MPI tasks per job)

[2019-02-13 08:34] akesandgren commented on #1114
As i said previously, I can't reproduce it on our other cluster. So i'm not that surprised you can't.
And the builds are identical with respect to configure and build flags.
The hardware differs of course but that's all.

I'll post them later today.

[2019-02-13 09:10] akesandgren commented on #1114
Note also that I'm starting mpi_hello with srun and not mpirun.

[2019-02-13 09:57] rhc54 commented on #1114
Just to check: there are two shared memory components in the system. We have verified that things run correctly if we exclude one of them (ds21). Let's just check to see if the problem is that component, or running with both components.

Please set ```PMIX_MCA_gds=^ds12" in your environment and try it again.

[2019-02-13 14:01] akesandgren commented on #1114
With PMIX_MCA_gds=^ds12 is segfaults, but still only intermittently.

[2019-02-13 14:41] rhc54 commented on #1114
@akesandgren Thank you! It confirms that this is something definitely in the new shared memory component.

[2019-02-18 20:40] jsquyres opened #1121 "pdl/pdlopen component fail when compiled statically"
Cisco's Open MPI MTT is seeing linker failures when trying to link MPI test applications when Open MPI (master) has been built statically with the embedded PMIx (4.x) with the pdl/pdlopen component:

[code]

For example: https://mtt.open-mpi.org/index.php?do_redir=3164

I'm guessing the `pdl` framework was copied from Open MPI's `dl` framework, and after a quick troll through Open MPI's `dl`, I'm

[2019-02-18 21:08] rhc54 commented on #1121
Odd - just comparing OMPI to PMIx frameworks, it appears a major change was done to the OMPI one at some point after we copied it. I don't see a post_config section in the dlopen component for OMPI, but we have one for PMIx. I wonder if that's the difference?

[2019-02-18 21:17] rhc54 commented on #1121
I found one difference (other than that post_config), but I'm not sure how to resolve it. OMPI has the following in the dlopen component's configure.m4:
[code]
PMIx doesn't have the equivalent because we don't have wrapper compilers. Is it possible that this is what breaks the app compile under static builds?

[2019-02-19 11:24] krempel-pt opened #1122 "segfault in pmix_ptl_base_lost_connection()"
### What version of the PMIx Reference Library are you using?
v3.1.2

### Describe how PMIx was installed
Compiled from the release tarball using
configure --disable-static --enable-shared --enable-pmi-backward-compatibility --with-munge

### Please describe the system on which you are running
* Operating system/version: CentOS Linux release 7.5.1804 (Core)
* Computer hardware: Intel Xeon E5-2650

[2019-02-19 13:13] rhc54 commented on #1122
We have been working on resolving race conditions in that area of the code, but I confess this is a new one to me. Can you provide any details on what the client processes were doing at the time one or more failed? Were they engaged in some PMIx collective op like "fence"? Did multiple procs fail or just one? Etc. Any further info would be helpful.

[2019-02-19 15:35] krempel-pt commented on #1122
Unfortunately I cannot give you much more information, since reproducing of the problem is hard since it occurred in situations that I tried to avoid.
As far as I can say, the clients were stuck for some reasons in a fence operation and the segfault happened in the server during or after terminating the clients by sending them a SIGTERM.

[2019-02-19 16:52] krempel-pt opened #1123 "Question on error messages from gds_ds12_lock_pthread.c"
### What version of the PMIx Reference Library are you using?
v3.1.2

### Describe how PMIx was installed
Compiled from the release tarball using
configure --disable-static --enable-shared --enable-pmi-backward-compatibility --with-munge

### Please describe the system on which you are running
Operating system/version: CentOS Linux release 7.5.1804 (Core)
Computer hardware: Intel Xeon E5-2650
Netw

[2019-02-19 17:25] rhc54 commented on #1123
It looks like it is some kind of race condition during finalize, which is why it isn't impacting anything.

@artpol84 @karasevb Can you guys please take a look?

[2019-02-19 17:26] rhc54 commented on #1122
No need - you told me exactly what I needed to know. I was chasing down the same issue this weekend and have a fix that I will backport to the release branches later this week.

[2019-02-20 15:49] rhc54 commented on #1121
I just built PMIx master ```--enable-static --disable-shared``` and then used it with PRRTE to compile test apps using the ```pcc``` wrapper compiler. Everything built and ran fine, so I suspect this is an OMPI configure issue.

[2019-02-20 17:56] karasevb commented on #1123
@krempel-pt
Could you show an output with: `export PMIX_MCA_pmix_gds_base_verbose=10`?

[2019-02-21 05:35] artpol84 commented on #1114
@rhc54 I don't think it confirms that.
If tried with With PMIX_MCA_gds=ds12 with success - then yes it confirms. Or am I missing something from the previous exchange?

[2019-02-21 05:35] artpol84 commented on #1114
Ok, I see that it was already tried.

[2019-02-21 05:44] artpol84 commented on #1114
@karasevb will take a closer look later this week.

[2019-02-21 11:45] karasevb commented on #1099
Refs https://github.com/pmix/pmix/pull/1126

[2019-02-21 20:24] artpol84 commented on #1114
@edgargabriel FYI, @rhc54 asked me to refer you here so you can update if you will have any results on AMD/Bulldozer cluster testing.

@rhc54 I think it might be harder than that as the problem appears with Slurm only.
@akesandgren is that correct?

[2019-02-21 21:10] akesandgren commented on #1114
I've only tested with slurm and starting with srun.
Anything you can come up with for testing just let me know, I still have 6 nodes reserved.

[2019-02-22 02:40] rhc54 opened #1127 "PMIx Fence optimizations"
PMIx libraries may choose to implement an optimization for the case where only the calling process is involved in the fence operation by immediately returning PMIX_OPERATION_SUCCEEDED from the client's call in lieu of passing the fence operation to a PMIx server. Fence operations involving more than just the calling process must be communicated to the PMIx server for proper execution of the includ

[2019-02-22 02:44] rhc54 commented on #1127
The client-side optimization would be executed in src/client/pmix_client_fence.c

The server-side optimization would be executed in src/server/pmix_server_ops.c, in the pmix_server_fence function

[2019-02-22 21:01] rhc54 opened #1128 "Symbol confusion"
I've had a report from a 3rd party that is attempting to link PMIx, PRRTE, and Portals 4 together in an application. The issue is that PMIx and PRRTE both link against libevent, while Portals 4 links against libev. Sadly, the two event libraries have overlapping symbol names - and are incompatible with each other.

Because all three elements are linked against external versions of the respective e

[2019-02-22 21:02] rhc54 commented on #1128
@jsquyres @bwbarrett Adding you guys since you know a lot about this area and may already have solved similar problems.

[2019-02-23 03:57] jsquyres commented on #1128
I don't know of a good answer here, either.  Mixing multiple libraries that have an overlap of symbols is... no good.

The only way to fix this *might* be to not directly link in libevent (or libev), and instead `dlopen()` libevent (or libev) in a private namespace.  And call everything in that library via function pointer -- and since you *can* control the namespace of the function pointers, you'

[2019-02-23 04:20] rhc54 commented on #1128
Not sure - perhaps @bwbarrett knows? Note that it would only show if you build with an external libevent as the internal one has its symbols renamed. It could just be that nobody has tried that combination, or tried it and learned to avoid it.

I'm trying to see if I can make PRRTE able to use either event library. I understand that there are just a couple of functions that cause the problem - mig

[2019-02-23 11:47] jsquyres commented on #1128
Mmmm.  Yes, that's an interesting idea: perhaps we could just make a `libev` plugin for our libevent frameworks...?  That might be the easiest path forward.

[2019-02-24 16:14] rhc54 commented on #1128
Well, I was able to make PMIx compile against libev. However, it won't run yet so there is some debugging to do. For anyone interested in poking at it, it is here: https://github.com/pmix/pmix/pull/1129

[2019-02-25 05:30] ggouaillardet commented on #1128
I just added an inline patch at pmix/pmix#1129 (it fixes stuff, but is not enough to get it working)

a few comments
 - `libev` can do `libevent` emulation, but from what I've read, only the `libevent 1.4.1-beta` API is emulated
 - emulation relies on the same `event.h` header file. On RHEL7, it is provided by both `libevent-devel` and `libev-libevent-devel`. on my box, the former was installed, a

[2019-02-25 15:17] jsquyres commented on #1128
@hjelmn Looked at replacing libevent in OMPI with libev for a while.  I think he had promising results, but I don't think there was any "wow, it's soooo much better that we *must* switch ASAP!" kind of compelling data.  Remember that libevent is only used for non-latency-critical stuff (e.g., the TCP BTL).  So minor performance differences between libevent and libev and libuv (I didn't know about

[2019-02-26 13:12] krempel-pt commented on #1123
Here is the output of the client with PMIX_MCA_pmix_gds_base_verbose=10, but I cannot find the lines you mentioned:
[code]

[2019-02-26 14:40] edgargabriel commented on #1114
@artpol84 I think I was probably not very clear on the teleconf. What I tried to suggest is that the ompi.cs.uh.edu server used by ompi jenkins has AMD Barcelona processors (even older than Bulldozer), so my suggestion would have been to see whether that server can be used by pmix for some testing as well. If it would help, I could try to setup a slurm configuration on it (or tie it in to my slurm

[2019-02-26 15:14] karasevb commented on #1123
PMIx should be built with `--enable-debug`

[2019-02-26 23:53] krempel-pt commented on #1123
Sorry, in fact I used the wrong PMIx installation, here with debugging:

Server:
[code]

Client:
[code]

[2019-02-27 15:38] karasevb commented on #1123
The output that I posted above, shows that the client uses lock-file (`/tmp/pmix_dstor_ds12_29093/dstore_sm.lock`) provided by the server. But in your case, the client tries to use some another lock file that is different than the server provided, that leads to the error.

I will provide a patch with extended debug output to understand what is going wrong.

[2019-03-01 22:31] tonycurtis opened #1133 "Question about use of pmix_value_t"
Thank you for taking the time to submit an issue!

## Background information

Question about use of pmix_value_t

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

github master @ 13baa77fe2ac3a1cd70f05729875a4a6e1e85de4

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system

[2019-03-02 00:12] rhc54 commented on #1133
😆 no, it isn't necessary at all - in fact, it is rather a useless assignment as PMIx_Get allocates an address and inserts it into val anyway, thereby overwriting that assignment. I'll update the example to get rid of it.

Thanks for pointing it out!

[2019-03-09 04:57] artpol84 commented on #1099
@karasevb Lets re-open this one and update it properly

[2019-03-11 06:56] karasevb commented on #681
As I see that this PR https://github.com/pmix/pmix/pull/1139 adds a new compress framework to PMIx.
@rhc54 according to https://github.com/pmix/pmix/pull/1130#issuecomment-471073856, can we move flexible packing into the new compress framework? Or it needs something else framework?

[2019-03-11 13:29] rhc54 commented on #681
My sense is that it should be a separate framework as the APIs are very different. I need to think thru how we are going to use it before deciding for sure, but I doubt we'll add it to compress.

[2019-03-11 15:25] artpol84 commented on #681
@rhc54 we have some internal deadlines on this. Has to be completed by mid-March.
Can you provide any timelines on when you will add the new framework?

My take on this that it should be a framework with trivial datatype packing and all int* string* and float* packing routines should go there.

[2019-03-11 15:45] rhc54 commented on #681
Given that today is the 11th of March I don’t see how this gets done by mid-month (end of week)

Sent from my iPhone

[2019-03-11 20:11] artpol84 commented on #681
This does not answer s my question.
If you cannot do it we will.

[2019-03-11 21:00] artpol84 commented on #681
So again,

We were discussing the introduction of a new framework to accommodate flexible packing. This means that at least integer packing functions should be served from there. It is logical to have all primitive data type packing to be implemented there.

So the task can be formulated as follows:
1. Create a `packstd` framework that provides methods of packing primitive data types (ints, floats

[2019-03-12 01:49] jjhursey commented on #681
If we don't need support for any data type other than int's why not just limit the framework to that type? I'm fine with the others, but don't want to introduce more complexity than we need. I believe that for strings over a certain side we already compress them.

Given your tight deadline you might want to create the framework yourself. I know Ralph is on travel this week.

Building a basic frame

[2019-03-12 01:50] rhc54 commented on #681
@artpol84 I don't think we want another packing framework - that's what bfrops does. I believe what we require is a framework for encoding integers and/or other data types prior to them being packed, and decoding them after they have been unpacked. We also want the framework to have APIs for node-level compression of the modex blob after it has been packed, and decompression prior to unpacking it.

[2019-03-12 01:53] rhc54 commented on #681
@jjhursey I really don't think we want an MCA parameter throwing things into that code path. This feels like a framework and I think (thought?) we had all agreed this was the way to go. Just because someone has a time constraint shouldn't cause us to do something haphazard that we later have to delete and replace. We can work around the time issue and still do the right things.

Heck, we aren't go

[2019-03-12 02:02] jjhursey commented on #681
My thought around the MCA parameter was a little less motivated by the time constraint and more thinking about the code complexity of a new framework for a relatively small piece of code. If a framework is the right solution that's fine.

[2019-03-12 02:05] rhc54 commented on #681
If all we were going to do was encode/decode an int16, I would agree. However, Artem is indicating it might expand to other data types, we want to throw the compress/decompress option into the mix, etc. Doing all that by MCA params would likely get pretty messy.

[2019-03-12 04:02] artpol84 commented on #681
I don't insist on the terminology. We can use `stdenc` instead of `stdpack`. All the rest remains: `stdenc/native`, `stdenc/flex`.

This is an orthogonal thing. As I expressed we are not interested in this feature now so no deadlines and  I don't mind this to wait. But this is definitely has to be a separate component/feature. No relation to flex packing,
We are going to implement a modex message

[2019-03-12 09:50] rhc54 commented on #681
Thanks for clarifying the deadline - I can remove that with ease. There are currently no plans to release a 3.2, as I explained at the beginning of the discussion. I don't object to doing so, but no timetable has been set should we decide to do it. I expect it wouldn't be released until sometime in May/June at the earliest.

I realize you are focused on your flex solution. However, as we have note

[2019-03-12 12:51] #1099 closed

[2019-03-12 13:44] tonycurtis opened #1147 ""mca_pcompress_zlib" does not appear to be a valid pcompress MCA dynamic component"
Thank you for taking the time to submit an issue!

## Background information

Just updated PMIx with git-pull, getting warning messages

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

git master @ 41eae968a78b7dbd7b460390a00b670eb30db4e3

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from

[2019-03-12 14:49] jjhursey commented on #681
I should have some cycles later today to put together a sketch of a framework to get you all started.

I'm going to start with this interface for the encode/decode of basic types - it should be enough to get you all going - you can change the signature as needed as you implement.
[code]
The `native` may just do a `memcpy(&dest, src, sizeof(type));` where `flex256` does something more involved for

[2019-03-12 14:51] rhc54 commented on #1147
Looks like a missing visibility declaration - see https://github.com/pmix/pmix/pull/1148

[2019-03-12 15:10] #1147 closed

[2019-03-12 15:27] artpol84 commented on #681
@rhc54, Please do not manage my schedule.

The release time is OK with us. I need all the changes in place in advance in order to stabilize them and make sure we have all we need with respect to our schedule.
We are working on this now and want to complete it now. So I don't understand your resistance.

You are welcome to address those other cases. As you can see I am not opposing the zlib compres

[2019-03-12 19:32] jjhursey commented on #681
@artpol84 @karasevb I created the `psquash` framework in this branch off of `master` (feel free to fork and use that branch as you need)
 * https://github.com/jjhursey/pmix/tree/skel-psquash-fwk

Currently, this is a "select 1" framework meaning that it will choose the highest priority component. We probably want it to be a "select multiple" framework so some components can provide some functions,

[2019-03-12 19:58] artpol84 commented on #681
Perfect!
@karasevb please take this as the basis and incorporate flex256 functionality!
I synced with @jjhursey over the phone. The plan now is to only move integer encoding there and expand as needed.

[2019-03-18 12:18] krempel-pt commented on #1123
Hallo again,

I am still interested in getting rid of these warnings. Did you already find the time to create the patch you mentioned or is there anything else I could try to find out what the problem is?

[2019-03-21 08:09] karasevb commented on #1114
@akesandgren could you try this patch:
[code]

[2019-03-21 12:53] akesandgren commented on #1114
Yes, seems to do the trick.

Is there a similar change needed for 1.2.x 3.x?

[2019-03-21 22:15] dsolt opened #1158 "PMIx_Get of namespace that exists locally seems to auto-fail"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

3.1

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

git clone

### Please describe the system on which you are

[2019-03-21 22:42] artpol84 commented on #1158
@dsolt would be nice to rule out dstore (which seems to be an issue from the first sight)
* Can you try to disable ds21
* Can you disable both ds21 and ds12
And see that happens.

[2019-03-22 14:32] dsolt commented on #1158
Yes, when I set export PMIX_MCA_gds=hash the problem goes away and it works as expected.

[2019-03-22 14:38] dsolt commented on #1158
PMIX_MCA_gds=ds12,hash  fails

[2019-03-22 15:15] wlepera commented on #1122
I'm seeing a similar issue on ppc64le, using 3.1.2 PMIx, where an application terminates with error and orted segfaults with a similar (but not identical) backtrace:

[code]
Is this fix available in v3.1 branch?

[2019-03-23 00:55] artpol84 commented on #1158
I assume ds21 also fails?

[2019-03-23 00:57] artpol84 commented on #1158
@karasevb I think we can reproduce this with our CI multi-server feature.
Please take it next week.

[2019-03-23 00:58] artpol84 commented on #1114
@akesandgren we merged this one and opened PRs into corresponding branches

[2019-03-23 06:37] akesandgren commented on #1114
Perfect,I've already patched our builds of the versions we use from those branches.
I guess this issue can be closed.

[2019-03-24 00:46] artpol84 commented on #1114
Thanks for the feedback
I think we’ll close the issue once all related PRs are merged.

[2019-03-25 20:51] #681 closed

[2019-03-25 20:56] jjhursey commented on #1122
@rhc54 Did https://github.com/pmix/pmix/pull/1140 target this defect or was there something more?

[2019-03-25 20:57] rhc54 commented on #1122
It should fix this, but I'd like to see it verified if possible

[2019-03-26 06:06] rhc54 commented on #1128
This has been fixed by the libev compatibility changes courtesy of @ggouaillardet

[2019-03-26 06:06] #1128 closed

[2019-03-26 06:10] rhc54 commented on #1122
@krempel-pt @wlepera Would it be possible for you to test PR https://github.com/pmix/pmix/pull/1162 ? I believe it should fix the problems you observed.

[2019-03-26 08:54] karasevb opened #1169 "Porting MODEX optimizations to v3.x series"
Since the MODEX optimizations (#1152, #1149, #1125) are merged to master, we would like to port those to the nearest release branch.
What are the steps to open a new branch v3.2?
Port of all PRs is ready, once new branch appears I'll open PRs against it.

@rhc54 @jjhursey @artpol84

PRs which should be ported:
- [x]  bfrops: redefinition regtypes for internal usage #1144 (done: https://github.com/

[2019-03-26 13:18] wlepera commented on #1122
I applied #1140 first and still saw the problem, but adding #1162 seems to resolve my issue, thank you.  Just to note for the future, the original symptom reported to us was when an application running across two compute nodes terminated with error, the user observed an infinite loop of "mpirun: Forwarding signal 11 to job" messages streamed to the console.  After we killed the run with ctrl-c we

[2019-03-26 13:25] rhc54 commented on #1122
Thanks for the details - I'll pass that along to the OMPI folks. Actually, #1162 contains #1140 plus some things that came from other PRs.

[2019-03-26 13:26] #1122 closed

[2019-03-26 14:11] jjhursey commented on #1169
For now, just PR them against the `v3.1` branch (which would be used as the base for a `v3.2`), then we can change the base of the PR on GitHub once a `v3.2` branch is created.

[2019-03-26 15:44] artpol84 commented on #1169
Thanks!
@karasevb, please proceed. And pick a today’s fix from @jjhursey for MAC: https://github.com/pmix/pmix/pull/1171

[2019-03-26 15:47] jjhursey commented on #1169
Probably also want PR #1168 which is a bit of cleanup for the argv.c file related to PR #1149.

[2019-03-26 18:43] dsolt opened #1172 "PMIx_Get of local process rank data failing"
Thank you for taking the time to submit an issue!

## Background information

This issue is similar to issue 1168 but is not the same.   In that case if I set
 export PMIX_MCA_gds=hash
the problem goes away, but this problem is slightly different.  See below for details.
That ticket is about when the rank is PMIX_RANK_WILDCARD, but this issue is about
using specific ranks.

### What version of the

[2019-03-26 18:59] rhc54 commented on #1172
Just to be clear: since proc is running on the local node, can we assume that the server called register_nspace on that namespace prior to the issuing of PMIx_Get?

[2019-03-26 19:39] dsolt commented on #1172
Yes... and processes in that namespace seem to be able to get their own PMIX_HOSTNAME values

[2019-03-26 20:11] dsolt commented on #1172
I'm going to try to writeup a full reproducer that can be run under mpirun/orted  just to make sure I'm not doing something wrong under my launcher :)

[2019-03-26 20:20] #143 closed

[2019-03-27 02:51] karasevb commented on #1114
Can be closed since all related PRs are merged.

[2019-03-27 02:51] #1114 closed

[2019-03-27 03:42] karasevb commented on #1169
Since bfrops v4 (which has been modified) is not present in PMIx v3, and new features require to add with new bfrops, so the question is: which version of bfrops required to introduce for PMIx v3? Bfrops v31 or v32?

[2019-03-27 05:48] karasevb commented on #1169
I’ve currently added bfrops v32, but if it’s not OK, I’ll change the version.

[2019-03-27 13:25] jjhursey commented on #1169
For PR #1176 I think it's ok for now to keep it at v32 as we discuss the best path forward there. I need to think about it a bit more. Let's make sure to discuss it on the call this week.

Since these optimizations are targeted at v3.2, it shouldn't hold up the pending v3.1.x bug fix release.

[2019-03-27 21:48] rhc54 opened #1177 "Why do we need C++ to build PMIx?"
Apparently, our configure logic requires installation of g++ in order to find the pthreads library, even when that library and its header are already installed as part of gcc. There is no other dependency on C++ in this code base, so I'm concluding that this must be an error.

[2019-03-27 21:50] rhc54 commented on #1177
Also, we don't apparently look for ```flex``` during configure, but we require it as soon as you try to compile. This is also an error - configure is supposed to check for all required components.

[2019-03-28 00:01] #1177 closed

[2019-03-28 18:54] jjhursey commented on #1177
Good catch. I noticed these dependencies when setting up the Docker environment for the cross-version tester and it seems curious to me that PMIx had that dependency.

[2019-03-28 19:12] jjhursey commented on #1123
@artpol84 @karasevb is there any update on this. We might hold v3.1.3 if you think it is an quick thing to fix.

[2019-03-29 14:12] jjhursey opened #1184 "psquash framework should be multi-select"
The `psquash` framework is currently a single select framework. It should become a multi-select framework in order to allow the component selection to be determined by the client/server handshake.

[2019-04-01 12:31] krempel-pt opened #1186 "MCA modules should depend on libpmix.so if using symbols from there"
### What version of the PMIx Reference Library are you using?
v3.1.2

### Describe how PMIx was installed
Compiled from the release tarball using
configure --disable-static --enable-shared --enable-pmi-backward-compatibility --with-munge

### Please describe the system on which you are running
Operating system/version: Fedora 29
Computer hardware: Intel Core i7-8550U
Network type: none

----------

[2019-04-01 18:50] rhc54 commented on #1186
Hmmm...timely report! I have been working towards a 3.1.3 release for later this week, but will ensure this gets fixed before doing so. I'm somewhat out today but should hopefully be able to address this tomorrow. Thanks!

[2019-04-01 21:41] artpol84 commented on #1123
@karasevb we agreed on the telecon to provide the patch with extended output to track this down.

[2019-04-02 00:16] ggouaillardet commented on #1186
@krempel-pt FWIW, Open MPI chose __not__ to have MCA modules depend on `libmpi.so` (and other internal libs). IIRC, the rationale is so ISV can ship binary components that can work on a version of Open MPI that is slightly different from the one used to build the component.

As a consequence, `RTLD_GLOBAL` is needed if `libmpi.so` is to be `dlopen()`'ed (and this is what Java bindings and `mpi4py`

[2019-04-02 00:31] rhc54 commented on #1186
@ggouaillardet The issue here is when doing a static build - OMPI also ran into this problem and added the primary library for each project to that project's MCA components.

[2019-04-02 00:40] ggouaillardet commented on #1186
The issue description clearly states `configure --disable-static --enable-shared ...` and `dlopen()` so I do not think static builds fit into this picture.

But you are right Open MPI made such changes since `v3.0.x` and I completely missed it !

[2019-04-02 06:46] ggouaillardet commented on #1121
@rhc54 I think the issue here is `pmix` should not build the `pdl/pdlopen` component
(fwiw, Open MPI does not build the `dl/dlopen` component.

Long story short, when we `configure --disable-dlopen`, Open MPI calls `opal/mca/dl/configure.m4` with `enable_dlopen=no`, but PMIx calls `src/mca/pdl/configure.m4` with `enable_dlopen=unknown`, and this is set by `config/libtool.m4` (Open MPI will eventua

[2019-04-02 14:04] rhc54 commented on #1121
@ggouaillardet If the user doesn't specify dlopen (either enable or disable) on the configure cmd line, does libtool default it to "unknown"? Just wondering if we might wind up defaulting it in the wrong direction.

[2019-04-02 15:31] rhc54 commented on #1186
@ggouaillardet Ouch - yeah, I shouldn't try to read issues while still recovering from anesthesia ☹️

I raised this on the OMPI call this morning and your analysis about consequences is true. However, because we weren't guaranteeing internal ABI across releases (even minor ones), it turns out that this situation has always been true. Thus, adding the links didn't make anything worse and solved an

[2019-04-02 15:31] #1186 closed

[2019-04-02 16:46] jjhursey opened #1189 "Event race condition between registration and cached delivery"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

v3.1 branch [HEAD](https://github.com/pmix/pmix/commit/b3e93da2a5419b585f25716b56cc6273f56d25c4) with Open MPI v4.0.x (approximate HEAD of branch)

### Describe how PMIx was installed (e.g., from a source/distributi

[2019-04-02 17:01] jjhursey commented on #1189
From reading the v3 standard document, there doesn't seem to be language associated with the ordering semantics of the `pmix_hdlr_reg_cbfunc_t` and `pmix_notification_fnt_t` callback functions to `PMIx_Register_event_handler`. So we need to clarify that.

My leaning would be that the PMIx library should guarantee that the registration callback is triggered and returned before it starts delivering

[2019-04-02 18:52] rhc54 commented on #1189
Agreed - for consistency across the document, we should require that registration return prior to any notifications

Agreed - I can make that modification this afternoon.

[2019-04-02 21:47] dsolt commented on #1172
Ok, this code hangs for me with mpirun as well as jsrun, so I suspect it is a problem in the CL.  I also run with PMIX_MCA_gds=hash and it does not change behavior.

[code]

[2019-04-03 00:37] ggouaillardet commented on #1121
@rhc54 yes, this is what I read.
Open MPI seems to work fine because `enable_dlopen=unknown` is done __after__ our test (PMIx does that __before__ our test and I did not try to understand how we could swap these)

From `config/opal_configure_options.m4`

[code]

I think the easiest fix would be to use `$OPAL_ENABLE_DLOPEN_SUPPORT` instead of `$enable_dlopen`.
We could also add a test here `if "$en

[2019-04-03 00:40] rhc54 commented on #1172
I confirm it behaves the same with PRRTE as well - I'm looking into it. I plan to fix the hang first and then see why the info isn't being found.

[2019-04-03 00:57] rhc54 commented on #1121
I'm not sure how that would work down in PMIx - are you thinking we would "reset" the configure cmd line for the pmix component based on that value? Will that cause any problems for follow-on code (i.e., since we would now "reset" ```enable_dlopen=unknown``` to a value?

I honestly don't - perhaps @bwbarrett would recall?

[2019-04-03 04:24] ggouaillardet commented on #1121
@rhc54 a PR being worth a thousand words, I issued #1191 in order to clarify what I meant.

Unlike `config/opal_mca.m4`, `config/pmix_mca.m4` does not set `enable_dlopen`, so that makes PMIx trivial to update.

[2019-04-03 07:06] rhc54 commented on #1172
Just an update. I almost have this fixed now. The "hang" wasn't actually hanging - the problem was that the code assumed that the child job would also be calling PMIx_Init and therefore was waiting for that to happen before responding. Since the child in this case was ```sleep```, it never met that condition. The child job would eventually complete and everything exits (assuming you waited long en

[2019-04-03 07:19] rhc54 commented on #1172
Correction - the original job does indeed "hang" as no timeout was given for the "get" operation. We probably need to add something in the job termination logic to cleanup any lingering "get" calls for information on a job that has terminated.

[2019-04-03 16:09] jjhursey commented on #1189
PR #1190 (master) and PR #1194 (v3.1) fix this issue.

[2019-04-04 14:40] rhc54 opened #1195 "PMIx v3.1.3 Checklist"
## Build the Release
- [x] Verify the major,minor,release,greek version numbers in `VERSION`
- [x] Update the `c:r:a` shared library version number(s) in `VERSION` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
   - **NOTE:** It may be helpful to use a command like `git checkout BRANCH; git pull --rebase;

[2019-04-04 14:41] #840 closed

[2019-04-04 14:41] #839 closed

[2019-04-04 14:44] jjhursey commented on #1195
Version was already rolled forward to v3.1.3rc1 in PR https://github.com/pmix/pmix/pull/1164

[2019-04-04 14:48] jjhursey commented on #1189
Fixed now that the above PRs have been merged

[2019-04-04 14:49] #1189 closed

[2019-04-04 15:48] jjhursey commented on #1195
v3.1.3rc1 posted https://github.com/pmix/pmix/releases/tag/v3.1.3rc1

[2019-04-04 15:54] rhc54 commented on #1195
@jjhursey I removed the PMIx numeric version item as it is no longer required now that we auto-generate that value (hooray!)

[2019-04-04 20:45] rhc54 opened #1198 ""make check" shows two failing tests"
I wrote a script ```test/run_tests.pl``` that is used by ```make check``` to execute a set of tests in the ```test``` directory. I lifted the tests themselves directly from the ```contrib/pmix-jenkins.sh``` script, but I don't know if that is currently what Mellanox Jenkins is using or not.

When I run the script, I see the following output:

[code]
It looks like one of the tests is failing, and a

[2019-04-09 03:44] artpol84 opened #1200 "Performance degradation with PMIX_DEVEL"
I was doing some measurements on a medium scale and noticed a performance degradation while going from v3.1 to PMIx master.
Initially, I thought it is caused by our recent changes in PMIx (size optimization), but when I `git bisect` it - it pointed to the initially completely irrelevant commit:
[code]

I guess it has to do with `PMIX_DEVEL=1`. Can someone confirm that?
Also, it might be desirable

[2019-04-09 04:02] rhc54 commented on #1200
The implications are simple - a "devel" build turns off optimizations, causes us to pack/unpack "verbose" buffers, and links in debugging symbols. This is always supposed to be the setting when we detect that we are building in a git clone as opposed to a tarball. I believe the referenced commit simply fixed an error in configure logic that might have led to an incorrect setting - it was detected

[2019-04-12 03:17] rhc54 opened #1204 ""make check" fails when dstore is disabled"
We seem to have unintentionally built a dependency on dstore into the code base. When running `make check` with `PMIX_MCA_gds=hash`, I get the following test failures:
[code]

Note that, more disturbingly, every failed test ends with the test declaring it `finished OK` and returning a `0` exit status. I'm seeing the same problems in master and v3.1.

[2019-04-12 14:00] jjhursey commented on #1204
FYI: @artpol84 @karasevb Do you know of any dstore dependency that might cause hash to stop working like this?

[2019-04-13 00:48] rhc54 commented on #1204
I have tracked this down. The problem is that the tests are looking for a very specific error code that is returned by the dstore components. However, the hash component can return other error codes that provide more detail about the failure. The tests incorrectly report this as an error.

I'll update the tests - still need to understand why the test is reporting "ok" at the end.

[2019-04-13 01:15] rhc54 commented on #1204
Oho! I still have a couple of tests failing, even after fixing the return code checks. The problem turns out to be an error in this test code - looks like we are getting multiple servers launched. You can see the problem if I have the servers declare themselves:
[code]
Each client "attaches" to a different server. However, the servers only have data for the client attached to them - the server cod

[2019-04-13 08:02] #1204 closed

[2019-04-13 08:02] #1198 closed

[2019-04-16 00:47] jsquyres opened #1210 "Divide by zero in psquash init"
I am getting a divide by zero error on the psquash initialization when running with the embedded PMIX on OMPI master HEAD.  This happens in 100% of my runs.  😦

That PMIX was just recently sync'ed to the PMIX here, so it seemed more appropriate to file the bug here.

Here's the stack trace I'm getting from the corefile:

[code]

This is happening for me on MacOS.

I traced this in the debugger a b

[2019-04-16 01:42] rhc54 commented on #1210
I just added PR https://github.com/open-mpi/ompi/pull/6590 to update the PMIx installation in OMPI master, but it doesn't contain anything that would impact this (I don't believe). This looks/feels like memory is somehow being overwritten when the psquash framework is opened.

[2019-04-16 02:22] ggouaillardet commented on #1210
I can reproduce the issue with the latest Open MPI `master`

The crash always occurs at the very same location, however

[code]

but

[code]

`pmix_mca_base_var_groups` has a __different__ address in these two frames (!)

I noted

[code]
and I did expect the symbol is `U` instead of `b`.

I will check PMIx `master` from now.

[2019-04-16 02:54] ggouaillardet commented on #1210
In non embedded PMIx, the link command line is
[code]
(e.g. all components depend on `libpmix.so`)

but in embedded PMIx, the link command line is
[code]
all component plugins are linked with `libpmix.a`, which means all components contain many common symbols. Though it seems to work fine on Linux (at least on CentOS 7), the OS X linker seems to fail "merging" those common symbols at runtime.
The

[2019-04-16 02:55] ggouaillardet commented on #1210
FWIW, same issue on OS X with open-mpi/ompi#6590 :-(

[2019-04-16 03:03] rhc54 commented on #1210
Odd - I run on OSX all the time, and I'm not seeing this problem at all. Quick check shows that the linking against libpmix started in v3.1, which means it has been in OMPI v4.0.x all along.

[2019-04-16 03:08] rhc54 commented on #1210
Try building OMPI master against an external PMIx v3.0 or v2.x and see if the problem goes away

[2019-04-16 03:23] rhc54 commented on #1210
FWIW: just rebuilt OMPI master from scratch on OSX Mojave, gcc 8.3.0, and it runs fine.

[2019-04-16 03:43] rhc54 commented on #1210
OMPI master with external PMIx v2.2 also works.

Try running OMPI master with internal PMIx, but adding PMIX_MCA_bfrops=v3 to your environment. The one major difference in PMIx master today is that bfrops v4 component is opening/selecting the psquash framework. Let's see if turning that "off" resolves the problem for you guys.

[2019-04-16 04:01] ggouaillardet commented on #1210
@rhc54 will do from now
fwiw, I built Open MPI with the default (LLVM) compilers

[2019-04-16 04:12] ggouaillardet commented on #1210
Same issue with `PMIX_MCA_bfrops=v3`

[code]

similar kind of issue

[code]

`_OPAL_MCA_PMIX4X_pmix_globals` should be declared as `U` instead of `D`

I can do extra tests (including `clang` on Linux), but at this stage I think the issue is the embedded PMIx is built as a static library and the components (dynamic libs) depend on it. Per your tests, there is a possibility the issue can only be evi

[2019-04-16 07:31] ggouaillardet commented on #1210
@rhc54 my Mac is running Mojave with all the latest updates (Xcode 10.2) and an up-to-date `brew` (gcc 8.3.0).
I am able to reproduce the issue with gcc 8.3.0 compilers (!)
If I build Open MPI vs an external PMIx configured as default, then it works just fine.
But if I build the external PMIx with `--enable-embedded-mode` and a few other tricks, (so I end up with `libmpix.a` and dynamic MCA compon

[2019-04-16 09:29] rhc54 commented on #1210
Wow - that is really odd. Your environment is identical to mine - is there something different about our configure cmd line? I use a platform file by default:
[code]
Some of these are stale (I should update it), but mostly it's just to reduce the build time.

[2019-04-16 09:44] rhc54 commented on #1210
Aha! If I configure with a vanilla configure cmd line (just prefix), then I replicate the failure! So something in that configure file "fixes" it.

[2019-04-16 11:10] jsquyres commented on #1210
@ggouaillardet

I see exactly the same thing.

[2019-04-16 14:02] rhc54 commented on #1210
Try configuring it with --disable-static and let's see if that resolves the problem. I think this might be another symptom of the static build problem @jsquyres and I were looking at several weeks ago.

[2019-04-16 14:26] jsquyres commented on #1210
@rhc54 I configured OMPI thusly:

[code]

In OMPI's configure, that turned into this (line wrapped from my emacs output):

[code]

Is that what you meant?  If so, I still get the PMIx div-by-zero.

[2019-04-16 16:05] jsquyres commented on #1210
@rhc54 and I chatted offline, and I confirm the following:

1. https://github.com/open-mpi/ompi/commit/e844f767252fce750eb122b3b16fd6e11acc6002: this is where @ggouaillardet refreshed PMIx on Open MPI about 3 weeks ago.  It works ✅
1. https://github.com/open-mpi/ompi/commit/2fa93332cebdaf5d776d8086136eaac760618f16: this is a commit right before a big PMIx change on Open MPI master about a week ago

[2019-04-16 19:11] dsolt opened #1211 "Using a launcher to launch a script which invokes further launch commands"
Thank you for taking the time to submit an issue!

## Background information

master from git clone on power systems, TCP

-----------------------------

## Details of the problem

When processes are created by a launcher, that launcher is directed to call PMIx_server_setup_fork() to setup an environment and PMIx_server_register_client() to inform the convenience library of the process being creat

[2019-04-16 21:55] rhc54 commented on #1211
I'm not sure I understand, so let me probe a bit here. We've been doing a bunch of work on exactly this scenario for the tool vendors, so maybe first explaining a bit about how this is intended to work might help.

Note: the tool support chapter is being written, but isn't yet complete. Hopefully, we'll get it done in May so this scenario is easier to grok.

When a tool (e.g., your `mylauncher`) i

[2019-04-16 21:57] rhc54 commented on #1210
Should be fixed by f81caf453f846267b4dd9736a822c20cd1ff5eeb

[2019-04-16 23:47] #1210 closed

[2019-04-18 19:22] dsolt commented on #1211
My guess is that the right answer here is that in mylauncher, when it calls PMIx_tool_init, it passes in info arguments that direct how to connect to the server instead of taking the default (which in this case is to use the environment which was setup for another client, not the tool itself).

In my case, the PMIx server is launching a process which it thinks is a client, but in fact it not.  It

[2019-04-19 00:42] rhc54 commented on #1211
As I said, the problem is that there are use-cases where the tool has to connect as a client in order to ensure that it is connecting to the correct server. Remember, you might well be on a node where there are multiple servers running (e.g., have your "mylauncher" invocations execute in parallel) - there has to be some method for telling the tool how to select the correct target, and the environm

[2019-04-19 04:34] dsolt commented on #1211
Hmmm. I think I see what you are saying.   I didn't think about the case where there are multiple servers running and that is a good point.  (Our current connection method only works for a single server per user per node and that is going to lead to problems eventually). So I agree it would be better that they do connect back on the "expected" connection as they find it in their environment.  Perh

[2019-04-19 20:34] rhc54 commented on #1211
Sorry for delay - I was on travel all week and just got back. I think that is correct, but you've made me go back and work thru it all again...and there may be an issue here that bears further consideration. Specifically, consider your example scenario. If each `mylauncher` spawns a job using the RM, then the PMIx server in the RM is going to see the same (nspace,rank) issuing the spawn request ea

[2019-04-20 19:51] #1211 closed

[2019-04-22 23:04] artpol84 opened #1223 "Test HASH gds component in Mellanox CI"
See https://github.com/pmix/pmix/pull/1207#issuecomment-485582679

[2019-04-27 13:07] tonycurtis opened #1228 "pfexec error message"
Thank you for taking the time to submit an issue!

## Background information

Started getting error from PMIx clients

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

github master @ 2f0a53d43a5ee5d4a7446636308f58be0eac0f3d

PRRTE @ a967a24666e4d195d27062958b8fcf0be47efe95

### Describe how PMIx was installed (e.g., from a source/distribut

[2019-04-27 13:56] rhc54 commented on #1228
Sigh - gotta love "visibility"! Sorry about that - and welcome back!

[2019-04-27 14:12] #1228 closed

[2019-04-27 14:18] tonycurtis commented on #1228
+1

[2019-05-02 13:28] jjhursey commented on #1189
Ref two Open MPI tickets impacted:
 * https://github.com/open-mpi/ompi/issues/6613#issuecomment-486713779 (OMPI v4.0.x)
 * https://github.com/open-mpi/ompi/issues/5501#issuecomment-488639797 (OMPI v3.0.x)

[2019-05-02 19:26] jjhursey commented on #1169
Per teleconf:
 * Split these into two sets targeted at two different release points divided by the cross-version impact.
 * 3.1.4
   - modex: optimization of rank identification size reduction #1125 (done: #1174)
   - modex: reduce modex size by replacing key names with indexes #1149 (done: #1175)
 * 3.2
   - bfrops: redefinition regtypes for internal usage #1144 (done: #1173)
   - Flexible intege

[2019-05-02 21:24] jjhursey commented on #1195
Preparing for rc2: https://github.com/pmix/pmix/pull/1232

[2019-05-02 21:33] jjhursey opened #1233 "Client failure may cause ds21 hang in server"
Thank you for taking the time to submit an issue!

## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

v3.1.2

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

### Please describe the system on which you are running

[2019-05-08 11:30] krempel-pt opened #1236 "pmix server aborts when returning PMIX_OPERATION_SUCCEEDED in server_fencenb_cb()"
### What version of the PMIx Reference Library are you using?
v3.1.3rc1

### Describe how PMIx was installed
Compiled from the release candidate tarball using
configure --enable-debug CFLAGS=-DHAVE_SYSLOG

### Please describe the system on which you are running
Operating system/version: Fedora release 29
Computer hardware: Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
Network type: none (local only)

-

[2019-05-09 08:21] krempel-pt commented on #1236
@rhc54 Unfortunately #1237 seems not to fix it.

This is the backtrace with 3.1.3rc2 and #1237 included:
[code]

[2019-05-09 13:28] rhc54 commented on #1236
Okay, I was able to replicate and track it down - try with the updated patch #1237

[2019-05-09 19:29] artpol84 opened #1238 "Type mismatch in PTL header field portability transformation"
The datatype for `nbytes` field in the header is `size_t`:
https://github.com/pmix/pmix/blob/master/src/mca/ptl/ptl_types.h#L113

However `htonl` function is used that only address uint32_t
https://github.com/pmix/pmix/blob/master/src/mca/ptl/ptl_types.h#L279

[2019-05-09 19:34] jjhursey commented on #1238
So the concern is of the wasted 4 bytes in the `size_t` that won't be used by the `unit32_t`. Not a bug, just minor inefficiency. Will have to look at compatibility across versions.

[2019-05-09 20:42] #1121 closed

[2019-05-09 20:59] #1238 closed

[2019-05-10 02:14] artpol84 opened #1241 "Refactoring of the PTL components"
The PTL code refactoring

While working on #1240 I faced that the PTL code is quite not maintainable:
* connect handler functions for both TCP and USOCK are huge:
  * TCP: [736 lines](https://github.com/pmix/pmix/blob/master/src/mca/ptl/tcp/ptl_tcp_component.c#L982:L1730)
  * USOCK: [423 lines](https://github.com/pmix/pmix/blob/master/src/mca/ptl/usock/ptl_usock_component.c#L342:L765)
* In both me

[2019-05-10 02:40] artpol84 opened #1244 "Hang in PMIx_Server_finalize"
When running our make check test suite many times (~100) I periodically see a hang in the `PMIx_Server_finalize` with the following backtrace:

[code]

All clients are finishing successfully, according to the logs. No client processes remain on the host.

[2019-05-10 02:40] artpol84 commented on #1244
Observing this with Master, but checking v3.1 right now.

[2019-05-10 03:35] rhc54 commented on #1241
I think you overestimate the problem, though I agree that the code needs some cleanup. The usock component is not allowed to support tools by design - that was written into the standard (only tcp can support tool connections). The TCP and USOCK codes are similar but different - the reason for keeping them separate is that the usock code is strictly to support the legacy v1.2.x series. It is not in

[2019-05-10 03:38] rhc54 commented on #1244
I've seen that as well - pretty sure it shows in v3.1 as well. I'm not sure if it is an artifact of the pmix_test program or something really in the server library as we haven't seen it manifested outside of the test suite.

[2019-05-10 05:33] artpol84 commented on #1244
Blaming test suite is erroneous unless you have a bug fix for it that removes the problem.
Our customers have issues with v3.1 and given that we see that there is a problem it needs to be investigated till the resolution.

[2019-05-10 05:35] artpol84 commented on #1241
This has to be obvious from the code itself and not require consulting with original developer.

[2019-05-10 05:38] artpol84 commented on #1241
This is the worst scenario when 2 code paths look similar but have minor deviations not obvious from the code review. 700 lines is really hard to keep in mind and compare.

The right way would be to have base functionality that is common and only retain the differences in the components.

[2019-05-10 05:41] artpol84 commented on #1241
The issue I found today was deeply masked and was sitting there for 2 years.
And there is no way one can find them from reviewing the code.
Partially because of the exchange hidden in that psec macro. Partially because of the huge functions.

[2019-05-10 11:44] krempel-pt commented on #1236
Even if the abort is gone with the new patch as I confirmed in #1237, there still seems to be missing somthing. When I now return PMIX_OPERATION_SUCCEEDED, on the client side the PMIx_Fence() call returns only in rank 0, all other clients are remain sticking there.

[2019-05-10 12:07] krempel-pt commented on #1236
After some more analysis, it turns out, that I was wrong with the first guess. Actually the issue is that after the PMIx_Fence_nb() the callback function (here named opcbfunc) is only called in client with rank 0. So rank 0 is the only one calling the PMIx_Fence() since all other ranks wait for the first fence to return forever.

Other than I first thought, I return PMIX_OPERATION_SUCCEEDED in the

[2019-05-10 13:11] rhc54 commented on #1244
I didn't blame the test suite - I confirmed also seeing this issue and said I couldn't clearly determine if it was the test or the library.

[2019-05-10 13:24] jjhursey commented on #1244
I'll hold off on a new 3.1.3rc until we have some clarity on this issue and the other blocking issue.

[2019-05-10 19:06] artpol84 commented on #1244
@jjhursey thank you.
@rhc54 got it, thanks

[2019-05-10 23:47] artpol84 commented on #1244
I think I tracked this down. See explanation in the PR.
With #1246  and #1240 I have 1000 successful make-check passes.
* Prior to #1240, ~20 iterations was enough to trigger a hang.
* With #1240 but no #1246 hang was reproduced with ~100 iterations.

[2019-05-10 23:50] artpol84 commented on #1244
According to my observations, at max 2 iterations of loop_break are required to make sure the progress thread is stopped.

[2019-05-13 16:01] krempel-pt opened #1247 "Example dmodex.c tries to use non existing namespaces"
In the example dmodex.c in lines 181 and 192 the content of tmp (containing the name of the key to get) is copied into the namespace for the following Get_nb call, I think this is not intended:
[code]
I guess line 181 (as well as line 192) should be removed.
Am I right or do I miss something?

[2019-05-14 02:34] rhc54 commented on #1247
Yeah, that's an error - I'll fix it. thx!

[2019-05-14 14:51] krempel-pt commented on #1123
@artpol84 @karasevb what is the state of this?
My current work-around to this issue is to delete `lib/pmix/mca_gds_ds12.so`. This seems to work, but I do not really feel good with, don't know if it has some implications that I just didn't see until now.

[2019-05-14 15:59] artpol84 commented on #1123
I have a question regarding the output here:
https://github.com/pmix/pmix/issues/1123#issuecomment-467664285
 Server file is: /tmp/pmix_dstor_ds12_27726/dstore_sm.lock
Client file is: /tmp/pmix_dstor_ds12_26405/dstore_sm.lock

It doesn’t look like those two logs were obtained from the same run or on the same node.
 Can you provide the details on how you obtained them?

[2019-05-15 10:43] krempel-pt commented on #1123
@artpol84 Unfortunately I cannot say any more how I produced them exactly, but I just made a new run.

This is with pmix-3.1.3rc2 patched with #1237.

I called the (fixed, see #1247) dmodex example with one process at the same node as the server was running and logged everything to syslog:

Server:
[code]
Client:
[code]

[2019-05-15 11:34] karasevb commented on #1123
@krempel-pt
According to your output, the client cannot attach the lock file, but the server has already created it.
Can you put the client process to sleep before the PMIx_init called, and check that file `/tmp/pmix_dstor_ds12_3610/dstore_sm.lock` is existed on your file system?

[2019-05-15 12:37] krempel-pt commented on #1123
@karasevb The file is existent but accessible as root only, I think this is the problem since the client process runs as user.
[code]
 Do I have to tell the ds12 module somehow which uid/gid to use? I already pass this information in PMIx_server_init() in the info fields PMIX_USERID and PMIX_GRPID and of cause directly in PMIx_server_register_client().

[2019-05-15 13:09] karasevb commented on #1123
`PMIX_USERID`  should solve your issue. Here is example:
[code]
Checking file accessions:
[code]

[2019-05-15 15:45] karasevb commented on #1123
@krempel-pt FYI, the same approach used in Slurm, where PMIx server may run as root, and clients as user:
https://github.com/SchedMD/slurm/blob/f13369b0c28840164f0aeb0f8c354158fcf8e3b7/src/plugins/mpi/pmix/pmixp_client_v2.c#L235-L247

[2019-05-15 15:50] rhc54 commented on #1123
Hmmm...something isn't right here. I know Slurm spins off a daemon to support a specific job and so it is okay to set that daemon to a uid of the user. However, that is definitely _not_ the way all RMs operate. Some maintain the daemon at a privileged level and simply spawn the procs themselves, setting uid on each child before exec'ing it.

So what you really need is a way for dstore to use the u

[2019-05-15 19:45] artpol84 commented on #1123
AFAIR it will take whatever was passed to it.
If it was passed to init - it’ll take init. If to the namespace- than it’ll override.
But register client is not the right call as you have many clients but one dstor file. We consider namespace registration.

@karasevb, please verify.

Given that RM has control over the granularity of the userid setting.

[2019-05-15 19:50] rhc54 commented on #1123
But the standard doesn't require it to be passed to register_nspace - it only requires that the uid/gid of the client be passed to register_client. All you have to do is take the nspace/uid/gid values of the first client in the nspace and use those.

[2019-05-15 19:57] artpol84 commented on #1123
It doesn’t really makes sense to me.
But maybe it is what is being done today.

[2019-05-15 20:05] rhc54 commented on #1123
Let me try to explain. We pass uid/gid to register_client because technically PMIx allows each client to execute under its own uid/gid. In our implementation, we made the simplifying assumption that all local clients in an nspace shall operate under the same uid/gid so we could use dstore. If the app doesn't obey that assumption, then technically we should disable dstore and use the hash component

[2019-05-15 20:11] artpol84 commented on #1123
We will double check how it is done today

[2019-05-16 00:59] krempel-pt commented on #1123
Ok, there was a fault on my side, didn't fill the info vector correctly, thanks for the help.

[2019-05-16 09:16] karasevb commented on #1123
@artpol84 you are right. There are places where accessions are changed:
- server init: https://github.com/pmix/pmix/blob/master/src/mca/common/dstore/dstore_base.c#L1665
- add nspace: https://github.com/pmix/pmix/blob/master/src/mca/common/dstore/dstore_base.c#L529

[2019-05-16 19:05] #1236 closed

[2019-05-16 19:09] jjhursey commented on #1236
Per teleconf:
 - PR #1237 was merged into v3.1
 - PR #1245 was merged into master. PR #1237 is the port of PR #1245

We believe this is closed now. Please reopen if the problem persists.

[2019-05-16 19:10] jjhursey commented on #1244
PRs have been merged into the release branches. This can be closed.

[2019-05-16 19:10] #1244 closed

[2019-05-16 20:13] rhc54 opened #1256 "PMIx v4 Planning"
Coordinated with https://github.com/pmix/pmix-standard/issues/189

Reference implementation extensions:

- [x] Attribute reporting support

- [x] PMIx Groups support

- [x] Add support for new scheduler interfaces
        - [x] Fabric

- [x] Add network coordinate and endpoint computation

- [ ] pquery tool for user information requests

- [x] pattrs tool for user requests of attribute support

-

[2019-05-16 20:27] rhc54 commented on #1123
Can you please extend this to cover the standard's spec that the uid/gid of register_client should be used? I don't believe other RMs/RTEs are passing PMIX_USERID to init.

[2019-05-16 21:07] rhc54 opened #1259 "Cross-version support is broken on master"
Now that we are actually testing cross-version branches, it appears that master has developed a problem:
[code]
The `fix` branch in this case was a revert of https://github.com/pmix/pmix/commit/997b42b4134ce5db7c397073f24b64968a6e6ff6 as per the teleconf. Unfortunately, this does not impact the problem.

I suggest someone do a `git bisect` to see if we can isolate where it failed.

[2019-05-17 02:14] karasevb commented on #1123
@rhc54 I'll do it

[2019-05-17 02:32] rhc54 commented on #1123
Thanks! Much appreciated.

[2019-05-17 06:52] artpol84 opened #1262 "Fix the PTL message header size filed to be uint32_t"
As per my suggestion on the telecon 05/16/2019 one of the alternatives to #1239 is to shrink the size of the `nbytes` filed in the PTL message header down to uint32_t.

Though existing branches are treating it as size_t (uint64_t on most modern platforms) the use of `htonl` is effectively shrinking it down to `uint32_t`.

In the PTL code [[link](https://github.com/pmix/pmix/blob/master/src/mca/ptl

[2019-05-17 07:11] artpol84 commented on #1262
Proposed change: #1263

[2019-05-17 23:14] #1247 closed

[2019-05-19 05:04] artpol84 commented on #1262
Closed per #1263

[2019-05-19 05:04] #1262 closed

[2019-05-19 17:19] artpol84 commented on #1259
Updated state:
<details>
<summary>Summary (Client): ALL PASSED </summary>

Run PASS: master -> master
Run PASS: master -> v3.1
Run PASS: master -> v3.0
Run PASS: master -> v2.2
Run PASS: master -> v2.1
Run PASS: master -> v2.0
Run PASS: master -> v1.2
Run PASS: v3.1 -> master
Run PASS: v3.1 -> v3.1
Run PASS: v3.1 -> v3.0
Run PASS: v3.1 -> v2.2
Run PASS: v3.1 -> v2.1
Run PASS: v3.1 -> v2.0
Run PASS

[2019-05-19 17:43] artpol84 commented on #1259
I see a set of different problems:
* The main one why master/v2.2/v3.1 clients are failing with v3.0/v2.1 servers is that v3.0 and v2.1 do not support connections from TOOL+CLIENT [[link](https://github.com/pmix/pmix/blob/master/src/mca/ptl/tcp/ptl_tcp.c#L1048:L1053)].
These new entities were introduced in c9842fe9 prior to (tag: v3.1.0rc2).
I assume that the connection from the tool with an exten

[2019-05-19 17:45] artpol84 commented on #1259
@rhc54 because c9842fe was introduced starting from tag: v3.1.0rc2 I this type of cross-version interoperation is not supported  by v3.0-srv/v3.1-cli combination starting from v3.1.0.
**So what we observe is not a regression and should not hold v3.1.3.**

[2019-05-19 19:57] artpol84 commented on #1256
Should we add https://github.com/pmix/pmix/issues/1241 to the agenda?

[2019-05-19 23:12] rhc54 commented on #1256
We can strive for it - I wouldn't necessarily hold up the release but it would indeed be good to get it done. I've also asked for some clarification of the dstore code to ensure others beside Boris and yourself can support it. I'm sure we can identify other areas (e.g., event notification) that would benefit from a second/third pass.

[2019-05-20 00:07] artpol84 commented on #1256
Regarding dstore - when I talked to @jjhursey he said he thinks that codebase is descriptive enough. @jjhursey, please correct me if I am wrong.
@rhc54, we would be glad to address particular concerns from your side.

[2019-05-20 00:34] rhc54 commented on #1259
I don't understand this statement - perhaps what you meant is that v3.1 was _failing_ because it was trying to use the usock component, and now passes because we exclude usock?

I think the real cause here is that the v2.2 tool is again (because it is a tool+client) incorrectly attempting to use the usock component. It passes if it uses the tcp component as it should, yes?

It was expected to work

[2019-05-20 00:40] artpol84 commented on #1259
See the results: v3.0/v3.1 is passing though we know it should not.

Run FAILED: v3.0 -> master (Tool)
Run PASS: v3.0 -> v3.1 (Tool)
Run PASS: v3.0 -> v3.0 (Tool)
Run FAILED: v3.0 -> v2.2 (Tool)

[2019-05-20 00:45] artpol84 commented on #1259
Surely we need to address those. But as you know we have people waiting for the fixes in 3.1.3 for quite a while now.
So what is important to me is to provide those fixes and fix these newly uncovered ones as part of 3.1.4.

Previous concern was that v3.1.3 will introduce regression and is breaking backwards compatibility so we wanted to investigate the issue before releasing.
Now we know it’s not

[2019-05-20 01:55] rhc54 commented on #1259
@artpol84 Perhaps the root problem here is a misunderstanding of how an open source project relates to a corporation. When a corporate customer has a problem with a particular release, the expectation is that the company will take the head of the community's branch for that release and check to see if the problem has already been fixed and is simply awaiting release. If not, then the company can f

[2019-05-20 12:31] ax3l opened #1276 "Memory Leaks"
Everything related to the latest `master` as of 683f7be2b6e902e05f4e08e8cd1bc2a2fac390cd: since we fixed #1275 one can address the memory leaks that got me here :-)

Here is the current log: [test-suite.log.txt](https://github.com/pmix/pmix/files/3197895/test-suite.log.txt)

Please note that those are detected with `-fsanitize=address` (#1265) which has an extremely low rate of false-positives (co

[2019-05-20 20:05] jjhursey commented on #1256
I was chatting with some folks about doing some "code debrief" sessions targeted for PMIx RI developers. There are sections of the PMIx codebase well understood by a small set of folks which inhibits the community's ability to quickly turn around bug fixes and PR reviews. Some sections of code are needfully complex due to the nature of the behavior they are trying to support, but this makes it dif

[2019-05-20 20:53] artpol84 commented on #1256
I don't mind doing that and I would be happy to do a session about the dstore.

Note, however, that #1241 is not about understanding the code - it is about refactoring it to bring it to a production state reducing the probability of errors and testing error code paths.

I'm not having issues understanding any piece of PMIx RI code, though I have issues understanding some high-level ideas behind th

[2019-05-20 21:02] rhc54 commented on #1256
Tool
    launcher
    Client + Tool
    Client + Tool + Launcher
    Tool + Launcher
    ? Client + Launcher ?

Those process types are all being defined in the tools chapter, hopefully completed late this summer or early fall.

I think the point here is a good one. The areas identified (dstore, event, and ptl) are all complex and understood by only 1-2 people. Thus, they are all somewhat "fragile

[2019-05-20 21:59] artpol84 commented on #1259
I’m looking at this from the different angle.
* the fixes already in v3.1 + the connection fix pending are affecting v3.1 only users and are there to immediately help those who rely on it. I don’t think it’s only our customers.
* the cross-version issue affects all branches and require a complex set of measures as you pointed out. It affects users multi-version configurations.

My proposal suits b

[2019-05-20 22:06] artpol84 commented on #1259
Out of curiosity, why do you think patches will be required? If one is about to patch and rebuild from sources isn’t it easier to simply update to a new bug fix release?

[2019-05-20 22:12] rhc54 commented on #1259
As part of the release process, we will take time to scan the commit history and identify any commits that should be brought across. I think there have been one or two that floated by and weren't PR'd. I plan to do that once I finish "day 1" of the tutorial I'm working on.

We will then release v3.1.3 when it is complete (which includes spending time in OMPI for MTT testing to thoroughly stress it

[2019-05-21 14:11] jjhursey commented on #1259
What we could do is a 3.1.3rc3 with the fixes we have so far for those that need to pick it up early and include a note that we are investigating a cross-version issue with tool support that will likely cause a new rc before the final release (we can work on the wording). This signals to folks that this is not likely the 'final' rc for the series, and to watch a particular Issue number to watch fo

[2019-05-22 01:38] jjhursey opened #1278 "libpmi.so (PMI1) shim hangs"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)

Tested 2 different configurations:
 - Open MPI 4.0.1 and PMIx 2.2.2
 - Open MPI 4.0.1 and PMIx 3.1.3rc2

### Describe how PMIx was installed (e.g., from a source/distribution tarball, from a git clone, from an operating system distribution package, etc.)

PMIx built

[2019-05-22 01:41] rhc54 commented on #1278
Wow - pmi2 works but pmi1 hangs?? That is totally weird. What happens if you export PMIX_MCA_gds=^ds21?

[2019-05-22 01:45] jjhursey commented on #1278
Examples below using PMIx 3.1.3rc2.

PMI2 runs fine:
[code]

PMI1 without ds21 still hangs
[code]

PMI1 without ds21 or ds12 passes - **Note** we saw this pass in the bigger example but then fail to find keys like `appnum` so I don't know if this is a dstore issue or something more general and dstore is just getting caught up in it.
[code]

[2019-05-22 01:48] rhc54 commented on #1278
Sounds like it may be some kind of memory corruption or race condition that is hitting the shared memory components. This is with Spectrum's mpirun, yes? Might be worth trying with OMPI's and with PRRTE's prun to see if this is something about Spectrum - certainly, not finding appnum may be an artifact of the launcher and not an issue with PMIx.

[2019-05-22 01:48] rhc54 commented on #1278
I can give PRRTE a try in a little bit, if that helps

[2019-05-22 04:19] rhc54 commented on #1278
FWIW: I can't run anything with PRRTE against master - something is truly hosed. Fence appears broken or at least no longer works with PRRTE.

I'm seeing segfaults with any pmi1 or pmi2 client with the same signature I sent in Slack:
[code]
Somehow, the mca param group array isn't initialized prior to the first framework attempting to use it (just so happens to be bfrops/v4 that comes first). Yet

[2019-05-22 11:42] jjhursey commented on #1278
This is vanilla Open MPI v4.0.1 that I'm testing with.

[2019-05-22 14:05] rhc54 commented on #1278
I was able to get thru PMI_Init on master by blocking out bfrops/v4 plus making a fix that has now been committed. However, I hung on the first PMI_Get - looks like there may be a problem with retrieval of keys not starting with "pmix" in addition to the issues with bfrops/v4.

When I finish my tutorial work this morning, I'll try to investigate what is going wrong with bfrops/v4.

[2019-05-22 16:33] rhc54 commented on #1276
@ax3l I'm not seeing any warnings from this - should we close it?

[2019-05-22 16:40] ax3l commented on #1276
They will appear as runtime warnings in `test/test-suite.log`. I see them both locally and in #1265

[2019-05-22 16:50] rhc54 commented on #1276
Interesting - I did do a "make check" to generate the output, but I get nothing on my Mac using gcc 8.3.0 and `-fsanitize=address`. Perusing the logs on your Travis build, it appears they are mostly leaks being reported, which we'll address but isn't my top concern at the moment (I'm looking for memory corruption).

[2019-05-22 17:05] ax3l commented on #1276
Interesting, on Linux I see those leaks with both clang and gcc. Did you clean the build dir so the flags were certainly passed in the configure step?
I haven't spotted more corruptions but it would be wonderful if we find the leaks at some point, since this will have a nice trickle-down effect on all downstream users that try to find memory leaks in MPI-parallel applications :)

[2019-05-22 17:12] rhc54 commented on #1276
No disagreement - just a question of priorities right now. I checked and the flags are definitely there. No idea why the sanitizer isn't reporting anything.

[2019-05-22 18:16] rhc54 commented on #1278
I found one problem, though it isn't in "init". We didn't implement GDS/fetch to handle the case where the rank is `PMIX_RANK_UNDEF`, which is what the legacy interfaces must pass us as they cannot search for rank-specific keys since their interface has no way to specify the rank of interest. Thus, any call to `PMI_KVS_GET` or the PMI2 equivalent will simply hang.

I'm looking at it now.

[2019-05-24 05:00] artpol84 opened #1285 "PMIx end-to-end testing improvements"
**Per telecon 05/23/2019:**
Recently found issues exposed the need in more extensive testing of the PMIx itself and its integration.
The following items were discussed:
* Need to track the status of existing integrations. In the past, we had issues with Slurm integration (https://github.com/pmix/pmix/issues/1082). Currently, PRRTE has issues. Below is the list of server- and client-side integratio

[2019-05-24 05:01] artpol84 commented on #1285
Let's keep the summary on the test configurations discussion:

[2019-05-24 05:03] artpol84 commented on #1285
Let's keep the summary on the test coverage discussion:

[2019-05-29 15:57] morrisonlevi opened #1291 "Version compatibility tables?"
I can't seem to find PMIx version compatibility tables, though I swear I've seen them before. Maybe we could get them into the README?
If I remember correctly, at least one piece of it is that something like starting from PMIx version 2.1, all released clients and servers are compatible. Is this correct? As far as you know, will this hold for PMIx 4 as well?

[2019-05-29 16:13] rhc54 commented on #1291
You'll find a picture of it here: https://pmix.org/support/faq/how-does-pmix-work-with-containers/

Yes, that is correct.

There is every intention of it holding for v4 and beyond. We are investigating some potential issues at this time regarding the release branches and the level of cross-version support due to some limitations recently discovered in our test harness. We will provide an update on

[2019-06-07 21:25] hzhou opened #1312 "Naked memory function (malloc, calloc, free) in pmix_common.h"
## Background information

MPICH has a memory tracing facility by tracking memory functions such as `malloc`, `free`. This is currently done through macros, and requires all memory functions inside MPICH be wrapped. Currently, this option is incompatible with PMIX as its API header files contains naked `malloc` and `free`.

xref: https://github.com/pmodels/mpich/issues/3832

### What version of th

[2019-06-07 22:59] rhc54 commented on #1312
Just to be certain we are on the same page here, those macros are purely for users' convenience - there is no requirement that someone use them. The easiest solution (at least, for now) would be to just not use them inside MPICH, or to create your own copies of them that use your macro wrappers around the memory operations.

Note that although these macros are used inside PMIx as well, I don't bel

[2019-06-08 17:25] gvallee commented on #1285
@jjhursey @artpol84 As agreed during the call here is a description of the design of the tool I successfully implemented  for end-to-end testing in a different context than PMIx. It is only meant to give an feedback about what I think works and I did not really see any such tools available so far.

Major design characteristics:
- Support n dimensions regarding the configuration of the test and let

[2019-06-09 00:59] rhc54 commented on #1285
Sorry I missed the discussion, but this sounds a lot like MTT (especially the Python client) minus the resumption of testing bullet. I'm wondering if it wouldn't be better to extend MTT as required since that is a platform (a) more familiar to the broader community and (b) under active support/development.

[2019-06-09 02:36] gvallee commented on #1285
Sounds fair to me. I do not know the new MTT very well, I did not know that we can have separate configuration files for all these aspects and store results outside of a database in a way that is flexible. Sorry for my lack of knowledge.

[2019-06-09 03:33] rhc54 commented on #1285
Separate config files are not a problem. Anything they don't currently cover can easily be added as the Python client is very flexible (built on a plugin model). Storing outside a database is currently just a plain text file, but I don't consider that a major deal as we now have the db containerized for easy install. I don't think we want to start storing results in a Git repo, though, due to the

[2019-06-12 14:32] ericpershey opened #1315 "Preemption Unique Identifier - Application Level Information"
## Background information

### What version of the PMIx Reference Library are you using? (e.g., v1.0, v2.1, git master @ hash, etc.)
3.1.2

-----------------------------

## Details of the problem
https://pmix.org/support/faq/what-are-rms-required-to-provide/
Application Level Information

It would be useful to have a preemption identifier, like JobID that would give you a way to uniquely identify